<template>
	<section class="report-mipic">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div class="div-newline">
			<table class="report-body-pic">
				<tr>
					<td class="style-normal style-header-height" style="text-align: left; font-size: 10px; padding-left: 30px;">
						Fig. 1 Sample No. 00-64 MI1
					</td>
				</tr>
				<tr>
					<td class="style-normal style-pic-height">
						<div class="report-body-result-upload">
							<div class="report-body-result-graph report-pic-width" :style="{ backgroundImage: 'url(' + imageUrlFull1 + ')' }" />
							<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,1)" />
						</div>
					</td>
				</tr>
			</table>
			<table class="report-body-pic">
				<tr>
					<td class="style-normal style-header-height" style="text-align: left; font-size: 10px; padding-left: 30px;">
						Fig. 2 Sample No. 00-64 MI1
					</td>
				</tr>
				<tr>
					<td class="style-normal style-pic-height">
						<div class="report-body-result-upload">
							<div class="report-body-result-graph report-pic-width" :style="{ backgroundImage: 'url(' + imageUrlFull2 + ')' }" />
							<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,2)" />
						</div>
					</td>
				</tr>
			</table>
		</div>
	</section>
</template>

<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'

export default {
	components: {
		ReportBodyHeader,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			imageUrl1: "",
			imageUrl2: "",
			imageUrl3: "",
			imageUrl4: "",
			imageUrlFull1: "",
			imageUrlFull2: "",
			imageUrlFull3: "",
			imageUrlFull4: "",
			isUploadingImage: false,
			amountPic: 2,
		};
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true


		var tmp = this.resultList

		for(var i = 0; i < tmp.length; i++)
		{
			var str_arr = tmp[i].urlimage.split("/");
			var file = str_arr[str_arr.length-1]
			var rno = file.replace(/\.[^/.]+$/, "")

			var tmp2 = {
				result_no: rno,
				file_name: tmp[i].urlimage,
				micro: "",
				location: "",
				remark: "N/A"
			}

			this.resultDataList.push(tmp2)
		}
	},
	mounted () {
		this.startUp()
	},
	methods: {
		
		async mergeData(reportData) {
			reportData.pic1 = this.imageUrl1
			reportData.pic2 = this.imageUrl2

			//remove pic not use
			try{
				var path1 = this.resultList[0].no
				var path2 = this.resultList[0].result_no
				var pic_list = await this.getPictureResultList(path1, path2)
				
				for(var i = 0; i < pic_list.length; i++)
				{
					var is_use = false
					if(pic_list[i].url === reportData.pic1){
						is_use = true
					}
					else if(pic_list[i].url === reportData.pic2){
						is_use = true
					}
					
					if(!is_use){
						await this.removePictureResult(pic_list[i].psid)
					}
				}
			}
			catch(error) {
				console.error(error)
			}

			return reportData
		},
		async uploadImage(img, index){

			var path1 = this.resultList[0].no
			var path2 = this.resultList[0].result_no
			this.isUploadingImage = true
			try{
				var res = await this.uploadPictureResult(img, path1, path2)
				if(res.status === "success"){
					if(index === 1){
						this.imageUrl1 = res.url
						this.imageUrlFull1 = localStorage.getItem('picurl') + res.url
					}else if(index === 2){
						this.imageUrl2 = res.url
						this.imageUrlFull2 = localStorage.getItem('picurl') + res.url
					}
				}
			}
			catch(error) {
				console.error(error)
			}
			
			this.isUploadingImage = false
		},
		onFileSelected(file, index){
			this.uploadImage(file, index)
		},
		async startUp(){

			this.imageUrl1 = this.reportResult.pic_1_url
			this.imageUrl2 = this.reportResult.pic_2_url

			this.imageUrlFull1 = localStorage.getItem('picurl') + this.reportResult.pic_1_url
			this.imageUrlFull2 = localStorage.getItem('picurl') + this.reportResult.pic_2_url

			this.imageUrlFull1 = this.imageUrlFull1.replaceAll('//finish', '/finish');
			this.imageUrlFull2 = this.imageUrlFull2.replaceAll('//finish', '/finish');

			this.onLoad = false
		},
	}
};
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';
@import '../assets/contentgraph1.scss';

.report-mipic {

	.div-newline{
		padding-bottom: 1px;
	}

	.report-pic-width{
		width: 645px !important;
		height: 420px !important;
		border: 0px;
	}

	.report-body-pic{
		width: 650px;
		margin-right: auto;
		margin-left: auto;
	    border-collapse: collapse;
	    line-height: 10px;
	    margin-top:  20px;

		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 20px;
		}

		.style-result-height{
			height: 22px;
		}

		.style-pic-height{
			height: 420px;
		}


		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
				margin-right: 10px;
			}

		}



		.report-body-result-col-before{
			width: 10%;
			height: 285px;
			font-size: 12px;
		} 

		.report-body-result-col-after{
			width: 10%;
			height: 285px;
			font-size: 12px;
		} 
		.report-body-result-col-result{
			width: 10%;
			font-size: 12px;
			height: 45px;
		} 
		.report-body-result-col-yes{
			width: 47%;
		} 
		.style-normal-notop{
			border-left: 1px solid black;
			text-align: center;
		}

		.chkbox-center{
			width: 70px;
		    margin-left: auto;
		    margin-right: auto;
			height: 30px;
		    top: -8px;
    		position: relative;
		}

		.style-normal-left{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: left;
		}
	}
}

</style>