.report-body-test{
	
	.report-body-table{

		.select-small.ts-remark{
			font-size: 10px;
			width: 40px;
			height: 16px;
			float: right;
		}

		.select-small.ts-location{
			font-size: 10px;
			width: 90px;
			height: 16px;
			float: right;
		}

		.select-small.bd-remark{
			font-size: 10px;
			width: 70px;
			height: 16px;
			float: right;
		}

		.select-small.ftn-remark{
			font-size: 10px;
			width: 90px;
			height: 16px;
			float: right;
		}

		.select-small.nb-remark{
			font-size: 10px;
			width: 90px;
			height: 16px;
			float: right;
		}

		.select-small.dm-remark{
			font-size: 10px;
			width: 235px;
			height: 16px;
			float: right;
		}

		.select-small.hb-remark{
			font-size: 10px;
			width: 75px;
			height: 16px;
			float: right;
		}

		.select-small.hr-remark{
			font-size: 10px;
			width: 75px;
			height: 16px;
			float: right;
		}

		.select-small.mm-remark{
			font-size: 10px;
			width: 40px;
			height: 16px;
			float: right;
		}

		.select-small.ma-remark{
			font-size: 10px;
			width: 65px;
			height: 16px;
			float: right;
		}

		.select-small.ma-macro{
			font-size: 9px;
			width: 550px;
			height: 16px;
			float: right;
		}

		.select-small.mi-location{
			font-size: 10px;
			width: 90px;
			height: 16px;
			float: right;
		}

		.select-small.mi-micro{
			/*font-size: 7px;*/
			font-size: 10px;
			width: 475px;
			height: 16px;
			float: right;
		}

		.select-small.mi-remark{
			font-size: 8px;
			width: 65px;
			height: 16px;
			float: right;
		}

		.v-input__control .v-input__slot {
			top:  -6px;
		}

		.select-small.v-text-field>.v-input__control>.v-input__slot:before {
		    border-style: none;
		}
		.select-small.v-text-field>.v-input__control>.v-input__slot:after {
		    border-style: none;
		}
	}
}