.font-8{
	font-size: 8px;
}
.font-7{
	font-size: 7px;
}
.font-6{
	font-size: 6px;
}

.report-body-table {
	width: 100%;
	border-collapse: collapse;
	/*border-right: 1px solid black;
	border-bottom: 1px solid black;*/
	line-height: 11px;
}

.report-body-table-border {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

.report-table-border-bottom {
	border-bottom: 1px solid black;
}
.report-table-border-right {
	border-right: 1px solid black;
}

.report-table-border-top {
	border-top: 1px solid black;
}


.report-body-remark{
	padding-bottom: 1px;

	tr.report-body-remark-additional {
		height: 305px;
		div.report-body-remark-span {
			margin-top: 0px !important;
			margin-left: 70px;
			p{
				color: #000 !important;
			}
		}
	}

	.report-body-remark-col01 {
		padding-left: 2px;
		vertical-align: text-top;


		.report-body-remark-col01-title {
			width: 50px;
			display: block;
			float: left;
			margin-top: 5px;
			margin-bottom: 5px;
			font-size: 9px;
		}
		
		.report-body-remark-col01-value {
			display: block;
			float: left;
			margin-top: 5px;
			margin-bottom: 5px;	
			font-size: 9px;					
		}

		.report-body-remark-col01_2-title {
			width: 77px;
			display: block;
			float: left;
			margin-top: 5px;
			margin-bottom: 5px;
			font-size: 9px;
		}
		
		.report-body-remark-col01_2-value {
			display: block;
			float: left;
			margin-top: 5px;
			margin-bottom: 5px;
			font-size: 9px;
		}

		.report-body-remark-span {
			float: left;
			margin-top: 5px;
			margin-bottom: 0px;
			font-size: 9px;

			p {
				margin-bottom: 7px;
			}
		}
	}
}