
.report-body-result{
	border: 1px solid black;
	height: 798px;

	span.report-code {
		float: right;
		margin-right: 10px;
	}

	table {
		margin-left: auto;
		margin-right: auto;
	}
	th {
		background: #5182BB; 
		color: #FFFFFF; 
		height: 20px;
		text-align: center;
	}
	tr:nth-child(even) {
		background: #B9CDE3; 
		height: 20px;
	}
	tr:nth-child(odd) {
		background: #DDE6F1; 
		height: 20px;
	}
	tr.col0 {height: 0px !important;}
	th.col1 { width: 170px; }
	th.col2 { width: 120px; }
	th.col3 { width: 54px; }

	td.col0 { background: #FFFFFF; }

	td.col1 { text-align: left;  padding-left: 2px;}
	td.col2 { text-align: center; }
	td.col3 { text-align: center; }

	.report-body-result-graph {
		margin-left: auto;
		margin-right: auto;
		width: 600px;
		height: 380px;
		border: 0px solid black;
		margin-top: 20px;
		margin-bottom: 10px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.report-body-pic{
	border: 1px solid black;
	/*height: 798px;*/

	.v-input__control .v-input__slot {
		top:  -6px;
	}

	span.report-code {
		float: right;
		margin-right: 10px;
	}

	table {
		margin-left: auto;
		margin-right: auto;
	}
	th {
		/*background: #5182BB; 
		color: #FFFFFF; */
		height: 20px;
		text-align: center;
	}
	tr:nth-child(even) {
		/*background: #B9CDE3; */
		height: 20px;
	}
	tr:nth-child(odd) {
		/*background: #DDE6F1; */
		height: 20px;
	}
	tr.col0 {height: 0px !important;}
	th.col1 { width: 170px; }
	th.col2 { width: 120px; }
	th.col3 { width: 54px; }

	td.col0 { background: #FFFFFF; }

	td.col1 { text-align: left;  padding-left: 2px;}
	td.col2 { text-align: center; }
	td.col3 { text-align: center; }

	.report-body-result-upload {
		display: inline-block;
    	margin-left: 3px;
	}

	.report-body-result-graph {
		margin-left: auto;
		margin-right: auto;
		width: 320px;
		height: 280px;
		border: 1px solid black;
		margin-top: auto;
		margin-bottom: auto;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}