<template>
	<v-card>
		<v-card-title class="py-1 subtitle-1">
			Edit Test Report No. {{ testNo6 }} <span style="color: gray" />
			<v-spacer />
			<v-icon v-shortkey="['ctrl', 'shift', 'p']" class="mr-2" @shortkey.native="printItem(testNo6)" @click="printItem(testNo6)"> mdi-printer </v-icon>
			<v-icon v-shortkey="['ctrl', 'shift', 'c']" class="mr-2" @shortkey.native="closeEdit" @click="closeEdit"> mdi-close </v-icon>
		</v-card-title>
		<v-card class="mx-4" rounded="true">
			<v-tabs v-model="tabContent" background-color="green lighten-1" slider-color="red" dark centered>
				<v-tab v-for="item in defaultTabMenu" :key="item.tab">
					{{ item.tab }}
				</v-tab>
				<v-menu v-if="reportMenuEdit.length > 0" :offset-x="true" transition="slide-y-transition" bottom min-width="224px" :close-on-content-click="false" open-on-hover>
					<template v-slot:activator="{ on, attrs }">
						<v-icon v-bind="attrs" class="pl-4" v-on="on"> mdi-plus </v-icon>
					</template>
					<v-list>
						<v-list-group v-for="item in reportMenuEdit" :key="item.title" v-model="item.active" no-action>
							<template v-slot:activator>
								<v-list-item-content>
									<v-list-item-title v-text="item.title" />
								</v-list-item-content>
							</template>
							<v-list-item v-for="child in item.items" :key="child.title" dense link class="v-list-menu-report">
								<v-list-item-content>
									<v-list-item-title @click="clickAddTab(child.test_no, child.report_no, child.ftype)" v-text="child.title" />
								</v-list-item-content>
							</v-list-item>
						</v-list-group>
					</v-list>
				</v-menu>
			</v-tabs>
			<v-tabs-items v-model="tabContent">
				<v-tab-item v-for="item in defaultTabMenu" :key="item.tab">
					<v-row class="px-0">
						<v-col cols="4" />
						<v-col cols="4" />
						<v-col class="ml-4 pt-3 pb-1" cols="2">
							<v-btn v-if="item.can_remove" dense outlined color="warning" small dark style="margin-top: 10px" @click="clickRemoveTab(item.report_no, item.component)">
								Remove Page
							</v-btn>
						</v-col>
						<!-- <v-col cols="1">
							<v-icon small style="margin-top:10px; font-size: 30px;" class="" @click="printItem(testNo6)"> mdi-printer </v-icon>
						</v-col> -->
					</v-row>
					<component :is="item.component" v-if="item.component == 'appxEdit'" :test-no6="testNo6" :test-no="item.test_no" :report-no="item.report_no" />
					<component :is="item.component" v-if="item.component == 'rpEdit'" :test-no6="testNo6" :test-no="item.test_no" :report-no="item.report_no" @callback="coverHasChange" />
					<component
						:is="item.component"
						v-else
						:test-no6="testNo6"
						:project-info="projectInfo"
						:report-info="item.report_info"
						:result-list="item.result_list"
						:test-no="item.test_no"
						:report-no="item.report_no"
						:test-result="item.test_result" />
				</v-tab-item>
			</v-tabs-items>
		</v-card>
	</v-card>
</template>


<script>
import '@/plugins/vue-shortkey.js'

import rpEdit from './EditTemplates/rpEdit.vue'
import appxEdit from './EditTemplates/appxEdit.vue'

import tsEdit from './EditTemplates/tsEdit.vue'
import tsGraph from './EditTemplates/tsGraph.vue'

import bdEdit from './EditTemplates/bdEdit.vue'
import ftnEdit from './EditTemplates/ftnEdit.vue'
import nbEdit from './EditTemplates/nbEdit.vue'
import ftEdit from './EditTemplates/ftEdit.vue'
import imEdit from './EditTemplates/imEdit.vue'
import maEdit from './EditTemplates/maEdit.vue'

import miEdit from './EditTemplates/miEdit.vue'
import miPic from './EditTemplates/miPic.vue'

import esEdit from './EditTemplates/esEdit.vue'
import msEdit from './EditTemplates/msEdit.vue'

import hvEdit from './EditTemplates/hvEdit.vue'
import hvPic from './EditTemplates/hvPic.vue'

import hrEdit from './EditTemplates/hrEdit.vue'
import hbEdit from './EditTemplates/hbEdit.vue'

import pcEdit from './EditTemplates/pcEdit.vue'
import pcPic from './EditTemplates/pcPic.vue'

import icEdit from './EditTemplates/icEdit.vue'
import icPic from './EditTemplates/icPic.vue'

import fcEdit from './EditTemplates/fcEdit.vue'
import mmEdit from './EditTemplates/mmEdit.vue'
import dmEdit from './EditTemplates/dmEdit.vue'

export default {
	components: {
		rpEdit,
		appxEdit,

		tsEdit,
		tsGraph,

		bdEdit,
		ftnEdit,
		nbEdit,
		ftEdit,
		imEdit,
		maEdit,

		miEdit,
		miPic,

		esEdit,
		msEdit,

		hvEdit,
		hvPic,

		hrEdit,
		hbEdit,

		pcEdit,
		pcPic,

		icEdit,
		icPic,

		fcEdit,
		mmEdit,
		dmEdit
	},
	data() {
		return {
			testNo6: '',
			projectInfo: {},
			projectList: [],
			reportList: [],
			customerList: [],
			reportMenu: [],
			reportMenuEdit: [],
			tabContent: null,
			defaultTabMenu: [
				{
					tab: 'RP',
					component: 'rpEdit',
					report_info: '',
					test_no: '',
					test: '',
					report_no: '',
					result_list: [],
					test_result: '',
					ref: '',
					can_remove: false
				}
			]
		}
	},

	computed: {},
	beforeMount() {},
	async mounted() {
		this.testNo6 = this.$route.query.testno6
		this.startUp()
	},
	methods: {
		coverHasChange(projectInfo) {
			projectInfo.customer_name = this.getCustomerNameByIdFromArray(this.customerList, projectInfo.cusid)
			projectInfo.customer_addr = this.getCustomerAddressByIdFromArray(this.customerList, projectInfo.cusid)

			//in component has watcher projectInfo
			this.projectInfo = projectInfo
		},

		printItem(testNo) {
			window.open('/#/previewreport/' + testNo, '_blank')
			// window.open('/#/previewreport', '_blank')
		},

		async startUp() {
			try {
				this.customerList = await this.getCustomerList()
			} catch (error) {
				console.error(error)
			}

			try {
				this.projectList = await this.getProjectListByTestNo6Digit(this.testNo6)
			} catch (error) {
				console.error(error)
			}

			var report_list = []
			for (var i = 0; i < this.projectList.length; i++) {
				try {
					var tmp = await this.getReportInfoByTestNo(this.projectList[i].test_no)

					for (var j = 0; j < tmp.report_result.length; j++) {
						var tmp2 = this.clone(tmp)
						//var tmp2 = {
						//	test_no: tmp.test_no,
						//	report_result: [],
						//}
						//tmp2.report_result.push(tmp.report_result[j])

						tmp2.report_result = []
						tmp2.report_result.push(tmp.report_result[j])

						report_list.push(tmp2)
					}
				} catch (error) {
					console.error(error)
				}
			}

			this.reportList = report_list
			//this.reportListManageData(report_list);

			/*for(i = 0; i < this.reportList.length; i++)
			{
				var rpno = this.reportList[i].report_result[0].report_no
				if(!this.IsReportNoCorrect01(rpno)) {
					var form_type = this.reportList[i].report_result[0].form_type
					if(form_type === "DM")
					{
						var table = this.reportList[i].report_result[0].result_list[0].dmdata[0].tablelist
						for(j = 0; j < table.length; j++){
							var sample_no = table[j].sample_no
							rpno = sample_no
							if(sample_no.length >= 12){
								this.reportList[i].report_result[0].result_list[0].dmdata[0].tablelist[j].sample_no = this.strHalf(sample_no)
							}
						}
					}
					else if(form_type === "MM")
					{
						var table = this.reportList[i].report_result[0].result_list[0].mmdata[0].tablelist
						for(j = 0; j < table.length; j++){
							var sample_no = table[j].sample_no
							rpno = sample_no
							if(sample_no.length >= 12){
								this.reportList[i].report_result[0].result_list[0].mmdata[0].tablelist[j].sample_no = this.strHalf(sample_no)
							}
						}
					}

					if(rpno.length >= 12){
						rpno = this.strHalf(rpno)
						rpno = this.FilterReportNo_AAA_BB_C(rpno) + form_type
					}
					this.reportList[i].report_result[0].report_no = rpno
				}
			}*/

			try {
				if (this.projectList.length > 0) {
					this.projectInfo = this.projectList[0]
					this.projectInfo.customer_name = this.getCustomerNameByIdFromArray(this.customerList, this.projectInfo.cusid)
					this.projectInfo.customer_addr = this.getCustomerAddressByIdFromArray(this.customerList, this.projectInfo.cusid)

					//this.projectInfo = await this.getProjectInfoByTestNo6Digit(this.testNo6)
					//this.projectInfo.customer_name = this.getCustomerNameByIdFromArray(this.customerList, this.projectInfo.cusid)
					//this.projectInfo.customer_addr = this.getCustomerAddressByIdFromArray(this.customerList, this.projectInfo.cusid)
				}
			} catch (error) {
				console.error(error)
			}

			this.initMenuReport()
			this.getTabs()
		},
		initMenuReport() {
			this.reportMenu = []

			for (var i = 0; i < this.reportList.length; i++) {
				var rpno = this.reportList[i].report_result[0].report_no
				var ftype = this.reportList[i].report_result[0].form_type
				var rpno_nomain = rpno

				//if(ftype === "TS" || ftype === "BD"){
				rpno_nomain = this.FilterReportNo_AAA_BBxx_Or_AAA_BB_Cxx(this.reportList[i].report_result[0].result_list[0].result_no, false)
				//}

				var testno = this.reportList[i].test_no
				switch (this.reportList[i].report_result[0].form_type) {
					case 'TS':
						//case "PL" :
						var tmp = {
							title: '[TS - (Tensile)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [
								{ title: 'TSW', ftype: 'TSW', test_no: testno, report_no: rpno_nomain },
								{ title: 'TSB1', ftype: 'TSB1', test_no: testno, report_no: rpno_nomain },
								{ title: 'TSB2', ftype: 'TSB2', test_no: testno, report_no: rpno_nomain },
								{ title: 'TSB3', ftype: 'TSB3', test_no: testno, report_no: rpno_nomain },
								{ title: 'TSPL', ftype: 'TSPL', test_no: testno, report_no: rpno_nomain }
							]
						}
						this.reportMenu.push(tmp)
						break
					case 'BD':
						var tmp = {
							title: '[BD - (Guided Bend)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [
								{ title: 'BD', ftype: 'BD', test_no: testno, report_no: rpno_nomain },
								{ title: 'BDMAT', ftype: 'BDMAT', test_no: testno, report_no: rpno_nomain }
							]
						}
						this.reportMenu.push(tmp)
						break
					case 'FTN':
						var tmp = {
							title: '[FTN - (Flattening)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'FTN', ftype: 'FTN', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
					case 'NB':
						var tmp = {
							title: '[NB - (Nick Break)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'NB', ftype: 'NB', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
					case 'FT':
						var tmp = {
							title: '[FT - (Fracture)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'FT', ftype: 'FT', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
					case 'IM':
						var tmp = {
							title: '[IM - (Charpy-V Impact)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'IM', ftype: 'IM', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
					case 'MA':
						var tmp = {
							title: '[MA - (Macrostructure)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'MA', ftype: 'MA', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
					case 'MI':
						var tmp = {
							title: '[MI - (Microstructure)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [
								{ title: 'MI1', ftype: 'MI1', test_no: testno, report_no: rpno_nomain },
								{ title: 'MI2', ftype: 'MI2', test_no: testno, report_no: rpno_nomain }
							]
						}
						this.reportMenu.push(tmp)
						break
					case 'ES':
						var tmp = {
							title: '[ES - (CHEMICAL ANALYSIS)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [
								{ title: 'ES', ftype: 'ES', test_no: testno, report_no: rpno_nomain },
								{ title: 'ESAERO', ftype: 'ESAERO', test_no: testno, report_no: rpno_nomain }
							]
						}
						this.reportMenu.push(tmp)
						break
					case 'MS':
						var tmp = {
							title: '[MS - (CHEMICAL ANALYSIS)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [
								{ title: 'MS1', ftype: 'MS1', test_no: testno, report_no: rpno_nomain },
								{ title: 'MS2', ftype: 'MS2', test_no: testno, report_no: rpno_nomain }
							]
						}
						this.reportMenu.push(tmp)
						break
					case 'HV':
						var tmp = {
							title: '[HV - (Vickers Hardness)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [
								{ title: 'HV3Col', ftype: 'HV3COL', test_no: testno, report_no: rpno_nomain },
								{ title: 'HV4Col', ftype: 'HV4COL', test_no: testno, report_no: rpno_nomain }
							]
						}
						this.reportMenu.push(tmp)
						break
					case 'HR':
						var tmp = {
							title: '[HR - (Rockwell Hardness)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'HR', ftype: 'HR', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
					case 'HB':
						var tmp = {
							title: '[HB - (Brinell Hardness)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'HB', ftype: 'HB', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
					case 'PC':
						var tmp = {
							title: '[PC - (Pitting Corrosion)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'PC', ftype: 'PC', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
					case 'IC':
						var tmp = {
							title: '[IC - (Intergranular Corrosion)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'IC', ftype: 'IC', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
					case 'FC':
						var tmp = {
							title: '[FC - (Ferrite Count Analysis)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [
								{ title: 'FCRES', ftype: 'FCRES', test_no: testno, report_no: rpno_nomain },
								{ title: 'FCPIC', ftype: 'FCPIC', test_no: testno, report_no: rpno_nomain },
								{ title: 'FCALL', ftype: 'FCALL', test_no: testno, report_no: rpno_nomain }
							]
						}
						this.reportMenu.push(tmp)
						break
					case 'MM':
						var tmp = {
							title: '[MM - (Mass Per Meter)] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'MM', ftype: 'MM', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
					case 'DM':
						var tmp = {
							title: '[DM - (Measurement Dimension] ' + rpno,
							test_no: testno,
							report_no: rpno_nomain,
							active: true,
							items: [{ title: 'DM', ftype: 'DM', test_no: testno, report_no: rpno_nomain }]
						}
						this.reportMenu.push(tmp)
						break
				}
			}

			this.reportMenuEdit = this.reportMenu
		},

		getTabs() {
			for (var i = 0; i < this.reportList.length; i++) {
				var tmp = this.reportList[i].report_result[0]
				var callEditor = this.tabNameToComponent(tmp.form_type_cus)
				if (callEditor !== '') {
					var rpno_nomain = this.FilterReportNo_AAA_BBxx_Or_AAA_BB_Cxx(tmp.result_list[0].result_no, false)
					this.addTab(this.reportList[i].test_no, rpno_nomain, tmp.form_type_cus, callEditor)
				}
			}
		},

		tabNameToComponent(ftype) {
			switch (ftype) {
				case 'TSW':
				case 'TSB1':
				case 'TSB2':
				case 'TSB3':
				case 'TSPL':
					return 'tsEdit'
					break

				case 'BD':
				case 'BDMAT':
					return 'bdEdit'
					break

				case 'FTN':
					return 'ftnEdit'
					break

				case 'NB':
					return 'nbEdit'
					break

				case 'FT':
					return 'ftEdit'
					break

				case 'IM':
					return 'imEdit'
					break

				case 'MA':
					return 'maEdit'
					break

				case 'MI1':
				case 'MI2':
					return 'miEdit'
					break

				case 'ES':
				case 'ESAERO':
					return 'esEdit'
					break

				case 'MS1':
				case 'MS2':
					return 'msEdit'
					break

				case 'HV3COL':
				case 'HV4COL':
					return 'hvEdit'
					break

				case 'HR':
					return 'hrEdit'
					break

				case 'HB':
					return 'hbEdit'
					break

				case 'PC':
					return 'pcEdit'
					break

				case 'IC':
					return 'icEdit'
					break

				case 'FCRES':
				case 'FCPIC':
				case 'FCALL':
					return 'fcEdit'
					break

				case 'MM':
					return 'mmEdit'
					break

				case 'DM':
					return 'dmEdit'
					break
			}
			return ''
		},

		isTabTS(ftype) {
			switch (ftype) {
				case 'TSW':
				case 'TSB1':
				case 'TSB2':
				case 'TSB3':
				case 'TSPL':
					return true
					break
			}
			return false
		},

		isTabHV(ftype) {
			switch (ftype) {
				case 'HV3COL':
				case 'HV4COL':
					return true
					break
			}
			return false
		},

		isTabPC(ftype) {
			switch (ftype) {
				case 'PC':
					return true
					break
			}
			return false
		},

		isTabIC(ftype) {
			switch (ftype) {
				case 'IC':
					return true
					break
			}
			return false
		},

		isTabMI1(ftype) {
			switch (ftype) {
				case 'MI1':
					return true
					break
			}
			return false
		},

		clickAddTab(testno, reportno, ftype) {
			var callEditor = this.tabNameToComponent(ftype)
			if (callEditor !== '') {
				this.addTab(testno, reportno, ftype, callEditor)
				this.saveTabs(reportno, ftype)
			}
		},
		clickRemoveTab(reportno, ftype) {
			this.removeTab(reportno, ftype)
			this.saveTabs(reportno, '')
		},
		removeTab(reportno, ftype) {
			var reportno_now = []
			for (var i = 0; i < this.reportMenuEdit.length; i++) {
				reportno_now.push(this.reportMenuEdit[i].report_no)
			}
			reportno_now.push(reportno)
			this.reportMenuEdit = []

			for (i = 0; i < this.reportMenu.length; i++) {
				if (reportno_now.includes(this.reportMenu[i].report_no)) {
					this.reportMenuEdit.push(this.reportMenu[i])
				}
			}

			this.defaultTabMenu = this.defaultTabMenu.filter(function (obj) {
				return obj.report_no !== reportno
			})
		},
		addTab(testno, reportno, ftype, callEditor) {
			var tmp = this.reportMenuEdit
			this.reportMenuEdit = []

			//remove menu is same slected
			for (var i = 0; i < tmp.length; i++) {
				if (tmp[i].report_no !== reportno) {
					this.reportMenuEdit.push(tmp[i])
				}
			}

			//find tab duplicate
			var match = false
			var count_tab = 0
			for (i = 0; i < this.defaultTabMenu.length; i++) {
				if (this.defaultTabMenu[i].report_no === reportno) {
					match = true
					break
				}

				if (
					this.defaultTabMenu[i].component !== 'tsGraph' &&
					this.defaultTabMenu[i].component !== 'hvPic' &&
					this.defaultTabMenu[i].component !== 'pcPic' &&
					this.defaultTabMenu[i].component !== 'miPic' &&
					this.defaultTabMenu[i].component !== 'icPic'
				) {
					count_tab++
				}
			}

			if (!match) {
				//find report index from report no
				var report_index = 0
				for (var i = 0; i < this.reportList.length; i++) {
					if (reportno === this.reportList[i].report_result[0].report_no) {
						report_index = i
						break
					}
				}
				//add tab menu
				this.reportList[report_index].report_result[0].form_type_cus = ftype
				this.defaultTabMenu.push({
					tab: ftype + '#' + count_tab,
					component: callEditor,
					report_info: this.reportList[report_index],
					test_no: testno,
					report_no: reportno,
					result_list: this.reportList[report_index].report_result[0].result_list,
					test_result: {},
					ref: reportno,
					can_remove: true
				})

				//add tab menu graph
				for (var i = 0; i < this.reportList.length; i++) {
					var rr = this.reportList[i].report_result[0]
					if (reportno === rr.report_no) {
						if (this.isTabTS(ftype)) {
							for (var j = 0; j < rr.result_list.length; j++) {
								//add tab menu
								this.defaultTabMenu.push({
									tab: 'GRAPH' + '#' + count_tab + '.' + (j + 1),
									component: 'tsGraph',
									report_info: this.reportList[report_index],
									test_no: testno,
									report_no: reportno,
									result_list: this.reportList[report_index].report_result[0].result_list,
									test_result: rr.result_list[j],
									ref: reportno + '-' + (j + 1),
									can_remove: false
								})
							}
						} else if (this.isTabHV(ftype)) {
							//add tab menu
							this.defaultTabMenu.push({
								tab: 'PIC' + '#' + count_tab + '.1',
								component: 'hvPic',
								report_info: this.reportList[report_index],
								test_no: testno,
								report_no: reportno,
								result_list: this.reportList[report_index].report_result[0].result_list,
								test_result: rr.result_list[0],
								ref: reportno + '-1',
								can_remove: false
							})
						} else if (this.isTabIC(ftype)) {
							//add tab menu
							this.defaultTabMenu.push({
								tab: 'PIC' + '#' + count_tab + '.1',
								component: 'icPic',
								report_info: this.reportList[report_index],
								test_no: testno,
								report_no: reportno,
								result_list: this.reportList[report_index].report_result[0].result_list,
								test_result: rr.result_list[0],
								ref: reportno + '-1',
								can_remove: false
							})
						} else if (this.isTabPC(ftype)) {
							//add tab menu
							this.defaultTabMenu.push({
								tab: 'PIC' + '#' + count_tab + '.1',
								component: 'pcPic',
								report_info: this.reportList[report_index],
								test_no: testno,
								report_no: reportno,
								result_list: this.reportList[report_index].report_result[0].result_list,
								test_result: rr.result_list[0],
								ref: reportno + '-1',
								can_remove: false
							})
						} else if (this.isTabMI1(ftype)) {
							//add tab menu
							for (var j = 0; j < rr.result_list[0].midata.length; j++) {
								this.defaultTabMenu.push({
									tab: 'PIC' + '#' + count_tab + '.' + (j + 1),
									component: 'miPic',
									report_info: this.reportList[report_index],
									test_no: testno,
									report_no: reportno,
									result_list: this.reportList[report_index].report_result[0].result_list,
									test_result: rr.result_list[0],
									ref: reportno + '-' + (j + 1),
									can_remove: false
								})
							}
						}
					}
				}
			}
		},
		async saveTabs(reportno, ftype) {
			for (var i = 0; i < this.reportList.length; i++) {
				var rpno_nomain = this.FilterReportNo_AAA_BBxx_Or_AAA_BB_Cxx(this.reportList[i].report_result[0].result_list[0].result_no, false)
				if (rpno_nomain === reportno) {
					var tmp = this.reportList[i].report_result[0]
					if (tmp.cgid === '') tmp.cgid = 0
					if (tmp.adid === '') tmp.adid = 0
					if (tmp.eqid === '') tmp.eqid = 0
					if (tmp.page_index === '') tmp.page_index = 0
					reportno = reportno.replaceAll(' ', '')
					var param = {
						report_no: rpno_nomain,
						formtypecus: ftype,
						cgid: tmp.cgid,
						adid: tmp.adid,
						remarkid: tmp.adid,
						eprep: tmp.eprep,
						emet: tmp.emet,
						erefcode: tmp.erefcode,
						eqid: tmp.eqid,
						page_index: tmp.page_index
					}

					try {
						var ok = await this.saveReportCustomInfo(param)
						if (ok) {
							//
						} else {
							//
						}
					} catch (error) {
						console.error(error)
					}
				}
			}
		},

		closeEdit() {
			this.$router.push('/testreports')
		}
	}
}
</script>
<style scoped>
/* .container{
		border: 2px solid green;
	} */
/* .row{
		border: 2px solid rgb(226, 199, 199);
	}
	.col {
		border: 4px solid blue;
	} */
.v-tabs__container {
}
.v-chip {
	font-size: 12px;
	min-width: 75px;
	justify-content: center;
}
.v-card__text {
	padding: 0 24px 0px !important;
}
.v-list-menu-report {
	text-align: right;
	padding-left: 10px !important;
	padding-right: 36px;
}
</style>
