<template>
	<div>
		<vue-html2pdf
			ref="html2Pdf"
			:show-layout="controlValue.showLayout"
			:float-layout="controlValue.floatLayout"
			:enable-download="controlValue.enableDownload"
			:preview-modal="controlValue.previewModal"
			:filename="controlValue.filename"
			:paginate-elements-by-height="controlValue.paginateElementsByHeight"
			:pdf-quality="controlValue.pdfQuality"
			:pdf-format="controlValue.pdfFormat"
			:pdf-orientation="controlValue.pdfOrientation"
			:pdf-content-width="controlValue.pdfContentWidth"
			:manual-pagination="controlValue.manualPagination"
			:html-to-pdf-options="htmlToPdfOptions"
			@progress="onProgress($event)"
			@debugx="onDebugX($event)"
			@startPagination="startPagination()"
			@hasPaginated="hasPaginated()"
			@beforeDownload="beforeDownload($event)"
			@hasDownloaded="hasDownloaded($event)"
		>
			<report v-if="isReportDataLoaded" slot="pdf-content" :report-data="reportData" @domRendered="domRendered()" />
		</vue-html2pdf>

		<controls-container :progress="progress" @generateReport="downloadPdf()" />
	</div>
</template>

<script>

import ControlsContainer from "./ReportTemplates/ControlsContainer";
//import VueHtml2pdf from 'vue-html2pdf'
import VueHtml2pdf from './ReportTemplates/VueHtml2pdf'
import Report from './Report.vue'
import { HTTP } from '@/axios.js'
//import axios from '@/axiosMain.js'
import { mapFields } from 'vuex-map-fields'


export default {
	components: {
		VueHtml2pdf,
		Report,
		ControlsContainer,
	},

	data() {
		return {
			contentRendered: false,
			progress: 0,
			generatingPdf: false,
			pdfDownloaded: false,
			reportDataLoaded: false,
			reportData: null,
			testNo6: "",
			projectList: [],
			customerList: [],
			reportList: [],
			projectInfo: null,
		}
	},

	

	computed: {
		...mapFields(['controlValue']),
		isReportDataLoaded() {
			return this.reportDataLoaded
		},

		htmlToPdfOptions() {
			return {
				margin: 0,

				filename: 'report.pdf',

				image: {
					type: 'jpeg',
					quality: 0.98
				},

				enableLinks: true,

				html2canvas: {
					scale: this.controlValue.pdfQuality,
					useCORS: true
				},

				jsPDF: {
					unit: 'in',
					format: this.controlValue.pdfFormat,
					orientation: this.controlValue.pdfOrientation
				}
			}
		}
	},

	mounted: function() {
		//this.$set(this.controlValue, "showLayout", false)
		this.testNo6 = this.$route.params.testno
		this.startUp()
		//setTimeout(() => { this.tryGenPdf() }, 3000);
	},

	methods: {
		tryGenPdf(){
			if(!this.downloadPdf())
			{
				setTimeout(() => { this.tryGenPdf() }, 3000);
			}
		},
		async startUp() 
		{
			try{
				this.customerList = await this.getCustomerList()
			}
			catch(error) {
				console.error(error)
			}

			try{
				this.projectList = await this.getProjectListByTestNo6Digit(this.testNo6)
			}catch(error) {
				console.error(error)
			}

			var report_list = []
			for(var i = 0; i < this.projectList.length; i++)
			{
				try{
					var tmp = await this.getReportInfoByTestNo(this.projectList[i].test_no)
					
					for(var j = 0; j < tmp.report_result.length; j++)
					{
						var tmp2 = this.clone(tmp)
						tmp2.report_result = []
						tmp2.report_result.push(tmp.report_result[j])

						report_list.push(tmp2)
					}
				}catch(error) {
					console.error(error)
				}
			}

			this.reportList = report_list

			try {
				if(this.projectList.length > 0)
				{
					this.projectInfo = this.projectList[0]
					this.projectInfo.customer_name = this.getCustomerNameByIdFromArray(this.customerList, this.projectInfo.cusid)
					this.projectInfo.customer_addr = this.getCustomerAddressByIdFromArray(this.customerList, this.projectInfo.cusid)
					
					//this.projectInfo = await this.getProjectInfoByTestNo6Digit(this.testNo6)
					//this.projectInfo.customer_name = this.getCustomerNameByIdFromArray(this.customerList, this.projectInfo.cusid)
					//this.projectInfo.customer_addr = this.getCustomerAddressByIdFromArray(this.customerList, this.projectInfo.cusid)

					// Split Report No. with '#'
					var report_no_cover = this.projectInfo.report_no_cus.split("#")
						
					if(report_no_cover.length >= 1) this.projectInfo.report_no_cover_1 = report_no_cover[0]
					else this.projectInfo.report_no_cover_1 = ""
					
					if(report_no_cover.length >= 2) this.projectInfo.report_no_cover_2 = report_no_cover[1]
					else this.projectInfo.report_no_cover_2 = ""

					if(report_no_cover.length >= 3) this.projectInfo.report_no_cover_3 = report_no_cover[2]
					else this.projectInfo.report_no_cover_3 = ""

					if(report_no_cover.length >= 4) this.projectInfo.report_no_cover_4 = report_no_cover[3]
					else this.projectInfo.report_no_cover_4 = ""

					if(report_no_cover.length >= 5) this.projectInfo.report_no_cover_5 = report_no_cover[4]
					else this.projectInfo.report_no_cover_5 = ""

					if(report_no_cover.length >= 6) this.projectInfo.report_no_cover_6 = report_no_cover[5]
					else this.projectInfo.report_no_cover_6 = ""

					if(report_no_cover.length >= 7) this.projectInfo.report_no_cover_7 = report_no_cover[6]
					else this.projectInfo.report_no_cover_7 = ""
				}

			} catch (error) {
				console.error(error)
			}

			this.reportData = this.projectInfo

			var report_result_page = []

			var count_all_paper = 0;

			/////////////////////////////////////////////////////////////////////////////
			//
			//							Add First Page is Cover
			//
			/////////////////////////////////////////////////////////////////////////////

			var tmp = {
					form_type: "COVER",
					form_type_cus: "COVER",
					form_type_report: "COVER",
					result_list: []
			}
			report_result_page.push(tmp)

			//============================================================================

			for(var i = 0; i < this.reportList.length; i++)
			{

				if(this.reportList[i].report_result[0].form_type === "DM")
					this.reportList[i].report_result[0].form_type_cus = "DM"
				else if(this.reportList[i].report_result[0].form_type === "MM")
					this.reportList[i].report_result[0].form_type_cus = "MM"

				var report_result = this.reportList[i].report_result[0]

				if(report_result.form_type_cus === "") continue;

				report_result.form_type_report = report_result.form_type_cus

				/////////////////////////////////////////////////////////////////////////////
				//
				//							Prepare Graph
				//
				/////////////////////////////////////////////////////////////////////////////
				var graph_name = ""
				var count_graph = 0
				if( report_result.form_type_cus === "TSW" ||
					report_result.form_type_cus === "TSB1" ||
					report_result.form_type_cus === "TSB2" ||
					report_result.form_type_cus === "TSB3" ||
					report_result.form_type_cus === "TSPL" )
				{
					if( report_result.form_type_cus === "TSW" ) graph_name = "TSWG1"
					else if( report_result.form_type_cus === "TSB1" ) graph_name = "TSB1G1"
					else if( report_result.form_type_cus === "TSB2" ) graph_name = "TSB2G1"
					else if( report_result.form_type_cus === "TSB3" ) graph_name = "TSB3G1"
					else if( report_result.form_type_cus === "TSPL" ) graph_name = "TSPLG1"

					count_graph = report_result.result_list.length;
				
				}else if( report_result.form_type_cus === "PC" ) {
					graph_name = "PCPIC"
					count_graph = 1
				}else if( report_result.form_type_cus === "IC" ) {
					graph_name = "ICPIC"
					count_graph = 1
				}else if( report_result.form_type_cus === "HV3COL" || report_result.form_type_cus === "HV4COL") {
					graph_name = "HVPIC"
					count_graph = 1
				}else if( report_result.form_type_cus === "MI1") {
					graph_name = "MIPIC"
					count_graph = report_result.result_list[0].midata.length
				}

				report_result.page_index = 1
				report_result.all_page = 1 + count_graph

				if(count_graph > 0 && graph_name !== "PCPIC" && graph_name !== "ICPIC") report_result.attach_page = count_graph
				else report_result.attach_page = "-"

				report_result.total_unit = report_result.result_list.length

				/////////////////////////////////////////////////////////////////////////////
				//
				//							Prepare Compare Grade
				//
				/////////////////////////////////////////////////////////////////////////////

				var cgid = report_result.cgid

				if( cgid > 0)
				{
					//Pull Standard
					try{
						report_result.cgResult = await this.getCompareById(cgid)
					}catch(error) {
						console.error(error)
					}

					//Check Standard
					/////////// TSW ////////////////
					if( report_result.form_type_cus === "TSB1" ) report_result.form_type_report = "TSB1STD"
					else if( report_result.form_type_cus === "TSB2" ) report_result.form_type_report = "TSB2STD"
					else if( report_result.form_type_cus === "TSB3" ) report_result.form_type_report = "TSB3STD"
					/////////// ES ////////////////
					/*else if( report_result.form_type_cus === "ES" )
					{
						//Aerowork
						if( typeof report_result.cgResult.cgvalue.almin !== 'undefined' ||
							typeof report_result.cgResult.cgvalue.almax !== 'undefined' ||
							typeof report_result.cgResult.cgvalue.mgmin !== 'undefined' ||
							typeof report_result.cgResult.cgvalue.mgmax !== 'undefined' ||
							typeof report_result.cgResult.cgvalue.simin !== 'undefined' ||
							typeof report_result.cgResult.cgvalue.simax !== 'undefined')
						{
							report_result.form_type_report = "ESAERO"
						}
						//Add standard
						else
						{
							report_result.form_type_report = "ESSTD"
						}
					}*/
					else if( report_result.form_type_cus === "ES" ) report_result.form_type_report = "ESSTD"
					else if( report_result.form_type_cus === "ESAERO" ) report_result.form_type_report = "ESAERO"
					/////////// MS ////////////////
					else if( report_result.form_type_cus === "MS1" ) report_result.form_type_report = "MS1STD"
					else if( report_result.form_type_cus === "MS2" ) report_result.form_type_report = "MS2STD"
				}

				/////////////////////////////////////////////////////////////////////////////
				//
				//							Prepare Remark Default
				//
				/////////////////////////////////////////////////////////////////////////////

				try{
					var tmp = await this.getAdditionByType(report_result.form_type_cus)
					if(tmp !== null){
						report_result.remark = tmp.rminfo
					}
				}
				catch(error) {
					console.error(error)
				}

				/////////////////////////////////////////////////////////////////////////////
				//
				//							Add Page Result
				//
				/////////////////////////////////////////////////////////////////////////////

				report_result_page.push(report_result)
				count_all_paper++

				/////////////////////////////////////////////////////////////////////////////
				//
				//							Add Page Graph
				//
				/////////////////////////////////////////////////////////////////////////////
				if(count_graph > 0)
				{
					for (let j = 0; j < count_graph; j++) 
					{
						var test_no = this.reportList[i].test_no
						var res_no = ""
						var result_list_each = []

						if(report_result.form_type_cus === "MI1") {
							var str_arr = report_result.result_list[0].midata[j].urlimage.split("/");
							var file = str_arr[str_arr.length-1]
							var rno = file.replace(/\.[^/.]+$/, "")

							res_no = rno
							report_result.result_list[0].midata[j].pic1 = localStorage.getItem('picurl')+report_result.result_list[0].midata[j].urlimage
							result_list_each = report_result.result_list[0].midata[j]
						}else{
							res_no = report_result.result_list[j].result_no
							var tmp = this.getGraphImgPath(0)
							tmp = tmp.replace("{testno}", test_no);
							tmp = tmp.replace("{resultno}", res_no);
							report_result.result_list[j].pic1 = localStorage.getItem('picurl')+tmp
							result_list_each = report_result.result_list[j]
						}


						var tmp_result = {
							form_type : report_result.form_type,
							form_type_cus : report_result.form_type,
							form_type_report : graph_name,
							result_list : [result_list_each],
							
							pic_1_url: report_result.pic_1_url,
							pic_2_url: report_result.pic_2_url,
							pic_3_url: report_result.pic_3_url,
							pic_4_url: report_result.pic_4_url,
							eqid: report_result.eqid, 
							eprep: report_result.eprep, 
							emet: report_result.emet, 
							erefcode: report_result.erefcode,
							eetch_reag: report_result.eetch_reag,
							eetch_temp: report_result.eetch_temp,
							eetch_time: report_result.eetch_time,
							emagnifi: report_result.emagnifi,
							eindent: report_result.eindent,
							etest_force: report_result.etest_force,
							etest_scale: report_result.etest_scale,
							esolution: report_result.esolution,
							eholding: report_result.eholding,

							page_index : 1 + (j + 1),
							all_page : 1 + count_graph,
							total_unit: report_result.total_unit,
							attach_page: report_result.attach_page,
						}

						report_result_page.push(tmp_result)
						count_all_paper++
					}
				}
			}

			this.reportData.result_page = report_result_page
			this.reportData.all_page = count_all_paper

			this.reportDataLoaded = true
		},

		async downloadPdf() {
			if (!(await this.validateControlValue())) return false

			return this.$refs.html2Pdf.generatePdf()

		},

		validateControlValue() {
			if (this.controlValue.pdfQuality > 2) {
				alert('pdf-quality value should only be 0 - 2')
				this.controlValue.pdfQuality = 2

				return false
			}

			if (!this.controlValue.paginateElementsByHeight) {
				alert('paginate-elements-by-height value cannot be empty')
				this.controlValue.paginateElementsByHeight = 1400

				return false
			}

			const paperSizes = [
				'a0',
				'a1',
				'a2',
				'a3',
				'a4',
				'letter',
				'legal',
				'a5',
				'a6',
				'a7',
				'a8',
				'a9',
				'a10'
			]

			if (!paperSizes.includes(this.controlValue.pdfFormat)) {
				alert(`pdf-format value should only be ${paperSizes}`)
				this.controlValue.pdfFormat = 'a4'

				return false
			}

			if (!this.controlValue.pdfOrientation) {
				alert('pdf-orientation value cannot be empty')
				this.controlValue.pdfOrientation = 'portrait'

				return false
			}

			if (!this.controlValue.pdfContentWidth) {
				alert('pdf-content-width value cannot be empty')
				this.controlValue.pdfContentWidth = '800px'

				return false
			}

			return true
		},

		onProgress(progress) {
			this.progress = progress
			console.log(`PDF generation progress: ${progress}%`)
		},
		onDebugX(str) {
			console.log(str)
		},

		startPagination() {
			console.log(`PDF has started pagination`)
		},

		hasPaginated() {
			console.log(`PDF has been paginated`)
		},

		async beforeDownload({ html2pdf, options, pdfContent }) {
			console.log(`On Before PDF Generation`)
			// await html2pdf().set(options).from(pdfContent).toPdf().get('pdf').then((pdf) => {
			// 	const totalPages = pdf.internal.getNumberOfPages()
			// 	for (let i = 1; i <= totalPages; i++) {
			// 		pdf.setPage(i)
			// 		pdf.setFontSize(10)
			// 		pdf.setTextColor(150)
			// 		pdf.text('Page ' + i + ' of ' + totalPages, (pdf.internal.pageSize.getWidth() * 0.88), (pdf.internal.pageSize.getHeight() - 0.3))
			// 	}
			// }).save()
		},

		hasDownloaded(blobPdf) {
			console.log(`PDF has downloaded yehey`)
			this.pdfDownloaded = true
			console.log(blobPdf)
		},

		domRendered() {
			console.log('Dom Has Rendered')
			this.contentRendered = true
		},

		onBlobGenerate(blob) {
			console.log(blob)
		}
	}

}

</script>

<style lang="scss" scoped>
html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
}

#app {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	/*color: #2c3e50;*/
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: #141e30; /* fallback for old browsers */
	/*background: -webkit-linear-gradient(
		to bottom,
		#243b55,
		#141e30
	); /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(
		to bottom,
		#243b55,
		#141e30
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	flex-direction: column;
	overflow: hidden;

	.title-container {
		min-height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}

	.title-header {
		color: #fff;
		padding: 25px 50px;
		border: 5px solid #fff;
		border-radius: 5px;
		opacity: 0;
		/*@include fadeintop(0.2s, 0);*/
	}
}
</style>
