<template>
	<section>
		<div v-for="result in reportData.result_page" :key="result.reportNo">
			<cover v-if="result.form_type_report == 'COVER'" 
				:report-data="reportData" 
				:report-result="result" 
				@domRendered="domRendered()"
			/>

			<report-graph v-else-if="result.form_type_report == 'TSWG1' || 
					result.form_type_report == 'TSB1G1' || 
					result.form_type_report == 'TSB2G1' || 
					result.form_type_report == 'TSB3G1' || 
					result.form_type_report == 'TSPLG1'"
				:report-data="reportData" 
				:report-result="result" 
				:result-list="result.result_list" 
				:report-form-type="result.form_type_report"
			/>

			<report-pic v-else-if="result.form_type_report == 'PCPIC' ||
					result.form_type_report == 'ICPIC'"
				:report-data="reportData" 
				:report-result="result" 
				:result-list="result.result_list" 
				:report-form-type="result.form_type_report"
			/>

			<report-pic2 v-else-if="result.form_type_report == 'MIPIC'"
				:report-data="reportData" 
				:report-result="result" 
				:result-list="result.result_list" 
				:report-form-type="result.form_type_report"
			/>

			<report-detail v-else
				:report-data="reportData" 
				:report-result="result" 
				:result-list="result.result_list" 
				:report-form-type="result.form_type_report"
			/>

		</div>
	</section>
</template>

<script>

import Cover from './ReportTemplates/Cover/Cover.vue'
import ReportGraph from './ReportTemplates/MainTemplates/ReportGraph.vue'
import ReportPic from './ReportTemplates/MainTemplates/ReportPic.vue'
import ReportPic2 from './ReportTemplates/MainTemplates/ReportPic2.vue'
import ReportDetail from './ReportTemplates/MainTemplates/ReportDetail.vue'

export default {

	components: {

		Cover,

		ReportGraph,

		ReportPic,

		ReportPic2,

		ReportDetail,

	},
	props: ['reportData'],

	data() {
		return {
			contentRendered: false,
			progress: 0,
			generatingPdf: false,
			pdfDownloaded: false,
			reportList: {}
		}
	},

	computed: {
	},

	mounted: function() {
		console.log(this.reportData.result_page)
	},

	methods: {
		setPaperToPrint(){
			
		},
		setPaperToView(){
			
		}

	}

}

</script>

<style lang="scss" scoped>
html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
}

#app {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	/*color: #2c3e50;*/
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: #141e30; /* fallback for old browsers */
	/*background: -webkit-linear-gradient(
		to bottom,
		#243b55,
		#141e30
	); /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(
		to bottom,
		#243b55,
		#141e30
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	flex-direction: column;
	overflow: hidden;

	.title-container {
		min-height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}

	.title-header {
		color: #fff;
		padding: 25px 50px;
		border: 5px solid #fff;
		border-radius: 5px;
		opacity: 0;
		/*@include fadeintop(0.2s, 0);*/
	}
}
</style>
