<template>
	<v-card>
		<v-card-title class="px-2">
			<!-- Test No. <span style="color:gray">| Showing all Test No.</span> -->
			<!-- <v-btn
				style="width:250px;color: #1E88E5; font-size: 16px;"
				text
				plain
				@click="handleCreate"
			>
				Add new Test Report
			</v-btn> -->
			<v-spacer style="width: 350px" />
			<v-text-field ref="search_bar" v-model="search" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
		</v-card-title>
		<v-data-table
			:headers="headers1"
			:items="projectList"
			:search="search"
			:item-class="blink"
			dense
			:calculate-widths="true"
			:sort-by="['project_no6']"
			:sort-desc="true"
			:items-per-page="22"
			:loading="onLoad"
			@dblclick:row="dblClick"
			@click:row="oneClick">
			<v-progress-linear v-show="progressBar" slot="progress" color="blue" indeterminate />
			<template v-slot:[`item.project_no6`]="{ item }">
				<div>
					<div style="cursor: pointer" @click="handleEditTest(item)">{{ item.project_no6 }}</div>
				</div>
			</template>
			<template #[`item.test_date`]="{ value }">
				<div>
					{{ showdate(value) }}
				</div>
			</template>
			<template #[`item.customer_name`]="{ value }">
				<div class="text-truncate" style="max-width: 270px">
					{{ value }}
				</div>
			</template>
			<template #[`item.testproduct`]="{ value }">
				<div class="text-truncate" style="max-width: 270px">
					{{ value }}
				</div>
			</template>
			<template #[`item.materialsp`]="{ value }">
				<div class="text-truncate" style="max-width: 180px">
					{{ value }}
				</div>
			</template>
			<template #[`item.dimension`]="{ value }">
				<div class="text-truncate" style="max-width: 180px">
					{{ value }}
				</div>
			</template>
			<template #[`item.pname`]="{ value }">
				<div class="text-truncate" style="max-width: 270px">
					{{ value }}
				</div>
			</template>
			<template #[`item.status`]="{ value }">
				<v-chip :color="getColor(value)" dark small>
					{{ value }}
				</v-chip>
			</template>
			<template v-slot:[`item.actions`]="{ item }">
				<v-icon small class="mr-1" @click="handleEditTest(item)"> mdi-pencil </v-icon>
				<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
				<v-icon small class="" @click="printItem(item.project_no6)"> mdi-printer </v-icon>
			</template>
		</v-data-table>
		<v-dialog v-model="dialogDelete" max-width="500px">
			<v-card>
				<v-card-title class="text-h5" style="color: #616161">Are you sure you want to delete this Test No?</v-card-title>
				<v-card-text class="text-h6" style="text-align: center">
					<span style="color: rgb(41, 41, 41)">Test No. {{ temp.project_no6 }} <span v-if="temp.customer_name != ''"> - </span> {{ temp.customer_name }}</span>
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn color="primary" text @click=";(isDelDis = true), (dialogDelete = false)">Cancel</v-btn>
					<v-btn color="error" text @click="deleteData(temp.project_no6)">Delete</v-btn>
					<v-spacer />
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-dialog v-model="dialogFormVisible" persistent max-width="600px">
			<v-card>
				<v-card-title>
					<span class="text-h5">Add new Test Report</span>
				</v-card-title>
				<v-divider />
				<v-card-text>
					<v-container>
						<v-form ref="dataForm" v-model="dataForm">
							<v-text-field v-model="temp.testNo" :rules="[rules.required]" label="Test no." />
							<!-- <v-text-field
				v-model="temp.reportNo"
				dense
				label="Report no."
			  /> -->
							<v-select v-model="temp.customer" :items="customers" color="" label="Customer name" required />
							<!-- <v-text-field
				v-model="temp.address"
				dense
				label="Address"
				required
			  /> -->
							<v-text-field v-model="temp.projectName" label="Project name" required />
							<v-text-field v-model="temp.projectNo" label="Project no." required />
							<v-row dense>
								<v-col cols="12" sm="6">
									<v-menu v-model="menu" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
										<template v-slot:activator="{ on }">
											<v-text-field v-model="recievDate" label="Recived date" prepend-icon="mdi-calendar" v-on="on" />
										</template>
										<v-date-picker v-model="recievDate" no-title scrollable @input="menu = false" />
									</v-menu>
								</v-col>
								<v-col cols="12" sm="6">
									<v-menu v-model="menu2" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
										<template v-slot:activator="{ on }">
											<v-text-field v-model="testDate" label="Test date" prepend-icon="mdi-calendar" v-on="on" />
										</template>
										<v-date-picker v-model="testDate" no-title scrollable @input="menu2 = false" />
									</v-menu>
								</v-col>
							</v-row>

							<!-- <v-select

				:items="chips"
				label="Reports"
				multiple
				clearable
				height="40px"
			  ><template #selection="{ item, select, selected }"><v-chip

					:input-value="selected"
					close
					class="ma-1"
					small
					label
					color="green"
					@click="select"
					@click:close="remove(item)"
				  >{{ item }}</v-chip></template></v-select> -->
						</v-form>
					</v-container>
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn color="primary" text @click="dialogFormVisible = false"> CANCEL </v-btn>
					<v-btn color="primary" text @click="createData(item)"> ADD NEW TEST </v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-card>
</template>

<script >
import _differenceWith from 'lodash/differenceWith'
import _isEqual from 'lodash/isEqual'
import moment from 'moment'
import { mapActions } from 'vuex'

// import { HTTP } from '@/axios.js'
export default {
	data() {
		return {
			timer: '',
			rowToBlink: null,
			onLoad: true,
			progressBar: true,
			valid: false,
			dataForm: false,
			caplength: 4,
			captcha: '',
			dialogFormVisible: false,
			dialogDelete: false,
			isDelDis: true,
			search: '',
			temp: {
				id: undefined,
				testNo: '',
				customer: '',
				address: '',
				testProduct: '',
				projectName: 'N/A',
				projectNo: 'N/A',
				receivedDate: '',
				testDate: '',
				status: 'PENDING'
			},
			menu: false,
			menu2: false,
			chips: ['TSW', 'TSB1', 'TSB2', 'TSB3', 'TSPL', 'IM'],
			recievDate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000).toISOString().substr(0, 10),
			testDate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000).toISOString().substr(0, 10),
			customers: [],
			rules: {
				required: (value) => !!value || 'Required.',
				email: (value) => {
					const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
					return pattern.test(value) || 'Invalid e-mail.'
				}
			},
			dialogEdit: false,

			headers1: [
				{
					text: 'Test No.',
					align: 'start',
					value: 'project_no6',
					width: '7%'
				},
				{
					text: 'Tested',
					value: 'test_date',
					width: '8%'
				},
				{
					text: 'Customer',
					value: 'customer_name',
					width: '16%'
				},
				{
					text: 'Test Product',
					value: 'testproduct',
					width: '16%'
				},
				{
					text: 'Material Specification',
					value: 'materialsp',
					width: '12%'
				},
				{
					text: 'Dimension',
					value: 'dimension',
					width: '12%'
				},
				{
					text: 'Project Name',
					value: 'pname',
					width: '15%'
				},
				// { text: 'Received', value: 'receivedDate', width: '10%' },

				{
					text: 'Status',
					value: 'status',
					sortable: false,

					width: '7%'
				},
				{
					text: 'Actions',
					value: 'actions',
					sortable: false,
					width: '8%'
				}
			],
			projectList: [],
			customerList: [],
			testList: [],
			a_projrct_array: [],
			delay: 500,
			firstClick_row: null
		}
	},

	watch: {
		projectList() {
			this.progressBar = false
		}
	},
	created() {
		this.startUp()
		this.timer = setInterval(this.reloadProject, 5000)
		window.addEventListener('keyup', this.keylistener)
	},
	beforeDestroy() {
		this.cancelAutoUpdate()
		window.removeEventListener('keyup', this.keylistener)
	},
	// mounted: function () {
	// 	this.startUp()
	// },
	methods: {
		keylistener(e) {
			if (e.key === 'Escape') {
				e.preventDefault()
				this.$refs.search_bar.clearableCallback()
				this.$refs.search_bar.blur()
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'K'.charCodeAt(0)) {
				e.preventDefault()
				this.$refs.search_bar.focus()
			}
		},
		oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleEditTest(this.firstClick_row)
		},
		showdate(date) {
			if (date === '2000-01-01' || date === '') {
				let showD = ''
				return showD
			} else {
				let showD = moment(date.split('T')[0]).format('DD-MM-YYYY')
				return showD
			}
		},
		async startUp() {
			this.onLoad = true

			try {
				this.customerList = await this.getCustomerList()
			} catch (error) {
				console.error(error)
			}

			try {
				this.projectList = await this.getProjectGroupList()
				for (var i = 0; i < this.projectList.length; i++) {
					this.projectList[i].customer_name = this.getCustomerNameByIdFromArray(this.customerList, this.projectList[i].cusid)
					this.a_projrct_array.push(this.projectList[i].project_no6)
				}
				// console.log('test reports startup')
			} catch (error) {
				console.error(error)
			}

			this.onLoad = false
		},
		blink(item) {
			if (item.project_no6 === this.rowToBlink) return 'blink'
			return ''
		},
		async reloadProject() {
			const delay = async (ms = 1000) => new Promise((resolve) => setTimeout(resolve, ms))
			this.onLoad = true
			const b_projrct_array = []
			let difference = []
			// const delay = (ms) => new Promise((res) => setTimeout(res, ms))
			try {
				this.projectList = await this.getProjectGroupList()
				for (var i = 0; i < this.projectList.length; i++) {
					this.projectList[i].customer_name = this.getCustomerNameByIdFromArray(this.customerList, this.projectList[i].cusid)
					b_projrct_array.push(this.projectList[i].project_no6)
				}
				difference = _differenceWith(b_projrct_array, this.a_projrct_array, _isEqual)

				let a = this.a_projrct_array.length
				let b = b_projrct_array.length
				// console.log(b, '-', a, '=', difference.length, 'Dif Result', difference)
				if (difference.length > 0 && b > a) {
					// console.log('🚀 ~ In to loop Blink')
					for (let i = 0; i < difference.length; i++) {
						this.rowToBlink = difference[i]
						await delay(1000)
						// console.log('🚀 ~ Diff blink', difference[i])
					}
				}
				this.a_projrct_array = b_projrct_array
				console.log('🚀 ~ this.a_projrct_array after Diff', this.a_projrct_array)
			} catch (error) {
				console.error(error)
			}

			this.onLoad = false
		},
		DelBtnOK() {
			this.isDelDis = false
		},
		resetTemp() {
			this.temp = {
				id: undefined,
				testNo: '',
				customer: '',
				address: '',
				testProduct: '',
				projectName: 'N/A',
				projectNo: 'N/A',
				receivedDate: '',
				testDate: '',
				status: 'PENDING'
			}
		},
		handleCreate() {
			this.resetTemp()
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['dataForm'].resetValidation()
			})
		},
		createData() {
			// this.valid = this.$refs['dataForm'].validate()
			// if (this.valid) {
			this.testList.unshift(this.temp)
			this.dialogFormVisible = false
			// } else {
			//   console.log('not valid yet')
			// }
		},
		...mapActions({
			//setTestNo: 'editTestNo/setTestNo'
		}),
		handleEditTest(item) {
			// console.log(item.testNo)
			// this.$router.push({ path: 'testreports/editreport', params: { testNo: item.testNo }})
			//const testno = {
			//  testNo: item.test_no
			//}
			//console.log(testno)
			//this.setTestNo(testno)
			this.$router.push({
				path: 'testreports/editreport?testno6=' + item.project_no6
			})
		},
		handleDelete(item) {
			this.temp = Object.assign({}, item)
			this.dialogDelete = true
			// this.$nextTick(() => {
			// 	this.$refs['regen'].gencap(this.caplength)
			// })
		},
		async deleteData(test_no) {
			try {
				var data = await this.removeProjectGroupByTestNo6Digit(test_no)
				if (data.status === 'success') {
					this.projectList = this.removeProjectGroupByTestNo6DigitFromArray(this.projectList, test_no)
				}
			} catch (error) {
				console.error(error)
			}

			this.dialogDelete = false
			this.isDelDis = true
		},
		getColor(status) {
			if (status === 'DONE') return 'green'
			else if (status === 'PENDING') return 'gray'
			// else return 'green'
		},
		printItem(testNo) {
			window.open('/#/previewreport/' + testNo, '_blank')
			// window.open('/#/previewreport', '_blank')
		},
		cancelAutoUpdate() {
			clearInterval(this.timer)
		}
	}
}
</script>
<style>
.blink {
	animation: blinking ease-out 0.3s 1;
	animation: blinking ease-out 0.6s 1;
}
@keyframes blinking {
	0% {
		background-color: #0096c7;
	}
	100% {
		background-color: #fff;
	}
}
</style>
<style scoped>
/* .container{
	border: 2px solid green;
}
*/
/* .row{
	border: 2px solid rgb(226, 199, 199);
}
.col {
	border: 4px solid blue;
}
*/
.v-chip {
	font-size: 0.643rem;
	min-width: 75px;
	justify-content: center;
}
.v-card__text {
	padding: 0 24px 0px !important;
}
</style>
