<template>
	<section class="report-hr">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr>
					<td>
						<div class="report-body-test">
							<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
								<tr>
									<td rowspan="2" class="report-body-test-col-title style-normal style-header-height ">Sample No.
										{{ resultDataList[0].result_no }}
										<!--span class="report-code">{{ FilterReportNo_AAA_BB_C(resultDataList.result_no) }}</span>
										<span class="report-code">{{ FilterReportNo_xxD(resultDataList.result_no) }}</span-->
										<br>Test Location
									</td>
									<td colspan="2" class="report-body-test-col-hv style-normal ">Hardness Value</td>
									<td rowspan="2" class="report-body-test-col-avg style-normal ">Average</td>
									<td rowspan="2" class="report-body-test-col-conv style-normal ">Convert Brinell (HBW)</td>
									<td rowspan="2" class="report-body-test-col-hv style-normal report-table-border-right ">Remark</td>
								</tr>
								<tr>
									<td class="style-normal report-body-test-col-pt ">Point No.</td>
									<td class="style-normal report-body-test-col-line report-table-border-right ">Line 1</td>
								</tr>
								<!------------------------------------------------------------->
								<tr>
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom">Base metal</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList[0].point_01, 1) }}</td>
									<td rowspan="3" class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].avg, 1) }}</td>
									<td rowspan="3" class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].conv) }}</td>
									<!--######################## Custom #####################-->
									<td v-if="!showResultOnly" rowspan="3" class="style-normal font-10 report-table-border-bottom report-table-border-right">{{ FilterBlank(resultDataList[0].remark) }}</td>
									<td v-else rowspan="3" class="style-normal report-table-border-bottom report-table-border-right">
										<v-autocomplete v-model="resultDataList[0].remark" dense class="select-small hr-remark" 
											:items="remarkList" 
											item-text="rminfo"  
											item-value="rminfo"
										/>
									</td>
									<!--#####################################################-->
								</tr>
								<tr>
									<td class="style-normal2">2</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList[0].point_02, 1) }}</td>
								</tr>
								<tr>
									<td class="style-normal2 report-table-border-bottom">3</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList[0].point_03, 1) }}</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				<tr class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
						<div style="margin-left: auto; margin-right: auto; text-align: center;" :style="{width: image_section_width+'px'}">
							<span>Layout of Test Location</span>
							<div style="width: 310px; display: inline-block; margin-top: 5px;">
								<div class="report-body-remark-img" :style="{ backgroundImage: 'url(' + imageUrlFull1 + ')' }" />
								<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,1)" />
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>

import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip4.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 320,
			intervalSetHeight: 0,
			remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			imageUrl1: "",
			imageUrlFull1: "",
			isUploadingImage: false,
			amountPic: 1,
			image_section_width: 310,
		}
	},

	computed: {
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		// Change follow return from api & report type 
		var tmp = this.resultList[0].hrdata
		console.log("xxxxxxxxxxxx")
		console.log(this.resultList)

		for(var i = 0; i < tmp.length; i++)
		{
			this.resultDataList.push(tmp[i].tablelist[0])

			console.log(this.resultDataList)

			if (typeof this.resultDataList[i].result_no === 'undefined')
			{
				if(typeof this.resultDataList[i].sample_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.resultDataList[i].sample_no
				}else if(typeof this.resultDataList[i].simple1_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.mergeSimpleNo(this.resultDataList[i].simple1_no, this.resultDataList[i].simple2_no)
				}
			}
		}

		if(this.resultDataList[0].conv === "-") this.resultDataList[0].conv = "N/A"
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true
			for(var i =0; i < this.resultDataList.length; i++)
			{
				var tmp = this.resultDataList[i]
				try{
					//Add or Edit
					var r = null
					//r = await this.editResultOptionByKey(tmp.result_no, "location", tmp.location)
					//if(r === false) ok = false

					r = await this.editResultOptionByKey(tmp.result_no, "remark", tmp.remark)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}

			return ok
		},
		async mergeData(reportData) {
			reportData.pic1 = this.imageUrl1

			//remove pic not use
			try{
				var path1 = this.resultList[0].no
				var path2 = this.resultList[0].result_no
				var pic_list = await this.getPictureResultList(path1, path2)
				for(var i = 0; i < pic_list.length; i++)
				{
					var is_use = false
					if(pic_list[i].url === reportData.pic1){
						is_use = true
					}
					
					if(!is_use){
						await this.removePictureResult(pic_list[i].psid)
					}
				}
			}
			catch(error) {
				console.error(error)
			}

			return reportData
		},
		async uploadImage(img, index){
			var path1 = this.resultList[0].no
			var path2 = this.resultList[0].result_no
			this.isUploadingImage = true

			try{
				var res = await this.uploadPictureResult(img, path1, path2)
				if(res.status === "success"){
					if(index === 1){
						this.imageUrl1 = res.url
						this.imageUrlFull1 = localStorage.getItem('picurl') + res.url
					}
				}
			}
			catch(error) {
				console.error(error)
			}
			
			this.isUploadingImage = false
		},
		onFileSelected(file, index){
			this.uploadImage(file, index)
		},
		async startUp(){
			try {
				this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			for(var i =0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					//this.resultDataList[i].location = "N/A"
					this.resultDataList[i].remark = "N/A"
					const tmp = await this.getResultOptionByResultNo(rno)
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								//if(tmp[j].name === "location") this.resultDataList[i].location = tmp[j].value
								if(tmp[j].name === "remark") this.resultDataList[i].remark = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}
			this.imageUrl1 = this.reportResult.pic_1_url

			this.imageUrlFull1 = localStorage.getItem('picurl') + this.reportResult.pic_1_url
			
			this.imageUrlFull1 = this.imageUrlFull1.replaceAll('//finish', '/finish');
			
			
			this.onLoad = false

		},
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';

.report-hr{
	

	.report-body-test{
		margin-left: auto;
	    margin-right: auto;
	    width: 700px;					    
		margin-top: 20px;
		margin-bottom: 0px;



		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 45px;
		}

		.style-header-height2{
			height: 65px;
		}

		.style-result-height{
			height: 20px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				/*float: right;
				margin-right: 10px;*/
				margin-left:  15px;
			}
		}

		.style-normal2{
			border-left: 1px solid black;
			/*border-top: 1px solid black;*/
			text-align: center;
		}

		.style-normal3{
			border-left: 1px solid black;
			border-top: 1px solid #c1c1c1;
			text-align: center;
		}

		.report-body-test-col-title{
			width: 42.9%;
		}

		.report-body-test-col-pt{
			width: 10.5%;
		}

		.report-body-test-col-line{
			
		}

		.report-body-test-col-hv{
			width: 25%;
		}

		.report-body-test-col-avg{
			width: 10.5%;
		}

		.report-body-test-col-conv{
			width: 10.5%;
		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-spec_dimen{
			width: 23.5%;
		}

		.report-body-test-col-gauge_length{
			width: 13.3%;
		}

		.report-body-test-col-yield{
			width: 13.3%;
		}

		.report-body-test-col-ultimate{
			width: 13.3%;
		}

		.report-body-test-col-location{
			width: 13.3%;
		}

		

		.report-body-test-col-spec_dimen-thick{
			width: 10%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
			padding: 1px;
			/*border-top: 1px solid black;
			border-left: 1px solid white;
			border-right: 1px solid white;*/
		}

	}
	.report-body-remark{
								
		
		.report-body-remark-img{
		    width: 300px;
		    height: 185px;
			border: 1px solid black;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			margin-left: 10px;
			background-position-x: center;
    		background-position-y: center;
		}
	}
}

					/*.report-body-remark{
						padding-bottom: 1px;

						tr.report-body-remark-additional {
							height: 305px;
						}

						.report-body-remark-col01 {
							padding-left: 2px;
							vertical-align: text-top;

							.report-body-remark-col01-title {
								width: 50px;
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-col01-value {
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}


							.report-body-remark-col01_2-title {
								width: 77px;
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-col01_2-value {
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-span {
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-span>p{
								margin-bottom: 0px;
							}
						}
					}
				}

				.report-footer-template{
					text-align: left;
					.report-footer-template-title{ 
						font-size:  9px;
					}
				}
			}
		}
	}
}*/
</style>
