<template>
	<v-container v-if="showCompareGrade">
		<v-row>
			<v-col cols="12" sm="6" style="padding-left: 0px;">
				<span class="text">Compare Grade</span>
				<v-autocomplete v-model="reportBody.cgid" color="" dense 
					:items="compareList"
					item-text="cgname"
					item-value="cgid"
					@change="updateCompareGrade()"
				/>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>

export default {

	props: ['reportBodyCompareGrade', 'reportType'],
	data() {
		return {
			reportBody: {},
			compareList: [],
			showCompareGrade: false,
		}
	},
	mounted() {
		this.reportBody = this.reportBodyCompareGrade
		this.reportBody.cgid = parseInt( this.reportBody.cgid )
		this.startUp()
	},
	methods: {
		mergeData(reportData) {

			reportData.cgid = this.reportBody.cgid

			return reportData
		},

		callBackSend(cgid) {
			this.$emit('callback', cgid)
		},

		updateCompareGrade() {
			this.callBackSend(this.reportBody.cgid)
		},
		
		async startUp(){
			
			try {
				var tmp = await this.getCompareGradeListByReportType2Digit(this.reportType)
				var cg_zero = {
					cgid: 0,
					cgname: "N/A",
				}

				this.compareList = []
				this.compareList.push(cg_zero)
				for(var i = 0; i < tmp.length; i++)
				{
					tmp[i].cgid = parseInt( tmp[i].cgid )
					this.compareList.push(tmp[i])
				}

				//for (var i = 0; i < this.comparelist.length; i++) {
				//	this.comparelist[i].cgid = parseInt(this.comparelist[i].cgid)
				//}
			} catch (error) {
				console.error(error)
			}

			if(	this.reportBody.form_type_cus === 'TSB1' || 
				this.reportBody.form_type_cus === 'TSB2' ||
				this.reportBody.form_type_cus === 'TSB3' ||
				this.reportBody.form_type_cus === 'ES' || 
				this.reportBody.form_type_cus === 'ESAERO' ||
				this.reportBody.form_type_cus === 'MS1' ||
				this.reportBody.form_type_cus === 'MS2')
			{
				this.showCompareGrade = true
			}
		},
	},
}
</script>