<template>
	<v-container>
		<v-row>
			<v-col cols="12" sm="6" style="padding-left: 0px;">
				<v-row>
					<v-col cols="6">
						<v-autocomplete v-model="reportBody.eqid" label="Equipment" color="" dense
							required
							:items="equiplist" 
							item-text="eqname" 
							item-value="eqid" 
							@change="updateEquip"
						/>
					</v-col>
					<v-col cols="6">
						<v-text-field v-model="eqsn" label="Serial No." dense :readonly="true" />
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="6">
						<v-text-field v-model="calibration_date" label="Calibration Date" dense :readonly="true" />
					</v-col>
					<v-col cols="6">
						<v-autocomplete v-model="reportBody.emagnifi" label="Magnification" color="" dense
							required 
							:items="magnifilist"
							item-text="rminfo" 
							item-value="rmid"
						/>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12">
						<v-autocomplete v-model="reportBody.eprep" label="Preparation Method" color="" dense
							required
							:items="epreplist"
						/>
					</v-col>
				</v-row>
			</v-col>
			<v-col cols="12" sm="6" style="padding-right: 0px;">
				<v-row>
					<v-col cols="6">
						<v-text-field v-model="reportBody.eetch_reag" label="Etchants Reagent" dense required />
					</v-col>
					<v-col cols="6">
						<v-text-field v-model="reportBody.eetch_time" label="Etching Time" dense required style="display: inline-block; width: 75%;" />
						<span>sec.</span>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12">
						<v-autocomplete v-model="reportBody.erefcode" label="Reference Code / Standard" color="" dense 
							required
							:items="ecodelist"
						/>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12">
						<v-autocomplete v-model="reportBody.emet" label="Test Method" color="" dense 
							required 
							:items="emetlist"
						/>
					</v-col>
				</v-row>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>

export default {

	props: ['reportBodyEquip', 'reportType'],
	data() {
		return {
			eqsn: "",
			calibration_date: "",
			machinecapa: "",

			reportBody: {},

			equiplist: [],
			epreplist: [],
			ecodelist: [],
			emetlist: [],
			magnifilist: [],
		}
	},

	mounted() {
		this.reportBody = this.reportBodyEquip
		//this.reportBody.eqid = this.reportBody.eqid.toString()
		this.startUp()
	},

	methods: {
		mergeData(reportData) {

			reportData.eqid = this.reportBody.eqid
			reportData.eprep = this.reportBody.eprep
			reportData.emet = this.reportBody.emet
			reportData.erefcode = this.reportBody.erefcode

			reportData.eetch_reag = this.reportBody.eetch_reag
			reportData.eetch_time = this.reportBody.eetch_time
			reportData.emagnifi = this.reportBody.emagnifi
			

			return reportData
		},
		async startUp(){
			try {
				var data = await this.getStandardByType(this.reportType)
				this.epreplist = data.sdpreplist
				this.ecodelist = data.sdrefcodelist
				this.emetlist = data.sdmetlist
			} catch (error) {
				console.error(error)
			}

			try {
				this.equiplist = await this.getEquipListByType(this.reportType)
				for (var i = 0; i < this.equiplist.length; i++) {
					this.equiplist[i].eqid = parseInt(this.equiplist[i].eqid)
				}
			} catch (error) {
				console.error(error)
			}

			try {
				this.magnifilist = await this.getCustomMagnifi()
			} catch (error) {
				console.error(error)
			}

			if(this.reportType === "MI")
			{
				if(this.reportBody.eetch_reag === "")
					this.reportBody.eetch_reag = this.getConstMiEetchReag()

				if(this.reportBody.eetch_time === "")
					this.reportBody.eetch_time = this.getConstMiEetchTime()

				if(this.reportBody.emagnifi === "")
					this.reportBody.emagnifi = this.getConstMiMagnifi()
			}
			else if(this.reportType === "FC")
			{
				if(this.reportBody.eetch_reag === "")
					this.reportBody.eetch_reag = this.getConstFcEetchReag()

				if(this.reportBody.eetch_time === "")
					this.reportBody.eetch_time = this.getConstFcEetchTime()

				if(this.reportBody.emagnifi === "")
					this.reportBody.emagnifi = this.getConstFcMagnifi()
			}

			this.updateEquip(this.reportBody.eqid)

		},

		updateEquip(eqid) {
			var v = this.equiplist.filter(x => x.eqid === eqid)
			if (v.length > 0) {
				this.eqsn = v[0].eqsn
				this.calibration_date = this.DateTimeToYMD(v[0].eqcalibrat)
				this.machinecapa = v[0].eqcapacity
			}
			else{
				this.reportBody.eqid = this.equiplist[0].eqid
				this.eqsn = this.equiplist[0].eqsn
				this.calibration_date = this.DateTimeToYMD(this.equiplist[0].eqcalibrat)
				this.machinecapa = this.equiplist[0].eqcapacity
			}
		},
	},
}
</script>