<template>
	<v-container>
		<span class="text">Signature</span>
		<table class="Sigtable" style="width:100%">
			<tr>
				<th>Complete by</th>
				<th>Approved by</th>
				<th>Client Representative</th>
				<th>Reviewed by</th>
				<th>Reviewed by</th>
				<th>Owner Representative</th>
			</tr>
			<tr>
				<td>Company</td>
				<td>{{ reportBody.app_comp }}</td>
				<td>{{ reportBody.client_comp }}</td>
				<td>{{ reportBody.review_comp1 }}</td>
				<td>{{ reportBody.review_comp2 }}</td>
				<td>{{ reportBody.owner_comp }}</td>
			</tr>
			<tr>
				<td>Signature</td>
				<td />
				<td />
				<td />
				<td />
				<td />
			</tr>
			<tr>
				<td>Name</td>
				<td>{{ reportBody.app_name }}</td>
				<td />
				<td />
				<td />
				<td />
			</tr>
			<tr>
				<td>Date</td>
				<td>{{ reportBody.test_date }}</td>
				<td />
				<td />
				<td />
				<td />
			</tr>
		</table>
	</v-container>
</template>
<script>
import { HTTP } from '@/axios.js'

export default {

	props: ['reportBodySignature'],
	data() {
		return {
			menuDatePickerClientDate: false,
			menuDatePickerReview1Date: false,
			menuDatePickerReview2Date: false,
			menuDatePickerOwnerDate: false,
			reportBody: {}
		}
	},
	mounted() {
		this.reportBody = this.reportBodySignature
		this.reportBody.app_comp = this.getConstCompName()
	},
	methods: {
		mergeData(reportData) {
			return reportData
		},
		updateReportBody(projectInfo) {
			var n = this.reportBody.app_comp
			this.reportBody = projectInfo
			this.reportBody.app_comp = n
		}
	},
}
</script>
<style lang="scss" >
.sig-textfield
{
	height: 30px;
	.v-text-field__slot {
		input {
			text-align: center;
			font-size: 12px;
			height: 30px;
		}
	}

	.v-text-field.v-input--dense {
			height: 30px;
	}
}
</style>
<style lang="scss" scoped>

.text {
	font-size: 14px;
}
th, td {
	border: 1px solid black;
	height: 40px;
	width: 80px;
	text-align: center;
}
.Sigtable {
	border-collapse: collapse;
	font-size: 12px;
}



</style>