<template>
	<v-container>
		<span class="text">Custom Detail</span>
		<quill-editor ref="myQuillEditor" v-model="bodyRemark" style="width:400" :options="editorOption" @change="onEditorChange" />
	</v-container>
</template>
<script>
import { quillEditor } from 'vue-quill-editor'
export default {
	components: {
        quillEditor,
    },
	props: ['reportBodyAddition'],
	data() {
		return {
			editorOption: {
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						[{ list: 'ordered' }, { list: 'bullet' }],
						[{ script: 'sub' }, { script: 'super' }],
						[{ indent: '-1' }, { indent: '+1' }],
						[{ size: ['small', false, 'large', 'huge'] }],
						[{ color: [] }, { background: [] }],
						[{ align: [] }],
						['clean']
					]
					// syntax: {
					//   highlight: (text) => hljs.highlightAuto(text).value,
					// },
				}
			},
            defaultRemark: "",
            bodyRemark: "",
            bodyFormType: ""
		}
	},
	watch: {
		bodyRemark(newBody, oldBody) {
			if(newBody === "") this.bodyRemark = this.defaultRemark
			//this.bodyRemark = this.bodyRemark.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;');
		}
	},
	mounted() {
		this.bodyRemark = this.reportBodyAddition.remark
		this.bodyFormType = this.reportBodyAddition.form_type_cus
		this.startUp()
	},
	methods: {
		mergeData(reportData) {
			this.bodyRemark = this.bodyRemark.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;');
			reportData.remark = this.bodyRemark
			return reportData
		},
		onEditorChange(event) {
        },
		async startUp(){

			try{
				var tmp = await this.getAdditionByType(this.bodyFormType)
				if(tmp !== null){
					this.defaultRemark = tmp.rminfo
				}else{
					this.defaultRemark = ""
				}
			}
			catch(error) {
				console.error(error)
			}

            if(this.bodyRemark === "")
            {
	            this.bodyRemark = this.defaultRemark
			}
		},
	},
}
</script>