<template>
	<v-container v-if="showAddPic">
		<v-row>
			<v-col cols="12" sm="6" style="padding-left: 0px;">
				<span class="text">Amount Picture</span>
				<v-select v-model="amountPic" color="" dense 
					:items="amountPicMenu"
				/>
			</v-col>
		</v-row>
		<!--v-row>
			<v-col v-if="amountPic>=1" cols="4" class="pic-align-center">
				<p class="text" style="text-align: center; margin-bottom: 5px;">Picture 1</p>
				<v-row style="width:200px; height:200px;    margin-left: auto; margin-right: auto;" 
					no-gutters justify="center" align="center" >
					<v-img class="grey lighten-2" aspect-ratio="1"
						:src="imageUrl1"
						@click="selectImage(image)" >
					</v-img >
				</v-row>
				<v-row no-gutters style="padding-top: 10px;" >
					<v-col cols="12">
						<v-file-input no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,1)"></v-file-input>
					</v-col>
				</v-row>
			</v-col>
		</v-row-->
	</v-container>
</template>
<script>

export default {

	props: ['reportBodyAddPic', 'reportType'],
	data() {
		return {
			amountPicMenu: [ 0, 1, 2, 3 ],
			amountPic: 1,
			reportBody: {},
			showAddPic: true,
			isUploadingImage: false,
			imageUrl1: "",
			imageUrl2: "",
			imageUrl3: "",
			lineNo1: 0,
			lineNo2: 0,
			lineNo3: 0,


			title: "Image Upload",
			dialog: false,
			imageName: '',
			imageUrl: '',
			imageFile: '',

			
      		
      		images:[],
		}
	},
	mounted() {
		this.reportBody = this.reportBodyAddPic
		this.startUp()
	},
	methods: {
		//////////////////////////////
		selectImage(image) {
	      //this.selectedImage = image
	      //this.content_url = image.file_url
	    },
	    uploadClick(){
	      //this.$refs.uploadInput.click()
	    },
    
    	
    /////////////////////////
		/*pickFile() {
			this.$refs.image.click()
		},

		onFilePicked(e) 
		{
			var files = e.target.files
			if (files[0] !== undefined) {
				this.imageName = files[0].name
				if (this.imageName.lastIndexOf('.') <= 0) {
					return
				}
				const fr = new FileReader()
				fr.readAsDataURL(files[0])
				fr.addEventListener('load', () => {
					this.imageUrl = fr.result
					this.imageFile = files[0] // this is an image file that can be sent to server...
				})
			} else {
				this.imageName = ''
				this.imageFile = ''
				this.imageUrl = ''
			}
		},
		mergeData(reportData) {

			reportData.cgid = this.reportBody.cgid

			return reportData
		},*/

		callBackSend(index, url) {
			this.$emit('callback', index, url)
		},

		updateAttPic(index, url) {
			this.callBackSend(index, url)
		},
		async uploadImage(img, index){

			var path1 = this.reportBody.result_list[0].no
			var path2 = this.reportBody.result_list[0].result_no
			this.isUploadingImage = true
			try{
				var res = await this.uploadPictureResult(img, path1, path2, index)
				if(res.status === "success"){
					if(index === 1){
						this.imageUrl1 = localStorage.getItem('picurl')+res.url
						this.lineNo1 = res.line_no
						this.updateAttPic(1, this.imageUrl1)
					}else if(index === 2){
						this.imageUrl2 = localStorage.getItem('picurl')+res.url
						this.lineNo2 = res.line_no
						this.updateAttPic(2, this.imageUrl2)
					}else if(index === 3){
						this.imageUrl3 = localStorage.getItem('picurl')+res.url
						this.lineNo3 = res.line_no
						this.updateAttPic(3, this.imageUrl3)
					}
				}
			}
			catch(error) {
				console.error(error)
			}
			
			this.isUploadingImage = false
		},
		onFileSelected(file, index){
			this.uploadImage(file, index)
		},
		async startUp(){
			/*try {
				var tmp = await this.getCompareGradeListByReportType2Digit(this.reportType)
				var cg_zero = {
					cgid: 0,
					cgname: "N/A",
				}
				this.compareList = []
				this.compareList.push(cg_zero)
				for(var i = 0; i < tmp.length; i++)
				{
					this.compareList.push(tmp[i])
				}

				//for (var i = 0; i < this.comparelist.length; i++) {
				//	this.comparelist[i].cgid = parseInt(this.comparelist[i].cgid)
				//}
			} catch (error) {
				console.error(error)
			}

			if(	this.reportBody.form_type_cus === 'TSB1' || 
				this.reportBody.form_type_cus === 'TSB2' ||
				this.reportBody.form_type_cus === 'TSB3' )
			{
				this.showCompareGrade = true
			}*/
		},
	},
}
</script>
<style lang="scss" scoped>

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

.pic-align-center{
	padding-left: 0px;
	margin-left: auto;
    margin-right: auto;
}

</style>