<template>
	<v-container>
		<v-row>
			<v-col cols="12" sm="6" style="padding-left: 0px;">
				<v-text-field v-model="reportBody.customer_name" label="Customer" :readonly="true" dense />
				<v-textarea v-model="reportBody.customer_addr" label="Address" :readonly="true" dense class="pb-8" 
					spellcheck="false" height="60px" rows="3" notchecked name="input-7-1"
				/>
				<v-text-field v-model="reportBody.testproduct" label="Test Product" :readonly="true" dense class="mt-3" />
				<!-- <v-select label="Test Product" :items="customers" dense class="mt-10" required color="" /> -->
				<v-text-field v-model="reportBody.materialsp" label="Material Specification" required dense />
			</v-col>
			<v-col cols="12" sm="6" style="padding-right: 0px;">   
				<v-text-field v-model="reportBody.pname" label="Project Name" :readonly="true" dense />
				<v-text-field v-model="reportBody.pno" label="Project No." :readonly="true" dense />
				<v-text-field v-model="reportBody.wprocess" label="Welding Process" required dense />
				<v-text-field v-model="reportBody.wposition" label="Welding Position" required dense />
				<v-row>
					<v-col>
						<v-text-field v-model="reportBody.testtemp" label="Test Temperature" :readonly="true" dense />
					</v-col>
					<v-col>
						<v-text-field v-model="reportBody.test_hum" label="Humidity" :readonly="true" dense />
					</v-col>
				</v-row>
				<v-text-field v-model="reportBody.dimension" label="Dimension (mm)" required dense />
				<v-text-field v-model="reportBody.receivedate" label="Received Date" :readonly="true" dense />
			</v-col>
		</v-row>
	</v-container>
</template>
<script>
export default {
	props: ['reportBodyCustomer'],
	data() {
		return {
			reportBody: {}
		}
	},
	watch: {
	},

	mounted() {
		this.reportBody = this.reportBodyCustomer
		this.reportBody.testtemp = this.getConstTestTemp()
		this.reportBody.test_hum = this.getConstTestHumidity()
	},

	methods: {
		updateReportBody(projectInfo){
			this.reportBody = projectInfo
		}
	}
}
</script>