<template>
	<v-container>
		<v-row>
			<v-col cols="12" sm="6" style="padding-left: 0px;">
				<v-row>
					<v-col cols="12">
						<v-autocomplete v-model="reportBody.eqid" label="Equipment" color="" dense
							required
							:items="equiplist" 
							item-text="eqname" 
							item-value="eqid" 
							@change="updateEquip"
						/>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="6">
						<v-text-field v-model="eqsn" label="Serial No." dense :readonly="true" />
					</v-col>
					<v-col cols="6">
						<v-text-field v-model="calibration_date" label="Calibration Date" dense :readonly="true" />
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="6">
						<v-autocomplete v-model="reportBody.eprep" label="Preparation Method" color="" dense
							required
							:items="epreplist"
						/>
					</v-col>
					<v-col cols="6">
						<v-autocomplete v-model="reportBody.emet" label="Test Method" color="" dense 
							required 
							:items="emetlist"
						/>
					</v-col>
				</v-row>
			</v-col>
			<v-col cols="12" sm="6" style="padding-right: 0px;">
				<v-row>
					<v-col cols="12">
						<v-text-field v-model="indenter" label="Indenter" dense :readonly="true" />
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="6">
						<v-autocomplete v-model="reportBody.etest_force" label="Test Force" color="" dense
							required
							:items="forcelist" 
							item-text="tsforce" 
							item-value="tsforce" 
							@change="updateForce"
						/>
					</v-col>
					<v-col cols="6">
						<v-text-field v-model="test_scale" label="Test Scale" dense :readonly="true" />
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12">
						<v-autocomplete v-model="reportBody.erefcode" label="Reference Code / Standard" color="" dense 
							required
							:items="ecodelist"
						/>
					</v-col>
				</v-row>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>

export default {

	props: ['reportBodyEquip', 'reportType'],
	data() {
		return {
			eqsn: "",
			calibration_date: "",
			machinecapa: "",
			indenter: "",
			test_scale: "",

			reportBody: {},

			forcelist: [],

			equiplist: [],
			epreplist: [],
			ecodelist: [],
			emetlist: [],
		}
	},

	mounted() {
		this.reportBody = this.reportBodyEquip
		this.startUp()
	},

	methods: {
		mergeData(reportData) {

			reportData.eqid = this.reportBody.eqid
			reportData.eprep = this.reportBody.eprep
			reportData.emet = this.reportBody.emet
			reportData.erefcode = this.reportBody.erefcode

			reportData.etest_force = this.reportBody.etest_force

			return reportData
		},
		async startUp(){
			try {
				var data = await this.getStandardByType(this.reportType)
				this.epreplist = data.sdpreplist
				this.ecodelist = data.sdrefcodelist
				this.emetlist = data.sdmetlist
			} catch (error) {
				console.error(error)
			}

			try {
				this.equiplist = await this.getEquipListByType(this.reportType)
				for (var i = 0; i < this.equiplist.length; i++) {
					this.equiplist[i].eqid = parseInt(this.equiplist[i].eqid)
				}
			} catch (error) {
				console.error(error)
			}

			try {
				this.forcelist = await this.getTestForceListByType(this.reportType)
			} catch (error) {
				console.error(error)
			}

			switch(this.reportType)
			{
				case "HV":
					if(this.reportBody.etest_force === "")
						this.reportBody.etest_force = this.getConstHvTestForce()
				break
				case "HR":
					if(this.reportBody.etest_force === "")
						this.reportBody.etest_force = this.getConstHrTestForce()
				break
				case "HB":
					if(this.reportBody.etest_force === "")
						this.reportBody.etest_force = this.getConstHbTestForce()
				break
			}

			this.updateEquip(this.reportBody.eqid)

			this.updateForce(this.reportBody.etest_force)
		},
		updateEquip(eqid) {
			var v = this.equiplist.filter(x => x.eqid === eqid)
			if (v.length > 0) {
				this.eqsn = v[0].eqsn
				this.calibration_date = this.DateTimeToYMD(v[0].eqcalibrat)
				this.machinecapa = v[0].eqcapacity
			}
			else{
				this.reportBody.eqid = this.equiplist[0].eqid
				this.eqsn = this.equiplist[0].eqsn
				this.calibration_date = this.DateTimeToYMD(this.equiplist[0].eqcalibrat)
				this.machinecapa = this.equiplist[0].eqcapacity
			}
		},
		updateForce(force) {
			var v = this.forcelist.filter(x => x.tsforce === force)
			if (v.length > 0) {
				this.indenter = v[0].tsindent
				this.test_scale = v[0].tsscale
			}
			else{
				this.reportBody.etest_force = this.forcelist[0].tsforce
				this.indenter = this.forcelist[0].tsindent
				this.test_scale = this.forcelist[0].tsscale
			}
		},
	},
}
</script>