/**
 * Vuetify Styles Overrides
 */

// Flex min-width: 0
.v-application .d-flex {
	min-width: 0;
}

// Text Overrides
.v-application p {
	margin-bottom: 20px;
}

// List Component
.v-list-item__title {
	font-size: 0.975rem;
	font-weight: 600;
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
	margin-right: 14px !important;
}

.v-application--is-rtl {
	.v-list-item__action:first-child,
	.v-list-item__icon:first-child {
		margin-right: 0 !important;
		margin-left: 14px !important;
	}
}

.v-list-item__action:first-child,
.v-list-item__icon:first-child {
	margin-right: 14px !important;
}

.v-list-group__header__append-icon .v-icon {
	font-size: 1rem;
}

.v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
	min-width: 0 !important;
}

.v-list-item__icon {
	margin: auto;
	justify-content: center;
}

.v-list-group--sub-group .v-list-group__header {
	padding-left: $spacer !important;
}

.v-list-group__items {
	margin-bottom: $spacer;
}

// Tabs
.v-tabs-items {
	background-color: transparent !important;
}

// Buttons
.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
	background-color: #273743;
}

// Carousel
.v-window__prev,
.v-window__next {
	background: none !important;
}

.v-messages__message {
	text-align: end;
}

.centeredinput input {
	text-align: center;
	font-size: 0.8em;
}
