<template>
	<div>  Dashboard</div>

	<!-- <h1 class="text-h4">Dashboard</h1>
        <v-divider class="my-2"></v-divider> -->
	<!-- <AppCard7Demo class="pa-0" /> -->
	<!-- <UserTable class="my-0"/> -->

	<!-- <v-row dense>
      <v-col
        cols="12"
        md="9"
        xl="9"
      >
        <v-row dense>
          <v-col
            cols="9"
            md="8"
            xl="8"
          ><over-all-stat v-bind="stat" /></v-col>
          <v-col
            cols="3"
            md="4"
            xl="4"
          > <unit-traffic v-bind="card" /></v-col>
        </v-row>

        <v-row dense>
          <v-col
            cols="9"
            md="8"
            xl="8"
          ><AppCardPerfChart v-bind="stat" /></v-col>
          <v-col
            cols="3"
            md="4"
            xl="4"
          > <activity v-bind="card" /></v-col>
        </v-row>
      </v-col>

      <v-col
        cols="3"
        md="3"
        xl="3"
      ><unit-monitor v-bind="card" /></v-col>

    </v-row> -->
</template>

<script>
// import UserTable from '@/components/examples/UserTable'
// import AppCard7Demo from '@/components/ui/application/appcard/AppCard7Demo'
// import AppCardPerfChart from '@/components/ui/application/appcard/AppCardPerfChart.vue'
// import OverAllStat from '@/components/ui/application/appcard/OverAllStat.vue'
// import UnitTraffic from '@/components/ui/application/appcard/UnitTraffic.vue'
// import Activity from '@/components/ui/application/appcard/Activity.vue'
// import UnitMonitor from '@/components/ui/application/appcard/UnitMonitor.vue'

export default {
  components: {
    // UserTable,
    // AppCardPerfChart,
    // OverAllStat,
    // UnitTraffic,
    // Activity,
    // UnitMonitor
    // AppCard7Demo
  }

}
</script>
<style scoped>
/* .container{
    border: 2px solid green;
} */
/* .row{
    border: 2px solid rgb(226, 199, 199);
}
.col {
    border: 4px solid blue;
} */

</style>
