<template>
	<section class="report-ms1">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
					<td rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
					<td colspan="12" class="report-body-test-col-01 style-normal report-table-border-right ">Chemical composition (%)</td>
				</tr>
				<tr v-if="msType=='Carbon'">
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Fe</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">C</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Si</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mn</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">P</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">S</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Cr</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mo</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Ni</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Al</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Co</td>
					<td class="style-normal report-table-border-bottom report-table-border-right">Cu</td>
				</tr>
				<tr v-else-if="msType=='Stianless'">
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Fe</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">C</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Si</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mn</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">P</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">S</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Cr</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mo</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Ni</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Al</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Co</td>
					<td class="style-normal report-table-border-bottom report-table-border-right">Cu</td>
				</tr>
				<tr v-else-if="msType=='Al'">
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Al</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Si</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Fe</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Cu</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mn</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mg</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Zn</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Cr</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Ni</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Ti</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">V</td>
					<td class="style-normal report-table-border-bottom report-table-border-right">Zr</td>
				</tr>
				<tr v-else-if="msType=='Ni'">
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Ni</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Si</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mn</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Cr</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mo</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Cu</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Fe</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Co</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Ti</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Al</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Nb</td>
					<td class="style-normal report-table-border-bottom report-table-border-right">V</td>
				</tr>
				<!------------------------------------------------------------------------------------->
				<tr>
					<td colspan="14" class="report-body-test-row-blank" />
				</tr>
				<tr v-if="msType=='Carbon'">
					<td rowspan="4" class="style-normal report-table-border-bottom style-result-height">1</td>
					<td rowspan="4" class="style-normal report-table-border-bottom">
						{{ FilterReportNo_AAA_BB_C(resultDataList[0].result_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(resultDataList[0].result_no) }}</span>
					</td>
					<td class="style-normal style-result-height-2">{{ FilterBlank(resultDataList[0].fe) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].c) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].si) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].mn) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].p) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].s) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].cr) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].mo) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].ni) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].al) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].co) }}</td>
					<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList[0].cu) }}</td>
				</tr>
				<tr v-else-if="msType=='Stianless'">
					<td rowspan="4" class="style-normal report-table-border-bottom style-result-height">1</td>
					<td rowspan="4" class="style-normal report-table-border-bottom">
						{{ FilterReportNo_AAA_BB_C(resultDataList[0].result_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(resultDataList[0].result_no) }}</span>
					</td>
					<td class="style-normal style-result-height-2">{{ FilterBlank(resultDataList[0].fe) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].c) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].si) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].mn) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].p) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].s) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].cr) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].mo) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].ni) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].al) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].co) }}</td>
					<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList[0].cu) }}</td>
				</tr>
				<tr v-else-if="msType=='Al'">
					<td rowspan="4" class="style-normal report-table-border-bottom style-result-height">1</td>
					<td rowspan="4" class="style-normal report-table-border-bottom">
						{{ FilterReportNo_AAA_BB_C(resultDataList[0].result_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(resultDataList[0].result_no) }}</span>
					</td>
					<td class="style-normal style-result-height-2">{{ FilterBlank(resultDataList[0].al) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].si) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].fe) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].cu) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].mn) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].mg) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].zn) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].cr) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].ni) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].ti) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].v) }}</td>
					<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList[0].zr) }}</td>
				</tr>
				<tr v-else-if="msType=='Ni'">
					<td rowspan="4" class="style-normal report-table-border-bottom style-result-height">1</td>
					<td rowspan="4" class="style-normal report-table-border-bottom">
						{{ FilterReportNo_AAA_BB_C(resultDataList[0].result_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(resultDataList[0].result_no) }}</span>
					</td>
					<td class="style-normal style-result-height-2">{{ FilterBlank(resultDataList[0].ni) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].si) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].mn) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].cr) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].mo) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].cu) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].fe) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].co) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].ti) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].al) }}</td>
					<td class="style-normal">{{ FilterBlank(resultDataList[0].nb) }}</td>
					<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList[0].v) }}</td>
				</tr>
				<!------------------------------------------------------------------------------------->
				<tr v-if="msType=='Carbon'">
					<td class="style-normal report-table-border-bottom style-result-height-2">Nb</td>
					<td class="style-normal report-table-border-bottom">Ti</td>
					<td class="style-normal report-table-border-bottom">V</td>
					<td class="style-normal report-table-border-bottom">Sn</td>
					<td class="style-normal report-table-border-bottom">B</td>
					<td class="style-normal report-table-border-bottom">Zr</td>
					<td class="style-normal report-table-border-bottom">As</td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
				<tr v-else-if="msType=='Stianless'">
					<td class="style-normal report-table-border-bottom style-result-height-2">Nb</td>
					<td class="style-normal report-table-border-bottom">Ti</td>
					<td class="style-normal report-table-border-bottom">V</td>
					<td class="style-normal report-table-border-bottom">Sn</td>
					<td class="style-normal report-table-border-bottom">B</td>
					<td class="style-normal report-table-border-bottom">N</td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
				<tr v-else-if="msType=='Al'">
					<td class="style-normal report-table-border-bottom style-result-height-2">B</td>
					<td class="style-normal report-table-border-bottom">Ga</td>
					<td class="style-normal report-table-border-bottom">Ag</td>
					<td class="style-normal report-table-border-bottom">Ce</td>
					<td class="style-normal report-table-border-bottom">La</td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
				<tr v-else-if="msType=='Ni'">
					<td class="style-normal report-table-border-bottom style-result-height-2">C</td>
					<td class="style-normal report-table-border-bottom">P</td>
					<td class="style-normal report-table-border-bottom">S</td>
					<td class="style-normal report-table-border-bottom">Sn</td>
					<td class="style-normal report-table-border-bottom">Mg</td>
					<td class="style-normal report-table-border-bottom">Ta</td>
					<td class="style-normal report-table-border-bottom">Zr</td>
					<td class="style-normal report-table-border-bottom">B</td>
					<td class="style-normal report-table-border-bottom">N</td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
				<!------------------------------------------------------------------------------------->
				<tr>
					<td colspan="14" class="report-body-test-row-blank-2" />
				</tr>
				<tr v-if="msType=='Carbon'">
					<td class="style-normal report-table-border-bottom style-result-height-2">{{ FilterBlank(resultDataList[0].nb) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].ti) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].v) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].sn) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].b) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].zr) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].as) }}</td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
				<tr v-else-if="msType=='Stianless'">
					<td class="style-normal report-table-border-bottom style-result-height-2">{{ FilterBlank(resultDataList[0].nb) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].ti) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].v) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].sn) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].b) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].n) }}</td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
				<tr v-else-if="msType=='Al'">
					<td class="style-normal report-table-border-bottom style-result-height-2">{{ FilterBlank(resultDataList[0].b) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].ga) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].ag) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].ce) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].la) }}</td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
				<tr v-else-if="msType=='Ni'">
					<td class="style-normal report-table-border-bottom style-result-height-2">{{ FilterBlank(resultDataList[0].c) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].p) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].s) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].sn) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].mg) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].ta) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].zr) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].b) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].n) }}</td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
				<!------------------------------------------------------------------------------------->
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div v-if="showResultOnly" style="width: 100px; margin-left: auto; margin-right: auto; text-align: center; margin-top: 10px;">
							<span class="text">MS Type</span>
							<v-select v-model="msType" color="" dense :items="msTypeMenu" />
						</div>
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>

import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			locationList: null,
			remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			msType: "Carbon",
			msTypeMenu: ["Carbon", "Stianless", "Al", "Ni"],
		}
	},
	computed: {
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
		{
			this.showResultOnly = false
		}
		else 
		{
			this.showResultOnly = true
		}

		/*for(var i = 0; i < this.resultDataList.length; i++)
		{
			if (typeof this.resultDataList[i].result_no === 'undefined' && 
				typeof this.resultDataList[i].sample_no !== 'undefined' ){
				this.resultDataList[i].result_no = this.resultDataList[i].sample_no
			}
		}*/

		
		//////////////////////////
		console.log("============")
		console.log(this.resultList)

		for(var i = 0; i < this.resultList[0].msdata.length; i++)
		{
			var row = {}

			row.result_no = this.resultList[i].result_no

			//////////////////////////
			row.ag = ""
			row.al = ""
			row.as = ""
			row.b = ""
			row.c = ""
			row.ce = ""
			row.co = ""
			row.cr = ""
			row.cu = ""
			row.fe = ""
			row.ga = ""
			row.la = ""
			row.mg = ""
			row.mn = ""
			row.mo = ""
			row.n = ""
			row.nb = ""
			row.ni = ""
			row.p = ""
			row.s = ""
			row.si = ""
			row.sn = ""
			row.ta = ""
			row.ti = ""
			row.v = ""
			row.zn = ""
			row.zr = ""
			for(var j = 0; j < this.resultList[0].msdata[i].tablelist.length; j++)
			{
				var name = this.resultList[0].msdata[i].tablelist[j].elname.trim()
				var val = this.resultList[0].msdata[i].tablelist[j].elvalue.trim()

				switch(name)
				{
					case "Ag":
						row.ag = val
					break;
					case "Al":
						row.al = val
					break;
					case "As":
						row.as = val
					break;
					case "B":
						row.b = val
					break;
					case "C":
						row.c = val
					break;
					case "Ce":
						row.ce = val
					break;
					case "Co":
						row.co = val
					break;
					case "Cr":
						row.cr = val
					break;
					case "Cu":
						row.cu = val
					break;
					case "Fe":
						row.fe = val
					break;
					case "Ga":
						row.ga = val
					break;
					case "La":
						row.la = val
					break;
					case "Mg":
						row.mg = val
					break;
					case "Mn":
						row.mn = val
					break;
					case "Mo":
						row.mo = val
					break;
					case "N":
						row.n = val
					break;
					case "Nb":
						row.nb = val
					break;
					case "Ni":
						row.ni = val
					break;
					case "P":
						row.p = val
					break;
					case "S":
						row.s = val
					break;
					case "Si":
						row.si = val
					break;
					case "Sn":
						row.sn = val
					break;
					case "Ta":
						row.ta = val
					break;
					case "Ti":
						row.ti = val
					break;
					case "V":
						row.v = val
					break;
					case "Zn":
						row.zn = val
					break;
					case "Zr":
						row.zr = val
					break;
				}
			}
			this.resultDataList.push(row)
		}
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true
			for(var i =0; i < this.resultDataList.length; i++)
			{
				var tmp = this.resultDataList[i]
				try{
					var r = null
					//Add or Edit
					r = await this.editResultOptionByKey(tmp.result_no, "mstype", this.msType)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}

			return ok
		},
		async startUp(){

			for(var i = 0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					const tmp = await this.getResultOptionByResultNo(rno)

					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								if(tmp[j].name === "mstype") this.msType = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}
			
			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight

			if(h1 < 10){
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}
				
			var div = 477 - (h1 + h2)
			this.addition_height = div
		},
	}
};
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';

.report-ms1 {		    		
	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 42px;
		}

		.style-result-height{
			height: 60px;
		}
		.style-result-height-2{
			height: 19px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-sample_no{
			width: 16.8%;
		}

		.report-body-test-col-01{
			/*width: 30%;*/
		}

		.report-body-test-col-01-01{
			width: 6.7%;
		}
		

		.report-body-test-col-03{
			width: 30.5%;
		}

		.report-body-test-col-04{
			width: 10%;
		}

		.report-body-test-col-05{
			
		}

		.report-body-test-col-sample_dimen-thread{
			width: 13.5%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}

		.report-body-test-row-blank-2{
			border: 0px solid white;
		    padding: 1px;
		    border-left: 1px solid black;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}

	}
}
</style>