<template>
	<section class="report-ms2">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
					<td colspan="2" rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
					<td colspan="12" class="report-body-test-col-01 style-normal report-table-border-right report-table-border-bottom">Chemical composition (%)</td>
				</tr>
				<tr>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Fe</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">C</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Si</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mn</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">P</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">S</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Cr</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mo</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Ni</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Cu</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Nb</td>
					<td class="style-normal report-table-border-bottom report-table-border-right">Ti</td>
				</tr>
				<tr>
					<td colspan="15" class="report-body-test-row-blank" />
				</tr>
				<tr>
					<td rowspan="2" class="style-normal report-table-border-bottom style-result-height">1</td>
					<td colspan="2" class="style-normal ">093-63<span class="report-code">TS</span></td>
					<td rowspan="2" class="style-normal report-table-border-bottom style-result-height-2" />
					<td rowspan="2" class="style-normal report-table-border-bottom" />
					<td rowspan="2" class="style-normal report-table-border-bottom" />
					<td rowspan="2" class="style-normal report-table-border-bottom" />
					<td rowspan="2" class="style-normal report-table-border-bottom" />
					<td rowspan="2" class="style-normal report-table-border-bottom" />
					<td rowspan="2" class="style-normal report-table-border-bottom" />
					<td rowspan="2" class="style-normal report-table-border-bottom" />
					<td rowspan="2" class="style-normal report-table-border-bottom" />
					<td rowspan="2" class="style-normal report-table-border-bottom" />
					<td rowspan="2" class="style-normal report-table-border-bottom" />
					<td rowspan="2" class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
				<tr>
					<td colspan="2" class="style-normal report-table-border-bottom style-result-height">1</td>
				</tr>
				<tr>
					<td class="report-body-test-row-blank" />
					<td class="report-body-test-row-blank" />
					<td class="report-body-test-row-blank" />
					<td colspan="12" class="report-body-test-row-blank" />
				</tr>
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>
<script>

import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			locationList: null,
			remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
		}
	},

	computed: {
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		this.resultDataList = this.resultList
		for(var i = 0; i < this.resultDataList.length; i++)
		{
			if (typeof this.resultDataList[i].result_no === 'undefined' && 
				typeof this.resultDataList[i].sample_no !== 'undefined' ){
				this.resultDataList[i].result_no = this.resultDataList[i].sample_no
			}
		}
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true
			for(var i =0; i < this.resultDataList.length; i++)
			{
				var tmp = this.resultDataList[i]
				try{
					//Add or Edit
					var r = null
					r = await this.editResultOptionByKey(tmp.result_no, "location", tmp.location)
					if(r === false) ok = false

					r = await this.editResultOptionByKey(tmp.result_no, "remark", tmp.remark)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}

			return ok
		},
		async startUp(){
			try {
				//this.locationList = await this.getConstEditResult("location")
				//this.remarkList = await this.getConstEditResult("remark")
				this.locationList = await this.getCustomLocation()
				this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			for(var i =0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					this.resultDataList[i].location = "N/A"
					this.resultDataList[i].remark = "N/A"
					const tmp = await this.getResultOptionByResultNo(rno)
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								if(tmp[j].name === "location") this.resultDataList[i].location = tmp[j].value
								if(tmp[j].name === "remark") this.resultDataList[i].remark = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}

			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight

			if(h1 < 10){
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}
				
			var div = 477 - (h1 + h2)
			this.addition_height = div
		},
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';
.report-ms2 {
	

	    		
	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 42px;
		}

		.style-result-height{
			height: 35px;
		}
		.style-result-height-2{
			height: 19px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		.style-font-small{
			font-size: 9px;
		}

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-no-2{
			width: 13%;
		}

		.report-body-test-col-sample_no{
			width: 16.8%;
		}

		.report-body-test-col-01{
			/*width: 30%;*/
		}

		.report-body-test-col-01-01{
			width: 6.7%;
		}
		
		.report-body-test-col-01-02{
			width: 9.7%;
		}

		.report-body-test-col-03{
			width: 30.5%;
		}

		.report-body-test-col-04{
			width: 10%;
		}

		.report-body-test-col-05{
			
		}

		.report-body-test-col-sample_dimen-thread{
			width: 13.5%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}

		.report-body-test-row-blank-2{
			border: 0px solid white;
		    padding: 1px;
		    border-left: 1px solid black;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}

	}


	    		/*.report-body-remark{
	    			padding-bottom: 1px;

	    			tr.report-body-remark-additional {
	    				height: 300px;
	    			}

	    			.report-body-remark-col01 {
	    				padding-left: 2px;
	    				vertical-align: text-top;


	    				.report-body-remark-col01-title {
							width: 50px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}
						
						.report-body-remark-col01-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;					
    					}

    					.report-body-remark-col02-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;		
    						margin-left: 25px;			
    					}

    					.report-body-remark-col03-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;	
    						margin-left: 30px;
    					}

    					.report-body-remark-col04-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;	
    						margin-left: 20px;
    					}

    					.report-body-remark-col01_2-title {
							width: 77px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}
						
						.report-body-remark-col01_2-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}

						.report-body-remark-img-add-2{
							
							margin-left: 120px;
							width: 540px;
							margin-top: 70px;
							.report-body-remark-img-1{
							    width: 260px;
    							border: 1px solid black;
							}
							.report-body-remark-img-2{
								width: 260px;
								border: 1px solid black;
								margin-left: 10px;
							}
						}
	    			}
	    		}
	    		.report-body-total{
	    			padding-bottom: 1px;

	    			.report-body-total-col01 {
	    				padding-left: 2px;
	    				padding-right: 2px;
	    				width: 400px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;

	    				.report-body-total-col01-title {
							width: 215px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col01-value {
							width: 30px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col01-unit {
							display: block;
		    				float: right;
	    					margin-top: 5px;
    						margin-bottom: 5px;						
    					}
	    			}

	    			.report-body-total-col02 {

	    				padding-left: 2px;
	    				padding-right: 2px;
    					border-left: 1px solid black;
	    				border-top: 1px solid black;
    					border-right: 1px solid black;
    					border-bottom: 1px solid black;

						.report-body-total-col02-title {
							width: 170px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col02-value {
							width: 30x;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col02-unit {
							display: block;
		    				float: right;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
					}
	    		}
	    		.report-body-complete{


	    			.style-header-height{
	    				height: 20px;
	    			}

					.style-normal{
						border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				text-align: center;
					}

					.style-text-left{
						text-align: left;
						padding-left: 2px;
					}


					.report-body-complete-row-blank{
	    				border: 0px solid white;
					    padding: 1px;
					    
	    			}

	    			.report-body-complete-col-complete {
	    				padding-left: 2px;
	    				width: 75px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}
	    			.report-body-complete-col-approved {
	    				padding-left: 2px;
	    				width: 150px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}

	    			.report-body-complete-col-client {
	    				padding-left: 2px;
	    				width: 125px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}

	    			.report-body-complete-col-review {
	    				padding-left: 2px;
	    				width: 125px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}
	    			.report-body-complete-col-owner {
	    				padding-left: 2px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    				border-right: 1px solid black;
	    			}
	    		}
    		}

    		.report-footer{ 
    			text-align: left;

    			margin-top: 12px;
    			font-size: 9px;
    			margin-left: 8px;
    			margin-bottom: 22px;

    			.report-footer-col1{
    				float: left;
    				width: 75px;
    				line-height: 14px;
    				.report-footer-col1-title{
    				}
    			}

    			.report-footer-col2{
    				float: left;
    				line-height: 14px;
    				.report-footer-col2-title{
    				}
    			}
    		}

    		.report-footer-template{
    			text-align: left;
	    		.report-footer-template-title{
	    			font-size:  9px;
	    		}
	    	}
		}
	}*/
}
</style>