@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jhpcey');
  src:  url('fonts/icomoon.eot?jhpcey#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jhpcey') format('truetype'),
    url('fonts/icomoon.woff?jhpcey') format('woff'),
    url('fonts/icomoon.svg?jhpcey#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\e900";
}
.icon-account-box-outline:before {
  content: "\e901";
}
.icon-calendar-month-outline:before {
  content: "\e902";
}
.icon-chat-outline:before {
  content: "\e903";
}
.icon-cog-outline:before {
  content: "\e904";
}
.icon-file-document-outline:before {
  content: "\e905";
}
.icon-logout-variant:before {
  content: "\e906";
}
.icon-magnify:before {
  content: "\e907";
}
.icon-pencil-outline:before {
  content: "\e908";
}
.icon-printer-outline:before {
  content: "\e909";
}
.icon-trash-can-outline:before {
  content: "\e90a";
}
.icon-view-grid-outline:before {
  content: "\e90b";
}
