<template>
	<v-menu offset-y left transition="slide-y-transition">
		<template v-slot:activator="{ on }">
			<v-btn small icon class="elevation-2" v-on="on" @click="goSettingUser">
				<!-- <v-badge
          v-model="notialeart"
          color="success"
          dot
          bordered
          offset-x="5"
          offset-y="5"
        > -->
				<!-- <v-avatar size="40">
            <v-img src="/images/avatars/avatar1.svg" />
          </v-avatar> -->

				<v-avatar color="teal" size="25">
					<span class="white--text text-h6">A</span>
				</v-avatar>
				<!-- </v-badge> -->
			</v-btn>
		</template>

		<!-- user menu list -->
		<!-- <v-list dense nav>
      <v-list-item
        v-for="(item, index) in menu"
        :key="index"
        :exact="item.exact"
        :disabled="item.disabled"
        link
      >
        <v-list-item-icon>
          <v-icon small :class="{ 'grey--text': item.disabled }">{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ item.text }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider class="my-1" />

      <v-list-item link>
        <v-list-item-icon>
          <v-icon small>mdi-logout-variant</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Logout</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list> -->
	</v-menu>
</template>

<script>
/*
|---------------------------------------------------------------------
| Toolbar User Component
|---------------------------------------------------------------------
|
| Quickmenu for user menu shortcuts on the toolbar
|
*/
export default {
	data() {
		return {
			notialeart: false,
			menu: [
				{ icon: 'mdi-account-box-outline', text: 'Profile' },
				{ icon: 'mdi-cog-outline', text: 'Settings' },
				{ icon: 'mdi-chat-outline', text: 'Chat' }
			]
		}
	},
	methods: {
		goSettingUser() {
			this.$router.push('/setting/user')
		}
	}
}
</script>
