<template>
	<section class="report-ft">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
					<td rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
					<td colspan="4" class="report-body-test-col-02 style-normal">Sample Dimension (mm)</td>
					<td rowspan="2" class="report-body-test-col-03 style-normal report-table-border-bottom">Visual Examination</td>
					<td rowspan="2" class="report-body-test-col-05 style-normal report-table-border-right report-table-border-bottom">Remark</td>
				</tr>
				<tr>
					<td class="style-normal report-body-test-col-02-01 report-table-border-bottom">Thickness (1)</td>
					<td class="style-normal report-body-test-col-02-02 report-table-border-bottom">Thickness (2)</td>
					<td class="style-normal report-body-test-col-02-03 report-table-border-bottom">Width</td>
					<td class="style-normal report-body-test-col-02-04 report-table-border-bottom">Length</td>
				</tr>
				<tr>
					<td colspan="13" class="report-body-test-row-blank" />
				</tr>
				<tr v-for="(result, item_indx) in resultDataList" :key="item_indx">
					<td class="style-normal style-result-height " 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ item_indx + 1 }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterReportNo_AAA_BB_C(result.result_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(result.result_no) }}</span>
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.thickness1, 2) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.thickness2, 2) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.width, 2) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.length, 2) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.visual) }}
					</td>
					<!--######################## Custom #####################-->					
					<td v-if="!showResultOnly" class="style-normal font-8 report-table-border-right " 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.remark) }}
					</td>
					<td v-else class="style-normal report-table-border-right " 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						<v-autocomplete v-model="result.remark" dense class="select-small nb-remark" 
							:items="remarkList" 
							item-text="rminfo"  
							item-value="rminfo"
						/>
					</td>
					<!--#####################################################-->
				</tr>
				
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
						<div v-if="showResultOnly" style="width: 100px; margin-left: auto; margin-right: auto;">
							<span class="text">Amount Picture</span>
							<v-select v-model="amountPic" color="" dense :items="amountPicMenu" />
						</div>
						<div style="margin-left: auto; margin-right: auto;" :style="{width: image_section_width+'px'}">
							<div v-if="amountPic>=1" class="report-body-remark-img">
								<div class="report-body-remark-imgbg" :style="{ backgroundImage: 'url(' + imageUrlFull1 + ')' }" />
								<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,1)" />
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			locationList: null,
			remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			imageUrl1: "",
			imageUrl2: "",
			imageUrl3: "",
			imageUrl4: "",
			imageUrlFull1: "",
			imageUrlFull2: "",
			imageUrlFull3: "",
			imageUrlFull4: "",
			imagePsId1: 0,
			imagePsId2: 0,
			imagePsId3: 0,
			imagePsId4: 0,
			isUploadingImage: false,
			amountPic: 1,
			amountPicMenu: [1],
			image_section_width: 0,
		}
	},
	computed: {
	},

	watch: {
		amountPic(newVal, oldVal) {
			if(newVal === 1){
				this.image_section_width = 470
			}
		},
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		// Change follow return from api & report type 
		this.resultDataList = this.resultList[0].ftdata[0].detail
		
		for(var i = 0; i < this.resultDataList.length; i++)
		{
			if (typeof this.resultDataList[i].result_no === 'undefined')
			{
				if(typeof this.resultDataList[i].sample_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.resultDataList[i].sample_no
				}else if(typeof this.resultDataList[i].simple1_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.mergeSimpleNo(this.resultDataList[i].simple1_no, this.resultDataList[i].simple2_no)
				}
			}
		}
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true
			for(var i =0; i < this.resultDataList.length; i++)
			{
				var tmp = this.resultDataList[i]
				try{
					//Add or Edit
					var r = null
					//r = await this.editResultOptionByKey(tmp.result_no, "location", tmp.location)
					//if(r === false) ok = false

					r = await this.editResultOptionByKey(tmp.result_no, "remark", tmp.remark)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}

			return ok
		},
		async mergeData(reportData) {
			reportData.pic1 = this.imageUrl1

			//remove pic not use
			try{
				var path1 = this.resultList[0].no
				var path2 = this.resultList[0].result_no
				var pic_list = await this.getPictureResultList(path1, path2)
				for(var i = 0; i < pic_list.length; i++)
				{
					var is_use = false
					if(pic_list[i].url === reportData.pic1){
						is_use = true
					}
					if(!is_use){
						await this.removePictureResult(pic_list[i].psid)
					}
				}
			}
			catch(error) {
				console.error(error)
			}

			return reportData
		},
		async uploadImage(img, index){

			var path1 = this.resultList[0].no
			var path2 = this.resultList[0].result_no

			this.isUploadingImage = true

			try{
				var res = await this.uploadPictureResult(img, path1, path2)

				if(res.status === "success"){
					if(index === 1){
						this.imageUrl1 = res.url
						this.imageUrlFull1 = localStorage.getItem('picurl') + res.url
					}
				}
			}
			catch(error) {
				console.error(error)
			}
			
			this.isUploadingImage = false
		},
		onFileSelected(file, index){
			this.uploadImage(file, index)
		},
		async startUp(){
			try {
				//this.locationList = await this.getCustomLocation()
				this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			for(var i =0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					//this.resultDataList[i].location = "N/A"
					this.resultDataList[i].remark = "N/A"
					const tmp = await this.getResultOptionByResultNo(rno)
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								//if(tmp[j].name === "location") this.resultDataList[i].location = tmp[j].value
								if(tmp[j].name === "remark") this.resultDataList[i].remark = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}

			this.imageUrl1 = this.reportResult.pic_1_url
			this.imageUrlFull1 = localStorage.getItem('picurl') + this.reportResult.pic_1_url
			this.imageUrlFull1 = this.imageUrlFull1.replaceAll('//finish', '/finish');

			this.amountPic = 1

			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight

			if(h1 < 10){
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}
				
			var div = 477 - (h1 + h2)
			this.addition_height = div
		},
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>
.report-ft {  
	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 42px;
		}

		.style-result-height{
			height: 20px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-02{
			width: 33.4%;
		}

		.report-body-test-col-02-01{
			width: 10%;
		}
		.report-body-test-col-02-02{
			width: 10%;
		}
		.report-body-test-col-02-03{
			width: 6.8%;
		}

		.report-body-test-col-03{
			width: 37%;
		}

		.report-body-test-col-04{
			width: 10%;
		}

		.report-body-test-col-05{
			
		}

		.report-body-test-col-sample_dimen-thread{
			width: 13.5%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}
	}

	.report-body-remark{
								
		.report-body-remark-img{
			display: inline-block;
		}
		.report-body-remark-imgbg{
			width: 470px;
		    height: 240px;
			border: 1px solid black;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			margin-left: 5px;
			background-position-x: center;
    		background-position-y: center;
		}
	}
}
</style>