<template>
	<section class="pdf-content">
		<section class="report-cover">
			<section class="report-info">
				<section class="cover-details">
					<div class="cover-header-1">
						<span class="cover-text-header-1">Qualitech public company limited, LAB Division</span>
						<span class="cover-text-header-1">83/50 Moo 10, Tambol Nong Kham,</span>
						<span class="cover-text-header-1">Amphur Sri Racha, Chonburi, 20230</span>
						<span class="cover-text-header-1">Tel. 033-005-161 to 3</span>
						<div class="report-body-result-graph logo-nsc" :style="{ backgroundImage: 'url(/images/nsc.png)'}" />
						<div class="report-body-result-graph logo-ilac" :style="{ backgroundImage: 'url(/images/ilac.png)'}" />
					</div>
					<div class="cover-header-2">
						<span class="cover-text-header-2">MECHANICAL AND METALLURGICAL TESTING LABORATORY</span>
					</div>
					<div class="cover-header-2">
						<span class="cover-text-header-2">TEST REPORT</span>
					</div>
					<div class="cover-detail-name">
						<table ref="contentHeight01" class="cover-detail-name-table-right">
							<tr>
								<td class="key"><span class="cover-text-normal">Report No.</span></td>
								<td class="colon"><span class="cover-text-normal">:</span></td>
								<td class="val"><span class="cover-text-normal">{{ reportData.report_no_cover_1 }}</span></td>
							</tr>
							<tr v-if="reportData.report_no_cover_2!=''">
								<td />
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.report_no_cover_2 }}</span></td>
							</tr>
							<tr v-if="reportData.report_no_cover_3!=''">
								<td />
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.report_no_cover_3 }}</span></td>
							</tr>
							<tr v-if="reportData.report_no_cover_4!=''">
								<td />
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.report_no_cover_4 }}</span></td>
							</tr>
							<tr v-if="reportData.report_no_cover_5!=''">
								<td />
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.report_no_cover_5 }}</span></td>
							</tr>
							<tr v-if="reportData.report_no_cover_6!=''">
								<td />
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.report_no_cover_6 }}</span></td>
							</tr>
							<tr v-if="reportData.report_no_cover_7!=''">
								<td />
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.report_no_cover_7 }}</span></td>
							</tr>
							<tr>
								<td><span class="cover-text-normal">Page</span></td>
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.all_page }}</span></td>
							</tr>
							<tr>
								<td><span class="cover-text-normal">Test Date</span></td>
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ FilterDateTime(reportData.test_date) }}</span></td>
							</tr>
						</table>
					</div>

					<div class="cover-detail-name">
						<table class="cover-detail-name-table-left">
							<tr>
								<td class="key"><span class="cover-text-normal">Test No.</span></td>
								<td class="colon"><span class="cover-text-normal">:</span></td>
								<td class="val"><span class="cover-text-normal">{{ FilterReportNo_AAA_BB(reportData.test_no) }}</span></td>
							</tr>
							<tr>
								<td colspan="3"><br></td>
							</tr>
							<tr>
								<td><span class="cover-text-normal">Received Date</span></td>
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ FilterDateTime(reportData.receivedate) }}</span></td>
							</tr>
							<tr>
								<td colspan="3"><br></td>
							</tr>
							<tr>
								<td><span class="cover-text-normal">Customer</span></td>
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.customer_name }}</span></td>
							</tr>
							<tr>
								<td colspan="3"><br></td>
							</tr>
							<tr>
								<td><span class="cover-text-normal">Address</span></td>
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.customer_addr }}</span></td>
							</tr>
							<tr>
								<td colspan="3"><br></td>
							</tr>
							<tr>
								<td><span class="cover-text-normal">Test Product</span></td>
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.testproduct }}</span></td>
							</tr>
							<tr>
								<td colspan="3"><br></td>
							</tr>
							<tr>
								<td><span class="cover-text-normal">Project Name</span></td>
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.pname }}</span></td>
							</tr>
							<tr>
								<td colspan="3"><br></td>
							</tr>
							<tr>
								<td><span class="cover-text-normal">Project No</span></td>
								<td><span class="cover-text-normal">:</span></td>
								<td><span class="cover-text-normal">{{ reportData.pno }}</span></td>
							</tr>
						</table>
					</div>

					<div class="cover-detail-name margin-center" style="margin-top: 25px;width: 655px;">
						<hr class="hr-1">
					</div>

					<div class="cover-detail-name">
						<table class="cover-approve-table-right">
							<tr>
								<td class="key"><span class="cover-text-normal">Approved by</span></td>
								<td class="colon"><span class="cover-text-normal">:</span></td>
								<td class="val">
									<span class="cover-text-normal" style="border-bottom: 2px solid black;color: #fff;">_________________________________</span>
								</td>
							</tr>
							<tr style="line-height: 15px;">
								<td />
								<td><span class="cover-text-normal" /></td>
								<td><span class="cover-text-normal" style="margin-left: 40px;">{{ managerName }}</span></td>
							</tr>
							<tr style="line-height: 15px;">
								<td />
								<td><span class="cover-text-normal" /></td>
								<td><span class="cover-text-normal">&nbsp;</span></td>
							</tr>
							<tr>
								<td />
								<td><span class="cover-text-normal" /></td>
								<td><span class="cover-text-normal" style="margin-left: 38px;">{{ managerPosition }}</span></td>
							</tr>
						</table>
					</div>
					<div class="cover-detail-name margin-center" style="margin-top: 30px;width: 655px;">
						<hr class="hr-1">
						<div class="margin-center" style="text-align: center;">
							<span class="cover-text-normal margin-center" style="margin-left: 38px;">Laboratory of Qualitech plc wasn't accredited in testing scope that show *(an asterisk)</span>
						</div>
					</div>
					<div class="report-footer-template" :style="{'margin-top': addition_height + 'px'}">
						<span class="report-footer-template-title">FM-RP-00</span>
					</div>
				</section>
			</section>
		</section>
	</section>
</template>
<script>

export default {
	props: ['reportData'],
	data() {
		return {
			managerName: "",
			managerPosition: "",
			addition_height: 50,
		};
	},
	computed: {
	},
	mounted () {
		this.managerName = this.getConstManagerName()
		this.managerPosition = this.getConstManagerPosition()
		this.autoSetHeight()
	},
	methods: {
		autoSetHeight(){
			var h1 = this.$refs.contentHeight01.clientHeight
			var div = 220 - h1
			this.addition_height = div
		}
	}
};
</script>

<style lang="scss" scoped>
@import '../assets/pdf.scss';
.pdf-content {
	width: 100%;
	background: #fff;
	height: 1099px;
	/*border-bottom: 1px dotted #ddd;*/
	.report-cover{
		.report-info {
			display: flex;
			padding: 20px;
			padding-bottom: 0px;

			.image-container {
				width: 75px;
				height: 75px;
				border-radius: 50%;
				overflow: hidden;
				position: relative;
				margin-right: 25px;
				border: 1px solid #dadada;

				.user-image {
					height: 100%;
					min-width: 100%;
					margin-left: 50%;
					transform: translateX(-50%);
				}
			}

			.cover-details {
				display: flex;
				flex-direction: column;
				flex-shrink: 0;
				width:  100%;

				/*border-bottom: 1px dotted #ddd;*/
			
				.cover-header-1{
					margin-top: 8px;
					height: 90px;

					.cover-text-header-1{
						display: block;
						font-size: 10px;
						line-height: 22px;
						text-align: center;
					}

					.logo-nsc{
						position: relative;
						left: 330px;
						top: -104px;
						width: 116px;
						height: 116px;
					}

					.logo-ilac{
						position: relative;
						left: 220px;
						top: -240px;
						width: 90px;
						height: 90px; 
					}

					.report-body-result-graph {
						margin-left: auto;
						margin-right: auto;
						margin-top: 20px;
						margin-bottom: 20px;
						background-size: contain;
						background-repeat: no-repeat;
					}
				}

				.cover-header-2{
					margin-top: 40px;

					.cover-text-header-2{
						display: block;
						font-size: 18px;
						text-align: center;
						line-height: 20px;
						font-weight: 600;
					}
				}

					.margin-center{
						margin-left: auto;
						margin-right: auto;
					}

					hr.hr-1{
						border: 1px solid black;
					}

				.cover-detail-name{
					text-align: left;

					

					.cover-detail-name-table-right{
						float: right;
						margin-top: 20px;
						width: 355px;
						line-height: 25px;

						.key{
							width: 70px;
						}
						.colon{
							width: 20px;
						}
						.val{
						}
					}

					.cover-approve-table-right{
						float: right;
						margin-top: 80px;
						width: 405px;

						.key{
							width: 95px;
						}
						.colon{
							width: 20px;
						}
						.val{
						}
					}

					.cover-detail-name-table-left{
						float: left;
						margin-top: 20px;
						margin-left: 50px;
						width: 640px;
						line-height: 24px;

						.key{
							width: 115px;
						}
						.colon{
							width: 20px;
						}
						.val{
						}
					}

					.cover-text-normal{
						font-size: 12px;
					}
					.cover-text-normal-red{
						font-size: 12px;
						color: red;
					}
				}

				.report-footer-template{
					text-align: left;
					.report-footer-template-title{ 
						font-size:  9px;
					}
				}
			}
		}
	}
}
</style>