<template>
	<v-container class="my-auto">
		<v-responsive max-width="400" class="mx-auto text-center">
			<!-- <div class="text-overline secondary--text mb-3">Account</div> -->
			<!-- <h2 class="text-h3 text-lg-h2 mb-6">Your Account</h2> -->
			<!-- <v-img class="rounded-lg" :aspect-ratio="$vuetify.breakpoint.lgAndDown ? 1 : undefined" :src="require('@/assets/images/Logo_QL.jpg')" alt="" /> -->
			<v-img class="mx-auto" style="" max-width="350" :src="require('@/assets/images/QLTLogo.png')" alt="" />
		</v-responsive>
		<br>
		<v-card class="pa-4 mx-auto" max-width="400">
			<!-- <v-card-title>
        <v-divider class="my-1" />
        <div class="mx-2">Sign In</div>
        <v-divider class="my-1" />
      </v-card-title> -->
			<v-card-text>
				<v-text-field dense label="Username" readonly outlined />
				<v-text-field dense label="Password" readonly outlined hide-details />
				<!-- <v-checkbox dense label="Remember Password" /> -->
				<br>
				<br>
				<v-btn :disabled="bntLogin" block class="red" style="color: white" large @click="goHome">LogIn</v-btn>
				<div class="text-center mt-2 text-body-2">
					<router-link to="#">Forgot your password?</router-link>
				</div>
				<!-- <div class="d-flex my-3">
          <v-divider class="my-1" />
          <div class="text-overline mx-1">Or Sign In With</div>
          <v-divider class="my-1" />
        </div>

        <div class="d-flex justify-space-between">
          <v-btn outlined large class="flex-grow-1" color="secondary lighten-1">
            <v-icon>mdi-facebook</v-icon>
          </v-btn>
          <v-btn outlined large class="flex-grow-1 mx-2" color="secondary lighten-1">
            <v-icon>mdi-twitter</v-icon>
          </v-btn>
          <v-btn outlined large class="flex-grow-1" color="secondary lighten-1">
            <v-icon>mdi-google</v-icon>
          </v-btn>
        </div>-->
			</v-card-text>
		</v-card>
		<div class="py-2 mx-auto" style="max-width: 600px">
			<v-progress-linear v-if="loadiing" style="width: 600px; margin: 0 auto" color="red accent-4" indeterminate rounded height="6" />
		</div>
		<!-- <div class="text-overline text-uppercase mt-3 text-center">
      By signing in, you agree to the
      <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a>
    </div> -->
	</v-container>
</template>
<script>
import axios from 'axios'

import { HTTP } from '@/axios.js'
export default {
	data() {
		return {
			loadiing: true,
			bntLogin: true,
			capdigit: 4,
			btndis: true,
			cok: 0,
			Loginform: {
				username: '',
				password: ''
			},
			loginvalue: [],
			// alerterror: false,
			loading: false,
			lock: true,
			// rules: {
			//   username: [
			//     { required: true, message: 'Please input username', trigger: 'blur' }
			//   ]
			// },
			isDisabled: true,
			xxx: false,
			cpwidth: 150,
			ver: '',
			version: null
		}
	},
	mounted: function () {
		this.loginOnload()
	},
	methods: {
		async loginOnload() {
			await this.AutoLogin()
			await this.getver()
			this.bntLogin = false
		},
		AutoLogin(user) {
			return HTTP.get(localStorage.getItem('apiurl') + 'loginform', {
				params: {
					username: 'admin',
					password: 'golf009'
				}
			})
				.then((response) => {
					this.loginvalue = response
					if (this.loginvalue.data.status === 1) {
						localStorage.setItem('tokenkey', this.loginvalue.data.Token)
						localStorage.setItem('admintoken', this.loginvalue.data.Token)
						this.loadiing = false
						this.$root.vtoast.show({ message: 'AutoLogin() Success', color: 'success' })
					} else {
						return false
					}
				})
				.catch((err) => {
					console.error(err)
				})
		},
		getver() {
			return axios
				.get('../baseURL.json')
				.then((result) => {
					localStorage.setItem('apiurl', result.data.apiURL)
					localStorage.setItem('picurl', result.data.picURL)
					HTTP.get(localStorage.getItem('apiurl') + 'version').then((response) => {
						this.version = response
						this.ver = this.version.data.version
						localStorage.setItem('version', this.version.data.version)
						this.$root.vtoast.show({ message: 'getver() Success', color: 'success' })
					})
				})
				.catch((err) => {
					console.error(err)
				})
		},
		goHome() {
			this.$router.push('/testreports')
		}
	}
}
</script>
