<template>
	<section class="report-bd">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
					<td rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
					<td rowspan="2" class="report-body-test-col-spec_type style-normal report-table-border-bottom">Specimen<br><br>Type</td>
					<td colspan="3" class="report-body-test-col-spec_dimen style-normal">Specimen Dimension (mm)</td>
					<td rowspan="2" class="report-body-test-col-mandrel_diameter style-normal report-table-border-bottom">Mandrel Diameter<br><br>(mm)</td>
					<td rowspan="2" class="report-body-test-col-bend_angle style-normal report-table-border-bottom">Bend Angle<br><br>(Degree)</td>
					<td rowspan="2" class="report-body-test-col-visually style-normal report-table-border-bottom">Visually examined result for<br><br>Surfacediscontinuities</td>
					<td rowspan="2" class="report-body-test-col-remark style-normal report-table-border-right report-table-border-bottom">Remark</td>
				</tr>
				<tr>
					<td class="report-body-test-col-spec-before style-normal report-table-border-bottom">Thickness</td>
					<td class="report-body-test-col-spec style-normal report-table-border-bottom">Width</td>
					<td class="style-normal report-table-border-bottom">Length</td>
				</tr>
				<tr>
					<td colspan="13" class="report-body-test-row-blank" />
				</tr>
				<tr v-for="(result, item_indx) in resultDataList" :key="item_indx">
					<td class="style-normal style-result-height " 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ item_indx + 1 }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterReportNo_AAA_BB_C(result.result_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(result.result_no) }}</span>
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ BD_SpecType(FilterReportNo_xxD(result.result_no)) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.thickness, 2) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.width, 2) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.length, 2) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.mandrel) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.angle) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.visually) }}
					</td>
					<!--######################## Custom #####################-->
					<td v-if="!showResultOnly" class="style-normal font-8 report-table-border-right " 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.remark) }}
					</td>
					<td v-else class="style-normal report-table-border-right " 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						<v-autocomplete v-model="result.remark" dense class="select-small bd-remark" 
							:items="remarkList" 
							item-text="rminfo"  
							item-value="rminfo"
						/>
					</td>
					<!--#####################################################-->
				</tr>
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
						<div v-if="showResultOnly" style="width: 100px; margin-left: auto; margin-right: auto;">
							<span class="text">Amount Picture</span>
							<v-select v-model="amountPic" color="" dense :items="amountPicMenu" />
						</div>
						<div style="margin-left: auto; margin-right: auto;" :style="{width: image_section_width+'px'}">
							<div v-if="amountPic>=1" style="width: 260px; display: inline-block;">
								<div class="report-body-remark-img-1" :style="{ backgroundImage: 'url(' + imageUrlFull1 + ')' }" />
								<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,1)" />
							</div>
							<div v-if="amountPic>=2" style="width: 260px; display: inline-block;">
								<div class="report-body-remark-img-2" :style="{ backgroundImage: 'url(' + imageUrlFull2 + ')' }" />
								<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,2)" />
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			locationList: null,
			remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			imageUrl1: "",
			imageUrl2: "",
			imageUrlFull1: "",
			imageUrlFull2: "",
			isUploadingImage: false,
			amountPic: 0,
			amountPicMenu: [0, 1, 2],
			image_section_width: 0,
		}
	},
	computed: {
	},

	watch: {
		amountPic(newVal, oldVal) {
			if(newVal === 1){
				this.image_section_width = 260
			} else if(newVal === 2){
				this.image_section_width = 520
			}
		},
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		// Change follow return from api & report type 
		var tmp = this.resultList[0].bddata

		for(var i = 0; i < tmp.length; i++)
		{
			this.resultDataList.push(tmp[i].detail[0])
			
			//replace BD with SB1 or FB1 or etc
			this.resultDataList[i].result_no = this.mergeSimpleNo(this.resultDataList[i].simple1_no, this.resultDataList[i].simple2_no)
			//var rno = rno.replace('BD', this.resultDataList[i].simple2_no)
		}
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true
			for(var i =0; i < this.resultDataList.length; i++)
			{
				var tmp = this.resultDataList[i]
				try{
					//Add or Edit
					var r = null
					//r = await this.editResultOptionByKey(tmp.result_no, "location", tmp.location)
					//if(r === false) ok = false

					r = await this.editResultOptionByKey(tmp.result_no, "remark", tmp.remark)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}

			return ok
		},
		async mergeData(reportData) {
			if(this.amountPic === 0){
				reportData.pic1 = ""
				reportData.pic2 = ""
			}else if(this.amountPic === 1){
				reportData.pic1 = this.imageUrl1
				reportData.pic2 = ""
			}else if(this.amountPic === 2){
				reportData.pic1 = this.imageUrl1
				reportData.pic2 = this.imageUrl2
			}

			//remove pic not use
			try{
				var path1 = this.resultList[0].no
				var path2 = this.resultList[0].result_no
				var pic_list = await this.getPictureResultList(path1, path2)
				for(var i = 0; i < pic_list.length; i++)
				{
					var is_use = false
					if(pic_list[i].url === reportData.pic1){
						is_use = true
					}
					else if(pic_list[i].url === reportData.pic2){
						is_use = true
					}
					if(!is_use){
						await this.removePictureResult(pic_list[i].psid)
					}
				}
			}
			catch(error) {
				console.error(error)
			}

			return reportData
		},
		async uploadImage(img, index){

			var path1 = this.resultList[0].no
			var path2 = this.resultList[0].result_no
			this.isUploadingImage = true
			try{
				var res = await this.uploadPictureResult(img, path1, path2)
				if(res.status === "success"){
					if(index === 1){
						this.imageUrl1 = res.url
						this.imageUrlFull1 = localStorage.getItem('picurl') + res.url
					}else if(index === 2){
						this.imageUrl2 = res.url
						this.imageUrlFull2 = localStorage.getItem('picurl') + res.url
					}
				}
			}
			catch(error) {
				console.error(error)
			}
			
			this.isUploadingImage = false
		},
		onFileSelected(file, index){
			this.uploadImage(file, index)
		},
		async startUp(){
			try {
				//this.locationList = await this.getCustomLocation()
				this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			for(var i =0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					//this.resultDataList[i].location = "N/A"
					this.resultDataList[i].remark = "N/A"
					const tmp = await this.getResultOptionByResultNo(rno)
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								//if(tmp[j].name === "location") this.resultDataList[i].location = tmp[j].value
								if(tmp[j].name === "remark") this.resultDataList[i].remark = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}

			this.imageUrl1 = this.reportResult.pic_1_url
			this.imageUrl2 = this.reportResult.pic_2_url

			this.imageUrlFull1 = localStorage.getItem('picurl') + this.reportResult.pic_1_url
			this.imageUrlFull2 = localStorage.getItem('picurl') + this.reportResult.pic_2_url

			this.imageUrlFull1 = this.imageUrlFull1.replaceAll('//finish', '/finish');
			this.imageUrlFull2 = this.imageUrlFull2.replaceAll('//finish', '/finish');

			if(this.imageUrl2 !== "") this.amountPic = 2
			else if(this.imageUrl1 !== "") this.amountPic = 1
			else this.amountPic = 0

			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight

			if(h1 < 10){
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}
				
			var div = 477 - (h1 + h2)
			this.addition_height = div
		},
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';


.report-bd {  

	.report-body-test{
		padding-bottom: 1px;

		.style-header-height{
			height: 40px;
		}

		.style-result-height{
			height: 22px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-spec_type{
			width: 10%;
		}

		.report-body-test-col-spec_dimen{
			width: 20.2%;
		}

		.report-body-test-col-mandrel_diameter{
			width: 13.3%;
		}

		.report-body-test-col-bend_angle{
			width: 10%;
		}

		.report-body-test-col-visually{
			width: 20%;
		}

		.report-body-test-col-elongation{
			width: 6.7%;
		}

		.report-body-test-col-reduction{
			width: 6.7%;
		}

		.report-body-test-col-remark{
			/*width: 45px;*/
		}

		.report-body-test-col-rowsplit{
			width: 50px;
		}

		.report-body-test-col-spec-before{
			width: 6.7%;
		}

		.report-body-test-col-spec{
			width: 6.7%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}

	}

	.report-body-remark{
								
		
		.report-body-remark-img-1{
		    width: 260px;
		    height: 160px;
			border: 1px solid black;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			background-position-x: center;
    		background-position-y: center;
		}
		.report-body-remark-img-2{
			width: 260px;
			height: 160px;
			border: 1px solid black;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			margin-left: 10px;
			background-position-x: center;
    		background-position-y: center;
		}
	}
}
</style>