<template>
	<section class="report-tsw">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
					<td rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
					<td rowspan="2" class="report-body-test-col-spec style-normal report-table-border-bottom">Specifid<br>Mass</td>
					<td rowspan="2" class="report-body-test-col-tol style-normal report-table-border-bottom">Tolerance<br>(%) Average</td>
					<td colspan="2" class=" style-normal">Tolerance</td>
					<td rowspan="2" class="report-body-test-col-dwl style-normal report-table-border-bottom">Diameter</td>
					<td rowspan="2" class="report-body-test-col-dwl style-normal report-table-border-bottom">Weight</td>
					<td rowspan="2" class="report-body-test-col-dwl style-normal report-table-border-bottom">Length</td>
					<td rowspan="2" class="report-body-test-col-mass style-normal report-table-border-bottom">Mass<br>(kg/m)</td>
					<td rowspan="2" class="report-body-test-col-avg style-normal report-table-border-right report-table-border-bottom">Average<br>(kg/m)</td>
				</tr>
				<tr>
					<td class="style-normal report-body-test-col-tol_min report-table-border-bottom">Min</td>
					<td class="report-body-test-col-tol_min style-normal report-table-border-bottom">Max</td>
				</tr>
				<tr>
					<td colspan="13" class="report-body-test-row-blank" />
				</tr>
				<tr v-for="(result, item_indx) in resultDataList" :key="item_indx">
					<td class="style-normal style-result-height " 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ item_indx + 1 }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						<!--{{ FilterReportNo_AAA_BB_C(result.sample_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(result.sample_no) }}</span-->
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.spec_mass, 3) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.toler_avg) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.toler_min, 3) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.toler_max, 3) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.diameter, 2) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.width, 3) }}
					</td>
					<td class="style-normal" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.length, 3) }}
					</td>
					<td class="style-normal font-8" 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.mass, 3) }}
					</td>
					<td v-if="(item_indx + 3) % 3 ==0" rowspan="3" class="style-normal report-table-border-right" 
						:class="[ (item_indx == resultDataList.length - 3) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.avg, 3) }}
					</td>
					<!--#####################################################-->
				</tr>
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>
<script>

import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			locationList: null,
			remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
		}
	},

	computed: {
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		var tmp = this.resultList[0].mmdata
		
		for(var i = 0; i < tmp.length; i++)
		{
			this.resultDataList.push(tmp[i].tablelist[0])

			if (typeof this.resultDataList[i].result_no === 'undefined')
			{
				if(typeof this.resultDataList[i].sample_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.resultDataList[i].sample_no
				}else if(typeof this.resultDataList[i].simple1_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.mergeSimpleNo(this.resultDataList[i].simple1_no, this.resultDataList[i].simple2_no)
				}
			}
		}

		var sum = 0
		for( i = 0; i < this.resultDataList.length; i++)
		{
			sum += parseFloat(this.resultDataList[i].mass)
			if(i>0 && (i+1)%3===0)
			{
				this.resultDataList[i].avg = sum/3
				this.resultDataList[i-1].avg = sum/3
				this.resultDataList[i-2].avg = sum/3
				sum = 0
			}
			/*tmp = ""
			if(this.resultDataList[i].avg !== "")
			{
				tmp = this.resultDataList[i].avg
			}

			if(i>0 && (i+1)%3===0)
			{
				this.resultDataList[i].avg = tmp
				this.resultDataList[i-1].avg = tmp
				this.resultDataList[i-2].avg = tmp
				tmp = ""
			}*/
		}
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true
			for(var i =0; i < this.resultDataList.length; i++)
			{
				var tmp = this.resultDataList[i]
				try{
					//Add or Edit
					var r = null
					r = await this.editResultOptionByKey(tmp.result_no, "location", tmp.location)
					if(r === false) ok = false

					r = await this.editResultOptionByKey(tmp.result_no, "remark", tmp.remark)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}

			return ok
		},
		async startUp(){
			try {
				//this.locationList = await this.getConstEditResult("location")
				//this.remarkList = await this.getConstEditResult("remark")
				this.locationList = await this.getCustomLocation()
				this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			for(var i =0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					this.resultDataList[i].location = "N/A"
					this.resultDataList[i].remark = "N/A"
					const tmp = await this.getResultOptionByResultNo(rno)
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								if(tmp[j].name === "location") this.resultDataList[i].location = tmp[j].value
								if(tmp[j].name === "remark") this.resultDataList[i].remark = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}

			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight

			if(h1 < 10){
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}
				
			var div = 477 - (h1 + h2)
			this.addition_height = div
		},
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';

.report-tsw {
	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 42px;
		}

		.style-result-height{
			height: 20px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
				margin-right: 10px;
			}

		}

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-sample_no{
			width: 10.2%;
		}

		.report-body-test-col-spec{
			width: 6.5%;
		}

		.report-body-test-col-tol{
			width: 16.8%;
		}

		.report-body-test-col-tol_min{
			width: 10.1%;
		}
		.report-body-test-col-tol_max{
			width: 10.1%;
		}

		.report-body-test-col-dwl{
			width: 6.7%;
		}

		.report-body-test-col-mass{
			width: 10%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
			padding: 1px;
			/*border-top: 1px solid black;
			border-left: 1px solid white;
			border-right: 1px solid white;*/
		}

	}
}
</style>
