<template>
	<section class="report-ftn">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
					<td rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
					<td colspan="3" class="report-body-test-col-02 style-normal">Sample Dimension (mm)</td>
					<td rowspan="2" class="report-body-test-col-04 style-normal report-table-border-bottom">Hight (mm)</td>
					<td colspan="2" rowspan="2" class="report-body-test-col-03 style-normal report-table-border-bottom">Visual Examination</td>
					<td rowspan="2" class="report-body-test-col-05 style-normal report-table-border-right report-table-border-bottom">Remark</td>
				</tr>
				<tr>
					<td class="style-normal report-body-test-col-02-01 report-table-border-bottom">Diameter</td>
					<td class="style-normal report-body-test-col-02-02 report-table-border-bottom">Width</td>
					<td class="style-normal report-body-test-col-02-03 report-table-border-bottom">Thickness</td>
				</tr>
				<tr>
					<td colspan="13" class="report-body-test-row-blank" />
				</tr>
				<!--template v-for="(result, item_indx) in resultDataList" :key="item_indx"-->
				<template v-for="(result, item_indx) in resultDataList">
					<tr :key="'1tr-'+item_indx">
						<td rowspan="2" class="style-normal style-result-height" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							{{ item_indx + 1 }}
						</td>
						<td rowspan="2" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							{{ FilterReportNo_AAA_BB_C(result.result_no) }}
							<span class="report-code">{{ FilterReportNo_xxD(result.result_no) }}</span>
						</td>
						<td rowspan="2" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							{{ FilterBlank(result.diameter, 2) }}
						</td>
						<td rowspan="2" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							{{ FilterBlank(result.width, 2) }}
						</td>
						<td rowspan="2" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							{{ FilterBlank(result.thickness, 2) }}
						</td>
						<td class="style-normal ">
							{{ FilterBlank(result.hight1, 1) }}
						</td>
						<!--######################## Fill able #####################-->
						<td v-if="!showResultOnly" class="style-normal report-body-test-col-vis-01">
							{{ FilterBlank(result.new_visual1_1) }}
						</td>
						<td v-else class="style-normal">
							<v-text-field v-model="new_visual1_1[item_indx]" class="centered-input" dense required hide-details />
						</td>
						<!--======================================================-->
						<td v-if="!showResultOnly" class="style-normal ">
							{{ FilterBlank(result.new_visual1_2) }}
						</td>
						<td v-else class="style-normal">
							<v-text-field v-model="new_visual1_2[item_indx]" class="centered-input" dense required hide-details />
						</td>
						<!--======================================================-->
						<!--######################## Custom #####################-->
						<td v-if="!showResultOnly" class="style-normal report-table-border-right">
							{{ FilterBlank(result.remark1) }}
						</td>
						<td v-else class="style-normal report-table-border-right" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							<v-autocomplete v-model="result.remark1" dense hide-details class="select-small ftn-remark" 
								:items="remarkList" 
								item-text="rminfo"  
								item-value="rminfo"
							/>
						</td>
						<!--======================================================-->
					</tr>
					<tr :key="'2tr-'+item_indx">
						<td class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							{{ FilterBlank(result.hight2, 1) }}
						</td>
						<!--######################## Fill able #####################-->
						<td v-if="!showResultOnly" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							{{ FilterBlank(result.new_visual2_1) }}
						</td>
						<td v-else class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							<v-text-field v-model="new_visual2_1[item_indx]" class="centered-input" dense required hide-details />
						</td>
						<!--======================================================-->
						<td v-if="!showResultOnly" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							{{ FilterBlank(result.new_visual2_2) }}
						</td>
						<td v-else class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							<v-text-field v-model="new_visual2_2[item_indx]" class="centered-input" dense required hide-details />
						</td>
						<!--======================================================-->
						<!--######################## Custom #####################-->
						<td v-if="!showResultOnly" class="style-normal report-table-border-right" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							{{ FilterBlank(result.remark2) }}
						</td>
						<td v-else class="style-normal report-table-border-right" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
							<v-autocomplete v-model="result.remark2" dense hide-details class="select-small ftn-remark" 
								:items="remarkList" 
								item-text="rminfo"  
								item-value="rminfo"
							/>
						</td>
						<!--#####################################################-->
					</tr>
				</template>
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			locationList: null,
			remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			new_visual1_1: [],
			new_visual1_2: [],
			new_visual2_1: [],
			new_visual2_2: [],
		}
	},

	computed: {
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		this.resultDataList = this.resultList[0].ftndata[0].detail
		for(var i = 0; i < this.resultDataList.length; i++)
		{
			if (typeof this.resultDataList[i].result_no === 'undefined')
			{
				if(typeof this.resultDataList[i].sample_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.resultDataList[i].sample_no
				}else if(typeof this.resultDataList[i].simple1_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.mergeSimpleNo(this.resultDataList[i].simple1_no, this.resultDataList[i].simple2_no)
				}
			}
		}


		/*var tmp = this.resultList[0].ftndata

		for(var i = 0; i < tmp.length; i++)
		{
			this.resultDataList.push(tmp[i].detail[0])

			if (typeof this.resultDataList[i].result_no === 'undefined')
			{
				if(typeof this.resultDataList[i].sample_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.resultDataList[i].sample_no
				}else if(typeof this.resultDataList[i].simple1_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.resultDataList[i].simple1_no+this.resultDataList[i].simple2_no
				}
			}
		}*/

	},
	mounted() {
		this.startUp()
	},
	methods: {
		loadDefaultData() {
			this.onLoad = true
			for(var i = 0; i < this.resultDataList.length; i++)
			{
				this.new_visual1_1[i] = this.resultDataList[i].visual1_1
				this.new_visual1_2[i] = this.resultDataList[i].visual1_2
				this.new_visual2_1[i] = this.resultDataList[i].visual2_1 
				this.new_visual2_2[i] = this.resultDataList[i].visual2_2
			}
			this.onLoad = false
		},
		async saveResultOption() {

			var ok = true
			for(var i =0; i < this.resultDataList.length; i++)
			{
				try{
					var r = null
					//Add or Edit
					//r = await this.editResultOptionByKey(tmp.result_no, "location", tmp.location)
					//if(r === false) ok = false

					r = await this.editResultOptionByKey(this.resultDataList[i].result_no, "visual1_1", this.new_visual1_1[i])
					if(r === false) ok = false
					r = await this.editResultOptionByKey(this.resultDataList[i].result_no, "visual1_2", this.new_visual1_2[i])
					if(r === false) ok = false
					r = await this.editResultOptionByKey(this.resultDataList[i].result_no, "visual2_1", this.new_visual2_1[i])
					if(r === false) ok = false
					r = await this.editResultOptionByKey(this.resultDataList[i].result_no, "visual2_2", this.new_visual2_2[i])
					if(r === false) ok = false
					r = await this.editResultOptionByKey(this.resultDataList[i].result_no, "remark1", this.resultDataList[i].remark1)
					if(r === false) ok = false
					r = await this.editResultOptionByKey(this.resultDataList[i].result_no, "remark2", this.resultDataList[i].remark2)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}

			return ok
		},
		async startUp(){

			try {
				this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			for(var i = 0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					this.new_visual1_1[i] = "-"
					this.new_visual1_2[i] = "-"
					this.new_visual2_1[i] = "-"
					this.new_visual2_2[i] = "-"
					this.resultDataList[i].remark1 = "N/A"
					this.resultDataList[i].remark2 = "N/A"

					this.resultDataList[i].hight1 = this.resultDataList[i].hight1
					this.resultDataList[i].hight2 = this.resultDataList[i].hight2

					const tmp = await this.getResultOptionByResultNo(rno)
					
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								if(tmp[j].name === "visual1_1") this.resultDataList[i].new_visual1_1 = tmp[j].value
								if(tmp[j].name === "visual1_2") this.resultDataList[i].new_visual1_2 = tmp[j].value
								if(tmp[j].name === "visual2_1") this.resultDataList[i].new_visual2_1 = tmp[j].value
								if(tmp[j].name === "visual2_2") this.resultDataList[i].new_visual2_2 = tmp[j].value

								if(tmp[j].name === "visual1_1") this.new_visual1_1[i] = tmp[j].value
								if(tmp[j].name === "visual1_2") this.new_visual1_2[i] = tmp[j].value
								if(tmp[j].name === "visual2_1") this.new_visual2_1[i] = tmp[j].value
								if(tmp[j].name === "visual2_2") this.new_visual2_2[i] = tmp[j].value

								if(tmp[j].name === "remark1") this.resultDataList[i].remark1 = tmp[j].value
								if(tmp[j].name === "remark2") this.resultDataList[i].remark2 = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}

			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.autoSetHeight()
			}
		},
		autoSetHeight(){
			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight
			var div = 477 - (h1 + h2)
			this.addition_height = div
		}
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';

    .centered-input input {
    	text-align: center !important;
    	font-size: 10px;
    }

    .centered-input .v-input__slot {
    	top:  -3px !important;
		background-color: #DBEEF3;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
    }

</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';
@import '../assets/contentbody.scss';

.report-ftn {

	    		
	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 42px;
		}

		.style-result-height{
			height: 40px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-02{
			width: 30%;
		}

		.report-body-test-col-02-01{
			width: 10%;
		}
		.report-body-test-col-02-02{
			width: 10%;
		}

		.report-body-test-col-03{
			width: 30.5%;
		}

		.report-body-test-col-04{
			width: 10%;
		}

		.report-body-test-col-05{
			
		}

		.report-body-test-col-vis-01{
			width: 18%;
		}

		.report-body-test-col-sample_dimen-thread{
			width: 13.5%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}

	}
}
</style>