$body-font-family: 'Heebo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
$font-size-root: 14px;
$line-height-root: 1.5;

$font-weights: (
	'thin': 100,
	'light': 200,
	'regular': 300,
	'medium': 400,
	'bold': 700,
	'black': 900
);

$heading-font-family: $body-font-family;

$headings: (
	'h1': (
		'size': 4.2rem,
		'weight': 900,
		'line-height': 1,
		'letter-spacing': 0,
		'font-family': $heading-font-family,
		'text-transform': false
	),
	'h2': (
		'size': 3rem,
		'weight': 900,
		'line-height': 3rem,
		'letter-spacing': -0.0083333333em,
		'font-family': $heading-font-family,
		'text-transform': false
	),
	'h3': (
		'size': 2.75rem,
		'weight': 900,
		'line-height': 2.9rem,
		'letter-spacing': normal,
		'font-family': $heading-font-family,
		'text-transform': false
	),
	'h4': (
		'size': 2rem,
		'weight': 900,
		'line-height': 2.2rem,
		'letter-spacing': 0.0073529412em,
		'font-family': $heading-font-family,
		'text-transform': false
	),
	'h5': (
		'size': 1.4rem,
		'weight': 400,
		'line-height': 2rem,
		'letter-spacing': normal,
		'font-family': $heading-font-family,
		'text-transform': false
	),
	'h6': (
		'size': 1.18rem,
		'weight': 400,
		'line-height': 2rem,
		'letter-spacing': 0.0125em,
		'font-family': $heading-font-family
	),
	'subtitle-1': (
		'size': 1rem,
		'weight': 600,
		'line-height': 1.75rem,
		'letter-spacing': 0.009375em,
		'font-family': $body-font-family
	),
	'caption': (
		'size': 0.75rem,
		'weight': 400,
		'letter-spacing': 0.0333333333em,
		'line-height': 1.25rem,
		'font-family': $body-font-family
	),
	'overline': (
		'size': 0.625rem,
		'weight': 400,
		'letter-spacing': 0.1666666667em,
		'line-height': 1rem,
		'font-family': $body-font-family
	)
);
