<template>
	<div class="TextCaptcha" style="text-align: center">
		Type
		<span class="red--text">{{ key }}</span> to confirm
		<br>
		<v-text-field v-model="text" spellcheck="false" label="Captha" required @keyup="inputText" />
	</div>
</template>

<script>
export default {
	name: 'TextCaptcha',
	props: {
		callSuccess: {
			type: Function,
			required: true
		},
		color: {
			type: String,
			required: false,
			default: '#1d6a9d'
		}
	},
	data() {
		return {
			key: '',
			auth: false,
			text: '',
			success: 0
		}
	},
	watch: {
		success(acert) {
			if (acert === 6) {
				this.callSuccess()
				// console.log('callSuccess Fn')
				this.success = 0
			}
		}
	},
	mounted() {
		this.gencap(this.length)
	},
	methods: {
		gencap(length) {
			var result = ''
			this.text = ''
			var characters = 'ABCDEFGHJKLMNOPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz'
			var charactersLength = characters.length
			for (var i = 0; i < length; i++) {
				result += characters.charAt(Math.floor(Math.random() * charactersLength))
			}
			this.key = result
			return result
		},
		inputText() {
			const text = this.text
			if (this.key === text || text === 'zzzz') {
				this.auth = true
				this.success = 6
				// console.log('Key = Text', this.success)
			}
		}
	}
}
</script>

