<template>
	<v-snackbar v-model="showSnackbar" transition="slide-x-reverse-transition" :color="color" :timeout="timer" min-width="0" :width="width" bottom right>
		<!-- <v-icon left>{{ icon }}</v-icon> -->
		<h3 style="text-align: center">{{ message }}</h3>
	</v-snackbar>
</template>

<script>
export default {
	name: 'Vtoast',
	data() {
		return {
			showSnackbar: false,
			message: '',
			color: 'success',
			icon: 'mdi-check',
			timer: 3000,
			width: 200
		}
	},
	methods: {
		show(data) {
			this.message = data.message || 'missing "message".'
			this.color = data.color || 'success'
			this.timer = data.timer || 3000
			this.width = data.width || 200
			this.icon = data.icon || 'mdi-check'
			this.showSnackbar = true
		}
	}
}
</script>