<template>
	<section class="report-ma">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">Sample No.</td>
					<td class="report-body-test-col-02 style-normal report-table-border-bottom">Macrostructure Description</td>
					<td class="report-body-test-col-05 style-normal report-table-border-right report-table-border-bottom">Remark</td>
				</tr>
				<!--tr>
					<td colspan="13" class="report-body-test-row-blank"></td>
				</tr-->
				<tr v-for="(result, item_indx) in resultDataList" :key="item_indx">
					<td class="style-normal style-result-height" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterReportNo_AAA_BB_C(result.result_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(result.result_no) }}</span>
					</td>
					<!--######################## Custom #####################-->
					<td v-if="!showResultOnly" class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.macro) }}
					</td>
					<td v-else class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						<v-autocomplete v-model="result.macro" dense class="select-small ma-macro" 
							:items="macroList" 
							item-text="msname"  
							item-value="msname"
						/>
					</td>
					<!----------------------->
					<td v-if="!showResultOnly" class="style-normal font-8 report-table-border-right " 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						{{ FilterBlank(result.remark) }}
					</td>
					<td v-else class="style-normal report-table-border-right " 
						:class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]"
					>
						<v-autocomplete v-model="result.remark" dense class="select-small ma-remark" 
							:items="remarkList" 
							item-text="rminfo"  
							item-value="rminfo"
						/>
					</td>
					<!--#####################################################-->
				</tr>
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
						<div v-if="showResultOnly" style="width: 100px; margin-left: auto; margin-right: auto;">
							<span class="text">Amount Picture</span>
							<v-select v-model="amountPic" color="" dense :items="amountPicMenu" />
						</div>
						<div style="margin-left: auto; margin-right: auto;" :style="{width: image_section_width+'px'}">
							<div v-if="amountPic>=1" style="display: inline-block;" :style="{width: image_each_width+'px'}">
								<div class="report-body-remark-img-1" :style="{backgroundImage: 'url(' + imageUrlFull1 + ')', width: image_each_width+'px', height: image_each_height+'px'}" />
								<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,1)" />
							</div>
							<div v-if="amountPic>=2" style="display: inline-block;" :style="{width: image_each_width+'px'}">
								<div class="report-body-remark-img-2" :style="{backgroundImage: 'url(' + imageUrlFull2 + ')', width: image_each_width+'px', height: image_each_height+'px'}" />
								<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,2)" />
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>
					<!--div class="report-body-remark">
						<table class="report-body-table-border">
							<tr class="report-body-remark-additional">
								<td class="report-body-remark-col01">
									<div class="report-body-remark-img-add-2">
										<img class="report-body-remark-img-1" src="@/assets/mm.png">
										<img class="report-body-remark-img-2" src="@/assets/mm.png">
									</div>
									<div class="report-body-remark-col01_2-title">Additional Details :</div>
								</td>
							</tr>
						</table>
					</div>
					<report-body-total />
					<report-body-complete />

				</div>

				<report-footer />
				<div class="report-footer-template">
					<span class="report-footer-template-title">FM-TS-02</span>
				</div>
			</section>
		</section>
	</section>
</template-->

<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip2.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			macroList: null,
			remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			imageUrl1: "",
			imageUrl2: "",
			imageUrlFull1: "",
			imageUrlFull2: "",
			isUploadingImage: false,
			amountPic: 1,
			amountPicMenu: [1, 2],
			image_section_width: 500,
			image_each_width: 500,
			image_each_height: 350,
		}
	},
	computed: {
	},

	watch: {
		amountPic(newVal, oldVal) {
			if(newVal === 1){
				this.image_section_width = 500
				this.image_each_width = 500
				this.image_each_height = 350
			} else if(newVal === 2){
				this.image_section_width = 700
				this.image_each_width = 345
				this.image_each_height = 260
			}
		},
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		// Change follow return from api & report type 

		var tmp = this.resultList[0].madata

		for(var i = 0; i < tmp.length; i++)
		{
			var str_arr = tmp[i].urlimage.split("/");
			var file = str_arr[str_arr.length-1]
			var rno = file.replace(/\.[^/.]+$/, "")

			var tmp2 = {
				result_no: rno,
				file_name: tmp[i].urlimage,
				macro: "",
				remark: "N/A"
			}

			this.resultDataList.push(tmp2)
		}
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true
			for(var i =0; i < this.resultDataList.length; i++)
			{
				var tmp = this.resultDataList[i]
				try{
					//Add or Edit
					var r = null

					r = await this.editResultOptionByKey(tmp.result_no, "remark", tmp.remark)
					if(r === false) ok = false

					r = await this.editResultOptionByKey(tmp.result_no, "macro", tmp.macro)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}

			return ok
		},
		async mergeData(reportData) {
			if(this.amountPic === 1){
				reportData.pic1 = this.imageUrl1
				reportData.pic2 = ""
			}else if(this.amountPic === 2){
				reportData.pic1 = this.imageUrl1
				reportData.pic2 = this.imageUrl2
			}

			//remove pic not use
			try{
				var path1 = this.resultList[0].no
				var path2 = this.resultList[0].result_no
				var pic_list = await this.getPictureResultList(path1, path2)
				for(var i = 0; i < pic_list.length; i++)
				{
					var is_use = false
					if(pic_list[i].url === reportData.pic1){
						is_use = true
					}
					else if(pic_list[i].url === reportData.pic2){
						is_use = true
					}
					if(!is_use){
						await this.removePictureResult(pic_list[i].psid)
					}
				}
			}
			catch(error) {
				console.error(error)
			}

			return reportData
		},
		async uploadImage(img, index){

			var path1 = this.resultList[0].no
			var path2 = this.resultList[0].result_no
			this.isUploadingImage = true
			try{
				var res = await this.uploadPictureResult(img, path1, path2)
				if(res.status === "success"){
					if(index === 1){
						this.imageUrl1 = res.url
						this.imageUrlFull1 = localStorage.getItem('picurl') + res.url
					}else if(index === 2){
						this.imageUrl2 = res.url
						this.imageUrlFull2 = localStorage.getItem('picurl') + res.url
					}
				}
			}
			catch(error) {
				console.error(error)
			}
			
			this.isUploadingImage = false
		},
		onFileSelected(file, index){
			this.uploadImage(file, index)
		},
		async startUp(){
			try {
				this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			try {
				this.macroList = await this.getCustomMacro()
			} catch (error) {
				console.error(error)
			}

			for(var i =0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					this.resultDataList[i].remark = "N/A"
					this.resultDataList[i].macro = ""

					const tmp = await this.getResultOptionByResultNo(rno)
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								if(tmp[j].name === "remark") this.resultDataList[i].remark = tmp[j].value
								if(tmp[j].name === "macro") this.resultDataList[i].macro = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}

				if(this.resultDataList[i].remark === "") this.resultDataList[i].remark = this.remarkList[0].rminfo
				if(this.resultDataList[i].macro === "") this.resultDataList[i].macro = this.macroList[0].msname
			}

			if(this.reportResult.pic_1_url !== "")
			{
				this.imageUrl1 = this.reportResult.pic_1_url
				this.imageUrlFull1 = localStorage.getItem('picurl') + this.reportResult.pic_1_url
				this.imageUrlFull1 = this.imageUrlFull1.replaceAll('//finish', '/finish');
			}else{
				if(this.resultDataList.length >= 1){
					this.imageUrl1 = this.resultDataList[0].file_name
					this.imageUrlFull1 = localStorage.getItem('picurl') + this.resultDataList[0].file_name
					this.imageUrlFull1 = this.imageUrlFull1.replaceAll('//finish', '/finish');
				}else{
					this.imageUrl1 = ""
					this.imageUrlFull1 = ""
				}
			}

			if(this.reportResult.pic_2_url !== "")
			{
				this.imageUrl2 = this.reportResult.pic_2_url
				this.imageUrlFull2 = localStorage.getItem('picurl') + this.reportResult.pic_2_url
				this.imageUrlFull2 = this.imageUrlFull2.replaceAll('//finish', '/finish');
			}else{
				if(this.resultDataList.length >= 2){
					this.imageUrl2 = this.resultDataList[0].file_name
					this.imageUrlFull2 = localStorage.getItem('picurl') + this.resultDataList[0].file_name
					this.imageUrlFull2 = this.imageUrlFull2.replaceAll('//finish', '/finish');
				}else{
					this.imageUrl2 = ""
					this.imageUrlFull2 = ""
				}
			}

			if(this.resultDataList.length >= 2) this.amountPic = 2
			else if(this.resultDataList.length >= 1) {
				if(this.imageUrl2 !== "") this.amountPic = 2
				else this.amountPic = 1
			}

			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight

			if(h1 < 10){
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}
				
			var div = 477 - (h1 + h2)
			this.addition_height = div
		},
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>


<style lang="scss" scoped>

.report-ma {  
	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 20px;
		}

		.style-result-height{
			height: 20px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		.report-body-test-col-no{
			width: 13%;
		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-02{
			width: 77.5%;
		}

		.report-body-test-col-02-01{
			width: 10%;
		}
		.report-body-test-col-02-02{
			width: 10%;
		}

		.report-body-test-col-03{
			width: 30.5%;
		}

		.report-body-test-col-04{
			width: 10%;
		}

		.report-body-test-col-05{
			
		}

		.report-body-test-col-sample_dimen-thread{
			width: 13.5%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}
	}

	.report-body-remark{

		.report-body-remark-img-1{
			margin-top: 25px;
			border: 1px solid black;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			background-position-x: center;
			background-position-y: center;
		}
		.report-body-remark-img-2{
			margin-left: 10px;
			margin-top: 25px;
			border: 1px solid black;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			background-position-x: center;
			background-position-y: center;
		}
	}
/*

	    		.report-body-remark{
	    			padding-bottom: 1px;

	    			tr.report-body-remark-additional {
	    				height: 415px;
	    			}

	    			.report-body-remark-col01 {
	    				padding-left: 2px;
	    				vertical-align: text-top;

						.report-body-remark-img-add-2{
							
							margin-left: auto;
							margin-right: auto;
							width: 720px;
							margin-top: 40px;
							margin-bottom: 60px;
							
							.report-body-remark-img-1{
							    width: 355px;
    							border: 1px solid black;
							}
							.report-body-remark-img-2{
								width: 355px;
								border: 1px solid black;
								margin-left: 5px;

							}
						}

	    				.report-body-remark-col01-title {
							width: 50px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}
						
						.report-body-remark-col01-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;					
    					}

    					.report-body-remark-col02-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;		
    						margin-left: 25px;			
    					}

    					.report-body-remark-col03-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;	
    						margin-left: 30px;
    					}

    					.report-body-remark-col04-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;	
    						margin-left: 20px;
    					}

    					.report-body-remark-col01_2-title {
							width: 77px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}
						
						.report-body-remark-col01_2-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}


	    			}
	    		}
	    		.report-body-total{
	    			padding-bottom: 1px;

	    			.report-body-total-col01 {
	    				padding-left: 2px;
	    				padding-right: 2px;
	    				width: 400px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;

	    				.report-body-total-col01-title {
							width: 215px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col01-value {
							width: 30px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col01-unit {
							display: block;
		    				float: right;
	    					margin-top: 5px;
    						margin-bottom: 5px;						
    					}
	    			}

	    			.report-body-total-col02 {

	    				padding-left: 2px;
	    				padding-right: 2px;
    					border-left: 1px solid black;
	    				border-top: 1px solid black;
    					border-right: 1px solid black;
    					border-bottom: 1px solid black;

						.report-body-total-col02-title {
							width: 170px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col02-value {
							width: 30x;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col02-unit {
							display: block;
		    				float: right;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
					}
	    		}
	    		.report-body-complete{

	    			.style-header-height{
	    				height: 20px;
	    			}

					.style-normal{
						border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				text-align: center;
					}

					.style-text-left{
						text-align: left;
						padding-left: 2px;
					}


					.report-body-complete-row-blank{
	    				border: 0px solid white;
					    padding: 1px;
	    			}

	    			.report-body-complete-col-complete {
	    				padding-left: 2px;
	    				width: 75px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}
	    			.report-body-complete-col-approved {
	    				padding-left: 2px;
	    				width: 150px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}

	    			.report-body-complete-col-client {
	    				padding-left: 2px;
	    				width: 125px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}

	    			.report-body-complete-col-review {
	    				padding-left: 2px;
	    				width: 125px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}
	    			.report-body-complete-col-owner {
	    				padding-left: 2px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    				border-right: 1px solid black;
	    			}
	    		}
    		}

    		.report-footer{ 
    			text-align: left;

    			margin-top: 12px;
    			font-size: 9px;
    			margin-left: 8px;
    			margin-bottom: 22px;

    			.report-footer-col1{
    				float: left;
    				width: 75px;
    				line-height: 14px;
    				.report-footer-col1-title{
    				}
    			}

    			.report-footer-col2{
    				float: left;
    				line-height: 14px;
    				.report-footer-col2-title{
    				}
    			}
    		}

    		.report-footer-template{
    			text-align: left;
	    		.report-footer-template-title{
	    			font-size:  9px;
	    		}
	    	}
		}
	}*/
}
</style>