<template>
	<section class="report-hv3col">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr>
					<td>
						<div class="report-body-test">
							<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
								<tr>
									<td rowspan="2" class="report-body-test-col-title style-normal style-header-height ">Sample No.
										<span class="report-code">{{ FilterReportNo_AAA_BB_C(resultDataList.result_no) }}</span>
										<span class="report-code">{{ FilterReportNo_xxD(resultDataList.result_no) }}</span>
										<br>Test Location
									</td>
									<td colspan="6" class="report-body-test-col-hv style-normal report-table-border-right ">Hardness Value</td>
								</tr>
								<tr>
									<td class="style-normal report-body-test-col-pt ">Point No.</td>
									<td class="style-normal report-body-test-col-line ">Line 1</td>
									<td class="style-normal report-body-test-col-pt ">Point No.</td>
									<td class="style-normal report-body-test-col-line ">Line 2</td>
									<td class="style-normal report-body-test-col-pt ">Point No.</td>
									<td class="style-normal report-body-test-col-line report-table-border-right ">Line 3</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Base Metal of Left Side</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_01, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Base Metal of Left Side</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_01, 1) }}</td>
									<td class="style-normal">16</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_16, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Base Metal of Left Side</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_01, 1) }}</td>
									<td class="style-normal">16</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_16, 1) }}</td>
									<td class="style-normal">31</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_31, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Base Metal of Left Side</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_01, 1) }}</td>
									<td class="style-normal">9</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_09, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is20Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Base Metal of Left Side</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_01, 1) }}</td>
									<td class="style-normal">11</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_11, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Base Metal of Left Side</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_01, 1) }}</td>
									<td class="style-normal">10</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_10, 1) }}</td>
									<td class="style-normal">21</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_21, 1) }}</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td class="style-normal2">2</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_02, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td class="style-normal2">2</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_02, 1) }}</td>
									<td class="style-normal2">17</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_17, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td class="style-normal2">2</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_02, 1) }}</td>
									<td class="style-normal2">17</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_17, 1) }}</td>
									<td class="style-normal2">32</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_32, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point || is20Point || is29Point">
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td class="style-normal2">3</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_03, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td class="style-normal2">3</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_03, 1) }}</td>
									<td class="style-normal2">18</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_18, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td class="style-normal2">3</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_03, 1) }}</td>
									<td class="style-normal2">18</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_18, 1) }}</td>
									<td class="style-normal2">33</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_33, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point || is20Point || is29Point">
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Left Side</td>
									<td class="style-normal">4</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_04, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Left Side</td>
									<td class="style-normal">4</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_04, 1) }}</td>
									<td class="style-normal">19</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_19, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Left Side</td>
									<td class="style-normal">4</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_04, 1) }}</td>
									<td class="style-normal">19</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_19, 1) }}</td>
									<td class="style-normal">34</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_34, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Left Side</td>
									<td class="style-normal">2</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_02, 1) }}</td>
									<td class="style-normal">10</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_10, 1) }}</td>
									<td class="style-normal">17</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_17, 1) }}</td>
								</tr>
								<tr v-else-if="is20Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Left Side</td>
									<td class="style-normal">2</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_02, 1) }}</td>
									<td class="style-normal">12</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_12, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Left Side</td>
									<td class="style-normal">2</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_02, 1) }}</td>
									<td class="style-normal">11</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_11, 1) }}</td>
									<td class="style-normal">22</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_22, 1) }}</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td class="style-normal2">5</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_05, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td class="style-normal2">5</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_05, 1) }}</td>
									<td class="style-normal2">20</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_20, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td class="style-normal2">5</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_05, 1) }}</td>
									<td class="style-normal2">20</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_20, 1) }}</td>
									<td class="style-normal2">35</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_35, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point">
									<td class="style-normal2">3</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_03, 1) }}</td>
									<td class="style-normal2">11</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_11, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is20Point">
									<td class="style-normal2">3</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_03, 1) }}</td>
									<td class="style-normal2">13</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_13, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td class="style-normal2">3</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_03, 1) }}</td>
									<td class="style-normal2">12</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_12, 1) }}</td>
									<td class="style-normal2">23</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_23, 1) }}</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td class="style-normal2">6</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_06, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td class="style-normal2">6</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_06, 1) }}</td>
									<td class="style-normal2">21</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_21, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td class="style-normal2">6</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_06, 1) }}</td>
									<td class="style-normal2">21</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_21, 1) }}</td>
									<td class="style-normal2">36</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_36, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point">
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is20Point">
									<td class="style-normal2">4</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_04, 1) }}</td>
									<td class="style-normal2">14</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_14, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">13</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_13, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Weld Metal</td>
									<td class="style-normal">7</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_07, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Weld Metal</td>
									<td class="style-normal">7</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_07, 1) }}</td>
									<td class="style-normal">22</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_22, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Weld Metal</td>
									<td class="style-normal">7</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_07, 1) }}</td>
									<td class="style-normal">22</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_22, 1) }}</td>
									<td class="style-normal">37</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_37, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Weld Metal</td>
									<td class="style-normal">4</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_04, 1) }}</td>
									<td class="style-normal">12</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_12, 1) }}</td>
									<td class="style-normal">18</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_18, 1) }}</td>
								</tr>
								<tr v-else-if="is20Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Weld Metal</td>
									<td class="style-normal">5</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_05, 1) }}</td>
									<td class="style-normal">15</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_15, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Weld Metal</td>
									<td class="style-normal">4</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_04, 1) }}</td>
									<td class="style-normal">14</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_14, 1) }}</td>
									<td class="style-normal">24</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_24, 1) }}</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td class="style-normal2">8</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_08, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td class="style-normal2">8</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_08, 1) }}</td>
									<td class="style-normal2">23</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_23, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td class="style-normal2">8</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_08, 1) }}</td>
									<td class="style-normal2">23</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_23, 1) }}</td>
									<td class="style-normal2">38</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_38, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point">
									<td class="style-normal2">5</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_05, 1) }}</td>
									<td class="style-normal2">13</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_13, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is20Point">
									<td class="style-normal2">6</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_06, 1) }}</td>
									<td class="style-normal2">16</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_16, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td class="style-normal2">5</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_05, 1) }}</td>
									<td class="style-normal2">15</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_15, 1) }}</td>
									<td class="style-normal2">25</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_25, 1) }}</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td class="style-normal2">9</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_09, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td class="style-normal2">9</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_09, 1) }}</td>
									<td class="style-normal2">24</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_24, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td class="style-normal2">9</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_09, 1) }}</td>
									<td class="style-normal2">24</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_24, 1) }}</td>
									<td class="style-normal2">39</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_39, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point || is20Point">
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td class="style-normal2">6</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_06, 1) }}</td>
									<td class="style-normal2">16</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_16, 1) }}</td>
									<td class="style-normal2">26</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_26, 1) }}</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Right Side</td>
									<td class="style-normal">10</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_10, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Right Side</td>
									<td class="style-normal">10</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_10, 1) }}</td>
									<td class="style-normal">25</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_25, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Right Side</td>
									<td class="style-normal">10</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_10, 1) }}</td>
									<td class="style-normal">25</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_25, 1) }}</td>
									<td class="style-normal">40</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_40, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Right Side</td>
									<td class="style-normal">6</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_06, 1) }}</td>
									<td class="style-normal">14</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_14, 1) }}</td>
									<td class="style-normal">19</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_19, 1) }}</td>
								</tr>
								<tr v-else-if="is20Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Right Side</td>
									<td class="style-normal">7</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_07, 1) }}</td>
									<td class="style-normal">17</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_17, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Right Side</td>
									<td class="style-normal">7</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_07, 1) }}</td>
									<td class="style-normal">17</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_17, 1) }}</td>
									<td class="style-normal">27</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_27, 1) }}</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td class="style-normal2">11</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_11, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td class="style-normal2">11</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_11, 1) }}</td>
									<td class="style-normal2">26</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_26, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td class="style-normal2">11</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_11, 1) }}</td>
									<td class="style-normal2">26</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_26, 1) }}</td>
									<td class="style-normal2">41</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_41, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point">
									<td class="style-normal2">7</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_07, 1) }}</td>
									<td class="style-normal2">15</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_15, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is20Point">
									<td class="style-normal2">8</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_08, 1) }}</td>
									<td class="style-normal2">18</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_18, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td class="style-normal2">8</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_08, 1) }}</td>
									<td class="style-normal2">18</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_18, 1) }}</td>
									<td class="style-normal2">28</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_28, 1) }}</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td class="style-normal2">12</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_12, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td class="style-normal2">12</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_12, 1) }}</td>
									<td class="style-normal2">27</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_27, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td class="style-normal2">12</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_12, 1) }}</td>
									<td class="style-normal2">27</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_27, 1) }}</td>
									<td class="style-normal2">42</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_42, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point">
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is20Point">
									<td class="style-normal2">9</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_09, 1) }}</td>
									<td class="style-normal2">19</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_19, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">19</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_19, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom ">Base Metal of Right Side</td>
									<td class="style-normal">13</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_13, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom ">Base Metal of Right Side</td>
									<td class="style-normal">13</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_13, 1) }}</td>
									<td class="style-normal">28</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_28, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom ">Base Metal of Right Side</td>
									<td class="style-normal">13</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_13, 1) }}</td>
									<td class="style-normal">28</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_28, 1) }}</td>
									<td class="style-normal">43</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_43, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom ">Base Metal of Right Side</td>
									<td class="style-normal">8</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_08, 1) }}</td>
									<td class="style-normal">16</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_16, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is20Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom ">Base Metal of Right Side</td>
									<td class="style-normal">10</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_10, 1) }}</td>
									<td class="style-normal">20</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_20, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is29Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom ">Base Metal of Right Side</td>
									<td class="style-normal">9</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_09, 1) }}</td>
									<td class="style-normal">20</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_20, 1) }}</td>
									<td class="style-normal">29</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_29, 1) }}</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td class="style-normal2">14</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_14, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td class="style-normal2">14</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_14, 1) }}</td>
									<td class="style-normal2">29</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_29, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td class="style-normal2">14</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_14, 1) }}</td>
									<td class="style-normal2">29</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_29, 1) }}</td>
									<td class="style-normal2">44</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_44, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point || is20Point || is29Point">
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<!------------------------------------------------------------->
								<tr v-if="is15Point">
									<td class="style-normal2 report-table-border-bottom">15</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_15, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom">-</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is30Point">
									<td class="style-normal2 report-table-border-bottom">15</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_15, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">30</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_30, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is45Point">
									<td class="style-normal2 report-table-border-bottom">15</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_15, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">30</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_30, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">45</td>
									<td class="style-normal3 report-table-border-bottom report-table-border-right">{{ FilterBlank(resultDataList.point_45, 1) }}</td>
								</tr>
								<tr v-else-if="is19Point || is20Point || is29Point">
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom">-</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom">-</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom report-table-border-right">-</td>
								</tr>
								<!------------------------------------------------------------->
							</table>
						</div>
					</td>
				</tr>
				<tr class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>

import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip4.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 15,
			intervalSetHeight: 0,
			//locationList: null,
			//remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
		}
	},

	computed: {

		is15Point()
		{
			if(this.getAllPoint() === 15) return true;
			return false;
		},

		is30Point()
		{
			if(this.getAllPoint() === 30) return true;
			return false;
		},

		is45Point()
		{
			if(this.getAllPoint() === 45) return true;
			return false;
		},

		is19Point()
		{
			if(this.getAllPoint() === 19) return true;
			return false;
		},

		is20Point()
		{
			if(this.getAllPoint() === 20) return true;
			return false;
		},

		is29Point()
		{
			if(this.getAllPoint() === 29) return true;
			return false;
		}
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		this.resultDataList = this.resultList[0]

		var count = 0
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_01 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_02 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_03 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_04 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_05 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_06 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_07 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_08 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_09 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_10 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_11 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_12 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_13 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_14 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_15 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_16 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_17 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_18 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_19 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_20 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_21 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_22 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_23 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_24 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_25 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_26 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_27 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_28 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_29 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_30 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_31 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_32 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_33 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_34 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_35 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_36 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_37 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_38 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_39 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_40 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_41 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_42 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_43 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_44 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_45 = this.resultDataList.hvdata[count++].hardness
	},
	mounted() {
		this.startUp()
	},
	methods: {

		async startUp(){
			try {
				//this.locationList = await this.getCustomLocation()
				//this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			this.onLoad = false

		},

		getAllPoint(){
			if (typeof this.resultDataList.point_45 !== 'undefined' ||
				typeof this.resultDataList.point_44 !== 'undefined' ||
				typeof this.resultDataList.point_43 !== 'undefined' ||
				typeof this.resultDataList.point_42 !== 'undefined' ||
				typeof this.resultDataList.point_41 !== 'undefined' ||
				typeof this.resultDataList.point_40 !== 'undefined' ||
				typeof this.resultDataList.point_39 !== 'undefined' ||
				typeof this.resultDataList.point_38 !== 'undefined' ||
				typeof this.resultDataList.point_37 !== 'undefined' ||
				typeof this.resultDataList.point_36 !== 'undefined' ||
				typeof this.resultDataList.point_35 !== 'undefined' ||
				typeof this.resultDataList.point_34 !== 'undefined' ||
				typeof this.resultDataList.point_33 !== 'undefined' ||
				typeof this.resultDataList.point_32 !== 'undefined' ||
				typeof this.resultDataList.point_31 !== 'undefined' ) 
			{
				return 45;
			}
			else if (typeof this.resultDataList.point_30 !== 'undefined') 
			{
				return 30;
			}
			else if (typeof this.resultDataList.point_29 !== 'undefined' ||
					typeof this.resultDataList.point_28 !== 'undefined' ||
					typeof this.resultDataList.point_27 !== 'undefined' ||
					typeof this.resultDataList.point_26 !== 'undefined' ||
					typeof this.resultDataList.point_25 !== 'undefined' ||
					typeof this.resultDataList.point_24 !== 'undefined' ||
					typeof this.resultDataList.point_23 !== 'undefined' ||
					typeof this.resultDataList.point_22 !== 'undefined' ||
					typeof this.resultDataList.point_21 !== 'undefined') 
			{
				return 29;
			}
			else if (typeof this.resultDataList.point_20 !== 'undefined') {
				return 20;
			}
			else if (typeof this.resultDataList.point_19 !== 'undefined' ||
					typeof this.resultDataList.point_18 !== 'undefined' ||
					typeof this.resultDataList.point_17 !== 'undefined' ||
					typeof this.resultDataList.point_16 !== 'undefined') {
				return 19;
			}
			else if (typeof this.resultDataList.point_15 !== 'undefined') {
				return 15;
			}
			else
			{
				return 15;
			}
		}
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';

.report-hv3col{
	

	.report-body-test{
		margin-left: auto;
	    margin-right: auto;
	    width: 700px;					    
		margin-top: 20px;
		margin-bottom: 45px;



		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 45px;
		}

		.style-header-height2{
			height: 65px;
		}

		.style-result-height{
			height: 20px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				/*float: right;
				margin-right: 10px;*/
				margin-left:  15px;
			}
		}

		.style-normal2{
			border-left: 1px solid black;
			/*border-top: 1px solid black;*/
			text-align: center;
		}

		.style-normal3{
			border-left: 1px solid black;
			border-top: 1px solid #c1c1c1;
			text-align: center;
		}

		.report-body-test-col-title{
			width: 46.5%;
		}

		.report-body-test-col-pt{
			width: 7%;
		}

		.report-body-test-col-line{
			
		}

		.report-body-test-col-hv{

		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-spec_dimen{
			width: 23.5%;
		}

		.report-body-test-col-gauge_length{
			width: 13.3%;
		}

		.report-body-test-col-yield{
			width: 13.3%;
		}

		.report-body-test-col-ultimate{
			width: 13.3%;
		}

		.report-body-test-col-location{
			width: 13.3%;
		}

		

		.report-body-test-col-spec_dimen-thick{
			width: 10%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
			padding: 1px;
			/*border-top: 1px solid black;
			border-left: 1px solid white;
			border-right: 1px solid white;*/
		}

	}
}

					/*.report-body-remark{
						padding-bottom: 1px;

						tr.report-body-remark-additional {
							height: 305px;
						}

						.report-body-remark-col01 {
							padding-left: 2px;
							vertical-align: text-top;

							.report-body-remark-col01-title {
								width: 50px;
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-col01-value {
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}


							.report-body-remark-col01_2-title {
								width: 77px;
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-col01_2-value {
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-span {
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-span>p{
								margin-bottom: 0px;
							}
						}
					}
				}

				.report-footer-template{
					text-align: left;
					.report-footer-template-title{ 
						font-size:  9px;
					}
				}
			}
		}
	}
}*/
</style>
