<template>
	<section class="report-hv4col">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr>
					<td>
						<div class="report-body-test">
							<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
								<tr>
									<td rowspan="2" class="report-body-test-col-title style-normal style-header-height ">Sample No.
										<span class="report-code">{{ FilterReportNo_AAA_BB_C(resultList[0].result_no) }}</span>
										<span class="report-code">{{ FilterReportNo_xxD(resultList[0].result_no) }}</span>
										<br>Test Location
									</td>
									<td colspan="8" class="report-body-test-col-hv style-normal report-table-border-right ">Hardness Value</td>
								</tr>
								<tr>
									<td class="style-normal report-body-test-col-pt ">Point No.</td>
									<td class="style-normal report-body-test-col-line ">Line 1</td>
									<td class="style-normal report-body-test-col-pt ">Point No.</td>
									<td class="style-normal report-body-test-col-line ">Line 2</td>
									<td class="style-normal report-body-test-col-pt ">Point No.</td>
									<td class="style-normal report-body-test-col-line ">Line 3</td>
									<td class="style-normal report-body-test-col-pt ">Point No.</td>
									<td class="style-normal report-body-test-col-line report-table-border-right ">Line 4</td>
								</tr>
								<!--------- Base Metal of Left Side [1] ---------------->
								<tr v-if="is19Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Base Metal of Left Side</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_01, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Base Metal of Left Side</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_01, 1) }}</td>
									<td class="style-normal">20</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_20, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Base Metal of Left Side</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_01, 1) }}</td>
									<td class="style-normal">20</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_20, 1) }}</td>
									<td class="style-normal">39</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_39, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Base Metal of Left Side</td>
									<td class="style-normal">1</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_01, 1) }}</td>
									<td class="style-normal">20</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_20, 1) }}</td>
									<td class="style-normal">39</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_39, 1) }}</td>
									<td class="style-normal">58</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_58, 1) }}</td>
								</tr>
								<!--------- Base Metal of Left Side [2] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">2</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_02, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">2</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_02, 1) }}</td>
									<td class="style-normal2">21</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_21, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">2</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_02, 1) }}</td>
									<td class="style-normal2">21</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_21, 1) }}</td>
									<td class="style-normal2">40</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_40, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">2</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_02, 1) }}</td>
									<td class="style-normal2">21</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_21, 1) }}</td>
									<td class="style-normal2">40</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_40, 1) }}</td>
									<td class="style-normal2">59</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_59, 1) }}</td>
								</tr>
								<!--------- Base Metal of Left Side [3] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">3</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_03, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">3</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_03, 1) }}</td>
									<td class="style-normal2">22</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_22, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">3</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_03, 1) }}</td>
									<td class="style-normal2">22</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_22, 1) }}</td>
									<td class="style-normal2">41</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_41, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">3</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_03, 1) }}</td>
									<td class="style-normal2">22</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_22, 1) }}</td>
									<td class="style-normal2">41</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_41, 1) }}</td>
									<td class="style-normal2">60</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_60, 1) }}</td>
								</tr>
								<!--------- Heat Affected Zone (HAZ) of Left Side [1] ---------------->
								<tr v-if="is19Point">
									<td rowspan="5" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Left Side</td>
									<td class="style-normal">4</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_04, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td rowspan="5" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Left Side</td>
									<td class="style-normal">4</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_04, 1) }}</td>
									<td class="style-normal">23</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_23, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td rowspan="5" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Left Side</td>
									<td class="style-normal">4</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_04, 1) }}</td>
									<td class="style-normal">23</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_23, 1) }}</td>
									<td class="style-normal">42</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_42, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td rowspan="5" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Left Side</td>
									<td class="style-normal">4</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_04, 1) }}</td>
									<td class="style-normal">23</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_23, 1) }}</td>
									<td class="style-normal">42</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_42, 1) }}</td>
									<td class="style-normal">61</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_61, 1) }}</td>
								</tr>
								<!--------- Heat Affected Zone (HAZ) of Left Side [2] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">5</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_05, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">5</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_05, 1) }}</td>
									<td class="style-normal2">24</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_24, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">5</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_05, 1) }}</td>
									<td class="style-normal2">24</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_24, 1) }}</td>
									<td class="style-normal2">43</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_43, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">5</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_05, 1) }}</td>
									<td class="style-normal2">24</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_24, 1) }}</td>
									<td class="style-normal2">43</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_43, 1) }}</td>
									<td class="style-normal2">62</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_62, 1) }}</td>
								</tr>
								<!--------- Heat Affected Zone (HAZ) of Left Side [3] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">6</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_06, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">6</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_06, 1) }}</td>
									<td class="style-normal2">25</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_25, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">6</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_06, 1) }}</td>
									<td class="style-normal2">25</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_25, 1) }}</td>
									<td class="style-normal2">44</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_44, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">6</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_06, 1) }}</td>
									<td class="style-normal2">25</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_25, 1) }}</td>
									<td class="style-normal2">44</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_44, 1) }}</td>
									<td class="style-normal2">63</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_63, 1) }}</td>
								</tr>
								<!--------- Heat Affected Zone (HAZ) of Left Side [4] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">7</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_07, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">7</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_07, 1) }}</td>
									<td class="style-normal2">26</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_26, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">7</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_07, 1) }}</td>
									<td class="style-normal2">26</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_26, 1) }}</td>
									<td class="style-normal2">45</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_45, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">7</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_07, 1) }}</td>
									<td class="style-normal2">26</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_26, 1) }}</td>
									<td class="style-normal2">45</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_45, 1) }}</td>
									<td class="style-normal2">64</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_64, 1) }}</td>
								</tr>
								<!--------- Heat Affected Zone (HAZ) of Left Side [5] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">8</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_08, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">8</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_08, 1) }}</td>
									<td class="style-normal2">27</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_27, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">8</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_08, 1) }}</td>
									<td class="style-normal2">27</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_27, 1) }}</td>
									<td class="style-normal2">46</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_46, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">8</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_08, 1) }}</td>
									<td class="style-normal2">27</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_27, 1) }}</td>
									<td class="style-normal2">46</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_46, 1) }}</td>
									<td class="style-normal2">65</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_65, 1) }}</td>
								</tr>
								<!--------- Weld Metal [1] ---------------->
								<tr v-if="is19Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Weld Metal</td>
									<td class="style-normal">9</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_09, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Weld Metal</td>
									<td class="style-normal">9</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_09, 1) }}</td>
									<td class="style-normal">28</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_28, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Weld Metal</td>
									<td class="style-normal">9</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_09, 1) }}</td>
									<td class="style-normal">28</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_28, 1) }}</td>
									<td class="style-normal">47</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_47, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 ">Weld Metal</td>
									<td class="style-normal">9</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_09, 1) }}</td>
									<td class="style-normal">28</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_28, 1) }}</td>
									<td class="style-normal">47</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_47, 1) }}</td>
									<td class="style-normal">66</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_66, 1) }}</td>
								</tr>
								<!--------- Weld Metal [2] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">10</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_10, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">10</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_10, 1) }}</td>
									<td class="style-normal2">29</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_29, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">10</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_10, 1) }}</td>
									<td class="style-normal2">29</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_29, 1) }}</td>
									<td class="style-normal2">48</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_48, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">10</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_10, 1) }}</td>
									<td class="style-normal2">29</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_29, 1) }}</td>
									<td class="style-normal2">48</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_48, 1) }}</td>
									<td class="style-normal2">67</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_67, 1) }}</td>
								</tr>
								<!--------- Weld Metal [3] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">11</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_11, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">11</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_11, 1) }}</td>
									<td class="style-normal2">30</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_30, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">11</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_11, 1) }}</td>
									<td class="style-normal2">30</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_30, 1) }}</td>
									<td class="style-normal2">49</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_49, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">11</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_11, 1) }}</td>
									<td class="style-normal2">30</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_30, 1) }}</td>
									<td class="style-normal2">49</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_49, 1) }}</td>
									<td class="style-normal2">68</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_68, 1) }}</td>
								</tr>
								<!--------- Heat Affected Zone (HAZ) of Right Side [1] ---------------->
								<tr v-if="is19Point">
									<td rowspan="5" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Right Side</td>
									<td class="style-normal">12</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_12, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td rowspan="5" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Right Side</td>
									<td class="style-normal">12</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_12, 1) }}</td>
									<td class="style-normal">31</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_31, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td rowspan="5" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Right Side</td>
									<td class="style-normal">12</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_12, 1) }}</td>
									<td class="style-normal">31</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_31, 1) }}</td>
									<td class="style-normal">50</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_50, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td rowspan="5" class="report-body-test-col-title style-normal style-header-height2 ">Heat Affected Zone (HAZ) of Right Side</td>
									<td class="style-normal">12</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_12, 1) }}</td>
									<td class="style-normal">31</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_31, 1) }}</td>
									<td class="style-normal">50</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_50, 1) }}</td>
									<td class="style-normal">69</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_69, 1) }}</td>
								</tr>
								<!--------- Heat Affected Zone (HAZ) of Right Side [2] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">13</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_13, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">13</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_13, 1) }}</td>
									<td class="style-normal2">32</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_32, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">13</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_13, 1) }}</td>
									<td class="style-normal2">32</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_32, 1) }}</td>
									<td class="style-normal2">51</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_51, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">13</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_13, 1) }}</td>
									<td class="style-normal2">32</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_32, 1) }}</td>
									<td class="style-normal2">51</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_51, 1) }}</td>
									<td class="style-normal2">70</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_70, 1) }}</td>
								</tr>
								<!--------- Heat Affected Zone (HAZ) of Right Side [3] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">14</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_14, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">14</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_14, 1) }}</td>
									<td class="style-normal2">33</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_33, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">14</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_14, 1) }}</td>
									<td class="style-normal2">33</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_33, 1) }}</td>
									<td class="style-normal2">52</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_52, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">14</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_14, 1) }}</td>
									<td class="style-normal2">33</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_33, 1) }}</td>
									<td class="style-normal2">52</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_52, 1) }}</td>
									<td class="style-normal2">71</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_71, 1) }}</td>
								</tr>
								<!--------- Heat Affected Zone (HAZ) of Right Side [4] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">15</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_15, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">15</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_15, 1) }}</td>
									<td class="style-normal2">34</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_34, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">15</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_15, 1) }}</td>
									<td class="style-normal2">34</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_34, 1) }}</td>
									<td class="style-normal2">53</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_53, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">15</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_15, 1) }}</td>
									<td class="style-normal2">34</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_34, 1) }}</td>
									<td class="style-normal2">53</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_53, 1) }}</td>
									<td class="style-normal2">72</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_72, 1) }}</td>
								</tr>
								<!--------- Heat Affected Zone (HAZ) of Right Side [5] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">16</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_16, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">16</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_16, 1) }}</td>
									<td class="style-normal2">35</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_35, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">16</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_16, 1) }}</td>
									<td class="style-normal2">35</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_35, 1) }}</td>
									<td class="style-normal2">54</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_54, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">16</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_16, 1) }}</td>
									<td class="style-normal2">35</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_35, 1) }}</td>
									<td class="style-normal2">54</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_54, 1) }}</td>
									<td class="style-normal2">73</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_73, 1) }}</td>
								</tr>
								<!--------- Base Metal of Right Side [1] ---------------->
								<tr v-if="is19Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom ">Base Metal of Right Side</td>
									<td class="style-normal">17</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_17, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom ">Base Metal of Right Side</td>
									<td class="style-normal">17</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_17, 1) }}</td>
									<td class="style-normal">36</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_36, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom ">Base Metal of Right Side</td>
									<td class="style-normal">17</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_17, 1) }}</td>
									<td class="style-normal">36</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_36, 1) }}</td>
									<td class="style-normal">55</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_55, 1) }}</td>
									<td class="style-normal">-</td>
									<td class="style-normal report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td rowspan="3" class="report-body-test-col-title style-normal style-header-height2 report-table-border-bottom ">Base Metal of Right Side</td>
									<td class="style-normal">17</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_17, 1) }}</td>
									<td class="style-normal">36</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_36, 1) }}</td>
									<td class="style-normal">55</td>
									<td class="style-normal">{{ FilterBlank(resultDataList.point_55, 1) }}</td>
									<td class="style-normal">74</td>
									<td class="style-normal report-table-border-right">{{ FilterBlank(resultDataList.point_74, 1) }}</td>
								</tr>
								<!--------- Base Metal of Right Side [2] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2">18</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_18, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2">18</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_18, 1) }}</td>
									<td class="style-normal2">37</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_37, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3">-</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2">18</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_18, 1) }}</td>
									<td class="style-normal2">37</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_37, 1) }}</td>
									<td class="style-normal2">56</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_56, 1) }}</td>
									<td class="style-normal2">-</td>
									<td class="style-normal3 report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2">18</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_18, 1) }}</td>
									<td class="style-normal2">37</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_37, 1) }}</td>
									<td class="style-normal2">56</td>
									<td class="style-normal3">{{ FilterBlank(resultDataList.point_56, 1) }}</td>
									<td class="style-normal2">75</td>
									<td class="style-normal3 report-table-border-right">{{ FilterBlank(resultDataList.point_75, 1) }}</td>
								</tr>
								<!--------- Base Metal of Right Side [3] ---------------->
								<tr v-if="is19Point">
									<td class="style-normal2 report-table-border-bottom">19</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_19, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom">-</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom">-</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is38Point">
									<td class="style-normal2 report-table-border-bottom">19</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_19, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">38</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_38, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom">-</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is57Point">
									<td class="style-normal2 report-table-border-bottom">19</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_19, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">38</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_38, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">57</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_57, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">-</td>
									<td class="style-normal3 report-table-border-bottom report-table-border-right">-</td>
								</tr>
								<tr v-else-if="is76Point">
									<td class="style-normal2 report-table-border-bottom">19</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_19, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">38</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_38, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">57</td>
									<td class="style-normal3 report-table-border-bottom">{{ FilterBlank(resultDataList.point_57, 1) }}</td>
									<td class="style-normal2 report-table-border-bottom">76</td>
									<td class="style-normal3 report-table-border-bottom report-table-border-right">{{ FilterBlank(resultDataList.point_76, 1) }}</td>
								</tr>
								<!------------------------------------------------------------->
							</table>
						</div>
					</td>
				</tr>
				<tr class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip4.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 15,
			intervalSetHeight: 0,
			//locationList: null,
			//remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
		}
	},

	computed: {
		newAdditionHeight()
		{
			return (this.addition_height - (this.resultList.length * 20))+'px'
		},

		getAdditionDetail()
		{
			return this.reportResult.rmResult.rminfo.replaceAll("<p>","").replaceAll("</p>","")
		},

		is19Point()
		{
			if(this.getAllPoint() === 19) return true;
			return false;
		},

		is38Point()
		{
			if(this.getAllPoint() === 38) return true;
			return false;
		},

		is57Point()
		{
			if(this.getAllPoint() === 57) return true;
			return false;
		},

		is76Point()
		{
			if(this.getAllPoint() === 76) return true;
			return false;
		},
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		this.resultDataList = this.resultList[0]

		var count = 0
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_01 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_02 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_03 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_04 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_05 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_06 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_07 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_08 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_09 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_10 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_11 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_12 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_13 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_14 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_15 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_16 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_17 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_18 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_19 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_20 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_21 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_22 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_23 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_24 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_25 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_26 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_27 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_28 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_29 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_30 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_31 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_32 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_33 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_34 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_35 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_36 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_37 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_38 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_39 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_40 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_41 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_42 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_43 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_44 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_45 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_46 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_47 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_48 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_49 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_50 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_51 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_52 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_53 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_54 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_55 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_56 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_57 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_58 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_59 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_60 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_61 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_62 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_63 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_64 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_65 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_66 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_67 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_68 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_69 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_70 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_71 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_72 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_73 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_74 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_75 = this.resultDataList.hvdata[count++].hardness
		if(this.resultDataList.hvdata.length >= count+1) this.resultDataList.point_76 = this.resultDataList.hvdata[count++].hardness
	},
	mounted() {
		this.startUp()
	},
	methods: {

		async startUp(){
			try {
				//this.locationList = await this.getCustomLocation()
				//this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			this.onLoad = false

		},

		getAllPoint()
		{
			if (typeof this.resultDataList.point_76 !== 'undefined' ||
				typeof this.resultDataList.point_75 !== 'undefined' ||
				typeof this.resultDataList.point_74 !== 'undefined' ||
				typeof this.resultDataList.point_73 !== 'undefined' ||
				typeof this.resultDataList.point_72 !== 'undefined' ||
				typeof this.resultDataList.point_71 !== 'undefined' ||
				typeof this.resultDataList.point_70 !== 'undefined' ||
				typeof this.resultDataList.point_69 !== 'undefined' ||
				typeof this.resultDataList.point_68 !== 'undefined' ||
				typeof this.resultDataList.point_67 !== 'undefined' ||
				typeof this.resultDataList.point_66 !== 'undefined' ||
				typeof this.resultDataList.point_65 !== 'undefined' ||
				typeof this.resultDataList.point_64 !== 'undefined' ||
				typeof this.resultDataList.point_63 !== 'undefined' ||
				typeof this.resultDataList.point_62 !== 'undefined' ||
				typeof this.resultDataList.point_61 !== 'undefined' ||
				typeof this.resultDataList.point_60 !== 'undefined' ||
				typeof this.resultDataList.point_59 !== 'undefined' ||
				typeof this.resultDataList.point_58 !== 'undefined' )
			{
				return 76;
			}
			else if (typeof this.resultDataList.point_57 !== 'undefined' ||
				typeof this.resultDataList.point_56 !== 'undefined' ||
				typeof this.resultDataList.point_55 !== 'undefined' ||
				typeof this.resultDataList.point_54 !== 'undefined' ||
				typeof this.resultDataList.point_53 !== 'undefined' ||
				typeof this.resultDataList.point_52 !== 'undefined' ||
				typeof this.resultDataList.point_51 !== 'undefined' ||
				typeof this.resultDataList.point_50 !== 'undefined' ||
				typeof this.resultDataList.point_49 !== 'undefined' ||
				typeof this.resultDataList.point_48 !== 'undefined' ||
				typeof this.resultDataList.point_47 !== 'undefined' ||
				typeof this.resultDataList.point_46 !== 'undefined' ||
				typeof this.resultDataList.point_45 !== 'undefined' ||
				typeof this.resultDataList.point_44 !== 'undefined' ||
				typeof this.resultDataList.point_43 !== 'undefined' ||
				typeof this.resultDataList.point_42 !== 'undefined' ||
				typeof this.resultDataList.point_41 !== 'undefined' ||
				typeof this.resultDataList.point_40 !== 'undefined' ||
				typeof this.resultDataList.point_39 !== 'undefined' )
			{
				return 57;
			}
			else if(typeof this.resultDataList.point_38 !== 'undefined' ||
				typeof this.resultDataList.point_37 !== 'undefined' ||
				typeof this.resultDataList.point_36 !== 'undefined' ||
				typeof this.resultDataList.point_35 !== 'undefined' ||
				typeof this.resultDataList.point_34 !== 'undefined' ||
				typeof this.resultDataList.point_33 !== 'undefined' ||
				typeof this.resultDataList.point_32 !== 'undefined' ||
				typeof this.resultDataList.point_31 !== 'undefined' ||
				typeof this.resultDataList.point_30 !== 'undefined' ||
				typeof this.resultDataList.point_29 !== 'undefined' ||
				typeof this.resultDataList.point_28 !== 'undefined' ||
				typeof this.resultDataList.point_27 !== 'undefined' ||
				typeof this.resultDataList.point_26 !== 'undefined' ||
				typeof this.resultDataList.point_25 !== 'undefined' ||
				typeof this.resultDataList.point_24 !== 'undefined' ||
				typeof this.resultDataList.point_23 !== 'undefined' ||
				typeof this.resultDataList.point_22 !== 'undefined' ||
				typeof this.resultDataList.point_21 !== 'undefined' ||
				typeof this.resultDataList.point_20 !== 'undefined') 
			{
				return 38;
			}
			else if (typeof this.resultDataList.point_19 !== 'undefined' ) {
				return 19;
			}
			else
			{
				return 19;
			}
		}
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';

.report-hv4col{

	.report-body-test{
		margin-left: auto;
	    margin-right: auto;
	    width: 700px;					    
		margin-top: 10px;
		margin-bottom: 20px;



		.report-body-table{
			line-height: 18.5px;
		}

		.style-header-height{
			height: 45px;
		}

		.style-header-height2{
			height: 65px;
		}

		.style-result-height{
			height: 20px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;
			height: 15px;

			span.report-code {
				/*float: right;
				margin-right: 10px;*/
				margin-left:  15px;
			}
		}

		.style-normal2{
			border-left: 1px solid black;
			/*border-top: 1px solid black;*/
			text-align: center;
			height: 15px;
		}

		.style-normal3{
			border-left: 1px solid black;
			border-top: 1px solid #c1c1c1;
			text-align: center;
			height: 15px;
		}

		.report-body-test-col-title{
			width: 28.5%;
		}

		.report-body-test-col-pt{
			width: 7%;
		}

		.report-body-test-col-line{
			
		}

		.report-body-test-col-hv{

		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-spec_dimen{
			width: 23.5%;
		}

		.report-body-test-col-gauge_length{
			width: 13.3%;
		}

		.report-body-test-col-yield{
			width: 13.3%;
		}

		.report-body-test-col-ultimate{
			width: 13.3%;
		}

		.report-body-test-col-location{
			width: 13.3%;
		}

		

		.report-body-test-col-spec_dimen-thick{
			width: 10%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
			padding: 1px;
			/*border-top: 1px solid black;
			border-left: 1px solid white;
			border-right: 1px solid white;*/
		}

	}
}
/*
					.report-body-remark{
						padding-bottom: 1px;

						tr.report-body-remark-additional {
							height: 305px;
						}

						.report-body-remark-col01 {
							padding-left: 2px;
							vertical-align: text-top;

							.report-body-remark-col01-title {
								width: 50px;
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-col01-value {
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}


							.report-body-remark-col01_2-title {
								width: 77px;
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-col01_2-value {
								display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-span {
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 9px;
							}

							.report-body-remark-span>p{
								margin-bottom: 0px;
							}
						}
					}
				}

				.report-footer-template{
					text-align: left;
					.report-footer-template-title{ 
						font-size:  9px;
					}
				}
			}
		}
	}
}*/
</style>
