<template>
	<section class="report-hvpic">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
						<div style="margin-left: auto; margin-right: auto; text-align: center;">
							<span style="font-size: 14px;">Layout of Test Location</span>
							<div class="report-body-remark-img">
								<div class="report-body-remark-imgbg" :style="{ backgroundImage: 'url(' + imageUrlFull1 + ')' }" />
								<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,1)" />
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip4.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 455,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			isUploadingImage: false,
			imageUrl1: "",
			imageUrlFull1: "",
			imagePsId1: 0,
		}
	},
	computed: {
	},

	watch: {
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async mergeData(reportData) {
			
			reportData.pic1 = this.imageUrl1

			//remove pic not use
			try{

				var path1 = this.resultList[0].no
				var path2 = this.resultList[0].result_no
				var pic_list = await this.getPictureResultList(path1, path2)
				for(var i = 0; i < pic_list.length; i++)
				{
					var is_use = false
					if(pic_list[i].url === reportData.pic1){
						is_use = true
					}
					if(!is_use){
						await this.removePictureResult(pic_list[i].psid)
					}
				}
			}
			catch(error) {
				console.error(error)
			}

			return reportData
		},
		async uploadImage(img, index){

			var path1 = this.resultList[0].no
			var path2 = this.resultList[0].result_no
			this.isUploadingImage = true
			try{
				var res = await this.uploadPictureResult(img, path1, path2)
				if(res.status === "success"){
					if(index === 1){
						this.imageUrl1 = res.url
						this.imageUrlFull1 = localStorage.getItem('picurl') + res.url
					}
				}
			}
			catch(error) {
				console.error(error)
			}
			
			this.isUploadingImage = false
		},
		onFileSelected(file, index){
			this.uploadImage(file, index)
		},
		async startUp(){
			
			try {
				//this.locationList = await this.getCustomLocation()
				this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			this.imageUrl1 = this.reportResult.pic_1_url
			this.imageUrlFull1 = localStorage.getItem('picurl') + this.reportResult.pic_1_url
			this.imageUrlFull1 = this.imageUrlFull1.replaceAll('//finish', '/finish');

			this.onLoad = false
		},
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>
.report-hvpic {  
	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 42px;
		}

		.style-result-height{
			height: 20px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-02{
			width: 33.4%;
		}

		.report-body-test-col-02-01{
			width: 10%;
		}
		.report-body-test-col-02-02{
			width: 10%;
		}
		.report-body-test-col-02-03{
			width: 6.8%;
		}

		.report-body-test-col-03{
			width: 37%;
		}

		.report-body-test-col-04{
			width: 10%;
		}

		.report-body-test-col-05{
			
		}

		.report-body-test-col-sample_dimen-thread{
			width: 13.5%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}
	}

	.report-body-remark{
								
		.report-body-remark-img{
			display: inline-block;
		}
		.report-body-remark-imgbg{
			width: 665px;
		    height: 390px;
			border: 1px solid black;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			margin-top: 20px;
			background-position-x: center;
    		background-position-y: center;
		}
	}
}
</style>