<template>
	<section class="report-pc">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td class="style-normal style-header-height report-table-border-right">
						Test Result
					</td>
				</tr>
				<tr>
					<td class="style-normal-notop style-header-height report-table-border-bottom report-table-border-right">
						Start of Test : {{ startTest }} Time : {{ startTime }}, End of Test : {{ endTest }} Time : {{ endTime }}
					</td>
				</tr>
			</table>
		</div>
		<div class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td class="report-body-test-col-mn style-normal style-header-height">Measurement No.</td>
					<td class="report-body-test-col-mnno style-normal">1</td>
					<td class="report-body-test-col-mnno style-normal">2</td>
					<td class="report-body-test-col-mnno style-normal">3</td>
					<td class="report-body-test-col-mnno style-normal">4</td>
					<td class="report-body-test-col-mnno style-normal">5</td>
					<td class="style-normal report-table-border-right">Average</td>
				</tr>
				<tr>
					<td class="style-normal-left style-result-height ">
						Measured thickness (mm.)
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].tickness_1, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].tickness_2, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].tickness_3, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].tickness_4, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].tickness_5, 2) }}
					</td>
					<td class="style-normal report-table-border-right">
						{{ FilterBlank(resultDataList[0].tickness_avg, 2) }}
					</td>
				</tr>
				<tr>
					<td class="style-normal-left style-result-height ">
						Measured width (mm.)
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].width_1, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].width_2, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].width_3, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].width_4, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].width_5, 2) }}
					</td>
					<td class="style-normal report-table-border-right">
						{{ FilterBlank(resultDataList[0].width_avg, 2) }}
					</td>
				</tr>
				<tr>
					<td class="style-normal-left style-result-height ">
						Measured length (mm.)
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].length_1, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].length_2, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].length_3, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].length_4, 2) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].length_5, 2) }}
					</td>
					<td class="style-normal report-table-border-right">
						{{ FilterBlank(resultDataList[0].length_avg, 2) }}
					</td>
				</tr>
				<tr>
					<td class="style-normal-left style-result-height ">
						Weight before immersion (g)
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].before_immer_1, 4) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].before_immer_2, 4) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].before_immer_3, 4) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].before_immer_4, 4) }}
					</td>
					<td class="style-normal">
						{{ FilterBlank(resultDataList[0].before_immer_5, 4) }}
					</td>
					<td class="style-normal report-table-border-right">
						{{ FilterBlank(resultDataList[0].before_immer_avg, 4) }}
					</td>
				</tr>
				<tr>
					<td class="style-normal-left report-table-border-bottom style-result-height ">
						Weight after immersion (g)
					</td>
					<td class="style-normal report-table-border-bottom ">
						{{ FilterBlank(resultDataList[0].after_immer_1, 4) }}
					</td>
					<td class="style-normal report-table-border-bottom ">
						{{ FilterBlank(resultDataList[0].after_immer_2, 4) }}
					</td>
					<td class="style-normal report-table-border-bottom ">
						{{ FilterBlank(resultDataList[0].after_immer_3, 4) }}
					</td>
					<td class="style-normal report-table-border-bottom ">
						{{ FilterBlank(resultDataList[0].after_immer_4, 4) }}
					</td>
					<td class="style-normal report-table-border-bottom ">
						{{ FilterBlank(resultDataList[0].after_immer_5, 4) }}
					</td>
					<td class="style-normal report-table-border-bottom report-table-border-right">
						{{ FilterBlank(resultDataList[0].after_immer_avg, 4) }}
					</td>
				</tr>
			</table>
		</div>
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td colspan="2" class="report-body-test-col-totalsurf style-normal style-header-height">Total surface area</td>
					<td rowspan="2" class="report-body-test-col-minvol style-normal">Minimum volume of test solution<br>required (mL)</td>
					<td rowspan="2" class="report-body-test-col-vol style-normal">Volume of 6wt% FeCl3 test<br>solution used (mL)</td>
					<td colspan="2" class="style-normal report-table-border-right">Weight Loss</td>
				</tr>
				<tr>
					<td class="report-body-test-col-sqmm style-normal style-result-height ">
						sq.mm.
					</td>
					<td class="style-normal">
						sq.cm.
					</td>
					<td class="style-normal report-body-test-col-g">
						g
					</td>
					<td class="style-normal report-table-border-right">
						(g/sq.m)
					</td>
				</tr>
				<tr>
					<td class="style-normal style-result-height report-table-border-bottom">
						{{ FilterBlank(resultDataList[0].total_area_sqmm, 4) }}
					</td>
					<td class="style-normal report-table-border-bottom">
						{{ FilterBlank(resultDataList[0].total_area_sqcm, 4) }}
					</td>
					<td class="style-normal report-table-border-bottom">
						{{ FilterBlank(resultDataList[0].min_vol, 4) }}
					</td>
					<td class="style-normal report-table-border-bottom">
						{{ FilterBlank(resultDataList[0].vol_of_6wt) }}
					</td>
					<td class="style-normal report-table-border-bottom">
						{{ FilterBlank(resultDataList[0].weight_loss_g, 4) }}
					</td>
					<td class="style-normal report-table-border-bottom report-table-border-right">
						{{ FilterBlank(resultDataList[0].weight_loss_g_sqm, 4) }}
					</td>
				</tr>
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>

import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip5.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 20,
			//intervalSetHeight: 0,
			//locationList: null,
			//remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			startTest: "",
			endTest: "",
			startTime: "",
			endTime: "",
		}
	},

	computed: {
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		var tmp = this.resultList[0].pcdata

		for(var i = 0; i < tmp.length; i++)
		{
			this.resultDataList.push(tmp[i].tablelist[0])

			if (typeof this.resultDataList[i].result_no === 'undefined')
			{
				if(typeof this.resultDataList[i].sample_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.resultDataList[i].sample_no
				}else if(typeof this.resultDataList[i].simple1_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.mergeSimpleNo(this.resultDataList[i].simple1_no, this.resultDataList[i].simple2_no)
				}
			}
		}

		this.startTest = tmp[0].starttest
		this.EndTest = tmp[0].endtest
		
		this.startTime = tmp[0].starttime
		this.endTime = tmp[0].endtime
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true
			/*for(var i =0; i < this.resultDataList.length; i++)
			{
				var tmp = this.resultDataList[i]
				try{
					//Add or Edit
					var r = null
					r = await this.editResultOptionByKey(tmp.result_no, "location", tmp.location)
					if(r === false) ok = false

					r = await this.editResultOptionByKey(tmp.result_no, "remark", tmp.remark)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}*/

			return ok
		},
		async startUp(){
			try {
				//this.locationList = await this.getConstEditResult("location")
				//this.remarkList = await this.getConstEditResult("remark")
				//this.locationList = await this.getCustomLocation()
				//this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			/*for(var i =0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					this.resultDataList[i].location = "N/A"
					this.resultDataList[i].remark = "N/A"
					const tmp = await this.getResultOptionByResultNo(rno)
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								if(tmp[j].name === "location") this.resultDataList[i].location = tmp[j].value
								if(tmp[j].name === "remark") this.resultDataList[i].remark = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}*/

			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			//var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight
				
			var div = 234 - h2
			this.addition_height = div
		},
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';

.report-pc {
	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 20px;
		}

		.style-result-height{
			height: 22px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
				margin-right: 10px;
			}

		}

		.style-normal-notop{
			border-left: 1px solid black;
			text-align: center;
		}

		.style-normal-left{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: left;
		}

		.report-body-test-col-mn{
			width: 19.8%;
		}
		.report-body-test-col-mnno{
			width: 13.4%;
		}

		.report-body-test-col-totalsurf{
			width: 19.8%;
		}
		.report-body-test-col-minvol{
			width: 23.5%;
		}
		.report-body-test-col-vol{
			width: 20%;
		}

		.report-body-test-col-sqmm{
			width: 10%;
		}

		.report-body-test-col-g{
			width: 17%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
			padding: 1px;
			/*border-top: 1px solid black;
			border-left: 1px solid white;
			border-right: 1px solid white;*/
		}

	}
}
</style>
