<template>
	<section class="report-pcpic">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div class="div-newline">
			<table class="report-body-pic">
				<tr v-if="!showResultOnly">
					<td colspan="2" style="text-align: center; font-size: 12px;">
						The photographs of the results before and after test
					</td>
				</tr>
				<tr v-if="showResultOnly">
					<td colspan="2" style="text-align: center; height: 65px;">
						<div style="width: 100px; margin-left: auto; margin-right: auto; font-size: 14px; height: 40px;">
							<span class="text">Amount Picture</span>
							<v-select v-model="amountPic" color="" dense :items="amountPicMenu" />
						</div>
					</td>
				</tr>
				<tr>
					<td class="style-normal report-body-result-col-before">Before<br><br>Test</td>
					<td class="style-normal ">
						<div v-if="amountPic>=2" class="report-body-result-upload">
							<div class="report-body-result-graph" :style="{ backgroundImage: 'url(' + imageUrlFull1 + ')' }" />
							<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,1)" />
						</div>
						<div v-if="amountPic>=4" class="report-body-result-upload">
							<div class="report-body-result-graph" :style="{ backgroundImage: 'url(' + imageUrlFull3 + ')' }" />
							<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,3)" />
						</div>
					</td>
				</tr>
				<tr>
					<td class="style-normal report-body-result-col-after">After<br><br>Test</td>
					<td class="style-normal ">
						<div v-if="amountPic>=2" class="report-body-result-upload">
							<div class="report-body-result-graph" :style="{ backgroundImage: 'url(' + imageUrlFull2 + ')' }" />
							<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,2)" />
						</div>
						<div v-if="amountPic>=4" class="report-body-result-upload">
							<div class="report-body-result-graph" :style="{ backgroundImage: 'url(' + imageUrlFull4 + ')' }" />
							<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,4)" />
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div v-if="!showResultOnly" class="div-newline">
			<table class="report-body-pic">
				<tr>
					<td style="text-align: center;">
						<span>Visual examination/ result</span>
					</td>
				</tr>
			</table>
		</div>
		<div v-if="!showResultOnly" class="div-newline">
			<table class="report-body-pic">
				<tr>
					<td colspan="3" class="style-normal" style="text-align: center;">
						<span>Intergranular attack visible to 20x magnification.</span>
					</td>
				</tr>
				<tr>
					<td class="style-normal report-body-result-col-result">
						Result
					</td>
					<td class="style-normal report-body-result-col-yes">
						<v-checkbox :readonly="true" label="Yes" value="1" class="chkbox-center" />
					</td>
					<td class="style-normal">
						<v-checkbox :readonly="true" label="No" value="1" class="chkbox-center" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			imageUrl1: "",
			imageUrl2: "",
			imageUrl3: "",
			imageUrl4: "",
			imageUrlFull1: "",
			imageUrlFull2: "",
			imageUrlFull3: "",
			imageUrlFull4: "",
			isUploadingImage: false,
			amountPic: 2,
			amountPicMenu: [2, 4],
		};
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		var tmp = this.resultList[0].pcdata

		for(var i = 0; i < tmp.length; i++)
		{
			this.resultDataList.push(tmp[i].tablelist[0])

			if (typeof this.resultDataList[i].result_no === 'undefined')
			{
				if(typeof this.resultDataList[i].sample_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.resultDataList[i].sample_no
				}else if(typeof this.resultDataList[i].simple1_no !== 'undefined' ){
					this.resultDataList[i].result_no = this.mergeSimpleNo(this.resultDataList[i].simple1_no, this.resultDataList[i].simple2_no)
				}
			}
		}
	},
	mounted () {
		this.startUp()
	},
	methods: {
		
		async mergeData(reportData) {
			if(this.amountPic === 2){
				reportData.pic1 = this.imageUrl1
				reportData.pic2 = this.imageUrl2
				reportData.pic3 = ""
				reportData.pic4 = ""
			}else if(this.amountPic === 4){
				reportData.pic1 = this.imageUrl1
				reportData.pic2 = this.imageUrl2
				reportData.pic3 = this.imageUrl3
				reportData.pic4 = this.imageUrl4
			}

			//remove pic not use
			try{
				var path1 = this.resultList[0].no
				var path2 = this.resultList[0].result_no
				var pic_list = await this.getPictureResultList(path1, path2)
				
				for(var i = 0; i < pic_list.length; i++)
				{
					var is_use = false
					if(pic_list[i].url === reportData.pic1){
						is_use = true
					}
					else if(pic_list[i].url === reportData.pic2){
						is_use = true
					}
					else if(pic_list[i].url === reportData.pic3){
						is_use = true
					}
					else if(pic_list[i].url === reportData.pic4){
						is_use = true
					}

					if(!is_use){
						await this.removePictureResult(pic_list[i].psid)
					}
				}
			}
			catch(error) {
				console.error(error)
			}

			return reportData
		},
		async uploadImage(img, index){

			var path1 = this.resultList[0].no
			var path2 = this.resultList[0].result_no
			this.isUploadingImage = true
			try{
				var res = await this.uploadPictureResult(img, path1, path2)
				if(res.status === "success"){
					if(index === 1){
						this.imageUrl1 = res.url
						this.imageUrlFull1 = localStorage.getItem('picurl') + res.url
					}else if(index === 2){
						this.imageUrl2 = res.url
						this.imageUrlFull2 = localStorage.getItem('picurl') + res.url
					}else if(index === 3){
						this.imageUrl3 = res.url
						this.imageUrlFull3 = localStorage.getItem('picurl') + res.url
					}else if(index === 4){
						this.imageUrl4 = res.url
						this.imageUrlFull4 = localStorage.getItem('picurl') + res.url
					}
				}
			}
			catch(error) {
				console.error(error)
			}
			
			this.isUploadingImage = false
		},
		onFileSelected(file, index){
			this.uploadImage(file, index)
		},
		async startUp(){

			this.imageUrl1 = this.reportResult.pic_1_url
			this.imageUrl2 = this.reportResult.pic_2_url
			this.imageUrl3 = this.reportResult.pic_3_url
			this.imageUrl4 = this.reportResult.pic_4_url

			this.imageUrlFull1 = localStorage.getItem('picurl') + this.reportResult.pic_1_url
			this.imageUrlFull2 = localStorage.getItem('picurl') + this.reportResult.pic_2_url
			this.imageUrlFull3 = localStorage.getItem('picurl') + this.reportResult.pic_3_url
			this.imageUrlFull4 = localStorage.getItem('picurl') + this.reportResult.pic_4_url

			this.imageUrlFull1 = this.imageUrlFull1.replaceAll('//finish', '/finish');
			this.imageUrlFull2 = this.imageUrlFull2.replaceAll('//finish', '/finish');
			this.imageUrlFull3 = this.imageUrlFull3.replaceAll('//finish', '/finish');
			this.imageUrlFull4 = this.imageUrlFull4.replaceAll('//finish', '/finish');

			if(this.imageUrl3 !== "" || this.imageUrl4 !== "") this.amountPic = 4
			else this.amountPic = 2

			this.onLoad = false
		},
	}
};
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';
@import '../assets/contentgraph1.scss';

.report-pcpic {

	.div-newline{
		padding-bottom: 1px;
	}

	.report-body-pic{
		width: 100%;
	    border-collapse: collapse;
	    line-height: 10px;

		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 20px;
		}

		.style-result-height{
			height: 22px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
				margin-right: 10px;
			}

		}

		.report-body-result-col-before{
			width: 10%;
			height: 285px;
			font-size: 12px;
		} 

		.report-body-result-col-after{
			width: 10%;
			height: 285px;
			font-size: 12px;
		} 
		.report-body-result-col-result{
			width: 10%;
			font-size: 12px;
			height: 45px;
		} 
		.report-body-result-col-yes{
			width: 47%;
		} 
		.style-normal-notop{
			border-left: 1px solid black;
			text-align: center;
		}

		.chkbox-center{
			width: 70px;
		    margin-left: auto;
		    margin-right: auto;
			height: 30px;
		    top: -8px;
    		position: relative;
		}

		.style-normal-left{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: left;
		}
	}
}

</style>