<template>
	<div>
		<v-progress-linear :active="onLoad" :indeterminate="onLoad" bottom color="deep-purple accent-4" />
		<v-card class="mx-auto my-2" max-width="800px">
			<!-- <v-card-title><span class="text">Add new report</span></v-card-title><v-divider /> -->
			<v-card-text class="py-1">
				<v-container class="pa-1">
					<v-card-title>
						<span class="text">Appendix</span>
					</v-card-title>
					<v-text-field v-model="appx.no" dense label="Appendix No." replace="Appendix # 1" required />
					<!--v-select v-model="projectInfo.cusid" dense :items="customerList" item-text="cname" item-value="cusid" color="" label="Customer name" required @change="updateCustomerAddr()" /-->
					<v-text-field v-model="appx.title" dense label="Appendix title" required />

					<!----------------------------------------->
					<span class="text">Appendix Detail</span>
					<quill-editor ref="myQuillEditor" v-model="projectInfo.remark_cus" class="editor" style="width: 400" :options="editorOption" />
					<!----------------------------------------->
				</v-container>
			</v-card-text>
			<v-card-actions>
				<v-spacer />
				<v-btn color="primary" text @click="closeEdit"> CANCEL </v-btn>
				<v-btn color="primary" text @click="saveData"> SAVE </v-btn>
			</v-card-actions>
		</v-card>
	</div>
</template>
<script>
import { quillEditor } from 'vue-quill-editor'
import { HTTP } from '@/axios.js'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'

export default {
	components: {
		quillEditor
	},
	props: ['testNo6', 'testNo', 'reportNo', 'resultNo'],
	data() {
		return {
			editorOption: {
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						[{ list: 'ordered' }, { list: 'bullet' }],
						[{ script: 'sub' }, { script: 'super' }],
						[{ indent: '-1' }, { indent: '+1' }],
						[{ size: ['small', false, 'large', 'huge'] }],
						[{ color: [] }, { background: [] }],
						[{ align: [] }],
						['clean']
					]
					// syntax: {
					//   highlight: (text) => hljs.highlightAuto(text).value,
					// },
				}
			},
			switchStat: '',
			switch1: null,
			attrs: null,
			onLoad: false,
			approveList: [],
			customerList: [],
			menuDatePickerReceiveDate: false,
			menuDatePickerTestDate: false,
			appxInfo: {
				no: '1',
				title: '',
				data: null
			},
			customer_addr: '',
			reportBodyAddition: {}
		}
	},
	// computed: {
	//   formIsValid() {
	//     return (
	//       this.form.customerList
	//     )
	//   }
	// },
	watch: {},

	// mounted: function () {
	// 	this.startUp()
	// },

	methods: {
		callBackSend() {
			this.$emit('callback', this.projectInfo)
		},

		async startUp() {
			this.onLoad = true

			this.reportBodyAddition.remark = ''

			try {
				this.customerList = await this.getCustomerList()
			} catch (error) {
				console.error(error)
			}

			try {
				this.approveList = await this.getApproveList()
			} catch (error) {
				console.error(error)
			}

			try {
				this.projectInfo = await this.getProjectInfoByTestNo6Digit(this.testNo6)
			} catch (error) {
				console.error(error)
			}

			this.customer_addr = this.getCustomerAddressByIdFromArray(this.customerList, this.projectInfo.cusid)

			if (this.projectInfo.pname === '') this.projectInfo.pname = 'N/A'
			if (this.projectInfo.pno === '') this.projectInfo.pno = 'N/A'
			if (this.projectInfo.wprocess === '') this.projectInfo.wprocess = 'N/A'
			if (this.projectInfo.wposition === '') this.projectInfo.wposition = 'N/A'
			if (this.projectInfo.testproduct === '') this.projectInfo.testproduct = 'N/A'
			if (this.projectInfo.dimension === '') this.projectInfo.dimension = 'N/A'
			if (this.projectInfo.materialsp === '') this.projectInfo.materialsp = 'N/A'
			if (this.projectInfo.app_name === '') this.projectInfo.app_name = 'Mr.Puriwat Sukonpahttra'

			this.switchStat = this.projectInfo.status

			/*var splitdate = this.test_date.split(' ')
			if (splitdate[0].includes("-")) {
				let ndate = moment(splitdate[0], 'DD-MMM-YY')
				this.fdate = ndate.format('YYYY-MM-DD')
			} else {
				let ndate = moment(splitdate[0], 'DD/MM/YYYY')
				this.fdate = ndate.subtract(543, 'years').format('YYYY-MM-DD')
			}*/

			switch (this.switchStat) {
				case 'PENDING':
					this.switch1 = false
					break
				case 'DONE':
					this.switch1 = true
					break
			}

			this.switchtext()

			this.onLoad = false
		},
		updateCustomerAddr() {
			this.customer_addr = this.getCustomerAddressByIdFromArray(this.customerList, this.projectInfo.cusid)
		},
		switchtext() {
			switch (this.switch1) {
				case false:
					this.switchStat = 'PENDING'
					break
				case true:
					this.switchStat = 'DONE'
					break
			}
		},

		async saveData() {
			this.onLoad = true

			this.projectInfo.status = this.switchStat

			this.projectInfo.remark_cus = this.projectInfo.remark_cus.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;')

			try {
				var ok = await this.editProjectInfo(this.projectInfo)
				if (ok) {
					this.callBackSend(this.projectInfo)
					this.showNotic('Save Cover Success', 'success')
				} else {
					this.showNotic('Save Cover Failed', 'error')
				}
			} catch (error) {
				console.error(error)
				this.showNotic('Save Cover Error', 'error')
			}

			this.onLoad = false
		},
		closeEdit() {
			this.$router.push('/testreports')
		}
	}
}
</script>
