<template>
	<div>
		<v-card class="mx-auto my-2" max-width="800px">
			<v-card-text class="py-1">
				<v-container>
					<br>
					<span class="text">Test Result</span>
					<div v-if="dataAlready">
						<review-hvpic v-if="reportTypeFinal == 'HVPIC'"
							ref="review_hvpic"  
							:report-data="projectInfo" 
							:result-list="resultList"
							:report-result="reportInfo.report_result[0]" :need-review-only="true"
						/>
					</div>
					<br>
				</v-container>
			</v-card-text>
			<v-card-actions>
				<v-spacer />
				<v-btn color="primary" text @click="closeEdit"> CANCEL </v-btn>
				<v-btn color="primary" text @click="save"> SAVE </v-btn>
			</v-card-actions>
		</v-card>
	</div>
</template>
<script>

import ReviewHvpic from '../ReportTemplates/HV/HVPIC'

export default {
	components: {
		ReviewHvpic,
	},
	props: ['testNo6', 'projectInfo', 'reportInfo', 'resultList', 'testNo', 'reportNo', 'resultNo'],
	data() {
		return {
			reportType: "HV",
			reportTypeFinal: "HVPIC",
			dataAlready: false,
			reportBodyCustomer: {},
			reportResult: {},
			reportBodyEquip: {},
		}
	},
	watch: {
	},
	mounted: function() {
		this.startUp()
	},

	methods: {

		async startUp(){
			this.dataAlready = false

			this.reportResult = this.reportInfo.report_result[0]
			this.reportResult.form_type_report = this.reportResult.form_type_cus

			if( this.reportResult.form_type_cus === "HV3COL" ) this.reportResult.form_type_report = "HVPIC"
			else if( this.reportResult.form_type_cus === "HV4COL" ) this.reportResult.form_type_report = "HVPIC"

			this.reportTypeFinal = this.reportResult.form_type_report

			try{
				var tmp = await this.getAdditionByType(this.reportResult.form_type_cus)
				if(tmp !== null){
					this.reportResult.remark = tmp.rminfo
				}
			}
			catch(error) {
				console.error(error)
			}
			this.dataAlready = true
		},
		async save() {

			var reportData = {}

			try{
				reportData = await this.getReportById(this.reportInfo.report_result[0].rid)
			}
			catch(error) {
				console.error(error)
			}

			//Get Equip Parameter
			
			reportData.report_no = this.reportInfo.test_no
			reportData.reportno = this.reportInfo.test_no
			reportData.formtypecus = reportData.form_type_cus

			switch(this.reportTypeFinal)
			{
				case "HVPIC":
					reportData = await this.$refs.review_hvpic.mergeData(reportData);
				break;
			}

			try{
				var ok = await this.editReportInfoById(reportData.rid, reportData)
				if(ok){
					this.showNotic("Save Report Success", "success")
				}else{
					this.showNotic("Save Report Failed", "error")
				}
			}
			catch(error) {
				console.error(error)
			}
		},
		closeEdit() {
			this.$router.push('/testreports')
		}
	}
}
</script>
<style lang="scss" scoped>
.smallinput >>> input{
	font-size: 10px;
}
.text {
	font-size: 14px;
}
 th, td {
	border: 1px solid black;
}
.Sigtable {
	border-collapse: collapse;

		font-size: 12px;
}

</style>