<template>
	<v-card class="mx-auto my-2" max-width="800px">
		<v-card-text class="py-1">
			<v-container>
				<div v-if="dataAlready">
					<review-icpic v-if="reportTypeFinal == 'ICPIC'" 
						slot="pdf-content" 
						ref="review_icpic" 
						:result-list="reportGraph"
						:need-review-only="true" 
						:report-result="reportInfo.report_result[0]"
						@domRendered="domRendered()"
					/>
				</div>
			</v-container>
		</v-card-text>
		<v-card-actions>
			<v-spacer />
			<v-btn color="primary" text @click="save"> SAVE </v-btn>
		</v-card-actions>
	</v-card>
</template>
<script>

import ReviewIcpic from '../ReportTemplates/IC/ICPIC'

export default {
	components: {
		ReviewIcpic,
	},
	props: ['testNo', 'reportInfo', 'testResult'],
	data() {
		return {
			dataAlready: false,
			reportGraph: {},
			reportType: "",
			reportTypeFinal: "",
			reportResult: {},
		}
	},
	mounted: function() {
		this.startUp()
	},
	
	methods: {
		async startUp(){
			this.dataAlready = false

			this.reportResult = this.reportInfo.report_result[0]
			this.reportResult.form_type_report = this.reportResult.form_type_cus
			if( this.reportResult.form_type_cus === "IC" ) this.reportResult.form_type_report = "ICPIC"
			
			this.reportTypeFinal = this.reportResult.form_type_report

			this.reportGraph = []
			this.reportGraph[0] = this.testResult
			var tmp = this.getGraphImgPath(0)
			tmp = tmp.replace("{testno}", this.testNo);
			tmp = tmp.replace("{resultno}", this.testResult.result_no);

			this.reportGraph[0].pic1 = this.reportResult.pic_1_url
			this.reportGraph[0].pic2 = this.reportResult.pic_2_url
			this.reportGraph[0].pic3 = this.reportResult.pic_3_url
			this.reportGraph[0].pic4 = this.reportResult.pic_4_url

			this.dataAlready = true
		},

		async save() {

			var reportData = {}

			try{
				reportData = await this.getReportById(this.reportInfo.report_result[0].rid)
			}
			catch(error) {
				console.error(error)
			}

			//Get Equip Parameter
			
			reportData.report_no = this.reportInfo.test_no
			reportData.reportno = reportData.report_no
			reportData.formtypecus = reportData.form_type_cus

			var save_ok = true
			switch(this.reportTypeFinal)
			{
				case "ICPIC":
					reportData = await this.$refs.review_icpic.mergeData(reportData);
				break;
			}

			try{
				var ok = await this.editReportInfoById(reportData.rid, reportData)
				if(ok && save_ok){
					this.showNotic("Save Report Success", "success")
				}else{
					this.showNotic("Save Report Failed", "error")
				}
			}
			catch(error) {
				console.error(error)
			}
		},
	}
}
</script>
<style lang="scss" scoped>
.smallinput >>> input{
	font-size: 10px;
}
.text {
	font-size: 14px;
}
 th, td {
	border: 1px solid black;
}
.Sigtable {
	border-collapse: collapse;

	font-size: 12px;
}

</style>