<template>
	<div>
		<v-card class="mx-auto my-2" max-width="800px">
			<v-card-text class="py-1">
				<v-container>
					<review-body-customer v-if="dataAlready" ref="body_customer" :report-body-customer="reportBodyCustomer" />
					<review-body-equip5 v-if="dataAlready" ref="body_equip" :report-body-equip="reportBodyEquip" :report-type="reportType" />
					<br>
					<span class="text">Test Result</span>
					<div v-if="dataAlready">
						<review-pc v-if="reportTypeFinal == 'PC'"
							ref="review_pc"  
							:report-data="projectInfo" 
							:result-list="resultList"
							:report-result="reportInfo.report_result[0]" :need-review-only="true"
						/>
					</div>
					<br>
				</v-container>
			</v-card-text>
			<v-card-actions>
				<v-spacer />
				<v-btn color="primary" text @click="closeEdit"> CANCEL </v-btn>
				<v-btn color="primary" text @click="save"> SAVE </v-btn>
			</v-card-actions>
		</v-card>
	</div>
</template>
<script>

import ReviewPc from '../ReportTemplates/PC/PC'
import ReviewBodyCustomer from './ReviewTemplate/ReviewBodyCustomer.vue'
import ReviewBodyEquip5 from './ReviewTemplate/ReviewBodyEquip5.vue'


export default {
	components: {
		ReviewPc,
		ReviewBodyCustomer,
		ReviewBodyEquip5,
	},
	props: ['testNo6', 'projectInfo', 'reportInfo', 'resultList', 'testNo', 'reportNo', 'resultNo'],
	data() {
		return {
			reportType: "PC",
			reportTypeFinal: "PC",
			dataAlready: false,
			reportBodyCustomer: {},
			reportResult: {},
			reportBodyEquip: {},
		}
	},
	watch: {
		projectInfo(newProjectInfo, oldProjectInfo) {
			this.$refs.body_customer.updateReportBody(newProjectInfo);
		}
	},
	mounted: function() {
		this.startUp()
	},

	methods: {

		async startUp(){
			this.dataAlready = false

			this.reportResult = this.reportInfo.report_result[0]
			this.reportResult.form_type_report = this.reportResult.form_type_cus
			this.reportTypeFinal = this.reportResult.form_type_report

			try{
				var tmp = await this.getAdditionByType(this.reportResult.form_type_cus)
				if(tmp !== null){
					this.reportResult.remark = tmp.rminfo
				}
			}
			catch(error) {
				console.error(error)
			}

			this.reportBodyCustomer = this.projectInfo
			///////////////////////////////////////////////////////////////
			this.reportBodyEquip = this.reportResult
			///////////////////////////////////////////////////////////////

			this.dataAlready = true
		},
		async save() {

			var reportData = {}

			try{
				reportData = await this.getReportById(this.reportInfo.report_result[0].rid)
			}
			catch(error) {
				console.error(error)
			}

			//Get Equip Parameter
			reportData = this.$refs.body_equip.mergeData(reportData);

			//Get Compare Parameter
			//reportData = this.$refs.body_compare_grade.mergeData(reportData);
			//reportData.cgid = this.$refs.body_compare_grade.getCgId();

			//reportData = this.$refs.body_addpic.mergeData(reportData);

			reportData.report_no = this.reportInfo.test_no
			reportData.reportno = reportData.report_no

			reportData.formtypecus = reportData.form_type_cus

			var save_ok = true
			switch(this.reportTypeFinal)
			{
				case "PC":
					//reportData = await this.$refs.review_pc.mergeData(reportData);
				break;
			}

			try{
				var ok = await this.editReportInfoById(reportData.rid, reportData)
				if(ok && save_ok){
					this.showNotic("Save Report Success", "success")
				}else{
					this.showNotic("Save Report Failed", "error")
				}
			}
			catch(error) {
				console.error(error)
			}
		},
		closeEdit() {
			this.$router.push('/testreports')
		}
	}
}
</script>
<style lang="scss" scoped>
.smallinput >>> input{
	font-size: 10px;
}
.text {
	font-size: 14px;
}
 th, td {
	border: 1px solid black;
}
.Sigtable {
	border-collapse: collapse;

		font-size: 12px;
}

</style>