<template>
	<div>
		<v-progress-linear :active="onLoad" :indeterminate="onLoad" bottom color="deep-purple accent-4" />
		<v-card class="mx-auto my-2" max-width="800px">
			<!-- <v-card-title><span class="text">Add new report</span></v-card-title><v-divider /> -->
			<v-card-text class="py-1">
				<v-container class="pa-1">
					<v-card-title>
						<span class="text">RP Detail</span>
						<v-spacer />
						<span style="width: 150px">
							<v-switch v-model="switch1" :label="switchStat" color="success" hide-details width="150px" @change="switchtext()" />
						</span>
					</v-card-title>
					<v-text-field v-model="projectInfo.report_no_cus" dense label="Report no." required />
					<!--v-select v-model="projectInfo.cusid" dense :items="customerList" item-text="cname" item-value="cusid" color="" label="Customer name" required @change="updateCustomerAddr()" /-->
					<v-autocomplete
						v-model="projectInfo.cusid"
						dense
						color=""
						required
						item-text="cname"
						item-value="cusid"
						label="Customer name"
						:items="customerList"
						@change="updateCustomerAddr()" />
					<v-text-field v-model="customer_addr" dense label="Address" required :readonly="true" />
					<v-text-field v-model="projectInfo.pname" dense label="Project name" required />
					<v-text-field v-model="projectInfo.pno" dense label="Project no." required />
					<!-- <v-row dense>
						<v-col cols="12" sm="6">
							<v-menu v-model="menuDatePickerReceiveDate" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
								<template v-slot:activator="{ on, attrs }">
									<v-text-field v-model="projectInfo.receivedate" clearable label="Recived date" prepend-icon="mdi-calendar" v-bind="attrs" v-on="on" />
								</template>
								<v-date-picker v-model="projectInfo.receivedate" no-title scrollable @input="menuDatePickerReceiveDate = false" />
							</v-menu>
						</v-col>
						<v-col cols="12" sm="6">
							<v-menu v-model="menuDatePickerTestDate" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
								<template v-slot:activator="{ on, attrs }">
									<v-text-field v-model="projectInfo.test_date" clearable label="Test date" prepend-icon="mdi-calendar" v-bind="attrs" v-on="on" />
								</template>
								<v-date-picker v-model="projectInfo.test_date" no-title scrollable @input="menuDatePickerTestDate = false" />
							</v-menu>
						</v-col>
					</v-row> -->
					<v-row dense>
						<v-col cols="12" sm="6">
							<v-text-field v-model="projectInfo.receivedate" dense clearable label="Receive date" type="date" />
						</v-col>
						<v-col cols="12" sm="6">
							<v-text-field v-model="projectInfo.test_date" dense clearable label="Test date" type="date" />
						</v-col>
					</v-row>
					<!----------------------------------------->
					<v-card-title class="py-1">
						<span class="text">Welding Details (Show in Report)</span>
					</v-card-title>
					<v-text-field v-model="projectInfo.testproduct" dense label="Test Product" required />
					<v-text-field v-model="projectInfo.wprocess" dense label="Welding Process" required />
					<v-text-field v-model="projectInfo.wposition" dense label="Welding Position" required />
					<v-text-field v-model="projectInfo.dimension" dense label="Dimension (mm)" required />
					<v-text-field v-model="projectInfo.materialsp" dense label="Material Specification" required />
					<!----------------------------------------->
					<span class="text">Customer Detail</span>
					<quill-editor ref="myQuillEditor" v-model="projectInfo.remark_cus" class="editor" style="width: 400" :options="editorOption" />
					<!----------------------------------------->
					<v-card-title class="py-1">
						<span class="text">Signature</span>
					</v-card-title>
					<v-autocomplete v-model="projectInfo.app_name" dense :items="approveList" item-text="" color="" label="Approved by" required />
					<v-text-field v-model="projectInfo.client_comp" label="Client Representative" dense required />
					<v-text-field v-model="projectInfo.review_comp1" label="Reviewed by" dense required />
					<v-text-field v-model="projectInfo.review_comp2" label="Reviewed by" dense required />
					<v-text-field v-model="projectInfo.owner_comp" label="Owner Representative" dense required />
				</v-container>
			</v-card-text>
			<v-card-actions>
				<v-spacer />
				<v-btn color="primary" text @click="closeEdit"> CANCEL </v-btn>
				<v-btn color="primary" text @click="saveData"> SAVE </v-btn>
			</v-card-actions>
		</v-card>
	</div>
</template>
<script>
import { quillEditor } from 'vue-quill-editor'
import { HTTP } from '@/axios.js'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'

export default {
	components: {
		quillEditor
	},
	props: ['testNo6', 'testNo', 'reportNo', 'resultNo'],
	data() {
		return {
			editorOption: {
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						[{ list: 'ordered' }, { list: 'bullet' }],
						[{ script: 'sub' }, { script: 'super' }],
						[{ indent: '-1' }, { indent: '+1' }],
						[{ size: ['small', false, 'large', 'huge'] }],
						[{ color: [] }, { background: [] }],
						[{ align: [] }],
						['clean']
					]
					// syntax: {
					//   highlight: (text) => hljs.highlightAuto(text).value,
					// },
				}
			},
			switchStat: '',
			switch1: null,
			attrs: null,
			onLoad: false,
			approveList: [],
			customerList: [],
			menuDatePickerReceiveDate: false,
			menuDatePickerTestDate: false,
			projectInfo: {
				pname: 'N/A',
				pno: 'N/A',
				wprocess: 'N/A',
				wposition: 'N/A',
				testproduct: 'N/A',
				dimension: 'N/A',
				materialsp: 'N/A'
			},
			customer_addr: '',
			reportBodyAddition: {}
		}
	},
	// computed: {
	//   formIsValid() {
	//     return (
	//       this.form.customerList
	//     )
	//   }
	// },
	watch: {},

	mounted: function () {
		this.startUp()
	},

	methods: {
		callBackSend() {
			this.$emit('callback', this.projectInfo)
		},

		async startUp() {
			this.onLoad = true

			this.reportBodyAddition.remark = ''

			try {
				this.customerList = await this.getCustomerList()
			} catch (error) {
				console.error(error)
			}

			try {
				this.approveList = await this.getApproveList()
			} catch (error) {
				console.error(error)
			}

			try {
				this.projectInfo = await this.getProjectInfoByTestNo6Digit(this.testNo6)
			} catch (error) {
				console.error(error)
			}

			this.customer_addr = this.getCustomerAddressByIdFromArray(this.customerList, this.projectInfo.cusid)

			if (this.projectInfo.pname === '') this.projectInfo.pname = 'N/A'
			if (this.projectInfo.pno === '') this.projectInfo.pno = 'N/A'
			if (this.projectInfo.wprocess === '') this.projectInfo.wprocess = 'N/A'
			if (this.projectInfo.wposition === '') this.projectInfo.wposition = 'N/A'
			if (this.projectInfo.testproduct === '') this.projectInfo.testproduct = 'N/A'
			if (this.projectInfo.dimension === '') this.projectInfo.dimension = 'N/A'
			if (this.projectInfo.materialsp === '') this.projectInfo.materialsp = 'N/A'
			if (this.projectInfo.app_name === '') this.projectInfo.app_name = 'Mr.Puriwat Sukonpahttra'

			this.switchStat = this.projectInfo.status

			/*var splitdate = this.test_date.split(' ')
			if (splitdate[0].includes("-")) {
				let ndate = moment(splitdate[0], 'DD-MMM-YY')
				this.fdate = ndate.format('YYYY-MM-DD')
			} else {
				let ndate = moment(splitdate[0], 'DD/MM/YYYY')
				this.fdate = ndate.subtract(543, 'years').format('YYYY-MM-DD')
			}*/

			switch (this.switchStat) {
				case 'PENDING':
					this.switch1 = false
					break
				case 'DONE':
					this.switch1 = true
					break
			}

			this.switchtext()

			this.onLoad = false
		},
		updateCustomerAddr() {
			this.customer_addr = this.getCustomerAddressByIdFromArray(this.customerList, this.projectInfo.cusid)
		},
		switchtext() {
			switch (this.switch1) {
				case false:
					this.switchStat = 'PENDING'
					break
				case true:
					this.switchStat = 'DONE'
					break
			}
		},

		async saveData() {
			this.onLoad = true

			this.projectInfo.status = this.switchStat

			this.projectInfo.remark_cus = this.projectInfo.remark_cus.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;')

			try {
				var ok = await this.editProjectInfo(this.projectInfo)
				if (ok) {
					this.callBackSend(this.projectInfo)
					this.showNotic('Save Cover Success', 'success')
				} else {
					this.showNotic('Save Cover Failed', 'error')
				}
			} catch (error) {
				console.error(error)
				this.showNotic('Save Cover Error', 'error')
			}

			this.onLoad = false
		},
		closeEdit() {
			this.$router.push('/testreports')
		}
	}
}
</script>
