<template>
	<div>
		<v-card class="mx-auto my-2" max-width="800px">
			<v-card-text class="py-1">
				<v-container>
					<review-body-customer v-if="dataAlready" ref="body_customer" :report-body-customer="reportBodyCustomer" />
					<review-body-equip v-if="dataAlready" ref="body_equip" :report-body-equip="reportBodyEquip" :report-type="reportType" />
					<br>
					<span class="text">Test Result</span>
					<div v-if="dataAlready">
						<review-tsw v-if="reportTypeFinal == 'TSW'" 
							ref="review_tsw" 
							:report-data="projectInfo" 
							:result-list="resultList"
							:report-result="reportInfo.report_result[0]" :need-review-only="true"
						/>

						<review-tsb1 v-else-if="reportTypeFinal == 'TSB1'" 
							ref="review_tsb1" 
							:report-data="projectInfo" 
							:result-list="resultList"
							:report-result="reportInfo.report_result[0]" :need-review-only="true"
						/>

						<review-tsb1std v-else-if="reportTypeFinal == 'TSB1STD'" 
							ref="review_tsb1std" 
							:report-data="projectInfo" 
							:result-list="resultList"
							:report-result="reportInfo.report_result[0]"
							:cg-id="cgId" :need-review-only="true"
						/>

						<review-tsb2 v-else-if="reportTypeFinal == 'TSB2'" 
							ref="review_tsb2" 
							:report-data="projectInfo" 
							:result-list="resultList"
							:report-result="reportInfo.report_result[0]" :need-review-only="true"
						/>

						<review-tsb2std v-else-if="reportTypeFinal == 'TSB2STD'" 
							ref="review_tsb2std" 
							:report-data="projectInfo" 
							:result-list="resultList"
							:report-result="reportInfo.report_result[0]"
							:cg-id="cgId" :need-review-only="true"
						/>

						<review-tsb3 v-else-if="reportTypeFinal == 'TSB3'" 
							ref="review_tsb3" 
							:report-data="projectInfo" 
							:result-list="resultList"
							:report-result="reportInfo.report_result[0]" :need-review-only="true"
						/>

						<review-tsb3std v-else-if="reportTypeFinal == 'TSB3STD'" 
							ref="review_tsb3std" 
							:report-data="projectInfo" 
							:result-list="resultList"
							:report-result="reportInfo.report_result[0]"
							:cg-id="cgId" :need-review-only="true"
						/>

						<review-tspl v-else-if="reportTypeFinal == 'TSPL'" 
							ref="review_tspl" 
							:report-data="projectInfo" 
							:result-list="resultList"
							:report-result="reportInfo.report_result[0]" :need-review-only="true"
						/>
					</div>
					<br>
					<review-body-compare-grade v-if="dataAlready" ref="body_compare_grade" :report-body-compare-grade="reportBodyCompareGrade" :report-type="reportType" @callback="compareGradeHasChange" />
					<br>
					<!--review-body-signature v-if="dataAlready" 
						:report-body-signature="reportBodySignature" 
						ref="body_signature" /-->
				</v-container>
			</v-card-text>
			<v-card-actions>
				<v-spacer />
				<v-btn color="primary" text @click="closeEdit"> CANCEL </v-btn>
				<v-btn color="primary" text @click="save"> SAVE </v-btn>
			</v-card-actions>
		</v-card>
	</div>
</template>
<script>
import moment from 'moment'
import ReviewTsw from '../ReportTemplates/TS/TSW'
import ReviewTsb1 from '../ReportTemplates/TS/TSB1'
import ReviewTsb1std from '../ReportTemplates/TS/TSB1STD'
import ReviewTsb2 from '../ReportTemplates/TS/TSB2'
import ReviewTsb2std from '../ReportTemplates/TS/TSB2STD'
import ReviewTsb3 from '../ReportTemplates/TS/TSB3'
import ReviewTsb3std from '../ReportTemplates/TS/TSB3STD'
import ReviewTspl from '../ReportTemplates/TS/TSPL'

import ReviewBodyCustomer from './ReviewTemplate/ReviewBodyCustomer.vue'
import ReviewBodyEquip from './ReviewTemplate/ReviewBodyEquip.vue'
import ReviewBodyCompareGrade from './ReviewTemplate/ReviewBodyCompareGrade.vue'
//import ReviewBodyAddition from '../ReviewTemplate/ReviewBodyAddition.vue'
//import ReviewBodySignature from '../ReviewTemplate/ReviewBodySignature.vue'


export default {
	components: {
		ReviewTsw,
		ReviewTsb1,
		ReviewTsb1std,
		ReviewTsb2,
		ReviewTsb2std,
		ReviewTsb3,
		ReviewTsb3std,
		ReviewTspl,
		ReviewBodyCustomer,
		ReviewBodyEquip,
		ReviewBodyCompareGrade,
		//ReviewBodyAddition,
		//ReviewBodySignature,
	},
	props: ['testNo6', 'projectInfo', 'reportInfo', 'resultList', 'testNo', 'reportNo', 'resultNo'],
	data() {
		return {
			reportType: "TS",
			reportTypeFinal: "TSW",
			dataAlready: false,
			reportBodyCustomer: {},
			reportResult: {},
			reportBodyEquip: {},
			reportBodyCompareGrade: {},
			//reportBodyAddition: {},
			//reportBodySignature: {},

		}
	},
	watch: {
		projectInfo(newProjectInfo, oldProjectInfo) {
			this.$refs.body_customer.updateReportBody(newProjectInfo);
			//this.$refs.body_signature.updateReportBody(newProjectInfo);
		}
	},
	mounted: function() {
		this.startUp()
	},

	methods: {
		compareGradeHasChange(cgid) {
			this.cgId = cgid
			this.reportResult.form_type_report = this.reportResult.form_type_cus
			
			if(cgid > 0)
			{
				if( this.reportResult.form_type_cus === "TSB1" ) this.reportResult.form_type_report = "TSB1STD"
				else if( this.reportResult.form_type_cus === "TSB2" ) this.reportResult.form_type_report = "TSB2STD"
				else if( this.reportResult.form_type_cus === "TSB3" ) this.reportResult.form_type_report = "TSB3STD"

				this.reportTypeFinal = this.reportResult.form_type_report
				
				switch(this.reportTypeFinal)
				{
					case "TSB1STD":
						if(typeof this.$refs.review_tsb1std !== 'undefined')
							this.$refs.review_tsb1std.updateCompareGrade(cgid);
					break
					case "TSB2STD":
						if(typeof this.$refs.review_tsb2std !== 'undefined')
							this.$refs.review_tsb2std.updateCompareGrade(cgid);
					break
					case "TSB3STD":
						if(typeof this.$refs.review_tsb3std !== 'undefined')
							this.$refs.review_tsb3std.updateCompareGrade(cgid);
					break
				}
			}
			else
			{
				this.reportTypeFinal = this.reportResult.form_type_report
			}
		},
		async startUp(){
			this.dataAlready = false

			this.reportResult = this.reportInfo.report_result[0]
			this.cgId = this.reportResult.cgid
			this.reportType = this.reportResult.form_type
			this.reportResult.form_type_report = this.reportResult.form_type_cus
			this.reportTypeFinal = this.reportResult.form_type_report

			try{
				var tmp = await this.getAdditionByType(this.reportResult.form_type_cus)
				if(tmp !== null){
					this.reportResult.remark = tmp.rminfo
				}
			}
			catch(error) {
				console.error(error)
			}
			///////////////////////////////////////////////////////////////
			this.reportBodyCustomer = this.projectInfo
			///////////////////////////////////////////////////////////////
			this.reportBodyEquip = this.reportResult
			///////////////////////////////////////////////////////////////
			this.reportBodyCompareGrade = this.reportResult
			///////////////////////////////////////////////////////////////
			//this.reportBodyAddition.form_type_cus = this.reportInfo.report_result[0].form_type_cus
			//this.reportBodyAddition.remark = this.reportInfo.report_result[0].remark
			///////////////////////////////////////////////////////////////
			//this.reportBodySignature = this.projectInfo
			//this.reportBodySignature.approve_by = this.projectInfo.app_name
			//this.reportBodySignature.approve_date = this.projectInfo.test_date
			///////////////////////////////////////////////////////////////

			this.compareGradeHasChange(this.reportResult.cgid)

			/*var splitdate = this.test_date.split(' ')
			if (splitdate[0].includes("-")) {
				let ndate = moment(splitdate[0], 'DD-MMM-YY')
				this.fdate = ndate.format('YYYY-MM-DD')
			} else {
				let ndate = moment(splitdate[0], 'DD/MM/YYYY')
				this.fdate = ndate.subtract(543, 'years').format('YYYY-MM-DD')
			}*/

			this.dataAlready = true
		},
		async save() {

			var reportData = {}

			try{
				reportData = await this.getReportById(this.reportInfo.report_result[0].rid)
			}
			catch(error) {
				console.error(error)
			}

			//Get Equip Parameter
			reportData = this.$refs.body_equip.mergeData(reportData);

			//Get Compare Parameter
			reportData = this.$refs.body_compare_grade.mergeData(reportData);
			//reportData.cgid = this.$refs.body_compare_grade.getCgId();

			reportData.report_no = this.reportInfo.test_no
			reportData.reportno = reportData.report_no

			reportData.formtypecus = reportData.form_type_cus

			var save_ok = true
			switch(this.reportTypeFinal)
			{
				case "TSW":
					save_ok = this.$refs.review_tsw.saveResultOption();
				break;
				case "TSB1":
					save_ok = this.$refs.review_tsb1.saveResultOption();
				break;
				case "TSB1STD":
					save_ok = this.$refs.review_tsb1std.saveResultOption();
				break;
				case "TSB2":
					save_ok = this.$refs.review_tsb2.saveResultOption();
				break;
				case "TSB2STD":
					save_ok = this.$refs.review_tsb2std.saveResultOption();
				break;
				case "TSB3":
					save_ok = this.$refs.review_tsb3.saveResultOption();
				break;
				case "TSB3STD":
					save_ok = this.$refs.review_tsb3std.saveResultOption();
				break;
				case "TSPL":
					save_ok = this.$refs.review_tspl.saveResultOption();
				break;
			}

			try{
				var ok = await this.editReportInfoById(reportData.rid, reportData)
				if(ok && save_ok){
					this.showNotic("Save Report Success", "success")
				}else{
					this.showNotic("Save Report Failed", "error")
				}
			}
			catch(error) {
				console.error(error)
			}
		},
		closeEdit() {
			this.$router.push('/testreports')
		}
	}
}
</script>
<style lang="scss" scoped>
.smallinput >>> input{
	font-size: 10px;
}
.text {
	font-size: 14px;
}
 th, td {
	border: 1px solid black;
}
.Sigtable {
	border-collapse: collapse;

		font-size: 12px;
}

</style>

