<template>
	<v-card class="mx-auto my-2" max-width="800px">
		<div v-if="dataAlready">
			<review-tswg1 v-if="reportTypeFinal == 'TSWG1'" 
				slot="pdf-content" 
				ref="review_tswg1" 
				:result-list="reportGraph" 
				:need-review-only="true"
				@domRendered="domRendered()"
			/>
			<review-tsb1g1 v-if="reportTypeFinal == 'TSB1G1'" 
				slot="pdf-content" 
				ref="review_tsb1g1" 
				:result-list="reportGraph" 
				:need-review-only="true"
				@domRendered="domRendered()"
			/>
			<review-tsb2g1 v-if="reportTypeFinal == 'TSB2G1'" 
				slot="pdf-content" 
				ref="review_tsb2g1" 
				:result-list="reportGraph" 
				:need-review-only="true"
				@domRendered="domRendered()"
			/>
			<review-tsb3g1 v-if="reportTypeFinal == 'TSB3G1'" 
				slot="pdf-content" 
				ref="review_tsb3g1" 
				:result-list="reportGraph" 
				:need-review-only="true"
				@domRendered="domRendered()"
			/>
			<review-tsplg1 v-if="reportTypeFinal == 'TSPLG1'" 
				slot="pdf-content" 
				ref="review_tsplg1" 
				:result-list="reportGraph" 
				:need-review-only="true"
				@domRendered="domRendered()"
			/>
		</div>
	</v-card>
</template>
<script>
import ReviewTswg1 from '../ReportTemplates/TS/TSWG1'
import ReviewTsb1g1 from '../ReportTemplates/TS/TSB1G1'
import ReviewTsb2g1 from '../ReportTemplates/TS/TSB2G1'
import ReviewTsb3g1 from '../ReportTemplates/TS/TSB3G1'
import ReviewTsplg1 from '../ReportTemplates/TS/TSPLG1'

export default {
	components: {
		ReviewTswg1,
		ReviewTsb1g1,
		ReviewTsb2g1,
		ReviewTsb3g1,
		ReviewTsplg1,
	},
	props: ['testNo', 'reportInfo', 'testResult'],
	data() {
		return {
			dataAlready: false,
			reportGraph: {},
			reportType: "",
			reportTypeFinal: "",
			reportResult: {},
		}
	},
	mounted: function() {
		this.startUp()
	},
	
	methods: {
		async startUp(){
			this.dataAlready = false

			this.reportResult = this.reportInfo.report_result[0]
			this.reportResult.form_type_report = this.reportResult.form_type_cus
			if( this.reportResult.form_type_cus === "TSW" ) this.reportResult.form_type_report = "TSWG1"
			else if( this.reportResult.form_type_cus === "TSB1" ) this.reportResult.form_type_report = "TSB1G1"
			else if( this.reportResult.form_type_cus === "TSB2" ) this.reportResult.form_type_report = "TSB2G1"
			else if( this.reportResult.form_type_cus === "TSB3" ) this.reportResult.form_type_report = "TSB3G1"
			else if( this.reportResult.form_type_cus === "TSPL" ) this.reportResult.form_type_report = "TSPLG1"

			this.reportTypeFinal = this.reportResult.form_type_report

			this.reportGraph = []
			this.reportGraph[0] = this.testResult
			var tmp = this.getGraphImgPath(0)
			tmp = tmp.replace("{testno}", this.testNo);
			tmp = tmp.replace("{resultno}", this.testResult.result_no);
			this.reportGraph[0].pic1 = localStorage.getItem('picurl')+tmp

			this.dataAlready = true
		},
	}
}
</script>
<style lang="scss" scoped>
.smallinput >>> input{
	font-size: 10px;
}
.text {
	font-size: 14px;
}
 th, td {
	border: 1px solid black;
}
.Sigtable {
	border-collapse: collapse;

	font-size: 12px;
}

</style>