<template>
	<div class="report-body-equip">
		<table class="report-body-table">
			<!----------------------------------------->
			<tr>
				<td colspan="2" class="report-body-equip-col01">
					<div class="report-body-equip-col01-title">Equipment</div>
					<div class="report-body-equip-col01-colon">:</div>
					<div class="report-body-equip-col01-value">{{ eqname }}</div>
				</td>
				<td class="report-body-equip-col02">
					<div class="report-body-equip-col02-title">Solution</div>
					<div class="report-body-equip-col02-colon">:</div>
					<div class="report-body-equip-col02-value">{{ reportResult.esolution }}</div>
				</td>
				<td class="report-body-equip-col02_2 report-table-border-bottom">
					<div class="report-body-equip-col02_2-title">Holding period :</div>
					<div class="report-body-equip-col02_2-value">{{ reportResult.eholding }} Hrs.</div>
				</td>
			</tr>
			<!----------------------------------------->
			<tr>
				<td class="report-body-equip-col01_1">
					<div class="report-body-equip-col01_1-title">Serial No.</div>
					<div class="report-body-equip-col01_1-colon">:</div>
					<div class="report-body-equip-col01_1-value">{{ eqsn }}</div>
				</td>
				<td class="report-body-equip-col01_2">
					<div class="report-body-equip-col01_2-title">Calibration Date :</div>
					<div class="report-body-equip-col01_2-value">{{ FilterDateTime(calibration_date) }}</div>
				</td>
				<td colspan="2" class="report-body-equip-col02 report-table-border-bottom">
					<div class="report-body-equip-col02-title width-refcode">Reference Code / Standard</div>
					<div class="report-body-equip-col02-colon-small">:</div>
					<div class="report-body-equip-col02-value">{{ reportResult.erefcode }}</div>
				</td>
			</tr>
			<!----------------------------------------->
			<tr>
				<td colspan="2" class="report-body-equip-col01 report-table-border-bottom">
					<div class="report-body-equip-col01-title">Preparation Method</div>
					<div class="report-body-equip-col01-colon">:</div>
					<div class="report-body-equip-col01-value">{{ reportResult.eprep }}</div>
				</td>
				<td colspan="2" class="report-body-equip-col02 report-table-border-bottom">
					<div class="report-body-equip-col02-title" style="width:75px !important;">Test method</div>
					<div class="report-body-equip-col02-colon">:</div>
					<div class="report-body-equip-col02-value">{{ reportResult.emet }}</div>
				</td>
			</tr>
		</table>
	</div>
</template>

<script>
export default {
	props: ['reportData', 'reportResult'],
	data() {
		return {
			equiplist: [],
			eqsn: "",
			calibration_date: "",
			machinecapa: "",

			eqname: "",
		}
	},

	mounted() {
		this.startUp()
	},
	methods: {
		async startUp(){
			try {
				this.equiplist = await this.getEquipListByType(this.reportType)
				for (var i = 0; i < this.equiplist.length; i++) {
					this.equiplist[i].eqid = parseInt(this.equiplist[i].eqid)
				}
			} catch (error) {
				console.error(error)
			}
			this.updateEquip(this.reportResult.eqid)
		},
		updateEquip(eqid) {
			var v = this.equiplist.filter(x => x.eqid === eqid)
			if (v.length > 0) {
				this.eqsn = v[0].eqsn
				this.calibration_date = this.DateTimeToYMD(v[0].eqcalibrat)
				this.machinecapa = v[0].eqcapacity
				this.eqname = v[0].eqname
			}
		},
	},
}
</script>

<style lang="scss" scoped>
.pdf-content {
	width: 100%;
	background: #fff;

	.report-info {
		display: flex;
		padding: 20px;
		padding-bottom: 0px;

		table tr {
			/*line-height: 10px;*/
		}

		.report-details {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width:  100%;
			font-family: "Arial";
			font-size: 10px;

			.report-body {
				margin-left: 5px;
					margin-right: 5px;
					border: 1px solid black;
				padding: 2px;

					.report-body-table {
						width: 100%;
						border-collapse: collapse;
						/*border-right: 1px solid black;
						border-bottom: 1px solid black;*/
						line-height: 10px;
					}

					.report-body-table-border {
						width: 100%;
						border-collapse: collapse;
						border: 1px solid black;
					}

					.report-table-border-bottom {
						border-bottom: 1px solid black;
					}
					.report-table-border-right {
						border-right: 1px solid black;
					}

					.report-table-border-top {
						border-top: 1px solid black;
					}

					.report-body-equip{
						padding-bottom: 1px;

						.report-body-equip-col01{

							padding-left: 2px;
							width: 399px;
							border-left: 1px solid black;
							border-top: 1px solid black;

							.report-body-equip-col01-title {
								width: 110px;
								display: block;
									float: left;
									margin-top: 5px;
									margin-bottom: 5px;
							}
							.report-body-equip-col01-colon {
								width: 14px;
								display: block;
									float: left;
									margin-top: 5px;
									margin-bottom: 5px;
							}
							.report-body-equip-col01-value {
								display: block;
									float: left;
									margin-top: 5px;
									margin-bottom: 5px;
								}
							}

						.report-body-equip-col01_1{
						padding-left: 2px;
							width: 185px;
							border-left: 1px solid black;
							border-top: 1px solid black;

						.report-body-equip-col01_1-title {
							width: 110px;
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
						.report-body-equip-col01_1-colon {
							width: 14px;
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
						.report-body-equip-col01_1-value {
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
							}
					}
					.report-body-equip-col01_2{
						padding-left: 2px;
						width: 149px;
						border-left: 1px solid black;
						border-top: 1px solid black;

						.report-body-equip-col01_2-title{
							width: 80px;
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
						.report-body-equip-col01-colon {
								width: 14px;
								display: block;
									float: left;
									margin-top: 5px;
									margin-bottom: 5px;
							}
						.report-body-equip-col01_2-value{
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
					}

					.report-body-equip-col02 {
							width:  220px;
							padding-left: 2px;
							border-left: 1px solid black;
							border-top: 1px solid black;
							border-right: 1px solid black;

						.report-body-equip-col02-title {
							width: 50px;
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
						.report-body-equip-col02-colon {
							width: 24px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-equip-col02-colon-small {
							width: 5px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-equip-col02-value {
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
					}

					.report-body-equip-col02_1{
						padding-left: 2px;
							border-left: 1px solid black;
							border-top: 1px solid black;
							width: 195px;

						.report-body-equip-col02_1-title {
							width: 100px;
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
						.report-body-equip-col02_1-colon {
							width: 24px;
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
						.report-body-equip-col02_1-value {
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
					}
					.report-body-equip-col02_2{
						padding-left: 2px;
							border-left: 1px solid black;
							border-top: 1px solid black;
							border-right: 1px solid black;

						.report-body-equip-col02_2-title{
							width: 75px;
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
						.report-body-equip-col02_2-value{
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
					}

					.width-refcode{
						width:  125px!important;
					}
					}
				}
		}
	}
}
</style>
