<template>
	<section class="pdf-content">
		<section class="report-info">
			<section class="report-details">
				<report-header :report-data="reportData" />
				<div class="report-body">
					<pcpic v-if="reportFormType == 'PCPIC'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<icpic v-else-if="reportFormType == 'ICPIC'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
				</div>
				<report-footer :report-data="reportData" />
			</section>
		</section>
	</section>
</template>
<script>

import ReportHeader from '../MainTemplates/ReportHeader.vue'
import ReportFooter from '../MainTemplates/ReportFooter.vue'
import Pcpic from '../PC/PCPIC.vue'
import Icpic from '../IC/ICPIC.vue'

export default {
	components: {
		ReportHeader,
		ReportFooter,

		Pcpic,
		Icpic,
	},
	props: ['reportData', 'reportResult', 'resultList', 'reportFormType'],
	data() {
		return {
		}
	},
	mounted() {
	},
}
</script>

<style lang="scss" scoped>
@import '../assets/pdf.scss';
.pdf-content {
	width: 100%;
	background: #fff;
	height: 1099px;
	/*border-bottom: 1px dotted #ddd;*/
	.report-info {
		display: flex;
		padding: 20px;
		padding-bottom: 0px;
		background: #fff;

		.report-details {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width:  100%;
			font-family: "Arial";
			font-size: 10px;

			.report-graph-title {
				text-align: center;
			    font-size: 12px;
			    padding: 5px;
			}

			.report-body {
				margin-left: 5px;
				margin-right: 5px;
				border: 1px solid black;
				 padding: 2px;
			}

			.report-footer-template{
				text-align: left;
				.report-footer-template-title{ 
					font-size:  9px;
				}
			}
		}
	}
}
</style>
