<template>
	<div class="report-body-total">
		<table class="report-body-table">
			<tr>
				<td class="report-body-total-col01">
					<div class="report-body-total-col01-title">Total</div>
					<div class="report-body-total-col01-value">{{ reportResult.total_unit }}</div>
					<div class="report-body-total-col01-unit">Unit(s)</div>
				</td>
				<td class="report-body-total-col02">
					<div class="report-body-total-col02-title">Attachment</div>
					<div class="report-body-total-col02-value">{{ reportResult.attach_page }}</div>
					<div class="report-body-total-col02-unit">Page(s)</div>
				</td>
			</tr>
		</table>
	</div>
</template>
<script>
export default {
	props: ['reportData', 'reportResult'],
  data() {
    return {
    }
  },

  mounted() {
    /* axios.get('https://api.coindesk.com/v1/bpi/currentprice.json').then(response => {
			this.info = response.data.bpi
		}).catch(error => {
			console.log(error)
			this.errored = true
		}).finally(() => this.loading = false)*/
  }
}
</script>

<style lang="scss" scoped>
.pdf-content {
	width: 100%;
	background: #fff;

	.report-info {
		display: flex;
		padding: 20px;
		padding-bottom: 0px;

		.report-details {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width:  100%;
			font-family: "Arial";
			font-size: 10px;

			.report-body {
				margin-left: 5px;
    			margin-right: 5px;
    			border: 1px solid black;
 				padding: 2px;

    			.report-body-table {
	    			width: 100%;
	    			border-collapse: collapse;
    				/*border-right: 1px solid black;
	    			border-bottom: 1px solid black;*/
	    			line-height: 10px;
	    		}

	    		.report-body-table-border {
	    			width: 100%;
	    			border-collapse: collapse;
    				border: 1px solid black;
	    		}

	    		.report-table-border-bottom {
	    			border-bottom: 1px solid black;
	    		}
	    		.report-table-border-right {
	    			border-right: 1px solid black;
	    		}

	    		.report-table-border-top {
	    			border-top: 1px solid black;
	    		}

	    		.report-body-total{
	    			padding-bottom: 1px;

	    			.report-body-total-col01 {
	    				padding-left: 2px;
	    				padding-right: 2px;
	    				width: 400px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;

	    				.report-body-total-col01-title {
							width: 215px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col01-value {
							width: 30px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col01-unit {
							display: block;
		    				float: right;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    					}
	    			}

	    			.report-body-total-col02 {

	    				padding-left: 2px;
	    				padding-right: 2px;
    					border-left: 1px solid black;
	    				border-top: 1px solid black;
    					border-right: 1px solid black;
    					border-bottom: 1px solid black;

						.report-body-total-col02-title {
							width: 170px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col02-value {
							width: 30x;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col02-unit {
							display: block;
		    				float: right;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
					}
	    		}
    		}
		}
	}
}
</style>
