<template>
	<div class="report-header">
		<div class="report-header-right">
			<span class="report-header-title-1">Qualitech public company limited, LAB Division</span><BR />
			<span class="report-header-title-2">83/50 Moo 10, Tambol Nong Kham,</span><BR />
			<span class="report-header-title-2">Amphur Sri Racha, Chonburi, 20230</span><BR />
			<span class="report-header-title-2">Tel. 033-005-161 to 3</span>
		</div>
	</div>
</template>
<script>
export default {
	props: ['reportData'],
	data() {
		return {
		}
	},

	mounted() {
		/* axios.get('https://api.coindesk.com/v1/bpi/currentprice.json').then(response => {
			this.info = response.data.bpi
		}).catch(error => {
			console.log(error)
			this.errored = true
		}).finally(() => this.loading = false)*/
	}
}
</script>

<style lang="scss" scoped>
.report-info {
	display: flex;
	padding: 20px;
	padding-bottom: 0px;

	table tr {
		/*line-height: 10px;*/
	}

	.report-details {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		width:  100%;
		font-family: "Arial";
		font-size: 10px;

		.report-header {
			.report-header-right {

				text-align: right;
				line-height: 22px;
				margin-top: 8px;
				margin-bottom: 4px;
				margin-right: 10px;

				.report-header-title-1{
					font-weight: 400;
				}
				.report-header-title-2{
					font-weight: 100;
				}
			}
		}
	}
}
</style>
