<template>
	<div class="report-body-header">
		<table class="report-body-table">
			<tr>
				<td rowspan="3" class="report-body-header-col01 report-table-border-bottom"><span v-html="reportTitle" /></td>
				<td class="report-body-header-col02 report-table-border-top">
					<div class="report-body-header-col02-title">Report No.</div>
					<div class="report-body-header-col02-colon">:</div>
					<div class="report-body-header-col02-value">{{ FilterReportNo_AAA_BB_C(reportResult.result_list[0].no) }} / {{ getFormTypeByXX(reportResult.form_type) }}001</div>
				</td>
			</tr>
			<tr>
				<td class="report-body-header-col02">
					<div class="report-body-header-col02-title">Page</div>
					<div class="report-body-header-col02-colon">:</div>
					<div class="report-body-header-col02-value">{{ reportResult.page_index }} / {{ reportResult.all_page }}</div>
				</td>
			</tr>
			<tr>
				<td class="report-body-header-col02 report-table-border-bottom">
					<div class="report-body-header-col02-title">Test Date</div>
					<div class="report-body-header-col02-colon">:</div>
					<div class="report-body-header-col02-value">{{ FilterDateTime(reportData.test_date) }}</div>
				</td>
			</tr>
		</table>
	</div>
</template>
<script>

export default {

	props: ['reportData', 'reportResult'],
	data() {
		return {
			reportTitle: "",
		}
	},

	mounted() {
		this.reportTitle = this.getConstReportTitleFromType(this.getFormTypeByXX(this.reportResult.form_type))
	}
}
</script>

<style lang="scss" scoped>
.pdf-content {
	width: 100%;
	background: #fff;

	.report-info {
		display: flex;
		padding: 20px;
		padding-bottom: 0px;

		table tr {
			/*line-height: 10px;*/
		}

		.report-details {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width:  100%;
			font-family: "Arial";
			font-size: 10px;

			.report-body {
				margin-left: 5px;
					margin-right: 5px;
					border: 1px solid black;
				padding: 2px;

					.report-body-table {
						width: 100%;
						border-collapse: collapse;
						/*border-right: 1px solid black;
						border-bottom: 1px solid black;*/
						line-height: 10px;
					}

					.report-body-table-border {
						width: 100%;
						border-collapse: collapse;
						border: 1px solid black;
					}

					.report-table-border-bottom {
						border-bottom: 1px solid black;
					}
					.report-table-border-right {
						border-right: 1px solid black;
					}

					.report-table-border-top {
						border-top: 1px solid black;
					}

					.report-body-header {
						padding-bottom: 1px;

						.report-body-header-col01 {
							text-align: center;
							width: 520px;
							border-left: 1px solid black;
							border-top: 1px solid black;
							font-size: 18px;
							line-height: 25px;
						}
						.report-body-header-col02 {

							padding-left: 2px;
							vertical-align: text-top;
							border-left: 1px solid black;
							border-right: 1px solid black;

						.report-body-header-col02-title {
							width: 72px;
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
						.report-body-header-col02-colon {
							width: 24px;
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
						.report-body-header-col02-value {
							display: block;
								float: left;
								margin-top: 5px;
								margin-bottom: 5px;
						}
					}
					}

				}
		}
	}
}
</style>
