<template>
	<div class="report-body-customer">
		<table class="report-body-table">
			<tr>
				<td rowspan="2" class="report-body-customer-col01">
					<div class="report-body-customer-col01-title">Customer</div>
					<div class="report-body-customer-col01-colon">:</div>
					<div class="report-body-customer-col01-value">{{ reportData.customer_name }}</div>
				</td>
				<td class="report-body-customer-col02">
					<div class="report-body-customer-col02-title">Project Name</div>
					<div class="report-body-customer-col02-colon">:</div>
					<div class="report-body-customer-col02-value">{{ reportData.pname }}</div>
				</td>
			</tr>
			<tr>
				<td class="report-body-customer-col02">
					<div class="report-body-customer-col02-title">Project No</div>
					<div class="report-body-customer-col02-colon">:</div>
					<div class="report-body-customer-col02-value">{{ reportData.pno }}</div>
				</td>
			</tr>
			<!----------------------------------------->
			<tr>
				<td rowspan="3" class="report-body-customer-col01">
					<div class="report-body-customer-col01-title" :class="{ 'address-only': reportData.customer_addr!=''}">Address</div>
					<div class="report-body-customer-col01-colon" :class="{ 'address-only': reportData.customer_addr!=''}">:</div>
					<div class="report-body-customer-col01-value" :class="{ 'address-val-only': reportData.customer_addr!=''}">{{ reportData.customer_addr }}</div>
				</td>
				<td class="report-body-customer-col02">
					<div class="report-body-customer-col02-title">Welding Process</div>
					<div class="report-body-customer-col02-colon">:</div>
					<div class="report-body-customer-col02-value">{{ reportData.wprocess }}</div>
				</td>
			</tr>
			<tr>
				<td class="report-body-customer-col02">
					<div class="report-body-customer-col02-title">Welding Position</div>
					<div class="report-body-customer-col02-colon">:</div>
					<div class="report-body-customer-col02-value">{{ reportData.wposition }}</div>
				</td>
			</tr>
			<tr>
				<td class="report-body-customer-col02">
					<div class="report-body-customer-col02-title">Test Temperature</div>
					<div class="report-body-customer-col02-colon">:</div>
					<div class="report-body-customer-col02-value">{{ testTemp }}</div>
					<div class="report-body-customer-col02_2-title">Humidity</div>
					<div class="report-body-customer-col02_2-colon">:</div>
					<div class="report-body-customer-col02_2-value">{{ testHum }}</div>
				</td>
			</tr>
			<!----------------------------------------->
			<tr>
				<td class="report-body-customer-col01">
					<div class="report-body-customer-col01-title">Test Product</div>
					<div class="report-body-customer-col01-colon">:</div>
					<div class="report-body-customer-col01-value">{{ reportData.testproduct }}</div>
				</td>
				<td class="report-body-customer-col02">
					<div class="report-body-customer-col02-title">Dimension (mm)</div>
					<div class="report-body-customer-col02-colon">:</div>
					<div class="report-body-customer-col02-value">{{ reportData.dimension }}</div>
				</td>
			</tr>
			<!----------------------------------------->
			<tr>
				<td class="report-body-customer-col01 report-table-border-bottom">
					<div class="report-body-customer-col01-title">Material Specification</div>
					<div class="report-body-customer-col01-colon">:</div>
					<div class="report-body-customer-col01-value">{{ reportData.materialsp }}</div>
				</td>
				<td class="report-body-customer-col02 report-table-border-bottom">
					<div class="report-body-customer-col02-title">Received Date</div>
					<div class="report-body-customer-col02-colon">:</div>
					<div class="report-body-customer-col02-value">{{ FilterDateTime(reportData.receivedate) }}</div>
				</td>
			</tr>
		</table>
	</div>
</template>
<script>
export default {
	props: ['reportData'],
	data() {
		return {
			testTemp: "",
			testHum: "",
		}
	},

	mounted() {
		
		this.testTemp = this.getConstTestTemp()
		this.testHum = this.getConstTestHumidity()
		/* axios.get('https://api.coindesk.com/v1/bpi/currentprice.json').then(response => {
			this.info = response.data.bpi
		}).catch(error => {
			console.log(error)
			this.errored = true
		}).finally(() => this.loading = false)*/
	}
}
</script>

<style lang="scss" scoped>

.pdf-content {
	width: 100%;
	background: #fff;

	.report-info {
		display: flex;
		padding: 20px;
		padding-bottom: 0px;

		table tr {
		}

		.report-details {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width:  100%;
			font-family: "Arial";
			font-size: 10px;

			.report-body {
				margin-left: 5px;
				margin-right: 5px;
				border: 1px solid black;
				padding: 2px;

				.report-body-table {
					width: 100%;
					border-collapse: collapse;
					/*border-right: 1px solid black;
					border-bottom: 1px solid black;*/
					line-height: 10px;
				}

				.report-body-table-border {
					width: 100%;
					border-collapse: collapse;
					border: 1px solid black;
				}

				.report-table-border-bottom {
					border-bottom: 1px solid black;
				}
				.report-table-border-right {
					border-right: 1px solid black;
				}

				.report-table-border-top {
					border-top: 1px solid black;
				}

				.report-body-customer{
					padding-bottom: 1px;

					.report-body-customer-col01 {
						width: 399px;
						border-left: 1px solid black;
						border-top: 1px solid black;
						vertical-align: text-top;
						padding-left: 2px;

						.report-body-customer-col01-title {
							width: 110px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-customer-col01-colon {
							width: 14px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-customer-col01-value {
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}

						.address-only{
							position:  relative;
							top:  -3px;
						}
						.address-val-only{
							float: none;
						    width: 390px;
							padding-left: 125px;
							position: relative;
							top: -7px;
							line-height: 18px;
							height: 50px;
						}
					}

					.report-body-customer-col02 {

						padding-left: 2px;
						border-left: 1px solid black;
						border-top: 1px solid black;
						border-right: 1px solid black;
						vertical-align: text-top;

						.report-body-customer-col02-title {
							width: 100px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-customer-col02-colon {
							width: 24px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-customer-col02-value {
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}

						.report-body-customer-col02_2-title {
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
							margin-left: 35px;
						}
						.report-body-customer-col02_2-colon {
							width: 15px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
							margin-left: 2px;
						}
						.report-body-customer-col02_2-value {
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
					}
				}
				.report-body-equip{
					padding-bottom: 1px;

					.report-body-equip-col01 {
						padding-left: 2px;
						width: 220px;
						border-left: 1px solid black;
						border-top: 1px solid black;

						.report-body-equip-col01-title {
							width: 110px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-equip-col01-colon {
							width: 14px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-equip-col01-value {
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
					}

					.report-body-equip-col01_2 {
						padding-left: 2px;
						width: 178px;
						border-left: 1px solid black;
						border-top: 1px solid black;

						.report-body-equip-col01_2-title {
							width: 60px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-equip-col01_2-colon {
							width: 14px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-equip-col01_2-value {
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
					}

					.report-body-equip-col02 {

						padding-left: 2px;
						border-left: 1px solid black;
						border-top: 1px solid black;
						border-right: 1px solid black;

						.report-body-equip-col02-title {
							width: 100px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-equip-col02-colon {
							width: 24px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-equip-col02-value {
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}

						.report-body-equip-col02_2-title {
							width: 130px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
						.report-body-equip-col02_2-colon {
							width: 15px;
							display: block;
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}
</style>
