<template>
	<div>
		<br><br>
		<div class="report-footer-template">
			<span class="report-footer-template-title">FM-TS-02</span>
		</div>
	</div>
</template>
<script>
export default {
	props: ['reportData'],
	data() {
		return {
		}
	},

	mounted() {
		/* axios.get('https://api.coindesk.com/v1/bpi/currentprice.json').then(response => {
			this.info = response.data.bpi
		}).catch(error => {
			console.log(error)
			this.errored = true
		}).finally(() => this.loading = false)*/
	}
}
</script>
<style lang="scss" scoped>


	.report-info {
		display: flex;
		padding: 20px;
		padding-bottom: 0px;

		.report-details {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width:  100%;
			font-family: "Arial";
			font-size: 10px;

			.report-footer{ 
				text-align: left;

				margin-top: 12px;
				font-size: 9px;
				margin-left: 8px;
				margin-bottom: 22px;

				.report-footer-col1{
					float: left;
					width: 75px;
					line-height: 14px;
					.report-footer-col1-title{
					}
				}

				.report-footer-col2{
					float: left;
					line-height: 14px;
					.report-footer-col2-title{
					}
				}
			}

			.report-footer-template{
				text-align: left;
				.report-footer-template-title{ 
					font-size:  9px;
				}
			}
		}
	}

</style>
