<template>
	<section class="pdf-content" :style="{height: newPaperHeight}">
		<section class="report-info">
			<section class="report-details">
				<report-header :report-data="reportData" />
				<div class="report-body">
					<tsw v-if="reportFormType == 'TSW'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<tsb1 v-else-if="reportFormType == 'TSB1'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<tsb1std v-else-if="reportFormType == 'TSB1STD'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" :cg-id="reportResult.cgid" @domRendered="domRendered()" />
					<tsb2 v-else-if="reportFormType == 'TSB2'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<tsb2std v-else-if="reportFormType == 'TSB2STD'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" :cg-id="reportResult.cgid" @domRendered="domRendered()" />
					<tsb3 v-else-if="reportFormType == 'TSB3'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<tsb3std v-else-if="reportFormType == 'TSB3STD'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" :cg-id="reportResult.cgid" @domRendered="domRendered()" />
					<tspl v-else-if="reportFormType == 'TSPL'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<bd v-else-if="reportFormType == 'BD'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<bdmat v-else-if="reportFormType == 'BDMAT'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<ftn v-else-if="reportFormType == 'FTN'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<nb v-else-if="reportFormType == 'NB'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<ft v-else-if="reportFormType== 'FT'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<im v-else-if="reportFormType == 'IM'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<pc v-else-if="reportFormType == 'PC'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<ic v-else-if="reportFormType == 'IC'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<!--im1 v-else-if="reportFormType == 'IM1'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<im2 v-else-if="reportFormType == 'IM2'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<im3 v-else-if="reportFormType == 'IM3'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<im4 v-else-if="reportFormType == 'IM4'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<im1add v-else-if="reportFormType == 'IM1ADD'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<im2add v-else-if="reportFormType == 'IM2ADD'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<im3add v-else-if="reportFormType == 'IM3ADD'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" /-->

					

					<es v-else-if="reportFormType == 'ES'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<esstd v-else-if="reportFormType == 'ESSTD'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" :cg-id="reportResult.cgid" @domRendered="domRendered()" />
					<esaero v-else-if="reportFormType == 'ESAERO'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" :cg-id="reportResult.cgid" @domRendered="domRendered()" />

					<ms1 v-else-if="reportFormType == 'MS1'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<ms1std v-else-if="reportFormType == 'MS1STD'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" :cg-id="reportResult.cgid" @domRendered="domRendered()" />
					<ms2 v-else-if="reportFormType == 'MS2'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<ms2std v-else-if="reportFormType == 'MS2STD'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" :cg-id="reportResult.cgid" @domRendered="domRendered()" />

					<mi1 v-else-if="reportFormType == 'MI1'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<mi2 v-else-if="reportFormType == 'MI2'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<ma v-else-if="reportFormType == 'MA'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<hv3col v-else-if="reportFormType == 'HV3COL'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<hv4col v-else-if="reportFormType == 'HV4COL'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<hvpic v-else-if="reportFormType == 'HVPIC'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<hrr v-else-if="reportFormType == 'HR'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<hb v-else-if="reportFormType == 'HB'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />

					<mm v-else-if="reportFormType == 'MM'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<dm v-else-if="reportFormType == 'DM'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
				</div>
				<report-footer :report-data="reportData" />
			</section>
		</section>
	</section>
</template>
<script>

import ReportHeader from '../MainTemplates/ReportHeader.vue'
import ReportFooter from '../MainTemplates/ReportFooter.vue'
import Tsw from '../TS/TSW.vue'
import Tsb1 from '../TS/TSB1.vue'
import Tsb1std from '../TS/TSB1STD.vue'
import Tsb2 from '../TS/TSB2.vue'
import Tsb2std from '../TS/TSB2STD.vue'
import Tsb3 from '../TS/TSB3.vue'
import Tsb3std from '../TS/TSB3STD.vue'
import Tspl from '../TS/TSPL.vue'

import Bd from '../BD/BD.vue'
import Bdmat from '../BD/BDMAT.vue'

import Ftn from '../FTN/FTN.vue'
import Nb from '../NB/NB.vue'
import Ft from '../FT/FT.vue'

import Im from '../IM/IM.vue'

import Pc from '../PC/PC.vue'
import Ic from '../IC/IC.vue'

//import Im1 from '../IM/IM1.vue'
//import Im2 from '../IM/IM2.vue'
//import Im3 from '../IM/IM3.vue'
//import Im4 from '../IM/IM4.vue'
//import Im1add from '../IM/IM1ADD.vue'
//import Im2add from '../IM/IM2ADD.vue'
//import Im3add from '../IM/IM3ADD.vue'

import Mi1 from '../MI/MI1.vue'
import Mi2 from '../MI/MI2.vue'

import Ma from '../MA/MA.vue'

import Es from '../ES/ES.vue'
import Esstd from '../ES/ESSTD.vue'
import Esaero from '../ES/ESAERO.vue'

import Ms1 from '../MS/MS1.vue'
import Ms1std from '../MS/MS1STD.vue'
import Ms2 from '../MS/MS2.vue'
import Ms2std from '../MS/MS2STD.vue'

import Hv3col from '../HV/HV3COL.vue'
import Hv4col from '../HV/HV4COL.vue'
import Hvpic from '../HV/HVPIC.vue'

import Hrr from '../HR/HR.vue'
import Hb from '../HB/HB.vue'

import Mm from '../MM/MM.vue'
import Dm from '../DM/DM.vue'

export default {
	components: {
		ReportHeader,
		ReportFooter,

		Tsw,
		Tsb1,
		Tsb1std,
		Tsb2,
		Tsb2std,
		Tsb3,
		Tsb3std,
		Tspl,

		Bd,
		Bdmat,
		
		Ftn,
		Nb,
		Ft,

		Im,

		Pc,
		Ic,
		//Im1,
		//Im2,
		//Im3,
		//Im4,
		//Im1add,
		//Im2add,
		//Im3add,

		

		Es,
		Esstd,
		Esaero,

		Ms1,
		Ms1std,
		Ms2,
		Ms2std,

		Mi1,
		Mi2,

		Ma,

		Hv3col,
		Hv4col,
		Hvpic,

		Hrr,
		Hb,

		Mm,
		Dm,
	},
	props: ['reportData', 'reportResult', 'resultList', 'reportFormType'],
	data() {
		return {
			newPaperHeight: 1099,
			//paperViewHeight: 1155,
			//paperPrintHeight: 1099,
			//newPaperHeight: "1099px"
		}
	},
	computed: {
		/*()
		{
			return this.paperHeight+'px'
		}*/
	},
	mounted() {
		//this.setPaperToView()
	},
	methods: {
		setPaperToPrint()
		{
			//this.newPaperHeight = this.paperPrintHeight+"px"
		},
		setPaperToView()
		{
			//this.newPaperHeight = this.paperViewHeight+"px"
		},
	}
}
</script>

<style lang="scss" scoped>
@import '../assets/pdf.scss';
.pdf-content {
	width: 100%;
	background: #fff;
	height: 1099px;
	text-align: left;
	/*border-bottom: 1px dotted #ddd;*/

	.report-info {
		display: flex;
		padding: 20px;
		padding-bottom: 0px;
		background: #fff;

		.report-details {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width:  100%;
			font-family: "Arial";
			font-size: 10px;

			/*border-bottom: 1px dotted #ddd;*/

			.report-body {
				margin-left: 5px;
				margin-right: 5px;
				border: 1px solid black;
				 padding: 2px;
			}

			.report-footer-template{
				text-align: left;
				.report-footer-template-title{ 
					font-size:  9px;
				}
			}
		}
	}
}
</style>
