<template>
	<section class="pdf-content">
		<section class="report-info">
			<section class="report-details">
				<report-header :report-data="reportData" />
				<div class="report-graph-title">Attachment {{ (reportResult.page_index-1) }} : Test Run Review Graph</div>
				<div class="report-body">
					<tswg1 v-if="reportFormType == 'TSWG1'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<tsb1g1 v-else-if="reportFormType == 'TSB1G1'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<tsb2g1 v-else-if="reportFormType == 'TSB2G1'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<tsb3g1 v-else-if="reportFormType == 'TSB3G1'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
					<tsplg1 v-else-if="reportFormType == 'TSPLG1'" :report-data="reportData" :report-result="reportResult" :result-list="resultList" @domRendered="domRendered()" />
				</div>
			</section>
		</section>
	</section>
</template>
<script>

import ReportHeader from '../MainTemplates/ReportHeader.vue'

import Tswg1 from '../TS/TSWG1.vue'
import Tsb1g1 from '../TS/TSB1G1.vue'
import Tsb2g1 from '../TS/TSB2G1.vue'
import Tsb3g1 from '../TS/TSB3G1.vue'
import Tsplg1 from '../TS/TSPLG1.vue'


export default {
	components: {
		ReportHeader,
		Tswg1,
		Tsb1g1,
		Tsb2g1,
		Tsb3g1,
		Tsplg1,

	},
	props: ['reportData', 'reportResult', 'resultList', 'reportFormType'],
	data() {
		return {
		}
	},
	mounted() {
	},
}
</script>

<style lang="scss" scoped>
@import '../assets/pdf.scss';
.pdf-content {
	width: 100%;
	background: #fff;
	height: 1099px;
	/*border-bottom: 1px dotted #ddd;*/
	.report-info {
		display: flex;
		padding: 20px;
		padding-bottom: 0px;
		background: #fff;

		.report-details {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width:  100%;
			font-family: "Arial";
			font-size: 10px;

			.report-graph-title {
				text-align: center;
			    font-size: 12px;
			    padding: 5px;
			}

			.report-body {
				margin-left: 5px;
				margin-right: 5px;
				border: 1px solid black;
				 padding: 2px;
			}
		}
	}
}
</style>
