<template>
	<div class="report-body-complete">
		<table class="report-body-table">
			<tr>
				<td class="report-body-complete-col-complete style-normal style-header-height style-text-left">Completed by</td>
				<td class="report-body-complete-col-approved style-normal">Approved by</td>
				<td class="report-body-complete-col-client style-normal">Client Representative</td>
				<td class="report-body-complete-col-review style-normal">Reviewed by</td>
				<td class="report-body-complete-col-review style-normal">Reviewed by</td>
				<td class="report-body-complete-col-owner style-normal">Owner Representative</td>
			</tr>
			<tr>
				<td colspan="13" class="report-body-complete-row-blank" />
			</tr>
			<tr>
				<td class="style-normal style-header-height style-text-left">Company</td>
				<td class="style-normal">{{ compName }}</td>
				<td class="style-normal">{{ reportData.client_comp }}</td>
				<td class="style-normal">{{ reportData.review_comp1 }}</td>
				<td class="style-normal">{{ reportData.review_comp2 }}</td>
				<td class="style-normal report-table-border-right">{{ reportData.owner_comp }}</td>
			</tr>
			<tr>
				<td class="style-normal style-header-height style-text-left">Signature</td>
				<td class="style-normal" />
				<td class="style-normal" />
				<td class="style-normal" />
				<td class="style-normal" />
				<td class="style-normal report-table-border-right" />
			</tr>
			<tr>
				<td class="style-normal style-header-height style-text-left">Name</td>
				<td class="style-normal">{{ reportData.app_name }}</td>
				<td class="style-normal" />
				<td class="style-normal" />
				<td class="style-normal" />
				<td class="style-normal report-table-border-right" />
			</tr>
			<tr>
				<td class="style-normal style-header-height style-text-left report-table-border-bottom">Date</td>
				<td class="style-normal report-table-border-bottom">{{ FilterDateTime(reportData.test_date) }}</td>
				<td class="style-normal report-table-border-bottom" />
				<td class="style-normal report-table-border-bottom" />
				<td class="style-normal report-table-border-bottom" />
				<td class="style-normal report-table-border-bottom report-table-border-right" />
			</tr>
		</table>
	</div>
</template>
<script>

export default {
	props: ['reportData', 'reportResult'],
	data() {
		return {
			compName: "",
		}
	},

	mounted() {
		this.compName = this.getConstCompName()
	}
}
</script>

<style lang="scss" scoped>
.report-body-complete{
	/*padding-bottom: 1px;*/
	font-family: "Arial";
	font-size: 10px;

	.style-header-height{
		height: 22px;
	}

	.style-normal{
		border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;
	}

	.style-text-left{
		text-align: left;
		padding-left: 2px;
	}

	.report-body-complete-row-blank{
		border: 0px solid white;
		padding: 1px;
		/*border-top: 1px solid black;
		border-left: 1px solid white;
		border-right: 1px solid white;*/
	}

	.report-body-complete-col-complete {
		padding-left: 2px;
		width: 75px;
		border-left: 1px solid black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	.report-body-complete-col-approved {
		padding-left: 2px;
		width: 150px;
		border-left: 1px solid black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	.report-body-complete-col-client {
		padding-left: 2px;
		width: 125px;
		border-left: 1px solid black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	.report-body-complete-col-review {
		padding-left: 2px;
		width: 125px;
		border-left: 1px solid black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	.report-body-complete-col-owner {
		padding-left: 2px;
		border-left: 1px solid black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		border-right: 1px solid black;
	}
}
			
</style>
