<template>
	<section class="pdf-content">
		<section class="report-info">
			<!--section class="image-container">
				<img
					class="user-image"
					src="https://i.imgur.com/wKblc.jpg"
					alt="User Image"
					ref="userImage"
				/>
			</section-->

			<section class="cover-details">
				<div class="cover-header-1">
					<span class="cover-text-header-1">Qualitech public company limited, LAB Division</span>
					<span class="cover-text-header-1">83/50 Moo 10, Tambol Nong Kham,</span>
					<span class="cover-text-header-1">Amphur Sri Racha, Chonburi, 20230</span>
					<span class="cover-text-header-1">Tel. 033-005-161 to 3</span>
				</div>
				<div class="cover-header-2">
					<span class="cover-text-header-2">MECHANICAL AND METALLURGICAL TESTING LABORATORY</span>
				</div>
				<div class="cover-header-2">
					<span class="cover-text-header-2">TEST REPORT</span>
				</div>
				<div class="cover-detail-name">
					<table class="cover-detail-name-table-right">
						<tr>
							<td><span class="cover-text-normal">Report No.</span></td>
							<td><span class="cover-text-normal">:</span></td>
							<td><span class="cover-text-normal-red">โชว์ Report No. ทั้งหมด ตัวอย่าง</span></td>
						</tr>
						<tr>
							<td />
							<td><span class="cover-text-normal">:</span></td>
							<td><span class="cover-text-normal-red">001-64 / TS001 , 001-64 / BD001</span></td>
						</tr>
						<tr>
							<td />
							<td><span class="cover-text-normal">:</span></td>
							<td><span class="cover-text-normal-red">001-64-1 / BD001 to 001-64-5 / BD001</span></td>
						</tr>
						<tr>
							<td><span class="cover-text-normal">Page</span></td></td>
							<td><span class="cover-text-normal">:</span></td>
							<td><span class="cover-text-normal-red">รวมจำนวนหน้าทั้งหมดใน Report</span></td>
						</tr>
						<tr>
							<td><span class="cover-text-normal">Test Date</span></td></td>
							<td><span class="cover-text-normal">:</span></td>
							<td><span class="cover-text-normal-red">วันที่ทดสอบงาน</span></td>
						</tr>
					</table>
				</div>

				<div class="cover-detail-name">
					<table class="cover-detail-name-table-left">
						<tr>
							<td><span class="cover-text-normal">Report No.</span></td>
							<td><span class="cover-text-normal">:</span></td>
							<td><span class="cover-text-normal-red">โชว์ Report No. ทั้งหมด ตัวอย่าง</span></td>
						</tr>
						<tr>
							<td />
							<td><span class="cover-text-normal">:</span></td>
							<td><span class="cover-text-normal-red">001-64 / TS001 , 001-64 / BD001</span></td>
						</tr>
						<tr>
							<td />
							<td><span class="cover-text-normal">:</span></td>
							<td><span class="cover-text-normal-red">001-64-1 / BD001 to 001-64-5 / BD001</span></td>
						</tr>
						<tr>
							<td><span class="cover-text-normal">Page</span></td></td>
							<td><span class="cover-text-normal">:</span></td>
							<td><span class="cover-text-normal-red">รวมจำนวนหน้าทั้งหมดใน Report</span></td>
						</tr>
						<tr>
							<td><span class="cover-text-normal">Test Date</span></td></td>
							<td><span class="cover-text-normal">:</span></td>
							<td><span class="cover-text-normal-red">วันที่ทดสอบงาน</span></td>
						</tr>
					</table>
				</div>

				<h4 class="user-name">MECHANICAL AND METALLURGICAL TESTING LABORATORY</h4>

				<span class="detail-container">
					<span class="detail-label">Game:</span>
					Game No. 3
				</span>

				<span class="detail-container">
					<span class="detail-label">Date and Time</span>
					November 11, 2019 1:00 PM - 2:23 PM
				</span>

				<span class="detail-container">
					<span class="detail-label">Game Replay Link:</span>

					<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">https://www.youtube.com/watch?v=dQw4w9WgXcQ</a>
				</span>
			</section>
		</section>

		<section v-for="(val, key) in 10" :key="key" class="chart-container">
			<h4 class="time">November 11, 2019 1:00 PM - 2:23 PM</h4>

			<apexchart type="area" height="100%" width="100%" :options="chartOptions" :series="series" />
		</section>
	</section>
</template>

<script>
export default {
  data() {
    return {
      series: [
        {
          name: 'Level',
          data: [
            { y: 1, x: '11/11/2019 13:00:00' },
            { y: 1, x: '11/11/2019 13:01:00' },
            { y: 2, x: '11/11/2019 13:02:00' },
            { y: 4, x: '11/11/2019 13:03:00' },
            { y: 5, x: '11/11/2019 14:04:00' }
          ]
        },
        {
          name: 'Experience',
          data: [
            { y: 5, x: '11/11/2019 13:00:00' },
            { y: 5, x: '11/11/2019 13:01:00' },
            { y: 10, x: '11/11/2019 13:02:00' },
            { y: 12, x: '11/11/2019 13:03:00' },
            { y: 20, x: '11/11/2019 14:04:00' }
          ]
        },
        {
          name: 'Gold',
          data: [
            { y: 10, x: '11/11/2019 13:00:00' },
            { y: 10, x: '11/11/2019 13:01:00' },
            { y: 20, x: '11/11/2019 13:02:00' },
            { y: 30, x: '11/11/2019 13:03:00' },
            { y: 50, x: '11/11/2019 14:04:00' }
          ]
        }
      ],

      chartOptions: {
        dataLabels: {
          enabled: false,

          style: {
            colors: ['#fff']
          }
        },

        stroke: {
          curve: 'smooth'
        },

        chart: {
          toolbar: {
            show: false,

            tools: {
              download: false
            }
          },

          animations: {
            enabled: false,

            animateGradually: {
              enabled: false
            },

            dynamicAnimation: {
              enabled: false
            }
          }
        },

        tooltip: {
          enabled: true,
          // theme: true,
          x: {
            show: true,
            format: 'MMM dd, yyyy HH:mm'
          }
        },

        legend: {
          show: true,
          labels: {
            useSeriesColors: false
          },
          onItemClick: {
            toggleDataSeries: false
          },
          onItemHover: {
            highlightDataSeries: true
          }
        },

        xaxis: {
          labels: {
            style: {
              // colors: '#fff',
            }
          },

          type: 'datetime'
        },

        yaxis: {
          labels: {
            style: {
              // color: '#fff',
            },

            formatter: (value) => {
              return value
            }
          },

          type: 'text'
        }
      }
    }
  },

  mounted() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.$emit('domRendered')
      }, 1000)
    })
  }
}
</script>

<style lang="scss" scoped>
.pdf-content {
	width: 100%;
	background: #fff;
	height: 1120px;

	.report-info {
		display: flex;
		padding: 20px;
		padding-bottom: 0px;

		.image-container {
			width: 75px;
			height: 75px;
			border-radius: 50%;
			overflow: hidden;
			position: relative;
			margin-right: 25px;
			border: 1px solid #dadada;

			.user-image {
				height: 100%;
				min-width: 100%;
				margin-left: 50%;
				transform: translateX(-50%);
			}
		}

		.cover-details {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width:  100%;

			.cover-header-1{
				margin-top: 8px;

				.cover-text-header-1{
					display: block;
					font-size: 10px;
					line-height: 22px;
					text-align: center;
				}
			}

			.cover-header-2{
				margin-top: 40px;

				.cover-text-header-2{
					display: block;
					font-size: 18px;
					text-align: center;
					line-height: 20px;
				}
			}

			.cover-detail-name{
				.cover-detail-name-table-right{
					float: right;
				}
				.cover-detail-name-table-left{
					float: left;
				}
				.cover-text-normal{
					font-size: 12px;
					text-align: center;
				}
				.cover-text-normal-red{
					font-size: 12px;
					text-align: center;
					color: red;
				}
			}

			/*.user-name {
				margin-bottom: 10px;
				flex-shrink: 0;
			}

			.detail-container {
				font-size: 13px;
				flex-shrink: 0;

				&:not(:last-child) {
					margin-bottom: 10px;
				}

				.detail-label {
					font-weight: 600;
					margin-right: 5px;
					font-size: 13px;
				}
			}*/
		}
	}

	.chart-container {
		width: 100%;
		height: 320px;
		padding: 20px;
		pointer-events: none;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}
</style>
