<template>
	<section class="report-nb">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
					<td rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
					<td rowspan="2" class="report-body-test-col-01 style-normal report-table-border-bottom">Location of Charpy<br>V-Notch</td>
					<td colspan="3" class="report-body-test-col-02 style-normal">Specimen Dimension (mm)</td>
					<td colspan="2" class="report-body-test-col-03 style-normal report-table-border-bottom">Impact energy (J)</td>
					<td rowspan="2" class="report-body-test-col-04 style-normal report-table-border-bottom">Percent of<br>Shear (%)</td>
					<td rowspan="2" class="report-body-test-col-05 style-normal report-table-border-bottom">Lateral Expansion<br>(mm.)</td>
					<td rowspan="2" class="report-body-test-col-06 style-normal report-table-border-right report-table-border-bottom">Remark</td>
				</tr>
				<tr>
					<td class="style-normal report-body-test-col-02-01 report-table-border-bottom">Thickness</td>
					<td class="style-normal report-body-test-col-02-02 report-table-border-bottom">Width</td>
					<td class="style-normal report-body-test-col-02-03 report-table-border-bottom">Length</td>
					<td class="style-normal report-body-test-col-03-01 report-table-border-bottom">Individual</td>
					<td class="style-normal report-body-test-col-03-02 report-table-border-bottom">Average</td>
				</tr>
				<tr>
					<td colspan="11" class="report-body-test-row-blank">&nbsp;</td>
				</tr>
				<tr>
					<td class="style-normal style-result-height">1</td>
					<td class="style-normal">093-63<span class="report-code">TS</span></td>
					<td rowspan="3" class="style-normal " />
					<td class="style-normal" />
					<td class="style-normal" />
					<td class="style-normal " />
					<td class="style-normal " />
					<td rowspan="3" class="style-normal" />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal report-table-border-right" />
				</tr>
				<tr>
					<td class="style-normal style-result-height">1</td>
					<td class="style-normal">093-63<span class="report-code">TS</span></td>
					<td class="style-normal" />
					<td class="style-normal" />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal report-table-border-right" />
				</tr>
				<tr>
					<td class="style-normal style-result-height">1</td>
					<td class="style-normal ">093-63<span class="report-code">TS</span></td>
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal report-table-border-right" />
				</tr>
				<tr>
					<td class="style-normal style-result-height">1</td>
					<td class="style-normal">093-63<span class="report-code">TS</span></td>
					<td rowspan="3" class="style-normal " />
					<td class="style-normal" />
					<td class="style-normal" />
					<td class="style-normal " />
					<td class="style-normal " />
					<td rowspan="3" class="style-normal" />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal report-table-border-right" />
				</tr>
				<tr>
					<td class="style-normal style-result-height">1</td>
					<td class="style-normal">093-63<span class="report-code">TS</span></td>
					<td class="style-normal" />
					<td class="style-normal" />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal report-table-border-right" />
				</tr>
				<tr>
					<td class="style-normal style-result-height">1</td>
					<td class="style-normal ">093-63<span class="report-code">TS</span></td>
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal report-table-border-right" />
				</tr>
				<tr>
					<td class="style-normal style-result-height">1</td>
					<td class="style-normal">093-63<span class="report-code">TS</span></td>
					<td rowspan="3" class="style-normal report-table-border-bottom" />
					<td class="style-normal" />
					<td class="style-normal" />
					<td class="style-normal " />
					<td class="style-normal " />
					<td rowspan="3" class="style-normal report-table-border-bottom" />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal report-table-border-right" />
				</tr>
				<tr>
					<td class="style-normal style-result-height">1</td>
					<td class="style-normal">093-63<span class="report-code">TS</span></td>
					<td class="style-normal" />
					<td class="style-normal" />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal " />
					<td class="style-normal report-table-border-right" />
				</tr>
				<tr>
					<td class="style-normal report-table-border-bottom style-result-height">1</td>
					<td class="style-normal report-table-border-bottom">093-63<span class="report-code">TS</span></td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
						<div v-if="showResultOnly" style="width: 100px; margin-left: auto; margin-right: auto;">
							<span class="text">Amount Picture</span>
							<v-select v-model="amountPic" color="" dense :items="amountPicMenu" />
						</div>
						<div style="margin-left: auto; margin-right: auto;" :style="{width: image_section_width+'px'}">
							<div v-if="amountPic>=1" class="report-body-remark-img">
								<div class="report-body-remark-imgbg" :style="{ backgroundImage: 'url(' + imageUrlFull1 + ')' }" />
								<div class="report-body-remark-title-img-1">Weld metal</div>
								<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,1)" />
							</div>
							<div v-if="amountPic>=2" class="report-body-remark-img">
								<div class="report-body-remark-imgbg" :style="{ backgroundImage: 'url(' + imageUrlFull2 + ')' }" />
								<div class="report-body-remark-title-img-1">HAZ1</div>
								<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,2)" />
							</div>
							<div v-if="amountPic>=3" class="report-body-remark-img">
								<div class="report-body-remark-imgbg" :style="{ backgroundImage: 'url(' + imageUrlFull3 + ')' }" />
								<div class="report-body-remark-title-img-1">HAZ2</div>
								<v-file-input v-if="showResultOnly" no-resize :disabled="isUploadingImage" show-size label="File input" @change="onFileSelected($event,3)" />
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			locationList: null,
			remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
			imageUrl1: "",
			imageUrl2: "",
			imageUrl3: "",
			imageUrl4: "",
			imageUrlFull1: "",
			imageUrlFull2: "",
			imageUrlFull3: "",
			imageUrlFull4: "",
			imagePsId1: 0,
			imagePsId2: 0,
			imagePsId3: 0,
			imagePsId4: 0,
			isUploadingImage: false,
			amountPic: 0,
			amountPicMenu: [0, 1, 2, 3],
			image_section_width: 0,
		}
	},
	computed: {
	},

	watch: {
		amountPic(newVal, oldVal) {
			if(newVal === 1){
				this.image_section_width = 180
			} else if(newVal === 2){
				this.image_section_width = 360
			} else if(newVal === 3){
				this.image_section_width = 540
			}
		},
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		// Change follow return from api & report type 
		this.resultDataList = this.resultList[0].nbdata[0].tablelist
		console.log(this.resultDataList)
		for(var i = 0; i < this.resultDataList.length; i++)
		{
			if (typeof this.resultDataList[i].result_no === 'undefined' && 
				typeof this.resultDataList[i].sample_no !== 'undefined' ){
				this.resultDataList[i].result_no = this.resultDataList[i].sample_no
			}
		}
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true
			for(var i =0; i < this.resultDataList.length; i++)
			{
				var tmp = this.resultDataList[i]
				try{
					//Add or Edit
					var r = null
					//r = await this.editResultOptionByKey(tmp.result_no, "location", tmp.location)
					//if(r === false) ok = false

					r = await this.editResultOptionByKey(tmp.result_no, "remark", tmp.remark)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}

			return ok
		},
		async mergeData(reportData) {
			if(this.amountPic === 0){
				reportData.pic1 = ""
				reportData.pic2 = ""
				reportData.pic3 = ""
				reportData.pic4 = ""
			}else if(this.amountPic === 1){
				reportData.pic1 = this.imageUrl1
				reportData.pic2 = ""
				reportData.pic3 = ""
				reportData.pic4 = ""
			}else if(this.amountPic === 2){
				reportData.pic1 = this.imageUrl1
				reportData.pic2 = this.imageUrl2
				reportData.pic3 = ""
				reportData.pic4 = ""
			}else if(this.amountPic === 3){
				reportData.pic1 = this.imageUrl1
				reportData.pic2 = this.imageUrl2
				reportData.pic3 = this.imageUrl3
				reportData.pic4 = ""
			}

			//remove pic not use
			try{
				var path1 = this.resultList[0].no
				var path2 = this.resultList[0].result_no
				var pic_list = await this.getPictureResultList(path1, path2)
				for(var i = 0; i < pic_list.length; i++)
				{
					var is_use = false
					if(pic_list[i].url === reportData.pic1){
						is_use = true
					}
					else if(pic_list[i].url === reportData.pic2){
						is_use = true
					}
					else if(pic_list[i].url === reportData.pic3){
						is_use = true
					}
					if(!is_use){
						await this.removePictureResult(pic_list[i].psid)
					}
				}
			}
			catch(error) {
				console.error(error)
			}

			return reportData
		},
		async uploadImage(img, index){

			var path1 = this.resultList[0].no
			var path2 = this.resultList[0].result_no
			this.isUploadingImage = true
			try{
				var res = await this.uploadPictureResult(img, path1, path2)
				if(res.status === "success"){
					if(index === 1){
						this.imageUrl1 = res.url
						this.imageUrlFull1 = localStorage.getItem('picurl') + res.url
					}else if(index === 2){
						this.imageUrl2 = res.url
						this.imageUrlFull2 = localStorage.getItem('picurl') + res.url
					}else if(index === 3){
						this.imageUrl3 = res.url
						this.imageUrlFull3 = localStorage.getItem('picurl') + res.url
					}
				}
			}
			catch(error) {
				console.error(error)
			}
			
			this.isUploadingImage = false
		},
		onFileSelected(file, index){
			this.uploadImage(file, index)
		},
		async startUp(){
			try {
				//this.locationList = await this.getCustomLocation()
				this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			for(var i =0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					//this.resultDataList[i].location = "N/A"
					this.resultDataList[i].remark = "N/A"
					const tmp = await this.getResultOptionByResultNo(rno)
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								//if(tmp[j].name === "location") this.resultDataList[i].location = tmp[j].value
								if(tmp[j].name === "remark") this.resultDataList[i].remark = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}

			this.imageUrl1 = this.reportResult.pic_1_url
			this.imageUrl2 = this.reportResult.pic_2_url
			this.imageUrl3 = this.reportResult.pic_3_url

			this.imageUrlFull1 = localStorage.getItem('picurl') + this.reportResult.pic_1_url
			this.imageUrlFull2 = localStorage.getItem('picurl') + this.reportResult.pic_2_url
			this.imageUrlFull3 = localStorage.getItem('picurl') + this.reportResult.pic_3_url

			this.imageUrlFull1 = this.imageUrlFull1.replaceAll('//finish', '/finish');
			this.imageUrlFull2 = this.imageUrlFull2.replaceAll('//finish', '/finish');
			this.imageUrlFull3 = this.imageUrlFull3.replaceAll('//finish', '/finish');

			if(this.imageUrl3 !== "") this.amountPic = 3
			else if(this.imageUrl2 !== "") this.amountPic = 2
			else if(this.imageUrl1 !== "") this.amountPic = 1
			else this.amountPic = 0

			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight

			if(h1 < 10){
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}
				
			var div = 477 - (h1 + h2)
			this.addition_height = div
		},
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

					
<style lang="scss" scoped>
.report-nb {  
	

	    		
	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 40px;
		}

		.style-result-height{
			height: 22px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-01{
			width: 16.8%;
		}

		.report-body-test-col-02{
			width: 20.5%;
		}

		.report-body-test-col-02-01{
			
		}
		.report-body-test-col-02-02{
			
		}

		.report-body-test-col-03{
			width: 13%;
		}

		.report-body-test-col-03-01{
			
		}

		.report-body-test-col-04{
			width: 10%;
		}

		.report-body-test-col-05{
			width: 16.5%;
		}

		.report-body-test-col-sample_dimen-thread{
			width: 13.5%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}

	}

	.report-body-remark{
								
		.report-body-remark-img{
			display: inline-block;
		}
		.report-body-remark-imgbg{
			width: 170px;
		    height: 230px;
			border: 1px solid black;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			margin-left: 5px;
			background-position-x: center;
    		background-position-y: center;
		}
	}


	.report-body-remark-img-add-2{
		
		margin-left: auto;
	    width: 740px;
	    margin-top: 40px;
	    margin-right: auto;

	    .report-body-remark-img-zone-1{
	    	width: 31%;
	    	margin-left: 15px;
	    	float: left;
	    	.report-body-remark-img-1{
				width: 100%;
				border: 1px solid black;
	    	}
	    	.report-body-remark-title-img-1{
				width: 100%;
				text-align: center;
	    	}
	    }
	    .report-body-remark-img-zone-2{
	    	width: 31%;
	    	margin-left: 10px;
	    	float: left;
	    	.report-body-remark-img-2{
				width: 100%;
				border: 1px solid black;
	    	}
	    	.report-body-remark-title-img-2{
				width: 100%;
				text-align: center;
	    	}
	    }
	}
}
</style>