<template>
	<section class="pdf-content">
		<section class="report-info">
			<section class="report-details">
				<report-header />
				<div class="report-body">
					<report-body-header />
					<report-body-customer />
					<report-body-equip />
					<div class="report-body-test">
						<table class="report-body-table">
							<tr>
								<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
								<td rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
								<td rowspan="2" class="report-body-test-col-01 style-normal report-table-border-bottom">Location of Charpy<br>V-Notch</td>
								<td colspan="3" class="report-body-test-col-02 style-normal">Specimen Dimension (mm)</td>
								<td colspan="2" class="report-body-test-col-03 style-normal report-table-border-bottom">Impact energy (J)</td>
								<td rowspan="2" class="report-body-test-col-04 style-normal report-table-border-bottom">Percent of<br>Shear (%)</td>
								<td rowspan="2" class="report-body-test-col-05 style-normal report-table-border-bottom">Lateral Expansion<br>(mm.)</td>
								<td rowspan="2" class="report-body-test-col-06 style-normal report-table-border-right report-table-border-bottom">Remark</td>
							</tr>
							<tr>
								<td class="style-normal report-body-test-col-02-01 report-table-border-bottom">Thickness</td>
								<td class="style-normal report-body-test-col-02-02 report-table-border-bottom">Width</td>
								<td class="style-normal report-body-test-col-02-03 report-table-border-bottom">Length</td>
								<td class="style-normal report-body-test-col-03-01 report-table-border-bottom">Individual</td>
								<td class="style-normal report-body-test-col-03-02 report-table-border-bottom">Average</td>
							</tr>
							<tr>
								<td colspan="11" class="report-body-test-row-blank">&nbsp;</td>
							</tr>
							<tr>
								<td class="style-normal style-result-height">1</td>
								<td class="style-normal">093-63<span class="report-code">TS</span></td>
								<td rowspan="3" class="style-normal " />
								<td class="style-normal" />
								<td class="style-normal" />
								<td class="style-normal " />
								<td class="style-normal " />
								<td rowspan="3" class="style-normal" />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal report-table-border-right" />
							</tr>
							<tr>
								<td class="style-normal style-result-height">1</td>
								<td class="style-normal">093-63<span class="report-code">TS</span></td>
								<td class="style-normal" />
								<td class="style-normal" />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal report-table-border-right" />
							</tr>
							<tr>
								<td class="style-normal style-result-height">1</td>
								<td class="style-normal ">093-63<span class="report-code">TS</span></td>
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal report-table-border-right" />
							</tr>
							<tr>
								<td class="style-normal style-result-height">1</td>
								<td class="style-normal">093-63<span class="report-code">TS</span></td>
								<td rowspan="3" class="style-normal " />
								<td class="style-normal" />
								<td class="style-normal" />
								<td class="style-normal " />
								<td class="style-normal " />
								<td rowspan="3" class="style-normal" />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal report-table-border-right" />
							</tr>
							<tr>
								<td class="style-normal style-result-height">1</td>
								<td class="style-normal">093-63<span class="report-code">TS</span></td>
								<td class="style-normal" />
								<td class="style-normal" />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal report-table-border-right" />
							</tr>
							<tr>
								<td class="style-normal style-result-height">1</td>
								<td class="style-normal ">093-63<span class="report-code">TS</span></td>
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal report-table-border-right" />
							</tr>
							<tr>
								<td class="style-normal style-result-height">1</td>
								<td class="style-normal">093-63<span class="report-code">TS</span></td>
								<td rowspan="3" class="style-normal report-table-border-bottom" />
								<td class="style-normal" />
								<td class="style-normal" />
								<td class="style-normal " />
								<td class="style-normal " />
								<td rowspan="3" class="style-normal report-table-border-bottom" />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal report-table-border-right" />
							</tr>
							<tr>
								<td class="style-normal style-result-height">1</td>
								<td class="style-normal">093-63<span class="report-code">TS</span></td>
								<td class="style-normal" />
								<td class="style-normal" />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal " />
								<td class="style-normal report-table-border-right" />
							</tr>
							<tr>
								<td class="style-normal report-table-border-bottom style-result-height">1</td>
								<td class="style-normal report-table-border-bottom">093-63<span class="report-code">TS</span></td>
								<td class="style-normal report-table-border-bottom" />
								<td class="style-normal report-table-border-bottom" />
								<td class="style-normal report-table-border-bottom" />
								<td class="style-normal report-table-border-bottom" />
								<td class="style-normal report-table-border-bottom" />
								<td class="style-normal report-table-border-bottom" />
								<td class="style-normal report-table-border-bottom report-table-border-right" />
							</tr>
						</table>
					</div>
					<div class="report-body-remark">
						<table class="report-body-table-border">
							<tr class="report-body-remark-additional">
								<td class="report-body-remark-col01">
									<div class="report-body-remark-col01_2-title">Additional Details : Type of test specimen : Full-sized Impact specimen</div>
									<div class="report-body-remark-img-add-2">
										<div class="report-body-remark-img-zone-1">
											<img class="report-body-remark-img-1" src="@/assets/gg.png">
											<div class="report-body-remark-title-img-1">Weld metal</div>
										</div>
										<div class="report-body-remark-img-zone-2">
											<img class="report-body-remark-img-2" src="@/assets/gg.png">
											<div class="report-body-remark-title-img-2">HAZ1</div>
										</div>
										<div class="report-body-remark-img-zone-2">
											<img class="report-body-remark-img-2" src="@/assets/gg.png">
											<div class="report-body-remark-title-img-2">HAZ2</div>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<report-body-total />
					<report-body-complete />

				</div>

				<report-footer />
				<div class="report-footer-template">
					<span class="report-footer-template-title">FM-TS-02</span>
				</div>
			</section>
		</section>
	</section>
</template>
<script>
import ReportHeader from '../MainTemplates/ReportHeader.vue'
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'
import ReportFooter from '../MainTemplates/ReportFooter.vue'

export default {
	components: {
		ReportHeader,
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
		ReportFooter,
	},
	data() {
		return {
		};
	},

	mounted () {
		/*axios.get('https://api.coindesk.com/v1/bpi/currentprice.json').then(response => {
			this.info = response.data.bpi
		}).catch(error => {
			console.log(error)
			this.errored = true
		}).finally(() => this.loading = false)*/
	}
};
</script>

<style lang="scss" scoped>
.pdf-content {
	width: 100%;
	background: #fff;
	height: 1120px;

	.report-info {
		display: flex;
		padding: 20px;
		padding-bottom: 0px;

		table tr {
		}

		.report-details {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width:  100%;
			font-family: "Arial";
			font-size: 10px;

			.report-body {
				margin-left: 5px;
    			margin-right: 5px;
    			border: 1px solid black;
 				padding: 2px;

    			.report-body-table {
	    			width: 100%;
	    			border-collapse: collapse;
    				/*border-right: 1px solid black;
	    			border-bottom: 1px solid black;*/
	    			line-height: 10px;
	    		}

	    		.report-body-table-border {
	    			width: 100%;
	    			border-collapse: collapse;
    				border: 1px solid black;
	    		}

	    		.report-table-border-bottom {
	    			border-bottom: 1px solid black;
	    		}
	    		.report-table-border-right {
	    			border-right: 1px solid black;
	    		}

	    		.report-table-border-top {
	    			border-top: 1px solid black;
	    		}

	    		
	    		.report-body-test{
	    			padding-bottom: 1px;

	    			.report-body-table{
	    				line-height: 20px;
	    			}

	    			.style-header-height{
	    				height: 40px;
	    			}

	    			.style-result-height{
	    				height: 22px;
	    			}

					.style-normal{
						border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				text-align: center;

	    				span.report-code {
	    					float: right;
				    		margin-right: 10px;
	    				}
					}

	    			.report-body-test-col-no{
	    				width: 3%;
	    			}

	    			.report-body-test-col-sample_no{
	    				width: 13.5%;
	    			}

	    			.report-body-test-col-01{
	    				width: 16.8%;
	    			}

	    			.report-body-test-col-02{
	    				width: 20.5%;
	    			}

	    			.report-body-test-col-02-01{
	    				
	    			}
	    			.report-body-test-col-02-02{
	    				
	    			}

	    			.report-body-test-col-03{
	    				width: 13%;
	    			}

	    			.report-body-test-col-03-01{
	    				
	    			}

	    			.report-body-test-col-04{
	    				width: 10%;
	    			}

	    			.report-body-test-col-05{
	    				width: 16.5%;
	    			}

	    			.report-body-test-col-sample_dimen-thread{
	    				width: 13.5%;
	    			}

	    			.report-body-test-col-rowsplit{
	    				width: 6.8%;
	    			}

	    			.report-body-test-row-blank{
	    				border: 0px solid white;
					    padding: 1px;
					    /*border-top: 1px solid black;
					    border-left: 1px solid white;
					    border-right: 1px solid white;*/
	    			}

	    		}


	    		.report-body-remark{
	    			padding-bottom: 1px;

	    			tr.report-body-remark-additional {
	    				height: 220px;
	    			}

	    			.report-body-remark-col01 {
	    				padding-left: 2px;
	    				vertical-align: text-top;


	    				.report-body-remark-col01-title {
							width: 50px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}
						
						.report-body-remark-col01-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;					
    					}

    					.report-body-remark-col02-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;		
    						margin-left: 25px;			
    					}

    					.report-body-remark-col03-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;	
    						margin-left: 30px;
    					}

    					.report-body-remark-col04-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;	
    						margin-left: 20px;
    					}

    					.report-body-remark-col01_2-title {
							/*width: 77px;*/
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}
						
						.report-body-remark-col01_2-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}
						.report-body-remark-img-add-2{
							
							margin-left: auto;
						    width: 740px;
						    margin-top: 40px;
						    margin-right: auto;

						    .report-body-remark-img-zone-1{
						    	width: 31%;
						    	margin-left: 15px;
						    	float: left;
						    	.report-body-remark-img-1{
									width: 100%;
    								border: 1px solid black;
						    	}
						    	.report-body-remark-title-img-1{
									width: 100%;
									text-align: center;
						    	}
						    }
						    .report-body-remark-img-zone-2{
						    	width: 31%;
						    	margin-left: 10px;
						    	float: left;
						    	.report-body-remark-img-2{
									width: 100%;
									border: 1px solid black;
						    	}
						    	.report-body-remark-title-img-2{
									width: 100%;
									text-align: center;
						    	}
						    }
						}
	    			}
	    		}
	    		.report-body-total{
	    			padding-bottom: 1px;

	    			.report-body-total-col01 {
	    				padding-left: 2px;
	    				padding-right: 2px;
	    				width: 400px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;

	    				.report-body-total-col01-title {
							width: 215px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col01-value {
							width: 30px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col01-unit {
							display: block;
		    				float: right;
	    					margin-top: 5px;
    						margin-bottom: 5px;						
    					}
	    			}

	    			.report-body-total-col02 {

	    				padding-left: 2px;
	    				padding-right: 2px;
    					border-left: 1px solid black;
	    				border-top: 1px solid black;
    					border-right: 1px solid black;
    					border-bottom: 1px solid black;

						.report-body-total-col02-title {
							width: 170px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col02-value {
							width: 30x;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
						.report-body-total-col02-unit {
							display: block;
		    				float: right;
	    					margin-top: 5px;
    						margin-bottom: 5px;
						}
					}
	    		}
	    		.report-body-complete{
	    			/*padding-bottom: 1px;*/

	    			.style-header-height{
	    				height: 20px;
	    			}

					.style-normal{
						border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				text-align: center;
					}

					.style-text-left{
						text-align: left;
						padding-left: 2px;
					}


					.report-body-complete-row-blank{
	    				border: 0px solid white;
					    padding: 1px;
					    /*border-top: 1px solid black;
					    border-left: 1px solid white;
					    border-right: 1px solid white;*/
	    			}

	    			.report-body-complete-col-complete {
	    				padding-left: 2px;
	    				width: 75px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}
	    			.report-body-complete-col-approved {
	    				padding-left: 2px;
	    				width: 150px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}

	    			.report-body-complete-col-client {
	    				padding-left: 2px;
	    				width: 125px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}

	    			.report-body-complete-col-review {
	    				padding-left: 2px;
	    				width: 125px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    			}
	    			.report-body-complete-col-owner {
	    				padding-left: 2px;
	    				border-left: 1px solid black;
	    				border-top: 1px solid black;
	    				border-bottom: 1px solid black;
	    				border-right: 1px solid black;
	    			}
	    		}
    		}

    		.report-footer{ 
    			text-align: left;

    			margin-top: 12px;
    			font-size: 9px;
    			margin-left: 8px;
    			margin-bottom: 22px;

    			.report-footer-col1{
    				float: left;
    				width: 75px;
    				line-height: 14px;
    				.report-footer-col1-title{
    				}
    			}

    			.report-footer-col2{
    				float: left;
    				line-height: 14px;
    				.report-footer-col2-title{
    				}
    			}
    		}

    		.report-footer-template{
    			text-align: left;
	    		.report-footer-template-title{
	    			font-size:  9px;
	    		}
	    	}
		}
	}
}
</style>