<template>
	<section class="report-tsb1g1">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div class="report-body-result">
			<div class="report-body-result-graph" :style="{ backgroundImage: 'url(' + resultDataList[0].pic1 + ')' }" />
			<table>
				<tr>
					<th class="col1">Display Name</th>
					<th class="col2">Value</th>
					<th class="col3">Unit</th>
				</tr>
				<tr class="col0"><td class="col0" colspan="3" /></tr>
				<tr>
					<td class="col1">Diameter</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].diameter, 2) }}</td>
					<td class="col3">mm</td>
				</tr>
				<tr>
					<td class="col1">Test ID</td>
					<td class="col2">{{ FilterReportNo_AAA_BB_C(resultDataList[0].result_no) }}<span class="report-code">{{ FilterReportNo_xxD(resultDataList[0].result_no) }}</span></td>
					<td class="col3" />
				</tr>
				<tr>
					<td class="col1">Initial Marked Gage Length</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].initial_gage_length, 2) }}</td>
					<td class="col3">mm</td>
				</tr>
				<tr>
					<td class="col1">Final Marked Gage Length</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].final_marked_gage_length, 2) }}</td>
					<td class="col3">mm</td>
				</tr>
				<tr>
					<td class="col1">Area</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].area, 3) }}</td>
					<td class="col3">mm<sup>2</sup></td>
				</tr>
				<tr>
					<td class="col1">Temperature</td>
					<td class="col2">{{ testTemp }}</td>
					<td class="col3">&#176;C</td>
				</tr>
				<tr>
					<td class="col1">First Test Rate</td>
					<td class="col2">{{ FilterBlank(firstTestRate, 2) }}</td>
					<td class="col3">mm/s</td>
				</tr>
				<tr>
					<td class="col1">Second Test Rate</td>
					<td class="col2">{{ FilterBlank(secondTestRate, 3) }}</td>
					<td class="col3">mm/s</td>
				</tr>
				<tr>
					<td class="col1">Load at Yield (0.2% Offset)</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].yield_load, 3) }}</td>
					<td class="col3">kN</td>
				</tr>
				<tr>
					<td class="col1">Yield Strength (0.2% Offset)</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].yield_strenght) }}</td>
					<td class="col3">MPa</td>
				</tr>
				<tr>
					<td class="col1">Maximum Force</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].max_force, 3) }}</td>
					<td class="col3">kN</td>
				</tr>
				<tr>
					<td class="col1">Maximum Stress</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].max_stress) }}</td>
					<td class="col3">MPa</td>
				</tr>
				<tr>
					<td class="col1">Elongation after Break</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].elongation, 0) }}</td>
					<td class="col3">%</td>
				</tr>
				<tr>
					<td class="col1">Reduction of Area</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].reduction, 0) }}</td>
					<td class="col3">%</td>
				</tr>
			</table>
		</div>
	</section>
</template>
<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'

export default {
	components: {
		ReportBodyHeader,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			showResultOnly: false,
			resultDataList: [],
			testTemp: "",
			firstTestRate: "",
			secondTestRate: "",
		};
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		this.resultDataList = this.resultList
		this.testTemp = this.getConstTswGTemp()
		this.firstTestRate = this.getConstTswGFirstTestRate()
		this.secondTestRate = this.getConstTswGSecondTestRate()

		for(var i = 0; i < this.resultDataList.length; i++)
		{
			if (typeof this.resultDataList[i].result_no === 'undefined' && 
				typeof this.resultDataList[i].sample_no !== 'undefined' ){
				this.resultDataList[i].result_no = this.resultDataList[i].sample_no
			}
		}
	},
	mounted () {
	}
};
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';

.report-tsb1g1 {
	
	font-family: "Arial";
	font-size: 10px;

	@import '../assets/contentgraph1.scss';
}

</style>