<template>
	<section class="report-tsb1std">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
					<td rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
					<td colspan="3" class="report-body-test-col-spec_dimen style-normal">Specimen Dimension</td>
					<td colspan="2" class="report-body-test-col-gauge_length style-normal">Gauge Length</td>
					<td colspan="2" class="report-body-test-col-yield style-normal">Yield (0.2%Offset)</td>
					<td colspan="2" class="report-body-test-col-ultimate style-normal">Ultimate Tensile</td>
					<td rowspan="2" class="report-body-test-col-elongation style-normal report-table-border-bottom">Elongation (%)</td>
					<td rowspan="2" class="report-body-test-col-reduction style-normal report-table-border-bottom report-table-border-right">Reduction of<br><br>Area (%)</td>
				</tr>
				<tr>
					<td class="style-normal report-body-test-col-spec_dimen-thick report-table-border-bottom">Inner Dia.<br><br>(mm)</td>
					<td class="report-body-test-col-rowsplit style-normal report-table-border-bottom">Outer Dia.<br><br>(mm)</td>
					<td class="report-body-test-col-rowsplit style-normal report-table-border-bottom">Area<br><br>(mm<sup>2</sup>)</td>
					<td class="report-body-test-col-rowsplit style-normal report-table-border-bottom">Before<br><br>(mm)</td>
					<td class="report-body-test-col-rowsplit style-normal report-table-border-bottom">After<br><br>(mm)</td>
					<td class="report-body-test-col-rowsplit style-normal report-table-border-bottom">Load<br><br>(kN)</td>
					<td class="report-body-test-col-rowsplit style-normal report-table-border-bottom">Strenght<br><br>(MPa)</td>
					<td class="report-body-test-col-rowsplit style-normal report-table-border-bottom">Load<br><br>(kN)</td>
					<td class="report-body-test-col-rowsplit style-normal report-table-border-bottom">Strenght<br><br>(Mpa)</td>
				</tr>
				<tr>
					<td colspan="13" class="report-body-test-row-blank" />
				</tr>
				<tr v-for="(result, item_indx) in resultDataList" :key="item_indx">
					<td class="style-normal style-result-height" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ item_indx + 1 }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterReportNo_AAA_BB_C(result.result_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(result.result_no) }}</span>
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.spec_inner, 2) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.spec_outer, 2) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.area, 3) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.initial_gage_length, 2) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.final_marked_gage_length, 2) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.yield_load, 3) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.yield_strenght) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.max_force, 3) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.max_stress) }}
					</td>
					<td class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.elongation, 0) }}
					</td>
					<td class="style-normal report-table-border-right" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.reduction, 0) }}
					</td>
				</tr>
				<tr>
					<td colspan="6" rowspan="2" class="style-normal report-table-border-bottom style-std-height">
						{{ FilterBlank(cgResult.cgname) }}
					</td>
					<td class="style-normal report-table-border-bottom">Min.</td>
					<td class="style-normal report-table-border-bottom">-</td>
					<td class="style-normal report-table-border-bottom">
						{{ FilterBlank(cgResult.cgvalue.ysmin) }}
					</td>
					<td class="style-normal report-table-border-bottom">-</td>
					<td class="style-normal report-table-border-bottom">
						{{ FilterBlank(cgResult.cgvalue.usmin) }}
					</td>
					<td class="style-normal report-table-border-bottom">
						{{ FilterBlank(cgResult.cgvalue.elmin) }}
					</td>
					<td class="style-normal report-table-border-bottom report-table-border-right">
						{{ FilterBlank(cgResult.cgvalue.remin) }}
					</td>
				</tr>
				<tr>
					<td class="style-normal report-table-border-bottom">Max.</td>
					<td class="style-normal report-table-border-bottom">-</td>
					<td class="style-normal report-table-border-bottom">
						{{ FilterBlank(cgResult.cgvalue.ysmax) }}
					</td>
					<td class="style-normal report-table-border-bottom">-</td>
					<td class="style-normal report-table-border-bottom">
						{{ FilterBlank(cgResult.cgvalue.usmax) }}
					</td>
					<td class="style-normal report-table-border-bottom">
						{{ FilterBlank(cgResult.cgvalue.elmax) }}
					</td>
					<td class="style-normal report-table-border-bottom report-table-border-right">
						{{ FilterBlank(cgResult.cgvalue.remax) }}
					</td>
				</tr>
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>
<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly', 'cgId'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			locationList: null,
			remarkList: null,
			showResultOnly: false,
			compareList: null,
			cgResult: null,
			resultDataList: [],
			onLoad: true,
		}
	},
	computed: {
	},
	watch: {
		
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
		{
			this.showResultOnly = false
			this.cgResult = this.reportResult.cgResult
		}
		else 
		{
			this.showResultOnly = true
		}

		this.resultDataList = this.resultList
		for(var i = 0; i < this.resultDataList.length; i++)
		{
			if (typeof this.resultDataList[i].result_no === 'undefined' && 
				typeof this.resultDataList[i].sample_no !== 'undefined' ){
				this.resultDataList[i].result_no = this.resultDataList[i].sample_no
			}
		}
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true

			return ok
		},
		updateCompareGrade(cgid)
		{
			if(this.compareList != null)
			{
				this.cgResult = this.getCompareGradeByIdFromArray(this.compareList, cgid)
			}
		},
		async startUp(){

			try {
				this.compareList = await this.getCompareGradeListByReportType2Digit(this.reportResult.form_type)
				this.updateCompareGrade(this.cgId)

			}catch (error) {
				console.error(error)
			}

			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight

			if(h1 < 10){
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}
				
			var div = 477 - (h1 + h2)
			this.addition_height = div
		},
	}
};
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';

.report-tsb1std {
	
	.report-body-test{
		padding-bottom: 1px;

		.style-header-height{
			height: 64px;
		}

		.style-result-height{
			height: 20px;
		}

		.style-std-height{
			height: 45px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		/*******************************************/

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-spec_dimen{
			width: 23.5%;
		}

		.report-body-test-col-gauge_length{
			width: 13.7%;
		}

		.report-body-test-col-yield{
			width: 13.3%;
		}

		.report-body-test-col-ultimate{
			width: 13.3%;
		}

		.report-body-test-col-elongation{
			width: 9.7%;
		}

		.report-body-test-col-reduction{
			/*width: 6.7%;*/
		}

		.report-body-test-col-remark{
			/*width: 45px;*/
		}

		.report-body-test-col-rowsplit{
			width: 50px;
		}

		.report-body-test-col-spec-before{
			width: 12.5%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}
	}
}
</style>