<template>
	<section class="report-tsplg1">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div class="report-body-result" :loading="onLoad">
			<div class="report-body-result-graph" :style="{ backgroundImage: 'url(' + resultDataList[0].pic1 + ')' }" />
			<table>							
				<tr>
					<th class="col1">Display Name</th>
					<th class="col2">Value</th>
					<th class="col3">Unit</th>
				</tr>
				<tr class="col0"><td class="col0" colspan="3" /></tr>
				<tr>
					<td class="col1">Test ID</td>
					<td class="col2">{{ FilterReportNo_AAA_BB_C(resultDataList[0].result_no) }}<span class="report-code">{{ FilterReportNo_xxD(resultDataList[0].result_no) }}</span></td>
					<td class="col3" />
				</tr>
				<tr>
					<td class="col1">Thread</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].spec_thread) }}"</td>
					<td class="col3" />
				</tr>
				<tr>
					<td class="col1">Temperature</td>
					<td class="col2">{{ testTemp }}</td>
					<td class="col3">&#176;C</td>
				</tr>
				<tr>
					<td class="col1">Test Rate</td>
					<td class="col2">{{ FilterBlank(testRate, 2) }}</td>
					<td class="col3">mm/s</td>
				</tr>
				<tr>
					<td class="col1">Area</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].spec_area, 3) }}</td>
					<td class="col3">mm<sup>2</sup></td>
				</tr>
				<tr>
					<td class="col1">Maximun Force</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].proof_load2, 3) }}</td>
					<td class="col3">kN</td>
				</tr>
				<tr>
					<td class="col1">Maximum Stress</td>
					<td class="col2">{{ FilterBlank(resultDataList[0].proof_str) }}</td>
					<td class="col3">MPa</td>
				</tr>
			</table>
		</div>
	</section>
</template>
<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'

export default {
	components: {
		ReportBodyHeader,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			showResultOnly: false,
			resultDataList: [],
			testTemp: "",
			testRate: "",
			onLoad: true,
		};
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		this.testTemp = this.getConstTswGTemp()
		this.testRate = this.getConstTswGTestRate()

		this.resultDataList = this.resultList

		for(var i = 0; i < this.resultDataList.length; i++)
		{
			if (typeof this.resultDataList[i].result_no === 'undefined' && 
				typeof this.resultDataList[i].sample_no !== 'undefined' ){
				this.resultDataList[i].result_no = this.resultDataList[i].sample_no
			}
		}
	},
	mounted () {
		this.startUp()
	},
	methods: {
		async startUp(){
			for(var i = 0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no

					this.resultDataList[i].spec_thread = "-"
					this.resultDataList[i].spec_area = "-"
					this.resultDataList[i].proof_load1 = "-"
					this.resultDataList[i].proof_load2 = "-"
					this.resultDataList[i].proof_str = "-"
					this.resultDataList[i].text_result = "-"
					this.resultDataList[i].remark = "N/A"
					const tmp = await this.getResultOptionByResultNo(rno)
					
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								if(tmp[j].name === "spec_thread") this.resultDataList[i].spec_thread = tmp[j].value
								if(tmp[j].name === "spec_area") this.resultDataList[i].spec_area = tmp[j].value
								if(tmp[j].name === "proof_load1") this.resultDataList[i].proof_load1 = tmp[j].value
								if(tmp[j].name === "proof_load2") this.resultDataList[i].proof_load2 = tmp[j].value
								if(tmp[j].name === "proof_str") this.resultDataList[i].proof_str = tmp[j].value
								if(tmp[j].name === "text_result") this.resultDataList[i].text_result = tmp[j].value
								if(tmp[j].name === "remark") this.resultDataList[i].remark = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}

			if(!this.showResultOnly)
			{
				this.intervalSetHeight = setInterval(this.autoSetHeight, 1000);
			}

			this.onLoad = false
		},
	},
};
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';

.report-tsplg1 {

	font-family: "Arial";
	font-size: 10px;

	@import '../assets/contentgraph1.scss';
}

</style>