<template>
	<section class="report-tspl">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
					<td rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
					<td colspan="2" class="report-body-test-col-spec_dimen style-normal">Specimen Dimension</td>
					<td colspan="3" class="report-body-test-col-proof_load style-normal">Proof Load</td>
					<td rowspan="2" class="report-body-test-col-result style-normal report-table-border-bottom">Result</td>
					<td rowspan="2" class="report-body-test-col-remark style-normal report-table-border-right report-table-border-bottom">Remark</td>
				</tr>
				<tr>
					<td class="style-normal report-body-test-col-spec_dimen-thread report-table-border-bottom">Thread<br><br>(mm)</td>
					<td class="style-normal report-table-border-bottom">Area<br><br>(mm<sup>2</sup>)</td>
					<td class="report-body-test-col-rowsplit style-normal report-table-border-bottom">Load<br><br>(lbf)</td>
					<td class="report-body-test-col-rowsplit style-normal report-table-border-bottom">Load<br><br>(kN)</td>
					<td class="style-normal report-table-border-bottom">Strenght<br><br>(MPa)</td>
				</tr>
				<tr>
					<td colspan="13" class="report-body-test-row-blank" />
				</tr>
				<tr v-for="(result, item_indx) in resultDataList" :key="item_indx">
					<td class="style-normal style-result-height" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ item_indx + 1 }}
					</td>
					<td class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterReportNo_AAA_BB_C(result.result_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(result.result_no) }}</span>
					</td>
					<!--######################## Fill able #####################-->
					<td v-if="!showResultOnly" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.spec_thread) }}"
					</td>
					<td v-else class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						<v-text-field v-model="result.spec_thread" class="centered-input" dense required hide-details />
					</td>
					<!--======================================================-->
					<td v-if="!showResultOnly" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.spec_area, 3) }}
					</td>
					<td v-else class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						<v-text-field v-model="result.spec_area" class="centered-input" dense required hide-details />
					</td>
					<!--======================================================-->
					<td v-if="!showResultOnly" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.proof_load1) }}
					</td>
					<td v-else class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						<v-text-field v-model="result.proof_load1" class="centered-input" dense required hide-details />
					</td>
					<!--======================================================-->
					<td v-if="!showResultOnly" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.proof_load2, 3) }}
					</td>
					<td v-else class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						<v-text-field v-model="result.proof_load2" class="centered-input" dense required hide-details />
					</td>
					<!--======================================================-->
					<td v-if="!showResultOnly" class="style-normal " :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.proof_str) }}
					</td>
					<td v-else class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						<v-text-field v-model="result.proof_str" class="centered-input" dense required hide-details />
					</td>
					<!--======================================================-->
					<td v-if="!showResultOnly" class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.text_result) }}
					</td>
					<td v-else class="style-normal" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						<v-text-field v-model="result.text_result" class="centered-input" dense required hide-details />
					</td>
					<!--======================================================-->
					<!--######################## Custom #####################-->
					<td v-if="!showResultOnly" class="style-normal font-7 report-table-border-right" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						{{ FilterBlank(result.remark) }}
					</td>
					<td v-else class="style-normal report-table-border-right" :class="[ (item_indx == resultDataList.length - 1) ? 'report-table-border-bottom':'' ]">
						<v-autocomplete v-model="result.remark" dense hide-details class="select-small ts-remark" 
							:items="remarkList" 
							item-text="rminfo"  
							item-value="rminfo"
						/>
					</td>
					<!--#####################################################-->
				</tr>
			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>

<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			locationList: null,
			remarkList: null,
			showResultOnly: false,
			resultDataList: [],
			onLoad: true,
		}
	},

	computed: {
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
			this.showResultOnly = false
		else 
			this.showResultOnly = true

		this.resultDataList = this.resultList
		for(var i = 0; i < this.resultDataList.length; i++)
		{
			if (typeof this.resultDataList[i].result_no === 'undefined' && 
				typeof this.resultDataList[i].sample_no !== 'undefined' ){
				this.resultDataList[i].result_no = this.resultDataList[i].sample_no
			}
		}
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true
			for(var i =0; i < this.resultDataList.length; i++)
			{
				var tmp = this.resultDataList[i]
				try{
					var r = null
					//Add or Edit
					//r = await this.editResultOptionByKey(tmp.result_no, "location", tmp.location)
					//if(r === false) ok = false

					r = await this.editResultOptionByKey(tmp.result_no, "spec_thread", tmp.spec_thread)
					if(r === false) ok = false
					r = await this.editResultOptionByKey(tmp.result_no, "spec_area", tmp.spec_area)
					if(r === false) ok = false
					r = await this.editResultOptionByKey(tmp.result_no, "proof_load1", tmp.proof_load1)
					if(r === false) ok = false
					r = await this.editResultOptionByKey(tmp.result_no, "proof_load2", tmp.proof_load2)
					if(r === false) ok = false
					r = await this.editResultOptionByKey(tmp.result_no, "proof_str", tmp.proof_str)
					if(r === false) ok = false
					r = await this.editResultOptionByKey(tmp.result_no, "text_result", tmp.text_result)
					if(r === false) ok = false
					r = await this.editResultOptionByKey(tmp.result_no, "remark", tmp.remark)
					if(r === false) ok = false

				} catch (error) {
					ok = false
					console.error(error)
				}
			}

			return ok
		},
		async startUp(){
			try {
				//this.locationList = await this.getConstEditResult("location")
				//this.remarkList = await this.getConstEditResult("remark")
				this.remarkList = await this.getCustomRemark()
			} catch (error) {
				console.error(error)
			}

			for(var i = 0; i < this.resultDataList.length; i++)
			{
				try{
					var rno = this.resultDataList[i].result_no
					
					//this.resultDataList[i].location = "N/A"
					this.resultDataList[i].spec_thread = "-"
					this.resultDataList[i].spec_area = "-"
					this.resultDataList[i].proof_load1 = "-"
					this.resultDataList[i].proof_load2 = "-"
					this.resultDataList[i].proof_str = "-"
					this.resultDataList[i].text_result = "-"
					this.resultDataList[i].remark = "N/A"
					const tmp = await this.getResultOptionByResultNo(rno)
					
					if(tmp !== null && tmp.length > 0){
						for(var j = 0; j < tmp.length; j++)
						{
							if(tmp[j].result_no === rno)
							{
								//if(tmp[j].name === "location") this.resultDataList[i].location = tmp[j].value
								if(tmp[j].name === "spec_thread") this.resultDataList[i].spec_thread = tmp[j].value
								if(tmp[j].name === "spec_area") this.resultDataList[i].spec_area = tmp[j].value
								if(tmp[j].name === "proof_load1") this.resultDataList[i].proof_load1 = tmp[j].value
								if(tmp[j].name === "proof_load2") this.resultDataList[i].proof_load2 = tmp[j].value
								if(tmp[j].name === "proof_str") this.resultDataList[i].proof_str = tmp[j].value
								if(tmp[j].name === "text_result") this.resultDataList[i].text_result = tmp[j].value
								if(tmp[j].name === "remark") this.resultDataList[i].remark = tmp[j].value
							}
						}
					}
				} catch (error) {
					console.error(error)
				}
			}

			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight

			if(h1 < 10){
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}
				
			var div = 477 - (h1 + h2)
			this.addition_height = div
		},
	}
}
</script>

<style lang="scss">
@import '../assets/contentreview.scss';

    .centered-input input {
    	text-align: center !important;
    	font-size: 10px;
    }

    .centered-input .v-input__slot {
    	top:  -3px !important;
		background-color: #DBEEF3;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
    }

</style>

<style lang="scss" scoped>

@import '../assets/pdf.scss';
@import '../assets/contentbody.scss';

.report-tspl {


	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 14px;
		}

		.style-header-height{
			height: 64px;
		}

		.style-result-height{
			height: 20px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-sample_no{
			width: 13.5%;
		}

		.report-body-test-col-spec_dimen{
			width: 23.5%;
		}

		.report-body-test-col-proof_load{
			width: 23.5%;
		}

		.report-body-test-col-result{
			width: 30%;
		}

		.report-body-test-col-remark{
			
		}

		.report-body-test-col-spec_dimen-thread{
			width: 13%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}
	}
}
</style>