<template>
	<v-card v-if="!isFetching" style="margin-top: -20px">
		<v-container class="px-0 pt-4">
			<v-card-title class="pa-2" style="display-flex">
				<!-- <v-spacer /> -->
				<h3>Addition Detail</h3>
				<v-spacer class="mx-4" style="max-width: 30rem" />
				<v-text-field ref="search_bar" v-model="search" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				<!-- <v-spacer style="width: 350px" /> -->
				<v-spacer class="ml-6" style="max-width: 30rem" />
				<v-btn class="primary" small style="width: 140px; font-size: 12px" @click="handleCreate">Add Addition Detail</v-btn>
				<v-spacer class="mx-0" />
			</v-card-title>
			<v-data-table :headers="headers1" :items="remarkList" :search="search" :items-per-page="15" dense @dblclick:row="dblClick" @click:row="oneClick">
				<template v-slot:[`item.actions`]="{ item }">
					<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
					<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
				</template>
			</v-data-table>

			<!-- <v-dialog v-model="dialogDelete" width="20%">
				<v-card>
					<v-card-title class="text-h6">
						<v-icon color="red" class="mr-1"> mdi-alert </v-icon>
						Delete Addition Detail
					</v-card-title>
					<v-card-text>
						<span>Are you sure to delete this Addition Detail?</span>
						<br />
						<span style="margin-left: 10px; color: black">{{ temp.rmname }}</span>
						<br />
						<br />
						<text-captcha ref="regen" :call-success="DelBtnOK" />
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn class="gray--text" text @click="dialogDelete = false">Cancel</v-btn>
						<v-btn color="red" :disabled="isDelDis" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog> -->
			<v-dialog v-model="dialogDelete" max-width="500px">
				<v-card>
					<v-card-title class="text-h6">Are you sure to delete this Addition?</v-card-title>
					<v-card-text>
						<span style="margin-left: 20px; color: black">{{ temp.rmname }}</span>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogDelete = false">Cancel</v-btn>
						<v-btn color="error" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog>

			<v-dialog v-model="dialogFormVisible" width="50%" persistent>
				<v-card>
					<v-card-title>
						<span class="text-h5">{{ textMap[dialogStatus] }}</span>
					</v-card-title>
					<v-divider />
					<v-card-text style="height: 400px">
						<v-container>
							<v-form ref="remarksForm" v-model="formValidity">
								<v-select v-model="temp.testtype" :items="showRP" :rules="[rules.required]" dense label="Report Link" />
								<v-text-field v-model="temp.rmname" spellcheck="false" :rules="[rules.required]" dense label="Addition Detail Name" />
								Ramark and Additional detail
								<quill-editor ref="myTextEditor" spellcheck="false" class="editor" :value="temp.rminfo" :options="editorOption" @change="onEditorChange" />
							</v-form>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogFormVisible = false"> Cancel </v-btn>
						<v-btn :disabled="!formValidity" color="primary" text @click="dialogStatus === 'create' ? createData() : updateData()"> Save </v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-container></v-card
	>
</template>

<script>
// import TextCaptcha from '@/utils/captcha.vue'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'

import _debounce from 'lodash/debounce'
import _difference from 'lodash/difference'
import { quillEditor } from 'vue-quill-editor'

import { HTTP } from '@/axios.js'

export default {
	components: {
		// TextCaptcha,
		quillEditor
	},
	data() {
		return {
			isFetching: true,
			selectRP: '',
			showRP: [],
			listedRP: [],
			reportLink: ['TSW', 'TSB1', 'TSB2', 'TSB3', 'TSPL', 'BD', 'FTN', 'NB', 'FT', 'IM', 'MA', 'MS', 'ES', 'HV', 'HR', 'HB', 'MI', 'PC', 'IC', 'FC', 'MM', 'DM'],
			editorOption: {
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						[{ list: 'ordered' }, { list: 'bullet' }],
						[{ script: 'sub' }, { script: 'super' }],
						[{ indent: '-1' }, { indent: '+1' }],
						[{ size: ['small', false, 'large', 'huge'] }],
						[{ color: [] }, { background: [] }],
						[{ align: [] }],
						['clean']
					]
					// syntax: {
					//   highlight: (text) => hljs.highlightAuto(text).value,
					// },
				}
			},
			// testtype: ['TS', 'BD, FTN, NB, FT', 'IM', 'ES', 'MS', 'HV', 'HR', 'HB', 'MI', 'PC', 'IC', 'FC', 'MM', 'DM'],
			calmenu: false,
			caldate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000).toISOString().substr(0, 10),
			valid: false,
			formValidity: false,
			captcha: '',
			dialogFormVisible: false,
			dialogDelete: false,
			dialogStatus: '',
			isDelDis: true,
			fdate: null,
			search: '',
			textMap: {
				update: 'Edit Addition Detail',
				create: 'Add Addition Detail'
			},
			temp: {
				rmid: undefined,
				rmname: '',
				rminfo: '',
				rmtype: 'addi_detail',
				testype: ''
			},
			rules: {
				required: (value) => !!value || 'Required.'
			},
			headers1: [
				{
					text: 'Report Link',
					align: 'start',
					value: 'testtype',
					width: '20%'
				},
				{ text: 'Addition Detail Name', value: 'rmname', width: '' },
				// { text: 'Test Type', value: 'eqtype', width: '7%' },
				// { text: 'Calibration Date', value: 'eqcalibrat', width: '10%' },
				// { text: 'Machine Capacity', value: 'eqcapacity', width: '20%' },
				{ text: 'Actions', value: 'actions', sortable: false, width: '10%' }
			],
			remarkList: [],
			firstClick_row: null
		}
	},
	computed: {
		editor() {
			return this.$refs.myTextEditor.quill
		}
	},
	mounted: function () {
		this.listRemarks()
	},
	created() {
		window.addEventListener('keyup', this.keylistener)
	},
	beforeDestroy() {
		window.removeEventListener('keyup', this.keylistener)
	},
	methods: {
		oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleUpdate(this.firstClick_row)
		},
		keylistener(e) {
			if (e.key === 'Escape') {
				e.preventDefault()
				this.$refs.search_bar.clearableCallback()
				this.$refs.search_bar.blur()
				this.dialogFormVisible = false
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'K'.charCodeAt(0)) {
				e.preventDefault()
				this.$refs.search_bar.focus()
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'N'.charCodeAt(0)) {
				// e.preventDefault()
				this.handleCreate()
			}
		},
		onEditorChange: _debounce(function (value) {
			this.temp.rminfo = value.html
			//this.temp.rminfo = this.temp.rminfo.replace(/\t/g, '');
		}, 300),
		listRemarks() {
			HTTP.get(localStorage.getItem('apiurl') + 'remarklist', {
				params: {
					rmtype: 'addi_detail'
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					this.remarkList = response.data
					this.isFetching = false
					this.listedRP = []
					for (let i = 0; i < this.remarkList.length; i++) {
						this.listedRP.push(this.remarkList[i].testtype)
					}
					this.showRP = _difference(this.reportLink, this.listedRP)
					// this.showRP = this.reportLink.filter((x) => !this.listedRP.includes(x)) << vanilla JS
					this.showRP.sort()
				})
				.catch((err) => {
					console.error(err)
				})
		},
		DelBtnOK() {
			this.isDelDis = false
		},

		resetTemp() {
			this.temp = {
				rmid: undefined,
				rmname: '',
				rminfo: '',
				rmtype: 'addi_detail',
				testype: ''
			}
		},
		handleCreate() {
			this.resetTemp()
			this.dialogStatus = 'create'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['remarksForm'].resetValidation()
			})
		},
		createData() {
			let reEscape = function (str) {
				var a1 = str.replace(/\\/g, '\\\\')
				var a2 = a1.replace(/"/g, '\\"')
				return a2
			}

			this.temp.rminfo = this.temp.rminfo.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;')

			this.valid = this.$refs['remarksForm'].validate()
			if (this.valid) {
				// console.log(reEscape(this.temp.rminfo))
				let formData = new FormData()
				;('multipart/form-data')
				formData.append('testtype', this.temp.testtype)
				formData.append('rmname', this.temp.rmname)
				formData.append('rminfo', reEscape(this.temp.rminfo))
				formData.append('rmtype', this.temp.rmtype)
				HTTP.post(localStorage.getItem('apiurl') + 'remarkadd', formData, {
					headers: {
						'Content-Type': 'application/json', // 'multipart/form-data' ,
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				})
					.then((response) => {
						this.listRemarks()
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					})
					.catch((err) => {
						console.error(err)
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					})
				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleUpdate(item) {
			this.temp = Object.assign({}, item) // copy obj
			this.showRP = this.reportLink.filter((x) => !this.listedRP.includes(x))
			this.showRP.push(this.temp.testtype)
			this.showRP.sort()
			this.dialogStatus = 'update'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['remarksForm'].resetValidation()
			})
		},
		updateData() {
			let reEscape = function (str) {
				var a1 = str.replace(/\\/g, '\\\\')
				var a2 = a1.replace(/"/g, '\\"')
				return a2
			}

			this.temp.rminfo = this.temp.rminfo.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;')

			this.valid = this.$refs['remarksForm'].validate()
			if (this.valid) {
				let formData = new FormData()
				;('multipart/form-data')
				formData.append('rmid', this.temp.rmid)
				formData.append('testtype', this.temp.testtype)
				formData.append('rmname', this.temp.rmname)
				formData.append('rminfo', reEscape(this.temp.rminfo))
				formData.append('rmtype', this.temp.rmtype)
				HTTP.post(localStorage.getItem('apiurl') + 'remarkedit', formData, {
					headers: {
						'Content-Type': 'application/json', // 'multipart/form-data' ,
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				})
					.then((response) => {
						this.listRemarks()
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					})
					.catch((err) => {
						console.error(err)
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					})
				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleDelete(item) {
			this.temp = Object.assign({}, item)
			this.dialogDelete = true
			// this.$nextTick(() => {
			// 	this.$refs['regen'].gencap(4)
			// })
		},
		deleteData() {
			HTTP.get(localStorage.getItem('apiurl') + 'remarkdel', {
				params: {
					rmid: this.temp.rmid
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					this.json = response
					if (this.json.data.status === 'success') {
						this.listRemarks()
						this.$root.vtoast.show({ message: 'Data Deleted', color: 'success' })
					}
				})
				.catch((err) => {
					this.listRemarks()
					console.error(err)
					this.$root.vtoast.show({ message: 'Cannot Delete', color: 'error' })
				})
			this.dialogDelete = false
			this.isDelDis = true
		}
	}
}
</script>
<style scoped>
.editor {
	height: 15rem;
	overflow: visible;
}
.v-card__text {
	padding: 0 24px 0px !important;
}
</style>
