<template>
	<v-card v-if="!isFetching" style="margin-top: -20px">
		<v-container class="px-0 pt-4">
			<v-card-title class="pa-2" style="display-flex">
				<!-- <v-spacer /> -->
				<h3>Approve Name</h3>
				<v-spacer class="mx-4" style="max-width: 30rem" />
				<v-text-field ref="search_bar" v-model="search" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				<!-- <v-spacer style="width: 350px" /> -->
				<v-spacer class="ml-6" style="max-width: 30rem" />
				<v-btn class="primary" small style="width: 140px; font-size: 12px" @click="handleCreate"> Add Approve Name </v-btn>
				<v-spacer class="mx-0" />
			</v-card-title>
			<v-data-table :headers="headers" :items="apvList" :search="search" dense @dblclick:row="dblClick" @click:row="oneClick">
				<template v-slot:[`item.actions`]="{ item }">
					<v-icon small class="mr-2" @click="handleUpdate(item)"> mdi-pencil </v-icon>
					<v-icon small @click="handleDelete(item)"> mdi-delete </v-icon>
				</template>
			</v-data-table>
			<v-dialog v-model="dialogDelete" max-width="500px">
				<v-card>
					<v-card-title class="text-h5">Are you sure you want to delete this Name?</v-card-title>
					<v-card-text>
						<span style="margin-left: 20px; color: black">{{ temp.name }}</span>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="closeDelete">Cancel</v-btn>
						<v-btn color="error" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog>
			<v-dialog v-model="dialogFormVisible" max-width="600px" persistent>
				<v-card>
					<v-card-title>
						<span class="text-h5">{{ textMap[dialogStatus] }}</span>
					</v-card-title>
					<v-divider />
					<v-card-text>
						<v-container>
							<v-form ref="apvnameForm" v-model="formValidity">
								<v-text-field v-model="temp.name" single-line :rules="[rules.required]" label="Approve Name" width="600px" spellcheck="false" />
							</v-form>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogFormVisible = false"> Cancel </v-btn>
						<v-btn :disabled="!formValidity" color="primary" text @click="dialogStatus === 'create' ? createData() : updateData()"> Save </v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-container>
	</v-card>
</template>

<script>
import { HTTP } from '@/axios.js'

export default {
	components: {},
	data() {
		return {
			dialog: false,
			isFetching: true,
			textarea1: '',
			names: null,
			valid: false,
			formValidity: false,
			caplength: 4,
			captcha: '',
			dialogFormVisible: false,
			dialogDelete: false,
			dialogStatus: '',
			isDelDis: true,
			search: '',
			textMap: {
				update: 'Edit Approve Name',
				create: 'Add New Approve Name'
			},
			temp: {
				id: undefined,
				name: ''
			},
			rules: {
				required: (value) => !!value || 'Required.'
			},
			max25chars: (v) => v.length <= 40 || 'Input too long!',
			pagination: {},
			headers: [
				{
					text: 'Name',
					align: 'start',
					sortable: false,
					value: 'name'
				},
				{ text: 'Actions', value: 'actions', sortable: false, width: '10%' }
			],
			editedIndex: -1,
			editedItem: {
				name: ''
			},
			apvList: [],
			apvlist_master: [],
			firstClick_row: null
		}
	},
	computed: {
		formTitle() {
			return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
		}
	},
	mounted: function () {
		this.listApprovename()
	},
	// watch: {
	// 	overlay(val) {
	// 		val &&
	// 			setTimeout(() => {
	// 				this.overlay = false
	// 			}, 3000)
	// 	}
	// },
	created() {
		window.addEventListener('keyup', this.keylistener)
	},
	beforeDestroy() {
		window.removeEventListener('keyup', this.keylistener)
	},
	methods: {
		oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleUpdate(this.firstClick_row)
		},
		keylistener(e) {
			if (e.key === 'Escape') {
				e.preventDefault()
				this.$refs.search_bar.clearableCallback()
				this.$refs.search_bar.blur()
				this.dialogFormVisible = false
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'K'.charCodeAt(0)) {
				e.preventDefault()
				this.$refs.search_bar.focus()
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'N'.charCodeAt(0)) {
				// e.preventDefault()
				this.handleCreate()
			}
		},
		resetTemp() {
			this.temp = {
				id: undefined,
				name: ''
			}
		},
		handleCreate() {
			this.resetTemp()
			this.dialogStatus = 'create'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['apvnameForm'].resetValidation()
			})
		},
		createData() {
			this.valid = this.$refs['apvnameForm'].validate()
			if (this.valid) {
				this.apvlist_master.splice(0, 0, this.temp.name)
				let formData = new FormData()
				;('multipart/form-data')
				formData.append('apvname', JSON.stringify(this.apvlist_master))
				HTTP.post(localStorage.getItem('apiurl') + 'approveedit', formData, {
					headers: {
						'Content-Type': 'application/json', // 'multipart/form-data' ,
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				})
					.then((response) => {
						this.listApprovename()
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					})
					.catch((err) => {
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
						console.error(err)
					})
				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleUpdate(item) {
			this.temp = Object.assign({}, item) // copy obj
			this.dialogStatus = 'update'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['apvnameForm'].resetValidation()
			})
		},
		updateData() {
			this.valid = this.$refs['apvnameForm'].validate()
			if (this.valid) {
				this.apvlist_master.splice(this.temp.id, 1, this.temp.name)
				let formData = new FormData()
				;('multipart/form-data')
				formData.append('apvname', JSON.stringify(this.apvlist_master))
				HTTP.post(localStorage.getItem('apiurl') + 'approveedit', formData, {
					headers: {
						'Content-Type': 'application/json', // 'multipart/form-data' ,
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				})
					.then((response) => {
						this.listApprovename()
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					})
					.catch((err) => {
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
						console.error(err)
					})

				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleDelete(item) {
			this.temp = Object.assign({}, item)
			this.dialogDelete = true
		},
		deleteData() {
			this.apvlist_master.splice(this.temp.id, 1)
			let formData = new FormData()
			;('multipart/form-data')
			formData.append('apvname', JSON.stringify(this.apvlist_master))
			HTTP.post(localStorage.getItem('apiurl') + 'approveedit', formData, {
				headers: {
					'Content-Type': 'application/json', // 'multipart/form-data' ,
					Authorization: 'Bearer ' + localStorage.getItem('admintoken')
				}
			})
				.then((response) => {
					this.$root.vtoast.show({ message: 'Data Deleted', color: 'success' })
					this.listApprovename()
				})
				.catch((err) => {
					this.$root.vtoast.show({ message: 'Cannot Delete', color: 'error' })
					console.error(err)
				})
			this.dialogDelete = false
		},

		close() {
			this.dialog = false
			this.$nextTick(() => {
				this.editedItem = Object.assign({}, this.defaultItem)
				this.editedIndex = -1
			})
		},

		closeDelete() {
			this.dialogDelete = false
		},
		listApprovename() {
			HTTP.get(localStorage.getItem('apiurl') + 'approvelist', {
				params: {},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					this.names = response
					// convert [array] to [array object] for data Table
					this.apvlist_master = []
					this.apvList = []
					this.apvlist_master = this.names.data[0].apvname
					for (let i = 0; i < this.names.data[0].apvname.length; i++) {
						this.apvList.push({ name: this.names.data[0].apvname[i], id: i })
					}
					var formattedString = this.names.data[0].apvname.join('\n')
					this.textarea1 = formattedString
					this.isFetching = false
				})
				.catch((err) => {
					console.error(err)
				})
		}
	}
}
</script>
<style lang="scss" scoped>
$alert-font-size: 50px;
</style>
