<template>
	<v-card v-if="!isFetching" style="margin-top: -20px">
		<v-container class="px-0 pt-4">
			<v-card-title class="pa-2" style="display-flex">
				<!-- <v-spacer /> -->
				<h3>Compare Grade</h3>
				<v-spacer class="mx-4" style="max-width: 30rem" />
				<v-text-field ref="search_bar" v-model="search" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				<!-- <v-spacer style="width: 350px" /> -->
				<v-spacer class="ml-6" style="max-width: 30rem" />
				<v-btn small class="primary" style="width: 140px; font-size: 12px" @click="handleCreate"> Add Compare Grade</v-btn>
				<v-spacer class="mx-4" />
			</v-card-title>
			<v-data-table :headers="headers1" :items="comparelist" :search="search" :items-per-page="15" dense @dblclick:row="dblClick" @click:row="oneClick">
				<template v-slot:[`item.actions`]="{ item }">
					<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
					<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
				</template>
			</v-data-table>

			<!-- <v-dialog v-model="dialogDelete" width="20%">
				<v-card>
					<v-card-title class="text-h6">
						<v-icon color="red" class="mr-1"> mdi-alert </v-icon>
						Delete Compare Grade?
					</v-card-title>
					<v-card-text>
						<span>Are you sure to delete this Compare Grade?</span>
						<br />
						<span style="margin-left: 10px; color: black">{{ temp.cgname }}</span>
						<br />
						<br />
						<text-captcha ref="regen" :call-success="DelBtnOK" />
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn class="gray--text" text @click="dialogDelete = false">Cancel</v-btn>
						<v-btn color="red" :disabled="isDelDis" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog> -->
			<v-dialog v-model="dialogDelete" max-width="500px">
				<v-card>
					<v-card-title class="text-h6">Are you sure to delete this Compare Grade?</v-card-title>
					<v-card-text>
						<span style="margin-left: 20px; color: black">{{ temp.cgname }}</span>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogDelete = false">Cancel</v-btn>
						<v-btn color="error" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog>

			<v-dialog v-model="dialogFormVisible" width="50em" height="40%" persistent>
				<v-card>
					<v-card-title>
						<span class="text-h5">{{ textMap[dialogStatus] }}</span>
					</v-card-title>
					<v-divider />
					<v-card-text>
						<v-container>
							<v-form ref="compareForm" v-model="formValidity">
								<v-text-field v-model="temp.cgname" autocomplete="chrome-off" autofocus spellcheck="false" :rules="[rules.required]" dense label="Standard Name" />
								<v-select v-model="temp.cglink[0]" :items="testtype" label="Test Type" :rules="[rules.required]" />
								<v-container v-if="temp.cglink[0] == 'TS'" style="height: 200px">
									<table class="minimalistBlack">
										<thead>
											<tr>
												<th rowspan="2" style="background: #ffff" />
												<th colspan="2">Yield (0.2% Offset)</th>
												<th colspan="2">Ultimate Tensile</th>
												<th rowspan="2">Elongation (%)</th>
												<th rowspan="2">Reduction of Area (%)</th>
											</tr>
											<tr>
												<th>Load</th>
												<th>Strength</th>
												<th>Load</th>
												<th>Strength</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Min</td>
												<td><v-text-field v-model="tsform.ylmin" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="tsform.ysmin" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="tsform.ulmin" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="tsform.usmin" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="tsform.elmin" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="tsform.remin" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
											</tr>
											<tr>
												<td>Max</td>
												<td><v-text-field v-model="tsform.ylmax" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="tsform.ysmax" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="tsform.ulmax" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="tsform.usmax" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="tsform.elmax" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="tsform.remax" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
											</tr>
										</tbody>
									</table>
								</v-container>
								<v-container v-if="temp.cglink[0] == 'ES, MS'" class="px-0" style="width: 600px; height: 200px">
									<table style="text-align: center" class="minimalistBlack">
										<thead>
											<tr>
												<th rowspan="2" style="background: #ffff" />
												<td><v-text-field v-model="esform.name1" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name2" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name3" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name4" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name5" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name6" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name7" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name8" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name9" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name10" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name11" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.name12" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<!-- <div class=""> -->
												<td>Min (%)</td>
												<td><v-text-field v-model="esform.min1" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min2" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min3" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min4" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min5" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min6" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min7" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min8" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min9" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min10" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min11" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.min12" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<!-- </div> -->
											</tr>
											<tr>
												<!-- <div class=""> -->
												<td>Max (%)</td>
												<td><v-text-field v-model="esform.max1" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max2" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max3" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max4" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max5" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max6" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max7" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max8" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max9" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max10" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max11" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<td><v-text-field v-model="esform.max12" class="centeredinput" autocomplete="chrome-off" spellcheck="false" dense /></td>
												<!-- </div> -->
											</tr>
										</tbody>
									</table>
								</v-container>
							</v-form>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="listCompare(), (dialogFormVisible = false)"> Cancel </v-btn>
						<!-- <v-btn :disabled="disSaveBtn" color="primary" text @click="dialogStatus === 'create' ? createData() : updateData()"> Save </v-btn> -->
						<v-btn :disabled="disSaveBtn" color="primary" text @click="dialogStatus === 'create' ? createData() : updateData()"> Save </v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-container>
	</v-card>
</template>

<script>
// import TextCaptcha from '@/utils/captcha.vue'
import { HTTP } from '@/axios.js'
// import moment from 'moment'

export default {
	// components: {
	// 	TextCaptcha
	// },
	data() {
		return {
			disSaveBtn: true,
			isFetching: true,
			testtype: ['TS', 'ES, MS'],
			tsform: { ylmin: '', ylmax: '', ysmin: '', ysmax: '', ulmin: '', ulmax: '', usmin: '', usmax: '', elmin: '', elmax: '', remin: '', remax: '' },
			esform: {
				name1: '',
				min1: '-',
				max1: '-',
				name2: '',
				min2: '-',
				max2: '-',
				name3: '',
				min3: '-',
				max3: '-',
				name4: '',
				min4: '-',
				max4: '-',
				name5: '',
				min5: '-',
				max5: '-',
				name6: '',
				min6: '-',
				max6: '-',
				name7: '',
				min7: '-',
				max7: '-',
				name8: '',
				min8: '-',
				max8: '-',
				name9: '',
				min9: '-',
				max9: '-',
				name10: '',
				min10: '-',
				max10: '-',
				name11: '',
				min11: '-',
				max11: '-',
				name12: '',
				min12: '-',
				max12: '-'
			},
			save_cgvalue: '',
			valid: false,
			formValidity: false,
			captcha: '',
			dialogFormVisible: false,
			dialogDelete: false,
			dialogStatus: '',
			isDelDis: true,
			fdate: null,
			search: '',
			textMap: {
				update: 'Edit Compare Grade',
				create: 'Add New Compare Grade'
			},
			temp: {
				cgid: undefined,
				cgname: '',
				cglink: [],
				cgvalue: ''
			},
			rules: {
				required: (value) => !!value || 'Required.'
			},
			headers1: [
				{ text: 'Standard Name', align: 'start', value: 'cgname', width: '70%' },
				{ text: 'Test Type', value: 'cglink', width: '' },
				{ text: 'Actions', value: 'actions', sortable: false, width: '8%' }
			],
			comparelist: [],
			firstClick_row: null
		}
	},
	computed: {
		bToWatch: function () {
			return this.temp.cglink[0]
		}
	},
	watch: {
		// 'temp.cgname': function () {
		// 	if (this.formValidity && this.checkempty(this.tsform) === true) {
		// 		this.disSaveBtn = false
		// 	} else {
		// 		this.disSaveBtn = true
		// 	}
		// },
		bToWatch: function (nval) {
			// console.log('btoWatch init', nval)
			this.disSaveBtn = true
			// var nowcglink = ''
			if (nval === 'TS') {
				// nowcglink = 'this.tsform'
				if (this.checkempty(this.tsform) === true) {
					this.disSaveBtn = false
				} else {
					this.disSaveBtn = true
				}
			} else {
				// nowcglink = 'this.esform'
				if (this.checkempty(this.esform) === true) {
					this.disSaveBtn = false
				} else {
					this.disSaveBtn = true
				}
			}

			// console.log('cglink change from ' + oval + ' to ' + nval)
		},
		tsform: {
			handler(val) {
				// console.log('TS')
				if (this.formValidity && this.checkempty(val) === true) {
					this.disSaveBtn = false
				} else {
					this.disSaveBtn = true
				}
				// console.log('TSFORM Object Change')
			},
			deep: true
		},
		esform: {
			handler(val) {
				// console.log('ES init')
				if (this.formValidity && this.checkempty(val) === true) {
					this.disSaveBtn = false
				} else {
					this.disSaveBtn = true
				}
				// console.log('ESFORM Object Change')
			},
			deep: true
		}
		// var ts = { aa: 'w', bb: 'r'}
	},
	mounted: function () {
		this.listCompare()
	},
	created() {
		window.addEventListener('keyup', this.keylistener)
	},
	beforeDestroy() {
		window.removeEventListener('keyup', this.keylistener)
	},
	methods: {
		oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleUpdate(this.firstClick_row)
		},
		keylistener(e) {
			if (e.key === 'Escape') {
				e.preventDefault()
				this.$refs.search_bar.clearableCallback()
				this.$refs.search_bar.blur()
				this.dialogFormVisible = false
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'K'.charCodeAt(0)) {
				e.preventDefault()
				this.$refs.search_bar.focus()
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'N'.charCodeAt(0)) {
				// e.preventDefault()
				this.handleCreate()
			}
		},
		checkempty(val) {
			const keys = Object.keys(val)
			var has_val = false
			keys.forEach((key, index) => {
				if (val[key] !== '') has_val = true
				// console.log(val[key])
			})
			// console.log(has_val)
			return has_val
		},
		listCompare() {
			HTTP.get(localStorage.getItem('apiurl') + 'comparelist', {
				params: {},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					this.comparelist = response.data
					this.isFetching = false
					// console.log('comparelist show', this.comparelist)
					// console.log(this.comparelist[0].eqcalibrat.split('T')[0])
					//  let ndate = moment(this.comparelist[0].eqcalibrat.split('T')[0]).format('DD-MM-YYYY')
					// console.log("🚀 ~ file: Equipments.vue ~ line 240 ~ .then ~ this.fdate", ndate)
				})
				.catch((err) => {
					console.error(err)
				})
		},
		DelBtnOK() {
			this.isDelDis = false
		},

		resetTemp() {
			this.temp = {
				cgid: undefined,
				cgname: '',
				cglink: ['TS'],
				cgvalue: ''
			}
			this.tsform = { ylmin: '', ylmax: '', ysmin: '', ysmax: '', ulmin: '', ulmax: '', usmin: '', usmax: '', elmin: '', elmax: '', remin: '', remax: '' }
			this.esform = {
				name1: '',
				min1: '-',
				max1: '-',
				name2: '',
				min2: '-',
				max2: '-',
				name3: '',
				min3: '-',
				max3: '-',
				name4: '',
				min4: '-',
				max4: '-',
				name5: '',
				min5: '-',
				max5: '-',
				name6: '',
				min6: '-',
				max6: '-',
				name7: '',
				min7: '-',
				max7: '-',
				name8: '',
				min8: '-',
				max8: '-',
				name9: '',
				min9: '-',
				max9: '-',
				name10: '',
				min10: '-',
				max10: '-',
				name11: '',
				min11: '-',
				max11: '-',
				name12: '',
				min12: '-',
				max12: '-'
			}
		},

		handleCreate() {
			this.resetTemp()
			// let set = JSON.parse(this.tsform)
			this.dialogStatus = 'create'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['compareForm'].resetValidation()
				// this.checkempty
			})
		},
		createData() {
			this.valid = this.$refs['compareForm'].validate()
			if (this.valid) {
				if (this.temp.cglink[0] === 'TS') {
					this.save_cgvalue = JSON.stringify(this.tsform)
					// console.log('save_cgvalue TS', this.save_cgvalue)
				} else {
					this.save_cgvalue = JSON.stringify(this.esform)
					// console.log('save_cgvalue ES', this.save_cgvalue)
				}
				let formData = new FormData()
				;('multipart/form-data')
				formData.append('cgname', this.temp.cgname)
				formData.append('cglink', JSON.stringify(this.temp.cglink))
				formData.append('cgvalue', this.save_cgvalue)
				HTTP.post(localStorage.getItem('apiurl') + 'compareadd', formData, {
					headers: {
						'Content-Type': 'application/json', // 'multipart/form-data' ,
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				})
					.then((response) => {
						this.listCompare()
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					})
					.catch((err) => {
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })

						console.error(err)
					})

				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleUpdate(item) {
			this.resetTemp()
			this.temp = Object.assign({}, item) // copy obj
			if (this.temp.cglink[0] === 'TS') {
				this.tsform = this.temp.cgvalue
			} else {
				this.esform = this.temp.cgvalue
			}
			// this.tsform = this.temp.cgvalue
			// this.esform = this.temp.cgvalue
			this.dialogStatus = 'update'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['compareForm'].resetValidation()
			})
		},
		updateData() {
			this.valid = this.$refs['compareForm'].validate()
			if (this.valid) {
				let save_cglink = new Array()
				save_cglink.push(this.temp.cglink[0])
				if (this.temp.cglink[0] === 'TS') {
					this.save_cgvalue = JSON.stringify(this.tsform)
					// console.log('save_cgvalue', this.save_cgvalue)
				} else {
					this.save_cgvalue = JSON.stringify(this.esform)
					// console.log('save_cgvalue', this.save_cgvalue)
				}
				let formData = new FormData()
				;('multipart/form-data')
				formData.append('cgid', this.temp.cgid)
				formData.append('cgname', this.temp.cgname)
				formData.append('cglink', JSON.stringify(save_cglink))
				formData.append('cgvalue', this.save_cgvalue)
				HTTP.post(localStorage.getItem('apiurl') + 'compareedit', formData, {
					headers: {
						'Content-Type': 'application/json', // 'multipart/form-data' ,
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				})
					.then((response) => {
						this.listCompare()
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					})
					.catch((err) => {
						console.error(err)
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					})
				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleDelete(item) {
			this.temp = Object.assign({}, item)
			this.dialogDelete = true
			// this.$nextTick(() => {
			// 	this.isDelDis = true
			// 	this.$refs['regen'].gencap(4)
			// })
		},
		deleteData() {
			HTTP.get(localStorage.getItem('apiurl') + 'comparedel', {
				params: {
					cgid: this.temp.cgid
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					this.listCompare()
					this.$root.vtoast.show({ message: 'Data Deleted', color: 'success' })
				})
				.catch((err) => {
					console.error(err)
					this.$root.vtoast.show({ message: 'Cannot Delete', color: 'error' })
				})
			this.dialogDelete = false
			this.isDelDis = true
		}
	}
}
</script>

<style lang="scss" scoped>
.v-card__text {
	padding: 0 24px 0px !important;
}
table.minimalistBlack {
	border: 1px solid #000000;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
table.minimalistBlack td,
table.minimalistBlack th {
	border: 1px solid #000000;
	padding: 5px 4px;
}
table.minimalistBlack tbody td {
	font-size: 10px;
	text-align: center;
}

table.minimalistBlack thead {
	background: #ecebeb;
	border-bottom: 1px solid #000000;
}
table.minimalistBlack thead th {
	// font-size: 15px;
	color: #000000;
	text-align: center;
	font-weight: normal;
}
table.minimalistBlack tfoot {
	// font-size: 14px;
	// font-weight: bold;
	color: #000000;
	border-top: 1px solid #000000;
}
</style>