<template>
	<v-card v-if="!isFetching" style="margin-top: -20px">
		<!-- <v-container class=""> -->
		<div class="ma-2 pt-2">
			<v-card-title class="pa-2" style="display-flex">
				<!-- <v-spacer /> -->
				<h3>Customers</h3>
				<v-spacer class="mx-4" style="min-width: 10rem" />
				<v-text-field ref="search_bar" v-model="search" style="max-width: 60rem" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				<!-- <v-spacer style="width: 350px" /> -->
				<v-spacer class="mx-2" style="min-width: 10rem" />
				<v-btn class="primary" small style="width: 130px; font-size: 12px" @click="handleCreate"> Add Customer </v-btn>
				<v-spacer class="mx-4" />
			</v-card-title>
			<v-data-table :headers="headers1" :items="customerList" :search="search" dense @dblclick:row="dblClick" @click:row="oneClick">
				<template v-slot:[`item.actions`]="{ item }">
					<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
					<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
				</template>
			</v-data-table>

			<!-- <v-dialog v-model="dialogDelete" width="20%">
				<v-card>
					<v-card-title class="text-h6">
						<v-icon color="red" class="mr-1"> mdi-alert </v-icon>

						Delete Customer</v-card-title
					>
					<v-card-text>
						<span>Are you sure to delete this customer?</span>
						<br />
						<span style="margin-left: 10px; color: black">{{ temp.cname }}</span>
						<br />
						<br />
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn class="gray--text" color="primary" text @click="dialogDelete = false">Cancel</v-btn>
						<v-btn color="red" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog> -->
			<v-dialog v-model="dialogDelete" max-width="500px">
				<v-card>
					<v-card-title class="text-h6">Are you sure to delete this Customer?</v-card-title>
					<v-card-text>
						<span style="margin-left: 20px; color: black">{{ temp.cname }}</span>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogDelete = false">Cancel</v-btn>
						<v-btn color="error" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog>

			<v-dialog v-model="dialogFormVisible" max-width="600px" persistent>
				<v-card>
					<v-card-title>
						<span class="text-h5">{{ textMap[dialogStatus] }}</span>
					</v-card-title>
					<v-divider />
					<v-card-text>
						<v-container>
							<v-form ref="customersForm" v-model="formValidity">
								<v-text-field v-model="temp.cname" autocomplete="chrome-off" spellcheck="false" :rules="[rules.required]" dense label="Customer Name" />
								<v-text-field v-model="temp.caddress" autocomplete="chrome-off" spellcheck="false" dense label="Address" />
								<v-text-field v-model="temp.ccontact" autocomplete="chrome-off" spellcheck="false" dense label="Contact Name" />
								<v-text-field v-model="temp.ctel" autocomplete="chrome-off" spellcheck="false" dense label="Phone Number" />
								<v-text-field v-model="temp.cemail" autocomplete="chrome-off" spellcheck="false" dense label="Email" />
							</v-form>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogFormVisible = false"> Cancel </v-btn>
						<v-btn :disabled="!formValidity" color="primary" text @click="dialogStatus === 'create' ? saveData() : updateData()"> Save </v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</div>
		<!-- </v-container> -->
	</v-card>
</template>

<script>
import { HTTP } from '@/axios.js'

export default {
	name: 'Customers',

	data() {
		return {
			isFetching: true,
			valid: false,
			formValidity: false,
			dialogFormVisible: false,
			dialogDelete: false,
			dialogStatus: '',
			search: '',
			textMap: {
				update: 'Edit Customer',
				create: 'Add New Customer'
			},
			temp: {
				id: undefined,
				cname: '',
				ccontact: '',
				ctel: '',
				cemail: '',
				caddress: ''
			},
			rules: {
				required: (value) => !!value || 'Required.',
				email: (value) => {
					const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
					return pattern.test(value) || 'Invalid e-mail.'
				}
			},
			customers: ['S.A. Petrotech Co.,Ltd', 'Pakdee Engineering Co.,Ltd', 'Vatana Phaisal Engineering Co.,Ltd', 'Sarcon (TH) Company Limited', 'Real Soluplus'],

			headers1: [
				{ text: 'Customer Name', align: 'start', value: 'cname', width: '25%' },
				{ text: 'Contact Name', value: 'ccontact', width: '15%' },
				{ text: 'Phone Number', value: 'ctel', width: '15%' },
				{ text: 'Email', value: 'cemail', width: '15%' },
				{ text: 'Address', value: 'caddress', width: '20%' },
				{ text: 'Actions', value: 'actions', sortable: false, width: '10%' }
			],
			customerList: [],
			items: [],
			currentPath: '',
			firstClick_row: null
		}
	},
	mounted: function () {
		this.listcustomer()
	},
	created() {
		window.addEventListener('keyup', this.keylistener)
	},
	beforeDestroy() {
		window.removeEventListener('keyup', this.keylistener)
	},
	methods: {
		oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleUpdate(this.firstClick_row)
		},
		keylistener(e) {
			if (e.key === 'Escape') {
				e.preventDefault()
				this.$refs.search_bar.clearableCallback()
				this.$refs.search_bar.blur()
				this.dialogFormVisible = false
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'K'.charCodeAt(0)) {
				e.preventDefault()
				this.$refs.search_bar.focus()
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'N'.charCodeAt(0)) {
				// e.preventDefault()
				this.handleCreate()
			}
		},
		listcustomer() {
			HTTP.get(localStorage.getItem('apiurl') + 'customerlist', {
				params: {},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					// this.Jsonresponse = response.data
					this.customerList = response.data
					this.isFetching = false
				})
				.catch((err) => {
					console.error(err)
				})
		},
		resetTemp() {
			this.temp = {
				id: undefined,
				cname: '',
				ccontact: '',
				ctel: '',
				cemail: '',
				caddress: ''
			}
		},
		handleCreate() {
			this.resetTemp()
			this.dialogStatus = 'create'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['customersForm'].resetValidation()
			})
		},
		saveData() {
			this.valid = this.$refs['customersForm'].validate()
			if (this.valid) {
				HTTP.get(localStorage.getItem('apiurl') + 'customeradd', {
					params: {
						cname: this.temp.cname,
						ctel: this.temp.ctel,
						caddress: this.temp.caddress,
						cemail: this.temp.cemail,
						ccontact: this.temp.ccontact
					},
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				}).then((response) => {
					this.listcustomer()
					this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
				})
				this.dialogFormVisible = false
			} else {
				this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
				console.log('not valid yet')
			}
		},
		handleUpdate(item) {
			this.temp = Object.assign({}, item) // copy obj
			this.dialogStatus = 'update'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['customersForm'].resetValidation()
			})
		},
		updateData() {
			this.valid = this.$refs['customersForm'].validate()
			if (this.valid) {
				HTTP.get(localStorage.getItem('apiurl') + 'customeredit', {
					params: {
						cusid: this.temp.cusid,
						cname: this.temp.cname,
						ctel: this.temp.ctel,
						caddress: this.temp.caddress,
						cemail: this.temp.cemail,
						ccontact: this.temp.ccontact
					},
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				}).then((response) => {
					this.listcustomer()
					this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
				})
				this.dialogFormVisible = false
			} else {
				this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
				console.log('not valid yet')
			}
		},
		handleDelete(item) {
			this.temp = Object.assign({}, item)
			this.dialogDelete = true
		},
		deleteData() {
			// const index = this.customerList.findIndex(v => v.id === this.temp.id)
			// this.customerList.splice(index, 1)
			HTTP.get(localStorage.getItem('apiurl') + 'customerdel', {
				params: {
					cusid: this.temp.cusid
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('admintoken')
				}
			})
				.then((response) => {
					this.listcustomer()
					this.$root.vtoast.show({ message: 'Data Deleted', color: 'success' })
				})
				.catch((err) => {
					console.error(err)
					this.$root.vtoast.show({ message: 'Cannot Delete', color: 'error' })
				})
			this.dialogDelete = false
		}
	}
}
</script>
<style scoped>
/* .container{
    border: 2px solid green;
} */
/* .row{
    border: 2px solid rgb(226, 199, 199);
}
.col {
    border: 4px solid blue;
} */
.v-chip {
	font-size: 12px;
	min-width: 75px;
	justify-content: center;
}
.v-card__text {
	padding: 0 24px 0px !important;
}
</style>
