<template>
	<v-card v-if="!isFetching" style="margin-top: -20px">
		<!-- <v-container class="px-0"> -->
		<div class="ma-2 pt-2">
			<v-card-title class="pa-2" style="display-flex">
				<!-- <v-spacer /> -->
				<h3>Equipments</h3>
				<v-spacer class="mx-12" style="min-width: 5rem" />
				<v-text-field ref="search_bar" v-model="search" style="max-width: 60rem" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				<!-- <v-spacer style="width: 350px" /> -->
				<v-spacer class="mx-0" style="min-width: 10rem" />
				<v-btn class="primary" small style="width: 130px; font-size: 12px" @click="handleCreate"> Add Equipment </v-btn>
				<v-spacer class="mx-12" />
			</v-card-title>
			<v-data-table :headers="headers1" :items="equipmentList" :search="search" :items-per-page="15" dense @dblclick:row="dblClick" @click:row="oneClick">
				<template #[`item.eqcalibrat`]="{ value }">
					{{ showdate(value) }}
				</template>
				<template v-slot:[`item.actions`]="{ item }">
					<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
					<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
				</template>
			</v-data-table>

			<!-- <v-dialog v-model="dialogDelete" width="20%">
				<v-card>
					<v-card-title class="text-h6">
						<v-icon color="red" class="mr-1"> mdi-alert </v-icon>
						Delete Equipment?
					</v-card-title>
					<v-card-text>
						<span>Are you sure to delete this Equipment?</span>
						<br />
						<span style="margin-left: 10px; color: black">{{ temp.eqname }}</span>
						<br />
						<br />
						<text-captcha ref="regen" :call-success="DelBtnOK" />
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn class="gray--text" text @click="dialogDelete = false">Cancel</v-btn>
						<v-btn color="red" :disabled="isDelDis" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog> -->
			<v-dialog v-model="dialogDelete" max-width="500px">
				<v-card>
					<v-card-title class="text-h6">Are you sure to delete this Equipment?</v-card-title>
					<v-card-text>
						<span style="margin-left: 20px; color: black">{{ temp.eqname }}</span>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogDelete = false">Cancel</v-btn>
						<v-btn color="error" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog>

			<v-dialog v-model="dialogFormVisible" width="40%" persistent>
				<v-card>
					<v-card-title>
						<span class="text-h5">{{ textMap[dialogStatus] }}</span>
					</v-card-title>
					<v-divider />
					<v-card-text>
						<v-container>
							<v-form ref="equipmentsForm" v-model="formValidity">
								<v-select v-model="temp.eqtype" :items="testtype" label="Test Type" :rules="[rules.required]" />
								<v-text-field v-model="temp.eqname" autocomplete="chrome-off" spellcheck="false" :rules="[rules.required]" dense label="Equipment Name" />
								<v-text-field v-model="temp.eqsn" autocomplete="chrome-off" spellcheck="false" :rules="[rules.required]" dense label="Serial No." />
								<v-menu v-model="calmenu" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
									<template v-slot:activator="{ on, attrs }">
										<v-text-field v-model="temp.eqcalibrat" :disabled="disCalDate" label="Calibration Date" prepend-icon="mdi-calendar" v-bind="attrs" v-on="on" />
									</template>
									<v-date-picker v-model="temp.eqcalibrat" no-title scrollable @input="calmenu = false" />
								</v-menu>
								<v-text-field v-model="temp.eqcapacity" :disabled="disMcapa" autocomplete="chrome-off" spellcheck="false" dense label="Machine Capacity" />
							</v-form>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogFormVisible = false"> Cancel </v-btn>
						<v-btn :disabled="!formValidity" color="primary" text @click="dialogStatus === 'create' ? createData() : updateData()"> Save </v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</div>
		<!-- </v-container> -->
	</v-card>
</template>

<script>
// import TextCaptcha from '@/utils/captcha.vue'
import moment from 'moment'

import { HTTP } from '@/axios.js'

export default {
	// components: {
	// 	TextCaptcha
	// },
	data() {
		return {
			eqtype: '',
			isFetching: true,
			disMcapa: false,
			disCalDate: false,
			testtype: ['TS', 'BD,FT,FTN,NB', 'MA', 'IM', 'ES', 'MS', 'HV', 'HR', 'HB', 'MI', 'PC', 'IC', 'FC', 'MM', 'DM'],
			calmenu: false,
			// caldate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000).toISOString().substr(0, 10),
			valid: false,
			formValidity: false,
			captcha: '',
			dialogFormVisible: false,
			dialogDelete: false,
			dialogStatus: '',
			isDelDis: true,
			// fdate: null,
			search: '',
			textMap: {
				update: 'Edit Equipment',
				create: 'Add Equipment'
			},
			temp: {
				eqid: undefined,
				eqname: '',
				eqsn: '',
				eqtype: '',
				eqcalibrat: '',
				eqcapacity: ''
			},
			rules: {
				required: (value) => !!value || 'Required.'
			},
			headers1: [
				{
					text: 'Equipment Name',
					align: 'start',
					value: 'eqname',
					width: '25%'
				},
				{ text: 'Serial No.', value: 'eqsn', width: '10%' },
				{ text: 'Test Type', value: 'eqtype', width: '7%' },
				{ text: 'Calibration Date', value: 'eqcalibrat', width: '10%' },
				{ text: 'Machine Capacity', value: 'eqcapacity', width: '20%' },
				{ text: 'Actions', value: 'actions', sortable: false, width: '8%' }
			],
			equipmentList: [],
			firstClick_row: null
		}
	},
	watch: {
		'temp.eqtype'(newValue) {
			const B = ['HV', 'HR', 'HB', 'MI', 'PC', 'IC', 'FC']
			if (newValue === 'MA') {
				this.disMcapa = true
				this.disCalDate = true
				this.temp.eqcalibrat = 'N/A'
				this.temp.eqcapacity = 'N/A'
			} else if (B.includes(newValue)) {
				this.disMcapa = true
				this.temp.eqcapacity = 'N/A'
			} else {
				this.disMcapa = false
				this.disCalDate = false
				let pdate = new Date().toISOString()
				this.temp.eqcalibrat = moment(pdate.split('T')[0]).format('YYYY-MM-DD')
			}
		}
	},
	mounted: function () {
		this.listEquipment()
	},
	created() {
		window.addEventListener('keyup', this.keylistener)
	},
	beforeDestroy() {
		window.removeEventListener('keyup', this.keylistener)
	},
	methods: {
		oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleUpdate(this.firstClick_row)
		},
		keylistener(e) {
			if (e.key === 'Escape') {
				e.preventDefault()
				this.$refs.search_bar.clearableCallback()
				this.$refs.search_bar.blur()
				this.dialogFormVisible = false
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'K'.charCodeAt(0)) {
				e.preventDefault()
				this.$refs.search_bar.focus()
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'N'.charCodeAt(0)) {
				// e.preventDefault()
				this.handleCreate()
			}
		},
		showdate(date) {
			if (date === '1970-01-01T00:00:00+07:00') {
				let showD = 'N/A'
				return showD
			} else {
				let showD = moment(date.split('T')[0]).format('DD-MM-YYYY')
				return showD
			}
		},
		listEquipment() {
			HTTP.get(localStorage.getItem('apiurl') + 'equiplist', {
				params: {},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					this.equipmentList = response.data
					this.isFetching = false
					//   console.log(this.equipmentList[0].eqcalibrat.split('T')[0])
					// let ndate = moment(this.equipmentList[0].eqcalibrat.split('T')[0]).format('DD-MM-YYYY')
				})
				.catch((err) => {
					console.error(err)
				})
		},
		DelBtnOK() {
			this.isDelDis = false
		},

		resetTemp() {
			this.temp = {
				eqid: undefined,
				eqname: '',
				eqsn: '',
				eqtype: '',
				eqcalibrat: '',
				eqcapacity: ''
			}
		},
		handleCreate() {
			this.resetTemp()
			this.dialogStatus = 'create'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['equipmentsForm'].resetValidation()
			})
		},
		createData() {
			if (this.temp.eqtype === 'MA') {
				this.temp.eqcalibrat = '1970-01-01'
			}
			this.valid = this.$refs['equipmentsForm'].validate()
			if (this.valid) {
				HTTP.get(localStorage.getItem('apiurl') + 'equipadd', {
					params: {
						eqname: this.temp.eqname,
						eqsn: this.temp.eqsn,
						eqcalibrat: this.temp.eqcalibrat,
						eqtype: this.temp.eqtype,
						eqcapacity: this.temp.eqcapacity
					},
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
					}
				})
					.then((response) => {
						this.listEquipment()
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })

						// console.log('Add New Equipments success')
					})
					.catch((err) => {
						console.error(err)
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					})

				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleUpdate(item) {
			this.temp = Object.assign({}, item) // copy obj
			this.temp.eqcalibrat = moment(this.temp.eqcalibrat.split('T')[0]).format('YYYY-MM-DD')

			this.dialogStatus = 'update'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['equipmentsForm'].resetValidation()
			})
		},
		updateData() {
			if (this.temp.eqtype === 'MA') {
				this.temp.eqcalibrat = '1970-01-01'
			}
			this.valid = this.$refs['equipmentsForm'].validate()
			if (this.valid) {
				HTTP.get(localStorage.getItem('apiurl') + 'equipedit', {
					params: {
						eqname: this.temp.eqname,
						eqsn: this.temp.eqsn,
						eqcalibrat: this.temp.eqcalibrat,
						eqtype: this.temp.eqtype,
						eqcapacity: this.temp.eqcapacity,
						eqid: this.temp.eqid
					},
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
					}
				})
					.then((response) => {
						this.listEquipment()
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })

						// console.log('🚀 saved ')
					})
					.catch((err) => {
						console.error(err)
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					})
				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleDelete(item) {
			this.temp = Object.assign({}, item)
			this.dialogDelete = true
			// this.$nextTick(() => {
			// 	this.isDelDis = true
			// 	this.$refs['regen'].gencap(4)
			// })
		},
		deleteData() {
			HTTP.get(localStorage.getItem('apiurl') + 'equipdel', {
				params: {
					eqid: this.temp.eqid
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					this.listEquipment()
					this.$root.vtoast.show({ message: 'Data Deleted', color: 'success' })
				})
				.catch((err) => {
					console.error(err)
					this.$root.vtoast.show({ message: 'Cannot Delete', color: 'error' })
				})
			this.dialogDelete = false
			this.isDelDis = true
		}
	}
}
</script>
<style scoped>
/* .container{
    border: 2px solid green;
} */
/* .row{
    border: 2px solid rgb(226, 199, 199);
}
.col {
    border: 4px solid blue;
} */
.v-chip {
	font-size: 12px;
	min-width: 75px;
	justify-content: center;
}
.v-card__text {
	padding: 0 24px 0px !important;
}
</style>
