<template>
	<v-card v-if="!isFetching" style="margin-top: -20px">
		<v-container class="px-0 pt-4">
			<v-card-title class="pa-2" style="display-flex">
				<!-- <v-spacer /> -->
				<h3>Microstructure</h3>
				<v-spacer class="mx-4" style="max-width: 30rem" />
				<v-text-field ref="search_bar" v-model="search" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				<!-- <v-spacer style="width: 350px" /> -->
				<v-spacer class="ml-6" style="max-width: 30rem" />
				<v-btn class="primary" small style="width: 140px; font-size: 12px" @click="handleCreate">Add Microstructure</v-btn>
				<v-spacer class="mx-0" />
			</v-card-title>
			<v-data-table :headers="headers1" :items="microList" :search="search" :items-per-page="15" dense @dblclick:row="dblClick" @click:row="oneClick">
				<template v-slot:[`item.actions`]="{ item }">
					<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
					<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
				</template>
			</v-data-table>

			<!-- <v-dialog v-model="dialogDelete" max-width="20%">
				<v-card>
					<v-card-title class="text-h6">
						<v-icon color="red" class="mr-1"> mdi-alert </v-icon>
						Delete Compare Microstructure?
					</v-card-title>
					<v-card-text>
						<span>Are you sure to delete this Microstructure?</span>
						<br />
						<span style="margin-left: 10px; color: black">{{ temp.msname }}</span>
						<br />
						<br />
						<text-captcha ref="regen" :call-success="DelBtnOK" />
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn class="gray--text" text @click="dialogDelete = false">Cancel</v-btn>
						<v-btn color="red" :disabled="isDelDis" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog> -->
			<v-dialog v-model="dialogDelete" max-width="500px">
				<v-card>
					<v-card-title class="text-h6">Are you sure to delete this Microstructor?</v-card-title>
					<v-card-text>
						<span style="margin-left: 20px; color: black">{{ temp.msname }}</span>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogDelete = false">Cancel</v-btn>
						<v-btn color="error" text @click="deleteData">Delete</v-btn>
						<v-spacer />
					</v-card-actions>
				</v-card>
			</v-dialog>
			<v-dialog v-model="dialogFormVisible" max-width="600px" persistent>
				<v-card>
					<v-card-title>
						<span class="text-h5">{{ textMap[dialogStatus] }}</span>
					</v-card-title>
					<v-divider />
					<v-card-text>
						<v-container>
							<v-form ref="microForm" v-model="formValidity">
								<v-select v-model="temp.mtype" :items="mtypelist" :rules="[rules.required]" label="Test Type" />
								<v-textarea v-model="temp.msname" solo :rules="[rules.required]" label="Macrostructure  Details" width="600px" spellcheck="false" />
							</v-form>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogFormVisible = false"> Cancel </v-btn>
						<v-btn :disabled="!formValidity" color="primary" text @click="dialogStatus === 'create' ? createData() : updateData()"> Save </v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-container></v-card
	>
</template>

<script>
// import TextCaptcha from '@/utils/captcha.vue'
import { HTTP } from '@/axios.js'

export default {
	// components: {
	// 	TextCaptcha
	// },
	data() {
		return {
			mtypelist: ['MI1', 'MI2'],
			isFetching: true,
			valid: false,
			formValidity: false,
			caplength: 4,
			captcha: '',
			dialogFormVisible: false,
			dialogDelete: false,
			dialogStatus: '',
			isDelDis: true,
			search: '',
			textMap: {
				update: 'Edit Microstructure  Details',
				create: 'Add New Microstructure  Details'
			},
			temp: {
				msid: undefined,
				msname: '',
				mtype: ''
			},
			rules: {
				required: (value) => !!value || 'Required.'
			},
			headers1: [
				{ text: 'Microstructure  Details', align: 'start', value: 'msname' },
				{ text: 'Type', value: 'mtype', sortable: true, width: '15%' },
				{ text: 'Actions', value: 'actions', sortable: false, width: '10%' }
			],
			microList: [],
			firstClick_row: null
		}
	},
	mounted: function () {
		this.listmicro()
	},
	created() {
		window.addEventListener('keyup', this.keylistener)
	},
	beforeDestroy() {
		window.removeEventListener('keyup', this.keylistener)
	},
	methods: {
		oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleUpdate(this.firstClick_row)
		},
		keylistener(e) {
			if (e.key === 'Escape') {
				e.preventDefault()
				this.$refs.search_bar.clearableCallback()
				this.$refs.search_bar.blur()
				this.dialogFormVisible = false
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'K'.charCodeAt(0)) {
				e.preventDefault()
				this.$refs.search_bar.focus()
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'N'.charCodeAt(0)) {
				// e.preventDefault()
				this.handleCreate()
			}
		},
		listmicro() {
			HTTP.get(localStorage.getItem('apiurl') + 'microlist', {
				params: {},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					this.isFetching = false
					this.microList = response.data
				})
				.catch((err) => {
					console.error(err)
				})
		},
		DelBtnOK() {
			this.isDelDis = false
		},

		resetTemp() {
			this.temp = {
				msid: undefined,
				mtype: 'MI1',
				msname: ''
			}
		},
		handleCreate() {
			this.resetTemp()
			this.dialogStatus = 'create'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['microForm'].resetValidation()
			})
		},
		createData() {
			this.valid = this.$refs['microForm'].validate()
			if (this.valid) {
				const mname_save = this.temp.msname.replace(/\n/g, '').replace(/"/g, '\\"')
				let formData = new FormData()
				;('multipart/form-data')
				formData.append('mname', mname_save)
				formData.append('mtype', this.temp.mtype)
				HTTP.post(localStorage.getItem('apiurl') + 'microadd', formData, {
					headers: {
						'Content-Type': 'application/json', // 'multipart/form-data' ,
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				})
					.then((response) => {
						this.listmicro()
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					})
					.catch((err) => {
						console.error(err)
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					})
				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleUpdate(item) {
			this.temp = Object.assign({}, item) // copy obj
			this.dialogStatus = 'update'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['microForm'].resetValidation()
			})
		},
		updateData() {
			this.valid = this.$refs['microForm'].validate()
			if (this.valid) {
				const mname_save = this.temp.msname.replace(/\n/g, '').replace(/"/g, '\\"')
				let formData = new FormData()
				;('multipart/form-data')
				formData.append('mcid', this.temp.msid)
				formData.append('mname', mname_save)
				formData.append('mtype', this.temp.mtype)
				HTTP.post(localStorage.getItem('apiurl') + 'microedit', formData, {
					headers: {
						'Content-Type': 'application/json', // 'multipart/form-data' ,
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				})
					.then((response) => {
						this.listmicro()
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					})
					.catch((err) => {
						console.error(err)
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					})

				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleDelete(item) {
			this.temp = Object.assign({}, item)
			this.dialogDelete = true
			// this.$nextTick(() => {
			// 	this.$refs['regen'].gencap(this.caplength)
			// })
		},
		deleteData() {
			HTTP.get(localStorage.getItem('apiurl') + 'microdel', {
				params: {
					mcid: this.temp.msid
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('admintoken')
				}
			})
				.then((response) => {
					this.listmicro()
					this.$root.vtoast.show({ message: 'Data Deleted', color: 'success' })
				})
				.catch((err) => {
					console.error(err)
					this.$root.vtoast.show({ message: 'Cannot Delete', color: 'error' })
				})
			this.dialogDelete = false
			this.isDelDis = true
		}
	}
}
</script>
<style scoped>
/* .container{
    border: 2px solid green;
} */
/* .row{
    border: 2px solid rgb(226, 199, 199);
}
.col {
    border: 4px solid blue;
} */
.v-chip {
	font-size: 12px;
	min-width: 75px;
	justify-content: center;
}
.v-card__text {
	padding: 0 24px 0px !important;
}
</style>
