<template>
	<v-card v-if="isFetchdone" style="margin-top: -20px">
		<v-card-title class="pa-2" />
		<v-container>
			<v-card style="margin-top: -20px">
				<!-- <v-card-title class="pa-2">
					Remark Test Result
					<v-btn style="width: 250px; color: #1e88e5; font-size: 16px" text plain @click="handleCreate('ALL')"> Add new </v-btn>
					<v-spacer style="width: 350px" />
					<v-text-field v-model="search" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				</v-card-title> -->
				<v-card-title class="pa-2" style="display-flex">
					<!-- <v-spacer /> -->
					<h3>Remark Test Result</h3>
					<v-spacer class="" style="min-width: 5rem" />
					<v-text-field v-model="search" style="width: 25rem" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
					<!-- <v-spacer style="width: 350px" /> -->
					<v-spacer class="ml-6" />
					<v-btn class="primary" small style="width: 8rem; font-size: 12px" @click="handleCreate('ALL')">Add</v-btn>
					<v-spacer class="mx-0" />
				</v-card-title>
				<v-data-table :headers="headers1" :items="remark_list" :search="search" :items-per-page="6" dense @dblclick:row="dblClick" @click:row="oneClick">
					<template v-slot:[`item.actions`]="{ item }">
						<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
						<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
					</template>
				</v-data-table>
			</v-card>
		</v-container>
		<v-container>
			<v-card style="margin-top: -20px">
				<!-- <v-card-title class="pa-2">
					Remark (MI)
					<v-btn style="width: 250px; color: #1e88e5; font-size: 16px" text plain @click="handleCreate('MI')"> Add new </v-btn>
					<v-spacer style="width: 350px" />
					<v-text-field v-model="search" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				</v-card-title> -->
				<v-card-title class="pa-2" style="display-flex">
					<!-- <v-spacer /> -->
					<h3>Remark Microstructure</h3>
					<v-spacer class="" style="min-width: 5rem" />
					<v-text-field v-model="search" style="width: 25rem" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
					<!-- <v-spacer style="width: 350px" /> -->
					<v-spacer class="ml-6" />
					<v-btn class="primary" small style="width: 8rem; font-size: 12px" @click="handleCreate('MI')">Add</v-btn>
					<v-spacer class="mx-0" />
				</v-card-title>
				<v-data-table :headers="headers1" :items="mi_list" :search="search" :items-per-page="6" dense @dblclick:row="dblClick" @click:row="oneClick">
					<template v-slot:[`item.actions`]="{ item }">
						<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
						<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
					</template>
				</v-data-table>
			</v-card>
		</v-container>
		<v-container>
			<v-card style="margin-top: -20px">
				<!-- <v-card-title class="pa-2">
					Remark (MI)
					<v-btn style="width: 250px; color: #1e88e5; font-size: 16px" text plain @click="handleCreate('MI')"> Add new </v-btn>
					<v-spacer style="width: 350px" />
					<v-text-field v-model="search" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				</v-card-title> -->
				<v-card-title class="pa-2" style="display-flex">
					<!-- <v-spacer /> -->
					<h3>Microstructure Magnification</h3>
					<v-spacer class="" style="min-width: 5rem" />
					<v-text-field v-model="search" style="width: 25rem" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
					<!-- <v-spacer style="width: 350px" /> -->
					<v-spacer class="ml-6" />
					<v-btn class="primary" small style="width: 8rem; font-size: 12px" @click="handleCreate('MAG')">Add</v-btn>
					<v-spacer class="mx-0" />
				</v-card-title>
				<v-data-table :headers="headers1" :items="mag_list" :search="search" :items-per-page="6" dense @dblclick:row="dblClick" @click:row="oneClick">
					<template v-slot:[`item.actions`]="{ item }">
						<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
						<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
					</template>
				</v-data-table>
			</v-card>
		</v-container>
		<!-- 
		<v-dialog v-model="dialogDelete" max-width="20%">
			<v-card>
				<v-card-title class="text-h6">
					<v-icon color="red" class="mr-1"> mdi-alert </v-icon>
					Delete Location?
				</v-card-title>
				<v-card-text>
					<span>Are you sure to delete this Location?</span>
					<br />
					<span style="margin-left: 10px; color: black">{{ temp.rminfo }}</span>
					<br />
					<br />
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn class="gray--text" text @click="dialogDelete = false">Cancel</v-btn>
					<v-btn color="red" text @click="deleteData">Delete</v-btn>
					<v-spacer />
				</v-card-actions>
			</v-card>
		</v-dialog> -->
		<v-dialog v-model="dialogDelete" max-width="500px">
			<v-card>
				<v-card-title class="text-h6">Are you sure to delete this Remark?</v-card-title>
				<v-card-text>
					<span style="margin-left: 20px; color: black">{{ temp.rminfo }}</span>
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn color="primary" text @click="dialogDelete = false">Cancel</v-btn>
					<v-btn color="error" text @click="deleteData">Delete</v-btn>
					<v-spacer />
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="dialogFormVisible" max-width="600px" persistent>
			<v-card>
				<v-card-title>
					<!-- <span class="text-h5">{{ textMap[dialogStatus] }} {{ temp.testtype }}</span> -->
					<span class="text-h5">{{ textMap[dialogStatus] }} {{ temp.testtype === 'ALL' ? 'Test Result' : 'Microstructure' }}</span>
				</v-card-title>
				<v-divider />
				<v-card-text>
					<v-container>
						<v-form ref="remarksForm" v-model="formValidity">
							<v-text-field v-model="temp.rminfo" spellcheck="false" :rules="[rules.required]" dense label="Remark Data" />
						</v-form>
					</v-container>
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn color="primary" text @click="dialogFormVisible = false"> Cancel </v-btn>
					<v-btn :disabled="!formValidity" color="primary" text @click="dialogStatus === 'create' ? createData(savetype) : updateData(savetype)"> Save </v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-card>
</template>

<script>
import { HTTP } from '@/axios.js'

export default {
	data() {
		return {
			savetype: '',
			isFetchdone: false,
			valid: false,
			formValidity: false,
			caplength: 4,
			captcha: '',
			dialogFormVisible: false,
			dialogDelete: false,
			dialogStatus: '',
			isDelDis: true,
			search: '',
			textMap: {
				update: 'Edit Remark',
				create: 'Add Remark'
			},
			temp: {
				rmid: undefined,
				rmname: 'n/a',
				rminfo: '',
				rmtype: 'remark_list',
				testtype: ''
			},
			rules: {
				required: (value) => !!value || 'Required.'
			},
			headers1: [
				{ text: 'Remark Data', value: 'rminfo', align: 'start', width: '' },
				// { text: 'Test Type', value: 'eqtype', width: '7%' },
				// { text: 'Calibration Date', value: 'eqcalibrat', width: '10%' },
				// { text: 'Machine Capacity', value: 'eqcapacity', width: '20%' },
				{ text: 'Actions', value: 'actions', sortable: false, width: '10%' }
			],
			remark_list: [],
			mi_list: [],
			mag_list: [],
			firstClick_row: null
		}
	},
	mounted: function () {
		this.calllistRemark()
	},
	methods: {
			oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleUpdate(this.firstClick_row)
		},
		async calllistRemark() {
			await this.listRemarks('ALL', 'remark_list')

			await this.listRemarks('MI', 'remark_list')
			await this.listRemarks('MAG', 'remark_list')
			// await this.listtl('HB')
			this.isFetchdone = true
		},
		listRemarks(testtype, rmtype) {
			return HTTP.get(localStorage.getItem('apiurl') + 'remarklist', {
				params: {
					rmtype: rmtype,
					testtype: testtype
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					if (testtype === 'ALL') {
						this.remark_list = response.data
					} else if (testtype === 'MI') {
						this.mi_list = response.data
					} else if (testtype === 'MAG') {
						this.mag_list = response.data
					}
				})
				.catch((err) => {
					console.error(err)
				})
		},
		resetTemp() {
			this.temp = {
				rmid: undefined,
				rmname: 'n/a',
				rminfo: '',
				rmtype: 'remark_list',
				testtype: ''
			}
		},
		handleCreate(testtype) {
			this.resetTemp()
			this.dialogStatus = 'create'
			this.temp.testtype = testtype
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['remarksForm'].resetValidation()
			})
		},
		createData() {
			let reEscape = function (str) {
				var a1 = str.replace(/\\/g, '\\\\')
				var a2 = a1.replace(/"/g, '\\"')
				return a2
			}
			this.temp.rminfo = this.temp.rminfo.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;')
			this.valid = this.$refs['remarksForm'].validate()
			if (this.valid) {
				// console.log(reEscape(this.temp.rminfo))
				let formData = new FormData()
				;('multipart/form-data')
				formData.append('testtype', this.temp.testtype)
				formData.append('rmname', this.temp.rmname)
				formData.append('rminfo', reEscape(this.temp.rminfo))
				formData.append('rmtype', this.temp.rmtype)
				HTTP.post(localStorage.getItem('apiurl') + 'remarkadd', formData, {
					headers: {
						'Content-Type': 'application/json', // 'multipart/form-data' ,
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				})
					.then((response) => {
						this.listRemarks(this.temp.testtype, this.temp.rmtype)
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					})
					.catch((err) => {
						console.error(err)
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					})
				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		// createData(savetype) {
		// 	this.valid = this.$refs['locationForm'].validate()
		// 	if (this.valid) {
		// 		HTTP.get(localStorage.getItem('apiurl') + 'testlocationadd', {
		// 			params: {
		// 				tlname: this.temp.rminfo,
		// 				tltype: savetype
		// 			},
		// 			headers: {
		// 				Authorization: 'Bearer ' + localStorage.getItem('admintoken')
		// 			}
		// 		}).then((response) => {
		// 			this.listtl(this.savetype)
		// 			this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
		// 		})
		// 		this.dialogFormVisible = false
		// 	} else {
		// 		this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
		// 		console.log('not valid yet')
		// 	}
		// },
		handleUpdate(item) {
			this.temp = Object.assign({}, item) // copy obj
			this.dialogStatus = 'update'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['remarksForm'].resetValidation()
			})
		},
		updateData() {
			let reEscape = function (str) {
				var a1 = str.replace(/\\/g, '\\\\')
				var a2 = a1.replace(/"/g, '\\"')
				return a2
			}

			this.temp.rminfo = this.temp.rminfo.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;')

			this.valid = this.$refs['remarksForm'].validate()
			if (this.valid) {
				let formData = new FormData()
				;('multipart/form-data')
				formData.append('rmid', this.temp.rmid)
				formData.append('testtype', this.temp.testtype)
				formData.append('rmname', this.temp.rmname)
				formData.append('rminfo', reEscape(this.temp.rminfo))
				formData.append('rmtype', this.temp.rmtype)
				HTTP.post(localStorage.getItem('apiurl') + 'remarkedit', formData, {
					headers: {
						'Content-Type': 'application/json', // 'multipart/form-data' ,
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				})
					.then((response) => {
						this.listRemarks(this.temp.testtype, this.temp.rmtype)
						this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					})
					.catch((err) => {
						console.error(err)
						this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					})
				this.dialogFormVisible = false
			} else {
				console.log('not valid yet')
			}
		},
		handleDelete(item) {
			this.temp = Object.assign({}, item)
			this.dialogDelete = true
			// this.$nextTick(() => {
			// 	this.$refs['regen'].gencap(this.caplength)
			// })
		},
		deleteData() {
			HTTP.get(localStorage.getItem('apiurl') + 'remarkdel', {
				params: {
					rmid: this.temp.rmid
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					this.json = response
					if (this.json.data.status === 'success') {
						this.listRemarks(this.temp.testtype, this.temp.rmtype)
						this.$root.vtoast.show({ message: 'Data Deleted', color: 'success' })
					}
				})
				.catch((err) => {
					this.listRemarks(this.temp.testtype, this.temp.rmtype)
					console.error(err)
					this.$root.vtoast.show({ message: 'Cannot Delete', color: 'error' })
				})
			this.dialogDelete = false
			this.isDelDis = true
		}
		// deleteData() {
		// 	HTTP.get(localStorage.getItem('apiurl') + 'testlocationdel', {
		// 		params: {
		// 			tlid: this.temp.tlid
		// 		},
		// 		headers: {
		// 			Authorization: 'Bearer ' + localStorage.getItem('admintoken')
		// 		}
		// 	})
		// 		.then((response) => {
		// 			this.listtl(this.temp.tltype)
		// 			this.$root.vtoast.show({ message: 'Data Deleted', color: 'success' })
		// 		})
		// 		.catch((err) => {
		// 			console.error(err)
		// 			this.$root.vtoast.show({ message: 'Cannot Delete', color: 'error' })
		// 		})
		// 	this.dialogDelete = false
		// 	this.isDelDis = true
		// }
	}
}
</script>
<style scoped>
/* .container{
    border: 2px solid green;
} */
/* .row{
    border: 2px solid rgb(226, 199, 199);
}
.col {
    border: 4px solid blue;
} */
.v-card__text {
	padding: 0 24px 0px !important;
}
</style>
