<template>
	<v-card v-if="isFetchdone" style="margin-top: -20px">
		<v-card-title class="pa-2" />
		<v-container>
			<v-card style="margin-top: -20px">
				<!-- <v-card-title class="pa-2">
					Victor Hardness(HV)
					<v-btn style="width: 250px; color: #1e88e5; font-size: 16px" text plain @click="handleCreate('HV')"> Add new </v-btn>
					<v-spacer style="width: 350px" />
					<v-text-field v-model="search" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				</v-card-title> -->
				<v-card-title class="pa-2" style="display-flex">
					<!-- <v-spacer /> -->
					<h3>Victor Hardness(HV)</h3>
					<v-spacer class="" style="min-width: 5rem" />
					<v-text-field v-model="search" style="width: 25rem" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
					<!-- <v-spacer style="width: 350px" /> -->
					<v-spacer class="ml-6" />
					<v-btn class="primary" small style="width: 8rem; font-size: 12px" @click="handleCreate('HV')">Add</v-btn>
					<v-spacer class="mx-0" />
				</v-card-title>
				<v-data-table :headers="headers1" :items="tslisthv" :search="search" :items-per-page="3" dense @dblclick:row="dblClick" @click:row="oneClick">
					<template v-slot:[`item.actions`]="{ item }">
						<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
						<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
					</template>
				</v-data-table>
			</v-card></v-container
		>
		<v-container>
			<v-card style="margin-top: -20px">
				<!-- <v-card-title class="pa-2">
					Rockwell Hardness(HR)
					<v-btn style="width: 250px; color: #1e88e5; font-size: 16px" text plain @click="handleCreate('HR')"> Add new </v-btn>
					<v-spacer style="width: 350px" />
					<v-text-field v-model="search" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				</v-card-title> -->
				<v-card-title class="pa-2" style="display-flex">
					<!-- <v-spacer /> -->
					<h3>Rockwell Hardness(HR)</h3>
					<v-spacer class="" style="min-width: 5rem" />
					<v-text-field v-model="search" style="width: 25rem" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
					<!-- <v-spacer style="width: 350px" /> -->
					<v-spacer class="ml-6" />
					<v-btn class="primary" small style="width: 8rem; font-size: 12px" @click="handleCreate('HR')">Add</v-btn>
					<v-spacer class="mx-0" />
				</v-card-title>
				<v-data-table :headers="headers1" :items="tslisthr" :search="search" :items-per-page="3" dense @dblclick:row="dblClick" @click:row="oneClick">
					<template v-slot:[`item.actions`]="{ item }">
						<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
						<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
					</template>
				</v-data-table>
			</v-card></v-container
		>
		<v-container>
			<v-card style="margin-top: -20px">
				<!-- <v-card-title class="pa-2">
					Brinell Hardness(HB)
					<v-btn style="width: 250px; color: #1e88e5; font-size: 16px" text plain @click="handleCreate('HB')"> Add new </v-btn>
					<v-spacer style="width: 350px" />
					<v-text-field v-model="search" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				</v-card-title> -->
				<v-card-title class="pa-2" style="display-flex">
					<!-- <v-spacer /> -->
					<h3>Brinell Hardness(HB)</h3>
					<v-spacer class="" style="min-width: 5rem" />
					<v-text-field v-model="search" style="width: 25rem" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
					<!-- <v-spacer style="width: 350px" /> -->
					<v-spacer class="ml-6" />
					<v-btn class="primary" small style="width: 8rem; font-size: 12px" @click="handleCreate('HB')">Add</v-btn>
					<v-spacer class="mx-0" />
				</v-card-title>
				<v-data-table :headers="headers1" :items="tslisthb" :search="search" :items-per-page="3" dense @dblclick:row="dblClick" @click:row="oneClick">
					<template v-slot:[`item.actions`]="{ item }">
						<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
						<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
					</template>
				</v-data-table>
			</v-card></v-container
		>
		<!-- <v-dialog v-model="dialogDelete" width="20%">
			<v-card>
				<v-card-title class="text-h6">
					<v-icon color="red" class="mr-1"> mdi-alert </v-icon>
					Delete Location?
				</v-card-title>
				<v-card-text>
					<span>Are you sure to delete this Test Scale?</span>
					<br />
					<span style="margin-left: 10px; color: black">{{ temp.tsscale }}</span>
					<br />
					<br />
					<text-captcha ref="regen" :call-success="DelBtnOK" />
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn class="gray--text" text @click="dialogDelete = false">Cancel</v-btn>
					<v-btn color="red" :disabled="isDelDis" text @click="deleteData">Delete</v-btn>
					<v-spacer />
				</v-card-actions>
			</v-card>
		</v-dialog> -->
		<v-dialog v-model="dialogDelete" max-width="500px">
			<v-card>
				<v-card-title class="text-h6">Are you sure to delete this Test Scale?</v-card-title>
				<v-card-text>
					<span style="margin-left: 20px; color: black">{{ temp.tsscale }}</span>
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn color="primary" text @click="dialogDelete = false">Cancel</v-btn>
					<v-btn color="error" text @click="deleteData">Delete</v-btn>
					<v-spacer />
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="dialogFormVisible" max-width="600px" persistent>
			<v-card>
				<v-card-title>
					<span class="text-h5">{{ textMap[dialogStatus] }} {{ savetype === 'HV' ? 'Victor Hardness(HV)' : savetype === 'HR' ? 'Rockwell Hardness(HR)' : 'Brinell Hardness(HB)' }}</span>
				</v-card-title>
				<v-divider />
				<v-card-text>
					<v-container>
						<v-form ref="testscalesForm" v-model="formValidity">
							<v-text-field v-model="temp.tsscale" spellcheck="false" :rules="[rules.required]" dense label="Test Scale" />
							<v-text-field v-model="temp.tsforce" spellcheck="false" :rules="[rules.required]" dense label="Test Force" />
							<v-text-field v-model="temp.tsindent" spellcheck="false" :rules="[rules.required]" dense label="Indenter" />
						</v-form>
					</v-container>
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn color="primary" text @click="dialogFormVisible = false"> Cancel </v-btn>
					<v-btn :disabled="!formValidity" color="primary" text @click="dialogStatus === 'create' ? saveData(savetype) : updateData(savetype)"> Save </v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-card>
</template>

<script>
// import TextCaptcha from '@/utils/captcha.vue'
import { HTTP } from '@/axios.js'

export default {
	// components: {
	// 	TextCaptcha
	// },
	data() {
		return {
			isFetchdone: false,
			valid: false,
			formValidity: false,
			caplength: 4,
			captcha: '',
			dialogFormVisible: false,
			dialogDelete: false,
			dialogStatus: '',
			isDelDis: true,
			search: '',
			textMap: {
				update: 'Edit',
				create: 'Add'
			},
			temp: {
				tsid: undefined,
				tsscale: '',
				tsforce: '',
				tsindent: '',
				tstype: ''
			},
			savetype: '',
			rules: {
				required: (value) => !!value || 'Required.',
				email: (value) => {
					const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
					return pattern.test(value) || 'Invalid e-mail.'
				}
			},
			customers: ['S.A. Petrotech Co.,Ltd', 'Pakdee Engineering Co.,Ltd', 'Vatana Phaisal Engineering Co.,Ltd', 'Sarcon (TH) Company Limited', 'Real Soluplus'],
			headers1: [
				{ text: 'Test Scale', align: 'start', value: 'tsscale', width: '25%' },
				{ text: 'Test Force', value: 'tsforce', width: '30%' },
				{ text: 'Indenter', value: 'tsindent' },
				{ text: 'Actions', value: 'actions', sortable: false, width: '10%' }
			],
			tslisthv: [],
			tslisthr: [],
			tslisthb: []
		}
	},
	mounted: function () {
		this.callListTS()
	},
	methods: {
		oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleUpdate(this.firstClick_row)
		},
		async callListTS() {
			await this.listtestscales('HV')
			await this.listtestscales('HR')
			await this.listtestscales('HB')
			this.isFetchdone = true
		},
		listtestscales(type) {
			let a = type
			return HTTP.get(localStorage.getItem('apiurl') + 'testscaleslist', {
				params: {
					tstype: type
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					if (type === 'HV') {
						this.tslisthv = response.data
					} else if (type === 'HR') {
						this.tslisthr = response.data
					} else {
						this.tslisthb = response.data
					}
					// console.log('ts list', response.data)
				})
				.catch((err) => {
					console.error(err)
				})
		},
		DelBtnOK() {
			this.isDelDis = false
		},
		resetTemp() {
			this.temp = {
				tsid: undefined,
				tsscale: '',
				tsforce: '',
				tsindent: '',
				tstype: ''
			}
		},
		handleCreate(tstype) {
			this.resetTemp()
			this.dialogStatus = 'create'
			// this.dialogtstype = tstype
			this.savetype = tstype
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['testscalesForm'].resetValidation()
			})
		},
		saveData(savetype) {
			this.valid = this.$refs['testscalesForm'].validate()
			// console.log('tstype =',  savetype)
			if (this.valid) {
				HTTP.get(localStorage.getItem('apiurl') + 'testscalesadd', {
					params: {
						tsscale: this.temp.tsscale,
						tsforce: this.temp.tsforce,
						tsindent: this.temp.tsindent,
						tstype: savetype
					},
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				}).then((response) => {
					this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					this.listtestscales(this.savetype)
				})

				this.dialogFormVisible = false
			} else {
				this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
				console.log('not valid yet')
			}
		},
		handleUpdate(item) {
			this.temp = Object.assign({}, item) // copy obj
			this.savetype = this.temp.tstype
			this.dialogStatus = 'update'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['testscalesForm'].resetValidation()
			})
		},
		updateData() {
			this.valid = this.$refs['testscalesForm'].validate()
			if (this.valid) {
				HTTP.get(localStorage.getItem('apiurl') + 'testscalesedit', {
					params: {
						tsid: this.temp.tsid,
						tsscale: this.temp.tsscale,
						tsforce: this.temp.tsforce,
						tsindent: this.temp.tsindent,
						tstype: this.temp.tstype
					},
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				}).then((response) => {
					this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
					this.listtestscales(this.temp.tstype)
				})
				this.dialogFormVisible = false
			} else {
				this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
				console.log('not valid yet')
			}
		},
		handleDelete(item) {
			this.temp = Object.assign({}, item)
			this.dialogDelete = true
			// this.$nextTick(() => {
			// 	this.isDelDis = true
			// 	this.$refs['regen'].gencap(this.caplength)
			// })
		},
		deleteData() {
			// const index = this.customerList.findIndex(v => v.id === this.temp.id)
			// this.customerList.splice(index, 1)
			HTTP.get(localStorage.getItem('apiurl') + 'testscalesdel', {
				params: {
					tsid: this.temp.tsid
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('admintoken')
				}
			})
				.then((response) => {
					this.listtestscales(this.temp.tstype)
					this.$root.vtoast.show({ message: 'Data Deleted', color: 'success' })
				})
				.catch((err) => {
					console.error(err)
					this.$root.vtoast.show({ message: 'Cannot Delete', color: 'error' })
				})
			this.dialogDelete = false
			this.isDelDis = true
		}
	}
}
</script>
<style scoped>
/* .container{
    border: 2px solid green;
} */
/* .row{
    border: 2px solid rgb(226, 199, 199);
}
.col {
    border: 4px solid blue;
} */
.v-chip {
	font-size: 12px;
	min-width: 75px;
	justify-content: center;
}
.v-card__text {
	padding: 0 24px 0px !important;
}
</style>
