<template>
	<v-card v-if="isFetchdone" style="margin-top: -20px">
		<v-container class="px-0 pt-4">
			<v-card-title class="pa-2" style="display-flex">
				<!-- <v-spacer /> -->
				<h3>Test Standard</h3>
				<v-spacer class="mx-4" style="max-width: 30rem" />
				<v-text-field ref="search_bar" v-model="search" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				<!-- <v-spacer style="width: 350px" /> -->
				<v-spacer class="ml-6" style="max-width: 30rem" />

				<!-- <v-btn class="primary" small style="width: 140px; font-size: 12px" @click="handleCreate">Add Test Standard</v-btn> -->
				<v-spacer class="mx-0" />
			</v-card-title>
			<!-- <v-card-title class="pa-2">
				Preparation method, Test method, Reference code/Standard
				<v-spacer style="width: 350px" />
				<v-text-field v-model="search" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
			</v-card-title> -->
			<v-data-table :headers="headers1" :items="testStandardList" :search="search" :items-per-page="-1" dense @dblclick:row="dblClick" @click:row="oneClick">
				<template v-slot:[`item.actions`]="{ item }">
					<v-icon small class="ml-2" @click="handleUpdate(item)"> mdi-pencil </v-icon>
				</template>
			</v-data-table>
			<v-dialog v-model="dialogFormVisible" max-width="600px" persistent>
				<v-card>
					<v-card-title>
						<span class="text-h5">{{ textMap[dialogStatus] }} | {{ temp.sdname }}</span>
					</v-card-title>
					<v-divider />
					<v-card-text>
						<v-container>
							<v-form ref="teststandardForm" v-model="formValidity">
								<v-text-field v-if="dialogStatus === 'create'" v-model="temp.sdname" spellcheck="false" solo label="Test Type" />

								Preparation Method
								<v-textarea v-model="showline.ltsprep" spellcheck="false" solo name="input-7-4" label="Preparation Method" />
								Test Method
								<v-textarea v-model="showline.ltsmet" spellcheck="false" solo name="input-7-4" label="Test Method" />
								Referance Codes / Stadard
								<v-textarea v-model="showline.ltscode" spellcheck="false" solo name="input-7-4" label="Referance Codes / Stadard" />
							</v-form>
							one line for one item in dropdown
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-spacer />
						<v-btn color="primary" text @click="dialogFormVisible = false"> Cancel </v-btn>
						<v-btn :disabled="!formValidity" color="primary" text @click="dialogStatus === 'create' ? createData() : updateData()"> Save </v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-container>
	</v-card>
</template>

<script>
import { HTTP } from '@/axios.js'
export default {
	data() {
		return {
			isFetchdone: false,
			valid: false,
			formValidity: false,
			caplength: 3,
			captcha: '',
			dialogFormVisible: false,
			dialogDelete: false,
			dialogStatus: '',
			isDelDis: true,
			search: '',
			showline: {
				ltsprep: '',
				ltsmet: '',
				ltscode: ''
			},
			textMap: {
				update: 'Edit Test Standard',
				create: 'Add Test Standard'
			},
			temp: {
				sdid: undefined,
				sdname: '',
				sdmetlist: [],
				sdpreplist: [],
				sdrefcodelist: [],
				sdremark: ''
			},
			headers1: [
				{
					text: 'Report Short Name',
					align: 'start',
					value: 'sdname',
					width: '20%'
				},
				{ text: 'Report Full Name', value: 'sdremark', width: '60%' },
				// { text: 'Count', value: 'count', width: '10%' },
				{ text: 'Actions', value: 'actions', sortable: false, width: '10%' }
			],
			testStandardList: [],
			firstClick_row: null
		}
	},
	mounted: function () {
		this.listts()
	},
	created() {
		window.addEventListener('keyup', this.keylistener)
	},
	beforeDestroy() {
		window.removeEventListener('keyup', this.keylistener)
	},
	methods: {
		oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleUpdate(this.firstClick_row)
		},
		keylistener(e) {
			if (e.key === 'Escape') {
				e.preventDefault()
				this.$refs.search_bar.clearableCallback()
				this.$refs.search_bar.blur()
				this.dialogFormVisible = false
			} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'K'.charCodeAt(0)) {
				e.preventDefault()
				this.$refs.search_bar.focus()
				// Secret key for create new Test Standard
			} else if (e.ctrlKey && e.shiftKey && e.altKey && e.keyCode === 'T'.charCodeAt(0)) {
				this.handleCreate()
			}
		},
		listts() {
			HTTP.get(localStorage.getItem('apiurl') + 'testsdlist', {
				params: {},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					this.isFetchdone = true
					this.testStandardList = response.data
				})
				.catch((err) => {
					console.error(err)
				})
		},
		resetTemp() {
			this.temp = {
				sdid: undefined,
				sdname: '',
				sdmetlist: [],
				sdpreplist: [],
				sdrefcodelist: [],
				sdremark: ''
			}
			this.showline = {
				ltsprep: '',
				ltsmet: '',
				ltscode: ''
			}
		},
		handleCreate() {
			this.resetTemp()
			this.dialogStatus = 'create'
			// this.temp.testtype = testtype
			this.dialogFormVisible = true
			// this.$nextTick(() => {
			// 	this.$refs['remarksForm'].resetValidation()
			// })
		},
		createData() {
			this.temp.sdpreplist = this.showline.ltsprep.split(/\r\n|\r|\n/).filter(function (entry) {
				return /\S/.test(entry)
			})
			this.temp.sdmetlist = this.showline.ltsmet.split(/\r\n|\r|\n/).filter(function (entry) {
				return /\S/.test(entry)
			})
			this.temp.sdrefcodelist = this.showline.ltscode.split(/\r\n|\r|\n/).filter(function (entry) {
				return /\S/.test(entry)
			})
			// console.log(JSON.stringify(this.temp.sdpreplist))
			// console.log(JSON.stringify(this.temp.sdmetlist))
			// console.log(JSON.stringify(this.temp.sdrefcodelist))
			let formData = new FormData()
			;('multipart/form-data')
			formData.append('sdname', this.temp.sdname)
			formData.append('sdremark', this.temp.sdremark)
			formData.append('sdpreplist', JSON.stringify(this.temp.sdpreplist))
			formData.append('sdmetlist', JSON.stringify(this.temp.sdmetlist))
			formData.append('sdrefcodelist', JSON.stringify(this.temp.sdrefcodelist))
			HTTP.post(localStorage.getItem('apiurl') + 'testsdadd', formData, {
				headers: {
					'Content-Type': 'application/json', // 'multipart/form-data' ,
					Authorization: 'Bearer ' + localStorage.getItem('admintoken')
				}
			})
				.then((response) => {
					this.listts()
					this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
				})
				.catch((err) => {
					this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					console.error(err)
				})
			this.dialogFormVisible = false
		},
		handleUpdate(item) {
			this.temp = Object.assign({}, item)
			// Check empty value in array befor add
			this.showline.ltsprep = this.temp.sdpreplist.join('\n')
			this.showline.ltsmet = this.temp.sdmetlist.join('\n')
			this.showline.ltscode = this.temp.sdrefcodelist.join('\n')
			this.dialogStatus = 'update'
			this.dialogFormVisible = true
		},
		updateData() {
			this.temp.sdpreplist = this.showline.ltsprep.split(/\r\n|\r|\n/).filter(function (entry) {
				return /\S/.test(entry)
			})
			this.temp.sdmetlist = this.showline.ltsmet.split(/\r\n|\r|\n/).filter(function (entry) {
				return /\S/.test(entry)
			})
			this.temp.sdrefcodelist = this.showline.ltscode.split(/\r\n|\r|\n/).filter(function (entry) {
				return /\S/.test(entry)
			})
			// console.log(JSON.stringify(this.temp.sdpreplist))
			// console.log(JSON.stringify(this.temp.sdmetlist))
			// console.log(JSON.stringify(this.temp.sdrefcodelist))
			let formData = new FormData()
			;('multipart/form-data')
			formData.append('sdid', this.temp.sdid)
			formData.append('sdname', this.temp.sdname)
			formData.append('sdremark', this.temp.sdremark)
			formData.append('sdpreplist', JSON.stringify(this.temp.sdpreplist))
			formData.append('sdmetlist', JSON.stringify(this.temp.sdmetlist))
			formData.append('sdrefcodelist', JSON.stringify(this.temp.sdrefcodelist))
			HTTP.post(localStorage.getItem('apiurl') + 'testsdedit', formData, {
				headers: {
					'Content-Type': 'application/json', // 'multipart/form-data' ,
					Authorization: 'Bearer ' + localStorage.getItem('admintoken')
				}
			})
				.then((response) => {
					this.listts()
					this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
				})
				.catch((err) => {
					this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
					console.error(err)
				})
			this.dialogFormVisible = false
		}
	}
}
</script>
<style scoped>
/* .container{
    border: 2px solid green;
} */
/* .row{
    border: 2px solid rgb(226, 199, 199);
}
.col {
    border: 4px solid blue;
} */
.v-card__text {
	padding: 0 24px 0px !important;
}
</style>
