<template>
	<v-card v-if="isFetchdone" style="margin-top: -20px">
		<v-card-title class="pa-2" />
		<v-container>
			<v-card style="margin-top: -20px">
				<!-- <v-card-title class="pa-2">
					Location of fracture (TSW)
					<v-btn style="width: 250px; color: #1e88e5; font-size: 16px" text plain @click="handleCreate('TSW')"> Add new </v-btn>
					<v-spacer style="width: 350px" />
					<v-text-field v-model="search" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				</v-card-title> -->
				<v-card-title class="pa-2">
					<!-- <v-spacer /> -->
					<h3>Location of fracture (TSW)</h3>
					<v-spacer />
					<v-text-field v-model="search" style="width: 25rem" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
					<!-- <v-spacer style="width: 350px" /> -->
					<v-spacer />
					<v-btn class="primary" small style="width: 8rem; font-size: 12px" @click="handleCreate('TSW')">Add</v-btn>
					<v-spacer />
				</v-card-title>
				<v-data-table :headers="headers1" :items="tswlist" :search="search" :items-per-page="6" dense @dblclick:row="dblClick" @click:row="oneClick">
					<template v-slot:[`item.actions`]="{ item }">
						<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
						<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
					</template>
				</v-data-table>
			</v-card>
		</v-container>
		<v-container>
			<v-card style="margin-top: -20px">
				<!-- <v-card-title class="pa-2">
					Test location (MI)
					<v-btn style="width: 250px; color: #1e88e5; font-size: 16px" text plain @click="handleCreate('MI')"> Add new </v-btn>
					<v-spacer style="width: 350px" />
					<v-text-field v-model="search" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
				</v-card-title> -->
				<v-card-title class="pa-2">
					<!-- <v-spacer /> -->
					<h3>Test location (MI)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
					<v-spacer />
					<v-text-field v-model="search" style="width: 25rem" calss="ma-1" dense append-icon="mdi-magnify" label="Search" single-line hide-details flat />
					<!-- <v-spacer style="width: 350px" /> -->
					<v-spacer />
					<v-btn class="primary" small style="width: 8rem; font-size: 12px" @click="handleCreate('MI')">Add</v-btn>
					<v-spacer />
				</v-card-title>
				<v-data-table :headers="headers1" :items="milist" :search="search" :items-per-page="6" dense @dblclick:row="dblClick" @click:row="oneClick">
					<template v-slot:[`item.actions`]="{ item }">
						<v-icon small class="mr-1" @click="handleUpdate(item)"> mdi-pencil </v-icon>
						<v-icon small class="mr-1" @click="handleDelete(item)"> mdi-delete </v-icon>
					</template>
				</v-data-table>
			</v-card>
		</v-container>
		<v-dialog v-model="dialogDelete" max-width="500px">
			<v-card>
				<v-card-title class="text-h6">Are you sure to delete this Test Location?</v-card-title>
				<v-card-text>
					<span style="margin-left: 20px; color: black">{{ temp.tlname }}</span>
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn color="primary" text @click="dialogDelete = false">Cancel</v-btn>
					<v-btn color="error" text @click="deleteData">Delete</v-btn>
					<v-spacer />
				</v-card-actions>
			</v-card>
		</v-dialog>
		<!-- <v-dialog v-model="dialogDelete" max-width="20%">
			<v-card>
				<v-card-title class="text-h6">
					<v-icon color="red" class="mr-1"> mdi-alert </v-icon>
					Delete Location?
				</v-card-title>
				<v-card-text>
					<span>Are you sure to delete this Location?</span>
					<br />
					<span style="margin-left: 10px; color: black">{{ temp.tlname }}</span>
					<br />
					<br />
					<text-captcha ref="regen" :call-success="DelBtnOK" />
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn class="gray--text" text @click="dialogDelete = false">Cancel</v-btn>
					<v-btn color="red" :disabled="isDelDis" text @click="deleteData">Delete</v-btn>
					<v-spacer />
				</v-card-actions>
			</v-card>
		</v-dialog> -->

		<v-dialog v-model="dialogFormVisible" max-width="600px" persistent>
			<v-card>
				<v-card-title>
					<!-- <span class="text-h5">{{ textMap[dialogStatus] }} {{ savetype }}</span> -->
					<span class="text-h5">{{ textMap[dialogStatus] }} {{ savetype === 'TSW' ? 'Location of fracture (TSW)' : 'Test location (MI)' }}</span>
				</v-card-title>
				<v-divider />
				<v-card-text>
					<v-container>
						<v-form ref="locationForm" v-model="formValidity">
							<v-text-field v-model="temp.tlname" spellcheck="false" :rules="[rules.required]" dense label="Test Location" />
						</v-form>
					</v-container>
				</v-card-text>
				<v-card-actions>
					<v-spacer />
					<v-btn color="primary" text @click="dialogFormVisible = false"> Cancel </v-btn>
					<v-btn :disabled="!formValidity" color="primary" text @click="dialogStatus === 'create' ? createData(savetype) : updateData(savetype)"> Save </v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-card>
</template>

<script>
// import TextCaptcha from '@/utils/captcha.vue'
import { HTTP } from '@/axios.js'

export default {
	// components: {
	// 	TextCaptcha
	// },
	data() {
		return {
			savetype: '',
			isFetchdone: false,
			valid: false,
			formValidity: false,
			caplength: 4,
			captcha: '',
			dialogFormVisible: false,
			dialogDelete: false,
			dialogStatus: '',
			isDelDis: true,
			search: '',
			textMap: {
				update: 'Edit ',
				create: 'Add '
			},
			temp: {
				tlid: undefined,
				tlname: '',
				tltype: ''
			},
			rules: {
				required: (value) => !!value || 'Required.'
			},
			headers1: [
				{ text: 'Location', align: 'start', value: 'tlname' },
				{ text: 'Actions', value: 'actions', sortable: false, width: '10%' }
			],
			tswlist: [],
			milist: [],
			firstClick_row: null
		}
	},
	mounted: function () {
		this.calllistTL()
	},
	methods: {
			oneClick: function (event) {
			this.firstClick_row = event
		},
		dblClick() {
			this.handleUpdate(this.firstClick_row)
		},
		// keylistener(e) {
		// 	if (e.key === 'Escape') {
		// 		e.preventDefault()
		// 		this.$refs.search_bar.clearableCallback()
		// 		this.$refs.search_bar.blur()
		// 		this.dialogFormVisible = false
		// 	} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'K'.charCodeAt(0)) {
		// 		e.preventDefault()
		// 		this.$refs.search_bar.focus()
		// 	} else if (e.ctrlKey && e.shiftKey && e.keyCode === 'N'.charCodeAt(0)) {
		// 		// e.preventDefault()
		// 		this.handleCreate()
		// 	}
		// },
		async calllistTL() {
			await this.listtl('TSW')
			await this.listtl('MI')
			// await this.listtl('HB')
			this.isFetchdone = true
		},
		listtl(type) {
			return HTTP.get(localStorage.getItem('apiurl') + 'testlocationlist', {
				params: {
					tltype: type
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('tokenkey')
				}
			})
				.then((response) => {
					// this.Jsonresponse = response.data
					if (type === 'TSW') {
						this.tswlist = response.data
					} else if (type === 'MI') {
						this.milist = response.data
					}
					this.isFetchdone = true
					// console.log('Test Location list', response.data)
				})
				.catch((err) => {
					console.error(err)
				})
		},
		DelBtnOK() {
			this.isDelDis = false
		},

		resetTemp() {
			this.temp = {
				tlid: undefined,
				tlname: '',
				tltype: ''
			}
		},
		handleCreate(tltype) {
			this.resetTemp()
			this.dialogStatus = 'create'
			this.dialogFormVisible = true
			this.savetype = tltype
			this.$nextTick(() => {
				this.$refs['locationForm'].resetValidation()
			})
		},
		createData(savetype) {
			this.valid = this.$refs['locationForm'].validate()
			if (this.valid) {
				HTTP.get(localStorage.getItem('apiurl') + 'testlocationadd', {
					params: {
						tlname: this.temp.tlname,
						tltype: savetype
					},
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				}).then((response) => {
					this.listtl(this.savetype)
					this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
				})
				this.dialogFormVisible = false
			} else {
				this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
				console.log('not valid yet')
			}
		},
		handleUpdate(item) {
			this.temp = Object.assign({}, item) // copy obj
			this.savetype = this.temp.tltype
			this.dialogStatus = 'update'
			this.dialogFormVisible = true
			this.$nextTick(() => {
				this.$refs['locationForm'].resetValidation()
			})
		},
		updateData() {
			this.valid = this.$refs['locationForm'].validate()
			if (this.valid) {
				HTTP.get(localStorage.getItem('apiurl') + 'testlocationedit', {
					params: {
						tlid: this.temp.tlid,
						tlname: this.temp.tlname,
						tltype: this.temp.tltype
					},
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('admintoken')
					}
				}).then((response) => {
					this.listtl(this.temp.tltype)
					this.$root.vtoast.show({ message: 'Save Success', color: 'success' })
				})
				this.dialogFormVisible = false
			} else {
				this.$root.vtoast.show({ message: 'Cannot Save', color: 'error' })
				console.log('not valid yet')
			}
		},
		handleDelete(item) {
			this.temp = Object.assign({}, item)
			this.dialogDelete = true
			// this.$nextTick(() => {
			// 	this.$refs['regen'].gencap(this.caplength)
			// })
		},
		deleteData() {
			HTTP.get(localStorage.getItem('apiurl') + 'testlocationdel', {
				params: {
					tlid: this.temp.tlid
				},
				headers: {
					Authorization: 'Bearer ' + localStorage.getItem('admintoken')
				}
			})
				.then((response) => {
					this.listtl(this.temp.tltype)
					this.$root.vtoast.show({ message: 'Data Deleted', color: 'success' })
				})
				.catch((err) => {
					console.error(err)
					this.$root.vtoast.show({ message: 'Cannot Delete', color: 'error' })
				})
			this.dialogDelete = false
			this.isDelDis = true
		}
	}
}
</script>
<style scoped>
/* .container{
    border: 2px solid green;
} */
/* .row{
    border: 2px solid rgb(226, 199, 199);
}
.col {
    border: 4px solid blue;
} */
.v-card__text {
	padding: 0 24px 0px !important;
}
</style>
