<template>
	<v-card class="mx-auto px-1" max-width="600" max-height="500">
		<v-card-title> Admin Password Setting </v-card-title>
		<v-card-text class="px-6">
			<v-container>
				<v-form ref="setPass" v-model="formValidity">
					<v-text-field v-model="admin" label="Username" readonly />
					<v-text-field label="New Password" required />
					<v-text-field label="Confirm New Password" required />
					<!-- <v-text-field label="Forgot Answer" required /> -->
				</v-form>
			</v-container>
		</v-card-text>
		<v-card-actions>
			<v-spacer />
			<v-btn color="primary" text @click="goReport"> CANCEL </v-btn>
			<v-btn color="primary" text @click="goReport"> SAVE </v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			admin: 'admin',
			formValidity: false
		}
	},
	methods: {
		goReport() {
			this.$router.push('/testreports')
		}
	}
}
</script>
