<template>
	<section class="report-esaero">
		<report-body-header v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-customer v-if="!showResultOnly" :report-data="reportData" />
		<!--================================  After this, it's may be difference each report =======-->
		<report-body-equip v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<div ref="contentHeight01" class="report-body-test">
			<table v-if="!onLoad" class="report-body-table" :style="[showResultOnly ? {'font-size': '10px'} : {}]">
				<tr>
					<td rowspan="2" class="report-body-test-col-no style-normal style-header-height report-table-border-bottom">No.</td>
					<td colspan="2" rowspan="2" class="report-body-test-col-sample_no style-normal report-table-border-bottom">Sample No.</td>
					<td colspan="12" class="report-body-test-col-01 style-normal report-table-border-right ">Chemical composition (%)</td>
				</tr>
				<tr>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Al</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mg</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Si</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Ti</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Cr</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Mn</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Zn</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Fe</td>
					<td class="style-normal report-body-test-col-01-01 report-table-border-bottom">Cu</td>
					<td class="style-normal report-body-test-col-01-02 report-table-border-bottom">Other total</td>
					<td class="style-normal report-table-border-bottom report-table-border-right">Other each</td>
				</tr>
				<tr>
					<td colspan="15" class="report-body-test-row-blank" />
				</tr>
				<tr>
					<td class="style-normal report-table-border-bottom style-result-height">1</td>
					<td colspan="2" class="style-normal report-table-border-bottom">
						{{ FilterReportNo_AAA_BB_C(resultDataList[0].result_no) }}
						<span class="report-code">{{ FilterReportNo_xxD(resultDataList[0].result_no) }}</span>
					</td>
					<td class="style-normal report-table-border-bottom style-result-height-2">{{ FilterBlank(resultDataList[0].al) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].mg) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].si) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].ti) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].cr) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].mn) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].zn) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].fe) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(resultDataList[0].cu) }}</td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>
				<tr>
					<td class="report-body-test-row-blank" />
					<td class="report-body-test-row-blank" />
					<td class="report-body-test-row-blank" />
					<td colspan="12" class="report-body-test-row-blank" />
				</tr>
				<tr>
					<td rowspan="2" colspan="2" class="style-normal report-body-test-col-no-2 style-result-height">
						{{ FilterBlank(cgResult.cgname) }}
					</td>
					<td class="style-normal style-result-height-2" />
					<td class="style-normal">{{ cgResult.cgvalue.name1 }}</td>
					<td class="style-normal">{{ cgResult.cgvalue.name2 }}</td>
					<td class="style-normal">{{ cgResult.cgvalue.name3 }}</td>
					<td class="style-normal">{{ cgResult.cgvalue.name4 }}</td>
					<td class="style-normal">{{ cgResult.cgvalue.name5 }}</td>
					<td class="style-normal">{{ cgResult.cgvalue.name6 }}</td>
					<td class="style-normal">{{ cgResult.cgvalue.name7 }}</td>
					<td class="style-normal">{{ cgResult.cgvalue.name8 }}</td>
					<td class="style-normal">{{ cgResult.cgvalue.name9 }}</td>
					<td class="style-normal">Other total</td>
					<td class="style-normal report-table-border-right">Other each</td>
				</tr>
				<tr>
					<td class="style-normal style-result-height-2">Min (%)</td>
					<td class="style-normal">{{ FilterBlank(cgResult.cgvalue.min1) }}</td>
					<td class="style-normal">{{ FilterBlank(cgResult.cgvalue.min2) }}</td>
					<td class="style-normal">{{ FilterBlank(cgResult.cgvalue.min3) }}</td>
					<td class="style-normal">{{ FilterBlank(cgResult.cgvalue.min4) }}</td>
					<td class="style-normal">{{ FilterBlank(cgResult.cgvalue.min5) }}</td>
					<td class="style-normal">{{ FilterBlank(cgResult.cgvalue.min6) }}</td>
					<td class="style-normal">{{ FilterBlank(cgResult.cgvalue.min7) }}</td>
					<td class="style-normal">{{ FilterBlank(cgResult.cgvalue.min8) }}</td>
					<td class="style-normal">{{ FilterBlank(cgResult.cgvalue.min9) }}</td>
					<td class="style-normal" />
					<td class="style-normal report-table-border-right" />
				</tr>
				<tr>
					<td colspan="2" class="style-normal style-font-small report-table-border-bottom style-result-height-2">Chemical Composition</td>
					<td class="style-normal report-table-border-bottom">Max (%)</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(cgResult.cgvalue.max1) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(cgResult.cgvalue.max2) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(cgResult.cgvalue.max3) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(cgResult.cgvalue.max4) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(cgResult.cgvalue.max5) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(cgResult.cgvalue.max6) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(cgResult.cgvalue.max7) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(cgResult.cgvalue.max8) }}</td>
					<td class="style-normal report-table-border-bottom">{{ FilterBlank(cgResult.cgvalue.max9) }}</td>
					<td class="style-normal report-table-border-bottom" />
					<td class="style-normal report-table-border-bottom report-table-border-right" />
				</tr>

			</table>
		</div>
		<div class="report-body-remark">
			<table class="report-body-table-border">
				<tr ref="contentHeight02" class="report-body-remark-fix">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportResult.remark" />
					</td>
				</tr>
				<tr class="report-body-remark-additional" :style="{height: addition_height+'px'}">
					<td class="report-body-remark-col01">
						<div class="report-body-remark-span" v-html="reportData.remark_cus" />
					</td>
				</tr>
			</table>
		</div>
		<report-body-total v-if="!showResultOnly" :report-data="reportData" :report-result="reportResult" />
		<report-body-complete :report-data="reportData" :report-result="reportResult" />
	</section>
</template>
<script>
import ReportBodyHeader from '../MainTemplates/ReportBodyHeader.vue'
import ReportBodyCustomer from '../MainTemplates/ReportBodyCustomer.vue'
import ReportBodyEquip from '../MainTemplates/ReportBodyEquip.vue'
import ReportBodyTotal from '../MainTemplates/ReportBodyTotal.vue'
import ReportBodyComplete from '../MainTemplates/ReportBodyComplete.vue'

export default {
	components: {
		ReportBodyHeader,
		ReportBodyCustomer,
		ReportBodyEquip,
		ReportBodyTotal,
		ReportBodyComplete,
	},
	props: ['reportData', 'reportResult', 'resultList', 'needReviewOnly', 'cgId'],
	data() {
		return {
			addition_height: 20,
			intervalSetHeight: 0,
			locationList: null,
			remarkList: null,
			showResultOnly: false,
			compareList: null,
			cgResult: null,
			resultDataList: [],
			onLoad: true,
		}
	},
	computed: {
	},
	watch: {
	},
	beforeMount() {
		if(this.needReviewOnly !== true)
		{
			this.showResultOnly = false
			this.cgResult = this.reportResult.cgResult
		}
		else 
		{
			this.showResultOnly = true
		}

		for(var i = 0; i < this.resultList.length; i++)
		{
			var row = {}

			row.result_no = this.resultList[i].result_no

			//////////////////////////
			row.ag = ""
			row.al = ""
			row.as = ""
			row.b = ""
			row.c = ""
			row.ce = ""
			row.co = ""
			row.cr = ""
			row.cu = ""
			row.fe = ""
			row.ga = ""
			row.la = ""
			row.mg = ""
			row.mn = ""
			row.mo = ""
			row.n = ""
			row.nb = ""
			row.ni = ""
			row.p = ""
			row.s = ""
			row.si = ""
			row.sn = ""
			row.ta = ""
			row.ti = ""
			row.v = ""
			row.zn = ""
			row.zr = ""
			//////////////////////////
			for(var j = 0; j < this.resultList[i].esdata.length; j++)
			{
				var name = this.resultList[i].esdata[j].displayname.trim()
				var val = this.resultList[i].esdata[j].value.trim()
				switch(name)
				{
					case "Ag":
						row.ag = val
					break;
					case "Al":
						row.al = val
					break;
					case "As":
						row.as = val
					break;
					case "B":
						row.b = val
					break;
					case "C":
						row.c = val
					break;
					case "Ce":
						row.ce = val
					break;
					case "Co":
						row.co = val
					break;
					case "Cr":
						row.cr = val
					break;
					case "Cu":
						row.cu = val
					break;
					case "Fe":
						row.fe = val
					break;
					case "Ga":
						row.ga = val
					break;
					case "La":
						row.la = val
					break;
					case "Mg":
						row.mg = val
					break;
					case "Mn":
						row.mn = val
					break;
					case "Mo":
						row.mo = val
					break;
					case "N":
						row.n = val
					break;
					case "Nb":
						row.nb = val
					break;
					case "Ni":
						row.ni = val
					break;
					case "P":
						row.p = val
					break;
					case "S":
						row.s = val
					break;
					case "Si":
						row.si = val
					break;
					case "Sn":
						row.sn = val
					break;
					case "Ta":
						row.ta = val
					break;
					case "Ti":
						row.ti = val
					break;
					case "V":
						row.v = val
					break;
					case "Zn":
						row.zn = val
					break;
					case "Zr":
						row.zr = val
					break;
				}
			}

			this.resultDataList.push(row)


			break;
		}
	},
	mounted() {
		this.startUp()
	},
	methods: {
		async saveResultOption() {

			var ok = true

			return ok
		},
		updateCompareGrade(cgid)
		{
			if(this.compareList != null)
			{
				this.cgResult = this.getCompareGradeByIdFromArray(this.compareList, cgid)
			}
		},
		async startUp(){

			try {
				this.compareList = await this.getCompareGradeListByReportType2Digit(this.reportResult.form_type)
				this.updateCompareGrade(this.cgId)

			}catch (error) {
				console.error(error)
			}
			
			this.onLoad = false

			if(!this.showResultOnly)
			{
				this.trySetAutoHeight(this.$refs)
			}
		},
		trySetAutoHeight()
		{
			if(	typeof this.$refs["contentHeight01"] === 'undefined' ||
				typeof this.$refs["contentHeight02"] === 'undefined' )
			{
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}

			var h1 = this.$refs.contentHeight01.clientHeight
			var h2 = this.$refs.contentHeight02.clientHeight

			if(h1 < 10){
				setTimeout(() => { this.trySetAutoHeight() }, 1000);
				return;
			}
				
			var div = 477 - (h1 + h2)
			this.addition_height = div
		},
	}
};
</script>

<style lang="scss">
@import '../assets/contentreview.scss';
@import '../assets/contentbody.scss';
</style>

<style lang="scss" scoped>
@import '../assets/pdf.scss';

.report-esaero {

	.report-body-test{
		padding-bottom: 1px;

		.report-body-table{
			line-height: 20px;
		}

		.style-header-height{
			height: 42px;
		}

		.style-result-height{
			height: 42px;
		}
		.style-result-height-2{
			height: 19px;
		}

		.style-normal{
			border-left: 1px solid black;
			border-top: 1px solid black;
			text-align: center;

			span.report-code {
				float: right;
	    		margin-right: 10px;
			}
		}

		.style-font-small{
			font-size: 9px;
		}

		.report-body-test-col-no{
			width: 3%;
		}

		.report-body-test-col-no-2{
			width: 13%;
		}

		.report-body-test-col-sample_no{
			width: 16.8%;
		}

		.report-body-test-col-01{
			/*width: 30%;*/
		}

		.report-body-test-col-01-01{
			width: 6.7%;
		}
		
		.report-body-test-col-01-02{
			width: 9.7%;
		}

		.report-body-test-col-03{
			width: 30.5%;
		}

		.report-body-test-col-04{
			width: 10%;
		}

		.report-body-test-col-05{
			
		}

		.report-body-test-col-sample_dimen-thread{
			width: 13.5%;
		}

		.report-body-test-col-rowsplit{
			width: 6.8%;
		}

		.report-body-test-row-blank{
			border: 0px solid white;
		    padding: 1px;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}

		.report-body-test-row-blank-2{
			border: 0px solid white;
		    padding: 1px;
		    border-left: 1px solid black;
		    /*border-top: 1px solid black;
		    border-left: 1px solid white;
		    border-right: 1px solid white;*/
		}

	}
}/*


	    		.report-body-remark{
	    			padding-bottom: 1px;

	    			tr.report-body-remark-additional {
	    				height: 300px;
	    			}

	    			.report-body-remark-col01 {
	    				padding-left: 2px;
	    				vertical-align: text-top;


	    				.report-body-remark-col01-title {
							width: 50px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}
						
						.report-body-remark-col01-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;					
    					}

    					.report-body-remark-col02-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;		
    						margin-left: 25px;			
    					}

    					.report-body-remark-col03-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;	
    						margin-left: 30px;
    					}

    					.report-body-remark-col04-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;	
    						font-size: 9px;	
    						margin-left: 20px;
    					}

    					.report-body-remark-col01_2-title {
							width: 77px;
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}
						
						.report-body-remark-col01_2-value {
							display: block;
		    				float: left;
	    					margin-top: 5px;
    						margin-bottom: 5px;
    						font-size: 9px;
						}

						.report-body-remark-img-add-2{
							
							margin-left: 120px;
							width: 540px;
							margin-top: 70px;
							.report-body-remark-img-1{
							    width: 260px;
    							border: 1px solid black;
							}
							.report-body-remark-img-2{
								width: 260px;
								border: 1px solid black;
								margin-left: 10px;
							}
						}

						.report-body-remark-span {
							float: left;
							margin-top: 5px;
							margin-bottom: 5px;
							font-size: 9px;
						}
	    			}
	    		}
    		}

    		.report-footer-template{
    			text-align: left;
	    		.report-footer-template-title{ 
	    			font-size:  9px;
	    		}
	    	}
		}
	}
}*/
</style>