<template>
	<v-app>
		<router-view />
		<vtoast ref="vtoast" />
	</v-app>
</template>

<script>
import config from './configs'
import Vtoast from './utils/snackbar.vue'

/*
|---------------------------------------------------------------------
| Main Application Component
|---------------------------------------------------------------------
*/
export default {
	components: {
		Vtoast
	},
	mounted() {
		this.$root.vtoast = this.$refs.vtoast
	},
	head: {
		link: [
			// adds config/icons into the html head tag
			...config.icons.map((href) => ({ rel: 'stylesheet', href }))
		]
	}
}
</script>
