<template>
	<v-main>
		<v-layout class="fill-height">
			<!-- Navigation -->
			<v-navigation-drawer v-model="drawer" permanent app floating class="elevation-1" :right="$vuetify.rtl" width="200">
				<!-- Navigation menu info -->
				<template v-slot:prepend>
					<div class="text-center d-flex pa-1 justify-center">
						<img src="/images/logoQ.png" height="36" alt="logo">
						<!-- <div>
            <div class="title font-weight-bold text-uppercase primary--text">{{ config.product.name }}</div>
            <div class="overline grey--text">{{ config.product.version }}</div>
          </div> -->
					</div>
					<v-divider class="mb-0" />
				</template>
				<main-menu :menu="menu" />
			</v-navigation-drawer>

			<v-app-bar app flat color="surface" height="50px">
				<!-- <notifications group="foo-css" position="center" :speed="300" /> -->

				<!-- <v-card
          class="d-flex flex-row align-center"
          color="surface"
          flat
          height="50px"
        > -->
				<v-toolbar-title>
					<v-breadcrumbs :items="items" style="padding-left: 28px" />
				</v-toolbar-title>

				<v-spacer />

				<toolbar-user class="pa-2" />
				<span style="width: 1.5em" />
				<!-- </v-card> -->
			</v-app-bar>

			<v-container :fluid="!isContentBoxed" class="py-0">
				<v-slide-x-transition mode="out-in">
					<router-view class="py-0 fill-height align-center" />
				</v-slide-x-transition>
				<!-- DEMO PURPOSES DEFAULT ROUTER VIEW -->
				<!-- <div class="py-2 fill-height">
        <slot />
      </div> -->
			</v-container>
			<v-footer app inset>
				<div class="overline">Copyright © 2021 <a href="https://lukits.com" target="_blank">Lukits</a>, All rights Reserved</div>
				<v-spacer />
				<div class="overline">
					Powered by Lab-Report V.{{ ver }}
					<!-- Made with <v-icon small color="pink">mdi-heart</v-icon> by <a href="https://lukits.com" target="_blank">Lukits</a> -->
				</div>
			</v-footer>
		</v-layout>
	</v-main>
</template>
<script>
// import config from '@/configs'
import './styles/transition.scss'

import MainMenu from './components/navigation/MainMenu'
import ToolbarUser from './components/toolbar/ToolbarUser'
// import ToolbarNotifications from '@/components/toolbar/ToolbarNotifications'
// import menu from './menu.js'
import { menuAdmin as menu } from './menus.js'

export default {
	components: {
		MainMenu,
		ToolbarUser
		// ToolbarNotifications
	},
	// props: {
	//     isDemo: {
	//         type: Boolean,
	//         default: false
	//     }
	// },
	data() {
		return {
			ver: localStorage.getItem('version'),
			levelList: null,
			items: [],
			// config,
			drawer: null,
			isContentBoxed: false,
			menu
		}
	},
	watch: {
		$route(route) {
			// if you go to the redirect page, do not update the breadcrumbs
			if (route.path.startsWith('/redirect/')) {
				return
			}
			this.getBreadcrumb()
			// console.log('window.location.pathname: ' + window.location.pathname)
			// console.log('this.$router.currentRoute: ' + this.$router.currentRoute.path)
		}
	},
	created() {
		this.getBreadcrumb()
	},
	mounted() {},
	methods: {
		getBreadcrumb() {
			this.items = []
			const currentPath = this.$router.currentRoute.path
			for (let i = 1; i < currentPath.split('/').length; i++) {
				const w = currentPath.split('/')[i].charAt(0).toUpperCase() + currentPath.split('/')[i].slice(1)
				const x = { text: w, disabled: false }
				this.items.push(x)
			}
		},
		isDashboard(route) {
			const name = route && route.name
			if (!name) {
				return false
			}
			return name.trim().toLocaleLowerCase() === 'Dashboard'.toLocaleLowerCase()
		}
	}
}
</script>

<style lang="scss" scoped>
.app-bar-full {
	.v-toolbar__content,
	.v-toolbar__extension {
		padding: 0;
	}
}
.slide-fade-enter-active {
	transition: all 0.3s ease;
}
.slide-fade-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
	transform: translateX(10px);
	opacity: 0;
}
</style>
